Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss, node_modules/**, build/**, test/**, src/public/**

JWWEB-607 Hovers were reworked for AssetCard
  src/components/DigitalAssetsGrid/Asset/Asset.js
  src/components/DigitalAssetsGrid/Asset/AssetCardBody/AssetCardBody.js
  src/components/DigitalAssetsGrid/Asset/AssetCardBody/assetCardBody.scss
  src/styles/components/jFlatButton.m.scss
  src/styles/components/jRaisenButton.m.scss
  src/styles/components/jText.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-677: Fix built-in asset turn off by itself
  package.json
  src/routes/DigitalAssets/sagas/digitalAssets.js
  version.txt
Due: ./node_modules/.bin/eslint

JWWEB-607 Tiny fix of element position
  src/components/DigitalAssetsGrid/Asset/AssetCardBody/assetCardBody.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Add flow types for jest
  flow-typed/npm/jest_v23.x.x.js
Due: ./node_modules/.bin/eslint

Add ability to mutate 'self' var
  .eslintrc
Due: none

Update WorkerError
  src/errors/WorkerError.js
Due: ./node_modules/.bin/eslint

Exclude private methods from PromiseWorker
  src/workers/PromiseWorker.js
Due: ./node_modules/.bin/eslint

Add tests for PromiseWorker
  src/workers/PromiseWorker.test.js
Due: ./node_modules/.bin/eslint

Remove useless url from mock worker
  src/workers/PromiseWorker.test.js
Due: ./node_modules/.bin/eslint

Usefill depends on the name
  src/components/WalletFace/Actions/WalletFaceActions.js
  src/components/base/JFlatButton/JFlatButton.js
  src/components/base/JIcon/JIcon.js
  src/public/assets/icons/sprite-pack/medium/dots-full-use-fill.svg
Due: ./node_modules/.bin/eslint

PR request fixes
  flow-typed/npm/jest_v23.x.x.js
  src/errors/ActiveNetworkNotFound.js
  src/errors/ActiveWalletNotFound.js
  src/errors/DigitalAssetNotFound.js
  src/errors/WalletInvalidData.js
  src/errors/WalletNotFound.js
  src/errors/tests/ActiveNetworkNotFound.test.js
  src/errors/tests/ActiveWalletNotFound.test.js
  src/errors/tests/DifitalAssetNotFound.test.js
  src/errors/tests/WalletInvalidData.test.js
  src/errors/tests/WalletNotFound.test.js
  src/store/selectors/networks.js
Due: ./node_modules/.bin/eslint

Disable fp/no-events eslint rule
  .eslintrc
Due: none

Add events package as dependency
  package.json
Due: none

Add ability to mutate worker.onerror handler
  .eslintrc
Due: none

Prevent re-writing of existing worker listeners
  src/workers/PromiseWorker.js
  src/workers/PromiseWorker.test.js
Due: ./node_modules/.bin/eslint

Update PromiseWorker tests
  src/workers/PromiseWorker.js
  src/workers/PromiseWorker.test.js
Due: ./node_modules/.bin/eslint

Add EventEmitterWorker wrapper
  src/workers/EventEmitterWorker.js
  src/workers/EventEmitterWorker.test.js
Due: ./node_modules/.bin/eslint

Update mock worker for EventEmitterWorker tests
  src/workers/EventEmitterWorker.test.js
Due: ./node_modules/.bin/eslint

fix eslint issues
  src/store/selectors/digitalAssets.js
  src/store/selectors/wallets.js
Due: ./node_modules/.bin/eslint

JWWEB-607 Using default text properties
  src/components/DigitalAssetsGrid/Asset/AssetCardBody/AssetCardBody.js
  src/styles/components/jText.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-607 `JRaisedButton` was refactored to tiny and semantic implementation
  src/components/base/JRaisedButton/JRaisedButton.js
  src/components/base/JRaisedButton/jRaisedButton.scss
  src/routes/Settings/routes/PaymentPassword/PaymentPasswordView.js
  src/styles/colors.scss
  src/styles/components/jText.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWWEB-607 Loader was moved to center of button
  src/components/base/JRaisedButton/jRaisedButton.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Rewritten as function, state removed
  src/components/base/JIcon/JIcon.js
Due: ./node_modules/.bin/eslint

JWWEB-682: Do not break interface on word-by-word mnemonic input
  src/utils/mnemonic/checkMnemonicValid.js
Due: ./node_modules/.bin/eslint

JWWEB-683: Allow address without 0x in import
  src/routes/Wallets/routes/Import/sagas/walletsImport.js
  src/utils/wallets/getTypeByInput.js
Due: ./node_modules/.bin/eslint

JWWWEB-607 JRaisedButton were reworked to new component API, except send asset in main menu button
  src/components/DigitalAssetEditForm/DigitalAssetEditForm.js
  src/components/NameStep/NameStep.js
  src/components/PasswordStep/PasswordStep.js
  src/components/WalletStep/WalletStep.js
  src/components/base/JRaisedButton/JRaisedButton.js
  src/components/base/JRaisedButton/jRaisedButton.scss
  src/routes/Agreements/AgreementsView.js
  src/routes/Agreements/AgreementsView.m.scss
  src/routes/DigitalAssets/routes/Receive/DigitalAssetsReceiveView.js
  src/routes/DigitalAssets/routes/Send/components/Confirm/Password/Password.js
  src/routes/DigitalAssets/routes/Send/components/Form/Form.js
  src/routes/Favorites/routes/Address/FavoritesAddressView.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Bump version to 2.0.5
  package.json
  version.txt
Due: none

change flowtype/type-import-style to identifier
  .eslintrc
Due: none

add dirtySinceLastSubmit mode
  src/components/base/JInput/JInputField.js
  src/components/base/index.js
Due: ./node_modules/.bin/eslint

flow suff
  src/routes/index.js
Due: ./node_modules/.bin/eslint

add ability to work with deffered promises
  src/utils/index.js
  src/utils/misc/deffered.js
  src/utils/misc/index.js
Due: ./node_modules/.bin/eslint

Add DigitalAssetSendWizard
  src/routes/DigitalAssets/index.js
  src/routes/DigitalAssets/routes/SendWizard/DigitalAssetsSendWizard.js
  src/routes/DigitalAssets/routes/SendWizard/DigitalAssetsSendWizardContainer.js
  src/routes/DigitalAssets/routes/SendWizard/components/ErrorMessage/ErrorMessage.js
  src/routes/DigitalAssets/routes/SendWizard/components/ErrorMessage/errorMessage.m.scss
  src/routes/DigitalAssets/routes/SendWizard/components/FirstStepForm/FirstStepForm.js
  src/routes/DigitalAssets/routes/SendWizard/components/FirstStepForm/firstStepForm.m.scss
  src/routes/DigitalAssets/routes/SendWizard/components/HeaderPanel/HeaderPanel.js
  src/routes/DigitalAssets/routes/SendWizard/components/HeaderPanel/headerPanel.m.scss
  src/routes/DigitalAssets/routes/SendWizard/components/PasswordStepForm/PasswordStepForm.js
  src/routes/DigitalAssets/routes/SendWizard/components/PasswordStepForm/PasswordStepFormContainer.js
  src/routes/DigitalAssets/routes/SendWizard/components/index.js
  src/routes/DigitalAssets/routes/SendWizard/digitalAssetsSendWizard.m.scss
  src/routes/DigitalAssets/routes/SendWizard/index.js
  src/store/modules/digitalAssetsSendWizard.js
  src/store/sagas/digitalAssets/index.js
  src/store/sagas/digitalAssets/sendWizard.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-607 Left panel main action buttons were reworked to links
  src/components/MenuPanel/MainAction/MainAction.js
  src/components/MenuPanel/MainAction/mainAction.scss
  src/components/base/JRaisedButton/JRaisedButton.js
  src/components/base/JRaisedButton/jRaisedButton.m.scss
  src/components/base/JRaisedButton/jRaisedButton.scss
  src/routes/Settings/routes/Currency/CurrencyView.js
  src/routes/Settings/routes/Currency/currencyView.scss
  src/routes/Upgrade/UpgradeView.js
  src/styles/core.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

change flowtype imports from declaration to identifier
  .eslintrc
  flow-typed/redux/appState.js
  flow-typed/types.js
  src/AppContainer.js
  src/components/AssetBalance/AssetBalance.js
  src/components/ButtonWithConfirm/ButtonWithConfirm.js
  src/components/OverlayNotification/OverlayNotification.js
  src/components/PasswordField/PasswordField.js
  src/components/SettingsGrid/SettingsGridCard/SettingsGridCard.js
  src/components/SettingsGrid/SettingsGridCard/index.js
  src/components/base/JFlatButton/JFlatButton.js
  src/components/base/JInput/JInputField.js
  src/components/base/JRaisedButton/JRaisedButton.js
  src/routes/Settings/SettingsIndexView.js
  src/routes/Settings/routes/Currency/CurrencyContainer.js
  src/routes/Settings/routes/Currency/CurrencyView.js
  src/routes/index.js
  src/store/modules/digitalAssets.js
  src/store/modules/index.js
  src/store/modules/settings.js
  src/store/modules/walletsCreate.js
  src/store/modules/walletsImport.js
  src/store/persistReducers.js
  src/store/reducers.js
  src/store/sagas/balances.js
  src/store/sagas/blocks.js
  src/store/sagas/ticker.js
  src/store/sagas/transactions.js
  src/utils/browser/reactRouterBack.js
  src/utils/browser/startSessionWatcher.js
  src/utils/formatters/formatAssetBalance.js
  src/utils/numbers/divDecimals.js
  src/utils/numbers/formatBalance.js
  src/utils/numbers/fromGweiToWei.js
  src/utils/numbers/fromWeiToGWei.js
  src/workers/settings/worker.js
  src/workers/settings/wrapper.js
  src/workers/wallets/worker.js
  src/workers/wallets/wrapper.js
Due: ./node_modules/.bin/eslint

disable eslint errors
  flow-typed/redux/appState.js
  flow-typed/types.js
Due: ./node_modules/.bin/eslint

add executeDeferredAction that can hide Deffered creation logic
  src/routes/DigitalAssets/routes/SendWizard/DigitalAssetsSendWizard.js
  src/routes/DigitalAssets/routes/SendWizard/components/PasswordStepForm/PasswordStepForm.js
  src/store/modules/digitalAssetsSendWizard.js
  src/store/sagas/digitalAssets/sendWizard.js
  src/utils/misc/deferred.js
  src/utils/misc/executeDeferredAction.js
  src/utils/misc/index.js
Due: ./node_modules/.bin/eslint

fix component name
  src/routes/DigitalAssets/routes/SendWizard/components/FirstStepForm/FirstStepForm.js
Due: ./node_modules/.bin/eslint

return back digital-assets/send, move new solution to send-wizard url
  src/routes/DigitalAssets/index.js
  src/routes/DigitalAssets/routes/SendWizard/index.js
Due: ./node_modules/.bin/eslint

JWWEB-607 Stories and tests for JRaisedButton were added
  .idea/jwallet-web.iml
  jest.config.js
  package.json
  src/components/base/JRaisedButton/JRaisedButton.js
  src/components/base/JRaisedButton/tests/JRaisedButton.test.js
  stories/components/base/JRaisedButton.stories.js
Due: ./node_modules/.bin/eslint

Path conditions:
  ./node_modules/.bin/eslint: any of: *.js
  ./node_modules/.bin/stylelint --syntax=scss: any of: *.scss
  node_modules/**: any of: ignore
  build/**: any of: ignore
  test/**: any of: ignore
  src/public/**: any of: ignore
