Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss, node_modules/**, build/**, test/**, src/public/**

JWWEB-436: Add send transaction events
  src/middlewares/analyticsMiddleware/index.js
  src/middlewares/analyticsMiddleware/sendTransactionEvents.js
  src/utils/analytics/ga.js
Due: ./node_modules/.bin/eslint

JWWEB-436: Rename events to more consistent ones
  src/middlewares/analyticsMiddleware/newWalletEvents.js
Due: ./node_modules/.bin/eslint

JWWEB-436: Fix wallets quantity check
  src/middlewares/analyticsMiddleware/userParams.js
Due: ./node_modules/.bin/eslint

PR request fixes
  src/browsercheck.js
  src/public/js/test-worker.js
Due: ./node_modules/.bin/eslint

JWWEB-498 fix text size
  src/components/AssetItem/AssetItem.js
  src/components/MenuPanel/BalanceTicker/BalanceTicker.js
  src/components/MenuPanel/WalletManager/Details/Addresses/AddressWithName/AddressWithName.js
  src/components/MenuPanel/WalletManager/Main/Main.js
  src/components/base/JText/JText.js
  src/components/base/JText/jText.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix block size, offset and small fix
  src/components/AssetItem/assetItem.scss
  src/components/DigitalAssetsGrid/Asset/AssetCardBody/assetCardBody.scss
  src/components/MenuPanel/WalletManager/Details/Addresses/AddressWithName/addressWithName.scss
  src/components/MenuPanel/WalletManager/Details/Addresses/Item/item.scss
  src/components/base/JPicker/jPicker.scss
  src/components/base/JRaisedButton/JRaisedButton.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Migrate to single internalKey for wallets; fix removing
  flow-typed/redux/wallets.js
  src/routes/Upgrade/UpgradeViewContainer.js
  src/routes/Upgrade/modules/upgrade.js
  src/routes/Wallets/modules/wallets.js
  src/routes/Wallets/routes/Backup/modules/walletsBackup.js
  src/routes/Wallets/routes/Backup/sagas/walletsBackup.js
  src/routes/Wallets/routes/Create/WalletsCreateViewContainer.js
  src/routes/Wallets/routes/Create/sagas/walletsCreate.js
  src/routes/Wallets/routes/Delete/sagas/walletsDelete.js
  src/routes/Wallets/routes/Import/WalletsImportViewContainer.js
  src/routes/Wallets/routes/Import/sagas/walletsImport.js
  src/routes/Wallets/sagas/wallets.js
  src/utils/encryption/checkPassword.js
  src/utils/encryption/decryptData.js
  src/utils/encryption/decryptInternalKey.js
  src/utils/encryption/decryptMnemonic.js
  src/utils/encryption/decryptPrivateKey.js
  src/utils/encryption/encryptData.js
  src/utils/encryption/encryptInternalKey.js
  src/utils/encryption/getNonce.js
  src/utils/encryption/getPasswordOptions.js
  src/utils/encryption/index.js
  src/utils/encryption/initPassword.js
  src/utils/encryption/reEncryptWallet.js
  src/utils/mnemonic/getHdPath.js
  src/utils/mnemonic/getPrivateHdRoot.js
  src/utils/mnemonic/getPrivateKeyFromMnemonic.js
  src/utils/mnemonic/getXPubFromMnemonic.js
  src/utils/password/check.js
  src/utils/password/index.js
  src/utils/wallets/createWallet.js
  src/utils/wallets/getBackupData.js
  src/utils/wallets/getMnemonic.js
  src/utils/wallets/getPrivateKey.js
  src/utils/wallets/reEncryptWallet.js
  src/utils/wallets/updateWallet.js
  src/utils/wallets/upgradeWallet.js
  src/workers/settings/worker.js
  src/workers/wallets/worker.js
  src/workers/wallets/wrapper.js
Due: ./node_modules/.bin/eslint

Update lockfile
  package-lock.json
Due: none

JWWEB-412: Fix currency names
  src/data/currencies/currencies.js
Due: ./node_modules/.bin/eslint

Update scrypt complexity param
  src/config.js
Due: ./node_modules/.bin/eslint

Left only eth active by default
  src/components/AssetItem/AssetItem.js
  src/routes/DigitalAssets/sagas/digitalAssets.js
Due: ./node_modules/.bin/eslint

Increase range for fetching of transactions
  src/config.js
Due: ./node_modules/.bin/eslint

potentially transaction fail warning
  flow-typed/redux/digitalAssets.js
  src/components/InputButton/InputButton.js
  src/routes/DigitalAssets/routes/Send/DigitalAssetsSendView.js
  src/routes/DigitalAssets/routes/Send/DigitalAssetsSendViewContainer.js
  src/routes/DigitalAssets/routes/Send/components/Confirm/Card/Card.js
  src/routes/DigitalAssets/routes/Send/components/Confirm/Card/card.scss
  src/routes/DigitalAssets/routes/Send/components/Confirm/Confirm.js
  src/routes/DigitalAssets/routes/Send/components/Steps/Steps.js
  src/routes/DigitalAssets/routes/Send/modules/digitalAssetsSend.js
  src/routes/DigitalAssets/routes/Send/sagas/digitalAssetsSend.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-271: Fix app toast for Android
  src/public/assets/favicon/manifest.json
Due: none

Change Scrypt complexity only for dev
  src/config.js
Due: ./node_modules/.bin/eslint

PR request fixes
  flow-typed/redux/digitalAssets.js
  src/routes/DigitalAssets/routes/Send/DigitalAssetsSendView.js
  src/routes/DigitalAssets/routes/Send/DigitalAssetsSendViewContainer.js
  src/routes/DigitalAssets/routes/Send/components/Confirm/Card/Card.js
  src/routes/DigitalAssets/routes/Send/components/Confirm/Card/card.scss
  src/routes/DigitalAssets/routes/Send/components/Confirm/Confirm.js
  src/routes/DigitalAssets/routes/Send/components/Steps/Steps.js
  src/routes/DigitalAssets/routes/Send/modules/digitalAssetsSend.js
  src/routes/DigitalAssets/routes/Send/sagas/digitalAssetsSend.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Update JCheckbox
  src/components/base/JCheckbox/JCheckbox.js
  src/components/base/JCheckbox/jCheckbox.scss
  src/components/base/JText/JText.js
  src/public/assets/icons/new-pack/medium/checked-white.svg
  src/public/assets/icons/new-pack/medium/unchecked-white.svg
  src/styles/icons.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-319 Add agrements page and check logic
  flow-typed/redux/agreements.js
  src/routes/Agreements/AgreementsView.js
  src/routes/Agreements/AgreementsViewContainer.js
  src/routes/Agreements/agreementsView.scss
  src/routes/Agreements/index.js
  src/routes/index.js
  src/styles/core.scss
  src/utils/agreements/agreements.js
  src/utils/agreements/index.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-208 Fix of qr-code
  flow-typed/config.js
  package.json
  src/config.js
  src/services/qrCode.js
Due: ./node_modules/.bin/eslint

JWWEB-208 Error for incorrect selector was added
  src/services/qrCode.js
Due: ./node_modules/.bin/eslint

fix digital asset search
  src/utils/digitalAssets/searchDigitalAssets.js
Due: ./node_modules/.bin/eslint

Remove legacy code
  src/routes/Funds/index.js
  src/routes/Funds/routes/Convert/components/FundsConvertView.js
  src/routes/Funds/routes/Convert/containers/FundsConvertViewContainer.js
  src/routes/Funds/routes/Convert/index.js
  src/routes/Funds/routes/Convert/modules/convertFunds.js
  src/routes/Funds/routes/Convert/sagas/convertFunds.js
  src/routes/Funds/routes/Receive/components/FundsReceiveView.js
  src/routes/Funds/routes/Receive/containers/FundsReceiveViewContainer.js
  src/routes/Funds/routes/Receive/index.js
  src/routes/Funds/routes/Receive/modules/receiveFunds.js
  src/routes/Funds/routes/Receive/sagas/receiveFunds.js
  src/routes/Funds/routes/Receive/styles/fundsReceiveView.scss
  src/routes/Funds/routes/Send/components/FormStep.js
  src/routes/Funds/routes/Send/components/FundsSendView.js
  src/routes/Funds/routes/Send/components/Optional.js
  src/routes/Funds/routes/Send/components/OptionalItem.js
  src/routes/Funds/routes/Send/containers/FundsSendViewContainer.js
  src/routes/Funds/routes/Send/index.js
  src/routes/Funds/routes/Send/modules/sendFunds.js
  src/routes/Funds/routes/Send/sagas/sendFunds.js
  src/routes/Funds/routes/Send/styles/fundsSendView.scss
  src/routes/Funds/routes/Send/styles/sendOptionalItem.scss
  src/routes/Funds/sagas/index.js
  src/routes/Funds/styles/funds.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Add logic to remove txs/balances by asset
  src/routes/modules/balances.js
  src/routes/modules/transactions.js
  src/routes/sagas/transactions.js
Due: ./node_modules/.bin/eslint

Add button to refetch transactions
  src/components/base/JIcon/jIcon.scss
  src/public/assets/icons/new-pack/medium/reload-gray.svg
  src/routes/Transactions/routes/Asset/TransactionsAssetView.js
  src/routes/Transactions/routes/Asset/TransactionsAssetViewContainer.js
  src/routes/Transactions/transactionsView.scss
  src/styles/icons.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-208 Generation of qr code function was updated
  package-lock.json
  src/components/QRCode/QRCode.js
  src/services/qrCode.js
Due: ./node_modules/.bin/eslint

amount fiat conversion in the send asset form
  src/routes/DigitalAssets/routes/Send/DigitalAssetsSendView.js
  src/routes/DigitalAssets/routes/Send/DigitalAssetsSendViewContainer.js
  src/routes/DigitalAssets/routes/Send/components/Form/Form.js
  src/routes/DigitalAssets/routes/Send/components/Steps/Steps.js
  src/routes/DigitalAssets/routes/Send/sagas/digitalAssetsSend.js
  src/store/selectors/ticker.js
Due: ./node_modules/.bin/eslint

Fix styles for grid settings and correct color for JSearch placeholder
  src/components/SettingsGrid/settingsGrid.scss
  src/components/base/JSearch/jSearch.scss
  src/routes/Settings/SettingsIndexView.js
  src/routes/Settings/settingsView.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix styles for list Favorites
  src/routes/Favorites/favoritesView.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Change styles jThumbnail and OverlayNotification, fix style not found page
  src/components/OverlayNotification/OverlayNotification.js
  src/components/OverlayNotification/overlayNotification.scss
  src/components/base/JThumbnail/jThumbnail.scss
  src/routes/NotFound/NotFoundView.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix offset 'Add more addresses'
  src/components/MenuPanel/Actions/Item/item.scss
  src/components/MenuPanel/WalletManager/Details/Addresses/addresses.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

JWWEB-103 message moved from priority picker
  src/routes/DigitalAssets/routes/Send/components/Form/Form.js
  src/routes/DigitalAssets/routes/Send/components/Form/PriorityPicker/PriorityPicker.js
  src/routes/DigitalAssets/routes/Send/components/Form/form.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-503: Fix product name
  src/public/index.html
Due: none

Fix version name
  package.json
  version.txt
Due: none

Fix PR request issues
  src/routes/DigitalAssets/routes/Send/sagas/digitalAssetsSend.js
Due: ./node_modules/.bin/eslint

fix flowtype
  src/routes/DigitalAssets/routes/Send/sagas/digitalAssetsSend.js
Due: ./node_modules/.bin/eslint

Fix mistakes
  flow-typed/redux/agreements.js
  src/components/base/JCheckbox/JCheckbox.js
  src/components/base/JText/JText.js
  src/routes/Agreements/AgreementsView.js
  src/utils/agreements/agreements.js
  src/utils/agreements/checkAgreements.js
  src/utils/agreements/getAgreements.js
  src/utils/agreements/index.js
  src/utils/agreements/setAgreements.js
Due: ./node_modules/.bin/eslint

Update ticker sync timeout
  src/config.js
Due: ./node_modules/.bin/eslint

Fix bugs
  src/routes/Agreements/AgreementsView.js
  src/routes/Agreements/AgreementsViewContainer.js
  src/utils/agreements/checkAgreements.js
  src/utils/agreements/getAgreementValue.js
  src/utils/agreements/getAgreements.js
  src/utils/agreements/index.js
  src/utils/agreements/setAgreementValue.js
  src/utils/agreements/setAgreements.js
Due: ./node_modules/.bin/eslint

Add orderIndex support for wallets
  flow-typed/redux/wallets.js
  src/utils/wallets/createWallet.js
Due: ./node_modules/.bin/eslint

Implement sorting of wallets on list update
  src/utils/wallets/appendWallet.js
Due: ./node_modules/.bin/eslint

Path conditions:
  ./node_modules/.bin/eslint: any of: *.js
  ./node_modules/.bin/stylelint --syntax=scss: any of: *.scss
  node_modules/**: any of: ignore
  build/**: any of: ignore
  test/**: any of: ignore
  src/public/**: any of: ignore
