Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss, node_modules/**, build/**, test/**, src/public/**

.lintstagedrc:

{
  "*.js": "./node_modules/.bin/eslint",
  "*.scss": "./node_modules/.bin/stylelint --syntax=scss",
  "ignore": [
    "node_modules/**",
    "build/**",
    "test/**",
    "src/public/**"
  ]
}

try to upgrade bignumber.js
  package-lock.json
  package.json
Due: none

asset picker current fix
  src/components/AssetPicker/Current/assetPickerCurrent.scss
  src/components/AssetPicker/assetPicker.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

JWWEB-279 Changing security password of wallet implementation init commit
  package-lock.json
  package.json
  src/components/base/JInput/JInput.js
  src/components/base/JInput/JInputField.js
  src/components/base/JInput/index.js
  src/routes/Settings/components/SubsettingsDescription/SubsettingsDescription.js
  src/routes/Settings/components/SubsettingsDescription/index.js
  src/routes/Settings/components/SubsettingsDescription/subsettingsDescription.scss
  src/routes/Settings/components/SubsettingsView/SubsettingsView.js
  src/routes/Settings/components/SubsettingsView/subsettingsView.scss
  src/routes/Settings/components/index.js
  src/routes/Settings/routes/SecurityPassword/SecurityPassword.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

fix flow types
  flow-typed/redux/blocks.js
  flow-typed/redux/funds.js
  flow-typed/redux/wallets.js
  flow-typed/types.js
  src/components/MenuPanel/MenuPanel.js
  src/components/MenuPanel/WalletManager/Details/Addresses/Addresses.js
  src/components/MenuPanel/WalletManager/Details/Addresses/Item/Item.js
  src/components/MenuPanel/WalletManager/Details/Details.js
  src/components/MenuPanel/WalletManager/WalletManager.js
  src/components/MnemonicAddresses/MnemonicAddresses.js
  src/services/keystore.js
Due: ./node_modules/.bin/eslint

integrate favorites for transactions
  flow-typed/redux/transactions.js
  src/components/TransactionItem/Details/Details.js
  src/components/TransactionItem/Main/Main.js
  src/components/TransactionItem/TransactionItem.js
  src/components/TransactionsList/Empty/Empty.js
  src/components/TransactionsList/TransactionsList.js
  src/routes/Transactions/TransactionsIndexView.js
  src/routes/Transactions/TransactionsIndexViewContainer.js
  src/routes/Transactions/routes/Asset/TransactionsAssetView.js
  src/routes/Transactions/routes/Asset/TransactionsAssetViewContainer.js
  src/store/selectors/favorites.js
Due: ./node_modules/.bin/eslint

JWWEB-276 favorites integration
  src/layouts/MenuLayout/MenuLayout.js
  src/layouts/MenuLayout/MenuLayoutContainer.js
Due: ./node_modules/.bin/eslint

update reactRouterBack util method
  src/utils/browser/reactRouterBack.js
Due: ./node_modules/.bin/eslint

update favorites business logic
  flow-typed/redux/favorites.js
  src/routes/Favorites/modules/favorites.js
  src/routes/Favorites/sagas/favorites.js
Due: ./node_modules/.bin/eslint

update favorites routes (add view with form)
  src/routes/Favorites/FavoritesIndexView.js
  src/routes/Favorites/FavoritesIndexViewContainer.js
  src/routes/Favorites/favoritesView.scss
  src/routes/Favorites/index.js
  src/routes/Favorites/routes/Address/FavoritesAddressView.js
  src/routes/Favorites/routes/Address/FavoritesAddressViewContainer.js
  src/routes/Favorites/routes/Address/index.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

update FavoriteItem component
  src/components/FavoriteItem/FavoriteItem.js
Due: ./node_modules/.bin/eslint

update link to add favorite in transaction details
  src/components/TransactionItem/Details/Details.js
Due: ./node_modules/.bin/eslint

Add double input, correct style for balance
  src/components/AssetPicker/Current/AssetPickerCurrent.js
  src/components/AssetPicker/Item/AssetPickerItem.js
  src/components/AssetPicker/Item/assetPickerItem.scss
  src/components/DigitalAssetSendForm/DigitalAssetSendForm.js
  src/components/DoubleInput/DoubleInput.js
  src/components/DoubleInput/doubleInput.scss
  src/components/DoubleInput/index.js
  src/components/index.js
  src/styles/core.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

address picker component
  src/components/AddressPicker/AddressPicker.js
  src/components/AddressPicker/Current/AddressPickerCurrent.js
  src/components/AddressPicker/Current/AddressPickerCurrent.scss
  src/components/AddressPicker/Item/AddressPickerItem.js
  src/components/AddressPicker/Item/addressPickerItem.scss
  src/components/AddressPicker/addressPicker.scss
  src/components/AddressPicker/index.js
  src/components/AssetPicker/AssetPicker.js
  src/components/DigitalAssetSendForm/DigitalAssetSendForm.js
  src/components/base/JPicker/JPicker.js
  src/components/base/JPicker/jPicker.scss
  src/components/index.js
  src/styles/core.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-296 Update JInput
  src/components/base/JInput/JInput.js
  src/components/base/JInput/jInput.scss
  stories/components/base/JInput.stories.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

fix build issue
  src/components/AddressPicker/Current/addressPickerCurrent.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

add isSelected option
  src/components/AddressPicker/AddressPicker.js
  src/components/AssetPicker/AssetPicker.js
Due: ./node_modules/.bin/eslint

JWWEB-279 Password changing screen was refactored, PasswordField component was reused on the page, PasswordField props were changed for more flexibility
  src/components/PasswordField/PasswordField.js
  src/components/PasswordField/PasswordFieldFinalFormAdapter.js
  src/components/PasswordField/index.js
  src/components/base/JInput/JInput.js
  src/routes/Settings/index.js
  src/routes/Settings/routes/PaymentPassword/PaymentPassword.js
  src/routes/Settings/routes/PaymentPassword/index.js
  src/routes/Settings/routes/PaymentPassword/paymentPassword.scss
  src/routes/Settings/routes/SecurityPassword/index.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Updating .idea settings, new directories were marked
  .idea/codeStyles/Project.xml
  .idea/vcs.xml
Due: none

JWWEB-281: update checking of active assets during resync
  src/routes/sagas/transactions.js
Due: ./node_modules/.bin/eslint

update refetching of transactions data (check active asset)
  src/routes/sagas/transactions.js
Due: ./node_modules/.bin/eslint

new good flatten methods
  src/utils/browser/flatten.js
  src/utils/browser/flattenWithHelper.js
  src/utils/browser/index.js
Due: ./node_modules/.bin/eslint

remove fetWalletAddressNames
  src/utils/wallets/getAddressWalletNames.js
  src/utils/wallets/index.js
Due: ./node_modules/.bin/eslint

remove getWalletAddressNames
  src/store/selectors/wallets.js
Due: ./node_modules/.bin/eslint

add selectActiveAssetsWithBalance selector
  src/store/selectors/digitalAssets.js
Due: ./node_modules/.bin/eslint

move structure from funds to digital assets
  flow-typed/redux/digitalAssets.js
  flow-typed/redux/funds.js
Due: ./node_modules/.bin/eslint

fix address picker
  flow-typed/components.js
  src/components/AddressPicker/AddressPicker.js
  src/components/DigitalAssetSendForm/DigitalAssetSendForm.js
  src/routes/DigitalAssets/routes/Send/DigitalAssetsSendView.js
  src/routes/DigitalAssets/routes/Send/DigitalAssetsSendViewContainer.js
Due: ./node_modules/.bin/eslint

Update style placeholder
  src/components/AddressPicker/Current/AddressPickerCurrent.js
  src/components/AddressPicker/Current/addressPickerCurrent.scss
  src/components/base/JText/jText.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

add optimizations for checking of active assets
  src/routes/sagas/transactions.js
Due: ./node_modules/.bin/eslint

fix deleteCustomAsset
  src/routes/DigitalAssets/sagas/digitalAssets.js
Due: ./node_modules/.bin/eslint

Full item first implementation
  src/components/base/JPicker/Item/FullItem.js
  src/components/base/JPicker/Item/Item.js
  src/components/base/JPicker/jPicker.scss
  src/store/selectors/digitalAssets.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

code claen
  src/components/AddressPicker/Current/AddressPickerCurrent.js
  src/components/AddressPicker/Current/AddressPickerCurrent.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

class name fix
  src/components/base/JPicker/Item/FullItem.js
  src/components/base/JPicker/Item/index.js
Due: ./node_modules/.bin/eslint

Remove Item from address-picker
  src/components/AddressPicker/AddressPicker.js
  src/components/AddressPicker/Item/AddressPickerItem.js
  src/components/AddressPicker/Item/addressPickerItem.scss
  src/components/AddressPicker/addressPicker.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

add export for JPickerFullItem
  src/components/base/JPicker/index.js
Due: ./node_modules/.bin/eslint

Corrected style for *PickerCurrent
  src/components/AddressPicker/Current/AddressPickerCurrent.js
  src/components/AddressPicker/Current/addressPickerCurrent.scss
  src/components/AssetPicker/Current/AssetPickerCurrent.js
  src/components/AssetPicker/Current/assetPickerCurrent.scss
  src/components/base/JPicker/jPicker.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Modificated DoubleInput, corrected style for *PickerCurrent
  src/components/AddressPicker/Current/addressPickerCurrent.scss
  src/components/AssetPicker/Current/assetPickerCurrent.scss
  src/components/DigitalAssetSendForm/DigitalAssetSendForm.js
  src/components/DoubleInput/DoubleInput.js
  src/components/DoubleInput/doubleInput.scss
  src/components/base/JInput/JInput.js
  src/components/base/JInput/jInput.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Priority picker business logic
  flow-typed/redux/digitalAssets.js
  src/components/AddressPicker/Current/AddressPickerCurrent.scss
  src/components/AssetPicker/AssetPicker.js
  src/components/AssetPicker/Current/AssetPickerCurrent.js
  src/components/AssetPicker/Item/AssetPickerItem.js
  src/components/DigitalAssetSendForm/DigitalAssetSendForm.js
  src/components/DoubleInput/DoubleInput.js
  src/components/PriorityPicker/Current/PriorityPickerCurrent.js
  src/components/PriorityPicker/Current/priorityPickerCurrent.scss
  src/components/PriorityPicker/PriorityPicker.js
  src/components/PriorityPicker/index.js
  src/components/PriorityPicker/priorityPicker.scss
  src/components/base/JPicker/Item/FullItem.js
  src/components/index.js
  src/routes/DigitalAssets/routes/Send/modules/digitalAssetsSend.js
  src/styles/core.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fmall fix
  src/components/AddressPicker/Current/AddressPickerCurrent.scss
  src/components/base/JInput/jInput.scss
  src/components/base/JPicker/jPicker.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

double input changes
  src/components/DoubleInput/DoubleInput.js
  src/components/DoubleInput/doubleInput.scss
  src/components/PriorityPicker/PriorityPicker.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

custom priority change
  src/components/PriorityPicker/PriorityPicker.js
Due: ./node_modules/.bin/eslint
