Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss, node_modules/**, build/**, test/**, src/public/**

.lintstagedrc:

{
  "*.js": "./node_modules/.bin/eslint",
  "*.scss": "./node_modules/.bin/stylelint --syntax=scss",
  "ignore": [
    "node_modules/**",
    "build/**",
    "test/**",
    "src/public/**"
  ]
}

Small fixes
  src/pages/Send/components/RecipientPicker/RecipientPicker.stories.js
  src/pages/Send/components/RecipientPicker/WalletList/WalletList.js
Due: ./node_modules/.bin/eslint

Update _base.scss
  src/styles/_base.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Fix JCheckbox component
  src/components/base/JCheckbox/JCheckbox.js
  src/components/base/JCheckbox/JCheckbox.stories.js
  src/components/base/JCheckbox/index.js
  src/components/base/JCheckbox/jCheckbox.m.scss
  src/components/base/JCheckbox/jCheckbox.scss
  src/components/base/index.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Update core.scss
  src/styles/core.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Disable eslint rule for label
  src/components/base/JCheckbox/JCheckbox.js
Due: ./node_modules/.bin/eslint

Rename button themes to general and secondary according to design
  src/components/WalletStep/WalletStep.js
  src/components/base/Button/Button.js
  src/components/base/Button/Button.stories.js
  src/components/base/Button/button.m.scss
  src/components/base/Button/tests/Button.test.js
  src/components/base/JTextArea/JTextArea.stories.js
  src/pages/Agreements/AgreementsView.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix input font weight
  .idea/jwallet-web.iml
  src/components/base/JInputField/jInputField.m.scss
  src/components/base/JTextArea/jTextArea.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

JWWEB-728: Fix fetching animation
  src/components/NewPasswordField/components/indicator.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

JWWEB-728: Fix view / hide password icon color
  src/components/PasswordInput/PasswordInput.js
  src/components/PasswordInput/passwordInput.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-728: Add message for password hint
  src/pages/SetPassword/SetPasswordView.js
Due: ./node_modules/.bin/eslint

JWWEB-728: Fix message color and padding
  src/components/base/JFieldMessage/jFieldMessage.m.scss
  src/components/base/JInputField/jInputField.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

JWWEB-737 Added markup of history item page
  src/components/TransactionDetails/AssetItemPreview/AssetItemPreview.js
  src/components/TransactionDetails/AssetItemPreview/assetItemPreview.m.scss
  src/components/TransactionDetails/TransactionDetails.js
  src/components/TransactionDetails/transactionDetails.m.scss
  src/components/TransactionItemNew/transactionsIndex.js
  src/pages/HistoryItem/HistoryItemView.js
  src/pages/HistoryItem/historyItem.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Add new icon
  src/public/assets/icons/sprite-pack/medium/0x-use-fill.svg
Due: none

JWWEB-793 Fix links for add contact
  src/components/FieldPreview/FieldPreview.js
Due: ./node_modules/.bin/eslint

Fix import bug
  src/pages/WalletsStart/components/NewWalletButtons/NewWalletButtons.js
Due: ./node_modules/.bin/eslint

Fix JFieldMessage tests
  src/components/base/JFieldMessage/tests/JFieldMessage.test.js
Due: ./node_modules/.bin/eslint

Fix merge bug
  src/components/base/SearchInput/SearchFilter/SearchFilter.js
Due: ./node_modules/.bin/eslint

Fix merge issue
  src/components/index.js
Due: ./node_modules/.bin/eslint

JWWEB-737 Added checking argument from router, fixed links in details
  src/components/TransactionDetails/TransactionDetails.js
  src/components/TransactionItemNew/TransactionItem.js
  src/errors/PageNotFoundError.js
  src/errors/index.js
  src/pages/HistoryItem/HistoryItem.js
  src/pages/Home/components/AssetItem/AssetItem.js
  src/utils/formatters/formatAssetBalance.js
  src/utils/formatters/formatTransactionAmount.js
  src/utils/formatters/index.js
Due: ./node_modules/.bin/eslint

Moved formatters to external files
  src/components/TransactionItemNew/TransactionItem.js
  src/pages/Home/components/AssetItem/AssetItem.js
  src/utils/formatters/formatAssetBalance.js
  src/utils/formatters/formatTransactionAmount.js
  src/utils/formatters/index.js
Due: ./node_modules/.bin/eslint

Fix calculating of height for textarea
  src/components/base/JTextArea/JTextArea.js
Due: ./node_modules/.bin/eslint

JWWEB-737 Moved subcomponents of Transaction Details to components directory
  src/components/TransactionDetails/TransactionDetails.js
  src/components/TransactionDetails/components/AssetItemPreview/AssetItemPreview.js
  src/components/TransactionDetails/components/AssetItemPreview/assetItemPreview.m.scss
  src/components/TransactionDetails/components/FieldPreview/FieldPreview.js
  src/components/TransactionDetails/components/FieldPreview/FieldPreview.stories.js
  src/components/TransactionDetails/components/FieldPreview/fieldPreview.m.scss
  src/components/TransactionDetails/components/FieldPreview/tests/FieldPreview.test.js
  src/components/TransactionDetails/components/index.js
  src/components/index.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-737 Resolving imports moving issues
  src/components/TransactionDetails/components/FieldPreview/FieldPreview.stories.js
  src/components/TransactionDetails/components/FieldPreview/tests/FieldPreview.test.js
Due: ./node_modules/.bin/eslint

Fix mistakes
  src/pages/Introduction/Introduction.js
  src/pages/Introduction/data.js
Due: ./node_modules/.bin/eslint

Add WalletBackupForm component
  src/components/WalletBackupForm/WalletBackupForm.js
  src/components/WalletBackupForm/walletBackupForm.m.scss
  src/components/index.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-737 Added data in index
  src/components/TransactionDetails/TransactionDetails.js
  src/components/TransactionItemNew/transactionsIndex.js
  src/pages/HistoryItem/historyItem.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Add JUnit reporter for jest
  jest.config.js
  package.json
Due: ./node_modules/.bin/eslint

Remove html report from list, because it duplicates lcov html report
  jest.config.js
Due: ./node_modules/.bin/eslint

Apply Button component changes for BackupForm
  src/components/WalletBackupForm/WalletBackupForm.js
Due: ./node_modules/.bin/eslint

Update JCheckbox
  src/components/base/JCheckbox/JCheckbox.js
  src/components/base/JCheckbox/jCheckbox.m.scss
  src/public/assets/icons/sprite-pack/medium/checked-use-fill.svg
  src/public/assets/icons/sprite-pack/medium/checked.svg
  src/public/assets/icons/sprite-pack/medium/unchecked.svg
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Add test
  src/components/base/JCheckbox/tests/JCheckbox.test.js
Due: ./node_modules/.bin/eslint

Fix NewWalletButtons
  src/pages/WalletsStart/components/NewWalletButtons/NewWalletButtons.js
Due: ./node_modules/.bin/eslint

Fix StartLayout max-width
  src/layouts/StartLayout/startLayout.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Fix hover color for NewWalletButtons
  src/pages/WalletsStart/components/NewWalletButtons/newWalletButtons.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Fix checkXkeyValid util function
  src/utils/mnemonic/checkXkeyValid.js
Due: ./node_modules/.bin/eslint

Remove wallets worker
  src/workers/index.js
  src/workers/wallets/index.js
  src/workers/wallets/worker.js
  src/workers/wallets/wrapper.js
Due: ./node_modules/.bin/eslint

Cleanup redux wallets modules
  src/store/modules/upgrade.js
  src/store/modules/wallets.js
  src/store/modules/walletsCreate.js
  src/store/modules/walletsImport.js
Due: ./node_modules/.bin/eslint

Cleanup wallets sagas
  src/store/sagas/upgrade.js
  src/store/sagas/wallets/core.js
  src/store/sagas/wallets/create.js
  src/store/sagas/wallets/import.js
  src/store/sagas/wallets/index.js
Due: ./node_modules/.bin/eslint

Update sending of ga events
  src/middlewares/analyticsMiddleware/index.js
  src/middlewares/analyticsMiddleware/newWalletEvents.js
  src/pages/WalletsImport/WalletsImportView.js
Due: ./node_modules/.bin/eslint

Remove unused code
  flow-typed/redux/wallets.js
  src/store/configureStore.js
  src/store/reducers.js
  src/store/selectors/wallets.js
Due: ./node_modules/.bin/eslint
