Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss, node_modules/**, build/**, test/**, src/public/**

fixed bignumber, added flowtype definitions
  flow-typed/components.js
  flow-typed/npm/bignumber.js_v7.x.x.js
  flow-typed/types.js
  src/components/AssetBalance/AssetBalance.js
  src/components/AssetItem/AssetItem.js
  src/components/DigitalAssetsGrid/Asset/Asset.js
  src/components/DigitalAssetsGrid/Asset/AssetCardBody/AssetCardBody.js
  src/components/DigitalAssetsGrid/DigitalAssetsGrid.js
  src/components/DigitalAssetsManage/DigitalAssetsManage.js
  src/routes/DigitalAssets/routes/Grid/DigitalAssetsGridViewContainer.js
  src/routes/DigitalAssets/routes/Manage/DigitalAssetsManageViewContainer.js
  src/utils/digitalAssets/index.js
  src/utils/digitalAssets/parseBalance.js
  src/utils/numbers/divDecimals.js
  src/utils/transactions/toBigNumber.js
Due: ./node_modules/.bin/eslint

Revert "remove deprecated AssetPicker component"
  src/components/AssetPicker/AssetPicker.js
  src/components/AssetPicker/AssetPickerContainer.js
  src/components/AssetPicker/Current/AssetPickerCurrent.js
  src/components/AssetPicker/Current/assetPickerCurrent.scss
  src/components/AssetPicker/Current/index.js
  src/components/AssetPicker/Item/AssetPickerItem.js
  src/components/AssetPicker/Item/assetPickerItem.scss
  src/components/AssetPicker/Item/index.js
  src/components/AssetPicker/assetPicker.scss
  src/components/AssetPicker/index.js
  src/styles/core.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

styles for menu
  src/components/MenuPanel/MenuPanelContainer.js
  src/layouts/MenuLayout/menuLayout.scss
  src/routes/index.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

update blockExplorer service
  src/services/blockExplorer.js
Due: ./node_modules/.bin/eslint

set ropsten jnt address
  src/data/assets/main.js
Due: ./node_modules/.bin/eslint

remove console logs from transaction list
  src/components/TransactionsList/TransactionsList.js
Due: ./node_modules/.bin/eslint

pass asset balance on transactions view
  src/routes/Transactions/routes/Asset/TransactionsAssetView.js
  src/routes/Transactions/routes/Asset/TransactionsAssetViewContainer.js
Due: ./node_modules/.bin/eslint

use isSyncing in transaction view
  src/components/TransactionsList/TransactionsList.js
  src/components/TransactionsList/transactionsList.scss
  src/routes/Transactions/TransactionsIndexView.js
  src/routes/Transactions/TransactionsIndexViewContainer.js
  src/routes/Transactions/routes/Asset/TransactionsAssetView.js
  src/routes/Transactions/routes/Asset/TransactionsAssetViewContainer.js
  src/store/selectors/transactions.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

delete DeriviationPath component
  src/components/DerivationPath/Custom/DerivationPathCustom.js
  src/components/DerivationPath/Custom/derivationPathCustom.scss
  src/components/DerivationPath/Custom/index.js
  src/components/DerivationPath/DerivationPath.js
  src/components/DerivationPath/Known/DerivationPathKnown.js
  src/components/DerivationPath/Known/derivationPathKnown.scss
  src/components/DerivationPath/Known/index.js
  src/components/DerivationPath/derivationPath.scss
  src/components/DerivationPath/index.js
  src/components/index.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

delete Expandable component
  src/components/Expandable/Expandable.js
  src/components/Expandable/ExpandableContainer.js
  src/components/Expandable/expandable.scss
  src/components/Expandable/index.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

WEB-6 Implement component FavoriteItem
  src/components/FavoriteItem/FavoriteItem.js
  src/components/FavoriteItem/favoriteItem.scss
  src/components/FavoriteItem/index.js
  src/components/base/JIcon/jIcon.scss
  src/components/index.js
  src/public/assets/icons/new-pack/medium/upload-gray.svg
  src/public/assets/icons/new-pack/medium/upload-sky.svg
  src/styles/core.scss
  src/styles/icons.scss
  stories/components/AssetItem.stories.js
  stories/components/FavoriteItem.stories.js
  stories/components/index.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

update @jibrelnetwork/contracts-jsapi dep
  config/webpack.config.prod.js
  package.json
  src/services/web3.js
  src/utils/getDefaultNetworks.js
Due: ./node_modules/.bin/eslint

Updated Empty component for AssetManager
  src/components/DigitalAssetsManage/Empty/Empty.js
  src/components/DigitalAssetsManage/Empty/empty.scss
  src/styles/core.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Flowtype version updated to 0.87.0
  package-lock.json
  package.json
Due: none

jnt asset logo
  src/public/img/tokens/jnt.svg
Due: none

WEB-7 Basic Settings page implementation was added; Simple refactoring of Settings components directories structure; Story for `SettingsCard`was updated.
  .idea/codeStyles/Project.xml
  .idea/encodings.xml
  .idea/inspectionProfiles/Project_Default.xml
  src/components/SettingsCard/index.js
  src/components/SettingsGrid/Card/Card.js
  src/components/SettingsGrid/Card/card.scss
  src/components/SettingsGrid/Card/index.js
  src/components/SettingsGrid/SettingsGrid.js
  src/components/SettingsGrid/index.js
  src/components/SettingsGrid/settingsGrid.scss
  src/components/index.js
  src/routes/Settings/SettingsIndexView.js
  src/routes/Settings/index.js
  src/routes/Settings/routes/index.js
  src/routes/Settings/settingsView.scss
  src/styles/core.scss
  stories/components/SettingsCard.stories.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Woops, `DigitalAssetEditForm` was returned to components list
  src/components/index.js
Due: ./node_modules/.bin/eslint

JWWEB-218 Internet connection error
  src/components/base/JText/jText.scss
  src/components/base/JThumbnail/jThumbnail.scss
  stories/components/OverlayNotification.stories.js
  stories/components/index.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Update and clean-up build process
  .babelrc
  .buildscripts/clear.js
  .flow-coverage-report.json
  .npmrc
  Dockerfile
  config/env.js
  config/jest.js
  config/paths.js
  config/webpack.config.dev.js
  config/webpack.config.prod.js
  config/webpackDevServer.config.js
  env/development
  env/production
  package-lock.json
  package.json
  reports/.gitignore
  scripts/build.js
  scripts/start.js
  webpack.config.js
Due: ./node_modules/.bin/eslint

Fix index.html bugs
  src/public/index.html
Due: none

Fix mistakes
  src/components/AssetItem/AssetItem.js
  src/components/AssetItem/assetItem.scss
  src/components/DigitalAssetsManage/DigitalAssetsManage.js
  src/components/FavoriteItem/FavoriteItem.js
  src/components/FavoriteItem/favoriteItem.scss
  stories/components/AssetItem.stories.js
  stories/components/FavoriteItem.stories.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix, when button isDisabled
  src/components/base/JFlatButton/JFlatButton.js
Due: ./node_modules/.bin/eslint

flow stuff
  flow-typed/npm/react-redux.js
  src/layouts/CoreLayout/CoreLayoutContainer.js
  src/layouts/CoreLayout/index.js
  src/layouts/MenuLayout/MenuLayoutContainer.js
  src/routes/NotFound/NotFoundViewContainer.js
  src/routes/NotFound/modules/notFound.js
Due: ./node_modules/.bin/eslint

Fixed CoreLayout
  src/layouts/CoreLayout/CoreLayout.js
Due: ./node_modules/.bin/eslint

update blocks management
  flow-typed/redux/blocks.js
  flow-typed/types.js
  src/routes/modules/blocks.js
  src/routes/sagas/blocks.js
  src/routes/sagas/core.js
  src/routes/sagas/index.js
  src/store/selectors/blocks.js
Due: ./node_modules/.bin/eslint

balances refactoring
  flow-typed/redux/balances.js
  flow-typed/scheduler.js
  src/routes/modules/balances.js
  src/routes/sagas/balances.js
  src/store/selectors/balances.js
  src/utils/digitalAssets/checkAssetFound.js
  src/utils/digitalAssets/compareDigitalAssetsByBalance.js
  src/utils/digitalAssets/compareDigitalAssetsByName.js
  src/utils/digitalAssets/getDigitalAssetsWithBalance.js
  src/utils/digitalAssets/index.js
  src/utils/digitalAssets/parseBalance.js
Due: ./node_modules/.bin/eslint

config
  src/config.js
Due: ./node_modules/.bin/eslint

web3 service
  src/services/web3.js
Due: ./node_modules/.bin/eslint

digital assets routes
  flow-typed/redux/digitalAssets.js
  src/components/DigitalAssetsGrid/DigitalAssetsGrid.js
  src/components/DigitalAssetsManage/DigitalAssetsManage.js
  src/routes/DigitalAssets/routes/Grid/DigitalAssetsGridView.js
  src/routes/DigitalAssets/routes/Grid/DigitalAssetsGridViewContainer.js
  src/routes/DigitalAssets/routes/Manage/DigitalAssetsManageView.js
  src/routes/DigitalAssets/routes/Manage/DigitalAssetsManageViewContainer.js
Due: ./node_modules/.bin/eslint

update transactions
  src/routes/Transactions/routes/Asset/TransactionsAssetView.js
  src/routes/Transactions/routes/Asset/TransactionsAssetViewContainer.js
  src/routes/modules/transactions.js
  src/routes/sagas/transactions.js
Due: ./node_modules/.bin/eslint

Update storybook
  .buildscripts/clear.js
  .storybook/config.js
  .storybook/webpack.config.js
  docs/.gitignore
  package-lock.json
  package.json
Due: ./node_modules/.bin/eslint

update bignumber
  package-lock.json
  package.json
Due: none

Remove unused packages
  package-lock.json
  package.json
Due: none

JWWEB-143 Add hover animation for 'Show transactions' in AssetCardBody component
  src/components/DigitalAssetsGrid/Asset/AssetCardBody/AssetCardBody.js
Due: ./node_modules/.bin/eslint

Prefer local commands on npm run
  package.json
Due: none

Update idea configs
  .idea/codeStyles/Project.xml
  .idea/encodings.xml
  .idea/inspectionProfiles/Project_Default.xml
Due: none

Use existing flags
  webpack.config.js
Due: ./node_modules/.bin/eslint

Fix hover
  src/components/DigitalAssetsGrid/Asset/AssetCardBody/AssetCardBody.js
  src/components/DigitalAssetsGrid/Asset/AssetCardBody/assetCardBody.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix event work
  src/components/FavoriteItem/FavoriteItem.js
Due: ./node_modules/.bin/eslint

Fix call to window in worker
  webpack.config.js
Due: ./node_modules/.bin/eslint

Path conditions:
  ./node_modules/.bin/eslint: any of: *.js
  ./node_modules/.bin/stylelint --syntax=scss: any of: *.scss
  node_modules/**: any of: ignore
  build/**: any of: ignore
  test/**: any of: ignore
  src/public/**: any of: ignore
