Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss, node_modules/**, build/**, test/**, src/public/**

Update hover
  src/components/DigitalAssetsGrid/Asset/AssetCardBody/assetCardBody.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Add gzip in production
  package-lock.json
  package.json
  webpack.config.js
Due: ./node_modules/.bin/eslint

Leave ESLint errors in production build only
  webpack.config.js
Due: ./node_modules/.bin/eslint

downgrade flow to 0.85.0
  package-lock.json
  package.json
Due: none

fix bignumber export type
  flow-typed/npm/bignumber.js_v7.x.x.js
Due: ./node_modules/.bin/eslint

temporary remove ExtFn
  flow-typed/npm/react-redux.js
Due: ./node_modules/.bin/eslint

adding digitalAssetsSend module
  flow-typed/redux/appState.js
  flow-typed/redux/digitalAssets.js
  src/layouts/CoreLayout/CoreLayoutContainer.js
  src/routes/DigitalAssets/routes/Send/DigitalAssetsSendView.js
  src/routes/DigitalAssets/routes/Send/DigitalAssetsSendViewContainer.js
  src/routes/DigitalAssets/routes/Send/index.js
  src/routes/DigitalAssets/routes/Send/modules/digitalAssetsSend.js
  src/routes/DigitalAssets/routes/Send/sagas/digitalAssetsSend.js
  src/store/selectors/digitalAssets.js
Due: ./node_modules/.bin/eslint

fix all issues with bignumber flowtypes
  flow-typed/npm/bignumber.js_v7.x.x.js
Due: ./node_modules/.bin/eslint

fix bignumber types
  flow-typed/redux/blocks.js
  src/routes/sagas/balances.js
  src/services/web3.js
Due: ./node_modules/.bin/eslint

WEB-7 Settings page get data from storage now
  .idea/codeStyles/Project.xml
  .idea/jsLinters/jslint.xml
  .idea/misc.xml
  .idea/watcherTasks.xml
  flow-typed/redux/appState.js
  flow-typed/redux/settings.js
  src/components/SettingsGrid/SettingsGrid.js
  src/components/SettingsGrid/settingsGrid.scss
  src/components/index.js
  src/routes/Settings/SettingsIndexView.js
  src/routes/Settings/SettingsIndexViewContainer.js
  src/routes/Settings/routes/index.js
  src/routes/Settings/settingsView.scss
  src/routes/modules/settings.js
  src/store/reducers.js
  src/store/selectors/settings.js
  src/store/selectors/wallets.js
  src/utils/index.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

WEB-9 Reduce the chain of function calling
  src/routes/Settings/SettingsIndexView.js
Due: ./node_modules/.bin/eslint

WEB-7 Formatters are moved to the their own file
  src/routes/Settings/SettingsIndexView.js
  src/routes/Settings/utils/formatters.js
  src/routes/Settings/utils/index.js
Due: ./node_modules/.bin/eslint

WEB-7 declaration file was updated
  src/routes/Settings/SettingsIndexView.js
  src/routes/Settings/utils/index.js
Due: ./node_modules/.bin/eslint

fix flowtype issues
  src/routes/DigitalAssets/modules/digitalAssets.js
  src/store/selectors/digitalAssets.js
Due: ./node_modules/.bin/eslint

new password step component
  src/components/PasswordStep/PasswordStep.js
  src/components/PasswordStep/index.js
Due: ./node_modules/.bin/eslint

package-lock.json
  package-lock.json
Due: none

digital assets send
  flow-typed/redux/appState.js
  flow-typed/redux/digitalAssets.js
  src/routes/DigitalAssets/digitalAssets.scss
  src/routes/DigitalAssets/index.js
  src/routes/DigitalAssets/routes/Send/DigitalAssetsSendConfirmView.js
  src/routes/DigitalAssets/routes/Send/DigitalAssetsSendViewContainer.js
  src/routes/DigitalAssets/routes/Send/digitalAssetsSendView.scss
  src/routes/DigitalAssets/routes/Send/index.js
  src/routes/DigitalAssets/routes/Send/modules/digitalAssetsSend.js
  src/routes/DigitalAssets/routes/Send/modules/digitalAssetsSendConfirm.js
  src/routes/DigitalAssets/routes/Send/sagas/digitalAssetsSend.js
  src/routes/DigitalAssets/routes/Send/sagas/digitalAssetsSendConfirm.js
  src/routes/DigitalAssets/sagas/index.js
  src/store/reducers.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

delete deprecated utils/keystore
  src/utils/index.js
  src/utils/keystore/checkKnownPath.js
  src/utils/keystore/checkMnemonicType.js
  src/utils/keystore/checkWalletReadOnly.js
  src/utils/keystore/getKnownDerivationPaths.js
  src/utils/keystore/getWalletNameAndAddress.js
  src/utils/keystore/index.js
  src/utils/keystore/testKeystorePassword.js
Due: ./node_modules/.bin/eslint

WEB-7. `SettingsState` structure was refactored, unnecessary fields were removed, settings reducers file was moved to module directory for consistent structure of project directories.
  flow-typed/redux/settings.js
  flow-typed/types.js
  src/routes/Settings/SettingsIndexView.js
  src/routes/Settings/SettingsIndexViewContainer.js
  src/routes/Settings/modules/settings.js
  src/routes/modules/settings.js
  src/store/reducers.js
Due: ./node_modules/.bin/eslint

getPrivateKey method
  src/routes/Wallets/modules/wallets.js
  src/routes/Wallets/sagas/index.js
  src/routes/Wallets/sagas/wallets.js
  src/services/keystore.js
  src/workers/wallets/worker.js
  src/workers/wallets/wrapper.js
Due: ./node_modules/.bin/eslint

Set up simple smoke testing
  .idea/jsLibraryMappings.xml
  .idea/jwallet-web.iml
  package-lock.json
  package.json
  tests/initial-load.spec.js
  wdio.conf.js
Due: ./node_modules/.bin/eslint

Add test shorthand command
  package.json
Due: none

Add testing doc
  docs/.gitignore
  docs/testing.md
  package.json
  wdio.conf.js
Due: ./node_modules/.bin/eslint

Add doc for reports dir
  docs/testing.md
Due: none

Migrate from clear script to rimraf
  .buildscripts/clear.js
  .flow-coverage-report.json
  .idea/jwallet-web.iml
  package.json
  webpack.config.js
Due: ./node_modules/.bin/eslint

Fix npm call in Dockerfile
  Dockerfile
Due: none

WEB-7 Getting data of wallet and network from the storage was refactored
  src/components/SettingsGrid/SettingsGrid.js
  src/data/settings/currenсies.js
  src/data/settings/index.js
  src/data/settings/languages.js
  src/routes/Settings/SettingsIndexView.js
  src/routes/Settings/SettingsIndexViewContainer.js
  src/routes/Settings/utils/formatters.js
  src/routes/Settings/utils/index.js
  src/store/selectors/networks.js
Due: ./node_modules/.bin/eslint

WEB-7 formatters from settings utils were divided
  src/routes/Settings/utils/formatBoolean.js
  src/routes/Settings/utils/formatCurrency.js
  src/routes/Settings/utils/formatLanguage.js
  src/routes/Settings/utils/formatters.js
  src/routes/Settings/utils/index.js
Due: ./node_modules/.bin/eslint

Add jest test runner
  .idea/jwallet-web.iml
  jest.config.js
  jest.config.json
  package-lock.json
  package.json
  src/components/base/JText/tests/JText.test.js
Due: ./node_modules/.bin/eslint

WEB-7 Component `SettingsCard` was renamed to `SettingsGridCard` in accordingly of naming convention
  src/components/SettingsGrid/Card/index.js
  src/components/SettingsGrid/SettingsGrid.js
  src/components/SettingsGrid/SettingsGridCard/SettingsGridCard.js
  src/components/SettingsGrid/SettingsGridCard/index.js
  src/components/SettingsGrid/SettingsGridCard/settingsGridCard.scss
  src/components/SettingsGrid/index.js
  src/components/index.js
  src/routes/Settings/SettingsIndexView.js
  src/styles/core.scss
  stories/components/SettingsCard.stories.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Remove GTM & Yandex, add Google Analytics
  env/development
  env/production
  src/public/index.html
  webpack.config.js
Due: ./node_modules/.bin/eslint

WEB-7 Supporting of two modes in SettingsGridCard was added, now it support external links too
  .idea/codeStyles/Project.xml
  src/components/SettingsGrid/SettingsGridCard/SettingsGridCard.js
  stories/components/SettingsCard.stories.js
Due: ./node_modules/.bin/eslint

bignumber types
  flow-typed/npm/bignumber.js_v7.x.x.js
Due: ./node_modules/.bin/eslint

update transactions types
  flow-typed/redux/transactions.js
Due: ./node_modules/.bin/eslint

update scheduler types
  flow-typed/scheduler.js
Due: ./node_modules/.bin/eslint

add icon for contract address in transaction info
  src/components/base/JIcon/JIcon.js
  src/components/base/JIcon/jIcon.scss
  src/styles/icons.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

update components for transactions
  src/components/TransactionItem/Details/Details.js
  src/components/TransactionItem/Details/details.scss
  src/components/TransactionItem/Main/Main.js
  src/components/TransactionItem/Main/main.scss
  src/components/TransactionItem/TransactionItem.js
  src/components/TransactionsList/TransactionsList.js
  src/components/TransactionsList/transactionsList.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

update transactions routes
  src/routes/Transactions/TransactionsIndexView.js
  src/routes/Transactions/TransactionsIndexViewContainer.js
  src/routes/Transactions/routes/Asset/TransactionsAssetView.js
  src/routes/Transactions/routes/Asset/TransactionsAssetViewContainer.js
Due: ./node_modules/.bin/eslint

update menu layout
  src/layouts/MenuLayout/menuLayout.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Add Android and iOS browsers
  wdio.conf.js
Due: ./node_modules/.bin/eslint

Path conditions:
  ./node_modules/.bin/eslint: any of: *.js
  ./node_modules/.bin/stylelint --syntax=scss: any of: *.scss
  node_modules/**: any of: ignore
  build/**: any of: ignore
  test/**: any of: ignore
  src/public/**: any of: ignore
