Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss, node_modules/**, build/**, test/**, src/public/**

.lintstagedrc:

{
  "*.js": "./node_modules/.bin/eslint",
  "*.scss": "./node_modules/.bin/stylelint --syntax=scss",
  "ignore": [
    "node_modules/**",
    "build/**",
    "test/**",
    "src/public/**"
  ]
}

add asset send confirm crd
  src/components/DigitalAssetSendConfirm/Card/DigitalAssetSendConfirmCard.js
  src/components/DigitalAssetSendConfirm/Card/digitalAssetSendConfirmCard.scss
  src/components/DigitalAssetSendConfirm/PasswordForm/digitalAssetSendPasswordForm.scss
  src/components/DigitalAssetSendConfirm/digitalAssetSendConfirm.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

BN fix
  src/utils/numbers/bigNumber.js
  src/utils/numbers/index.js
Due: ./node_modules/.bin/eslint

add more sizes for JText
  src/components/base/JText/JText.js
  src/components/base/JText/jText.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

send asset business logic
  src/routes/DigitalAssets/routes/Send/sagas/digitalAssetsSend.js
Due: ./node_modules/.bin/eslint

Add new favicons
  src/public/assets/favicon/android-chrome-192x192.png
  src/public/assets/favicon/android-chrome-256x256.png
  src/public/assets/favicon/android-chrome-512x512.png
  src/public/assets/favicon/apple-touch-icon.png
  src/public/assets/favicon/browserconfig.xml
  src/public/assets/favicon/favicon-16x16.png
  src/public/assets/favicon/favicon-32x32.png
  src/public/assets/favicon/favicon.ico
  src/public/assets/favicon/manifest.json
  src/public/assets/favicon/mstile-150x150.png
  src/public/assets/favicon/safari-pinned-tab.svg
  src/public/index.html
Due: none

WEB-7 Additional meta search tags were added to searching of each settings item for better UX
  .idea/jwallet-web.iml
  src/components/SettingsGrid/SettingsGridCard/SettingsGridCard.js
  src/components/SettingsGrid/SettingsGridCard/index.js
  src/routes/Settings/SettingsIndexView.js
  src/utils/formatters/formatCurrency.js
  src/utils/formatters/formatLanguage.js
Due: ./node_modules/.bin/eslint

WEB-7 Search pattern was improved
  src/routes/Settings/SettingsIndexView.js
Due: ./node_modules/.bin/eslint

update asset picker component
  src/components/AssetPicker/Current/AssetPickerCurrent.js
  src/components/AssetPicker/Current/assetPickerCurrent.scss
  src/components/AssetPicker/Item/AssetPickerItem.js
  src/components/AssetPicker/Item/assetPickerItem.scss
  src/components/DigitalAssetSendForm/DigitalAssetSendForm.js
  src/components/base/JIcon/jIcon.scss
  src/components/base/JSelect/Item/item.scss
  src/components/base/JSelect/JSelect.js
  src/components/base/JSelect/jSelect.scss
  src/styles/colors.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

-console.log
  src/routes/DigitalAssets/routes/Send/DigitalAssetsSendViewContainer.js
Due: ./node_modules/.bin/eslint

fix jselect overlap
  src/components/base/JSelect/jSelect.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

fix bug with recursive fetching of transactions
  src/routes/Transactions/TransactionsIndexViewContainer.js
  src/routes/Transactions/routes/Asset/TransactionsAssetView.js
  src/routes/Transactions/routes/Asset/TransactionsAssetViewContainer.js
  src/routes/sagas/transactions.js
  src/utils/transactions/filterLoadingTransactions.js
  src/utils/transactions/index.js
Due: ./node_modules/.bin/eslint

uncomment changes in blocks
  src/routes/sagas/blocks.js
Due: ./node_modules/.bin/eslint

remove unused from .flowconfig
  .flowconfig
Due: none

remove garbage
  .favorites.json
Due: none

sync with the new web3js
  src/routes/DigitalAssets/routes/Send/sagas/digitalAssetsSend.js
  src/services/web3.js
Due: ./node_modules/.bin/eslint

add nonce field
  src/components/DigitalAssetSendForm/DigitalAssetSendForm.js
Due: ./node_modules/.bin/eslint

Fix big number patch
  src/utils/numbers/index.js
Due: ./node_modules/.bin/eslint

remove useless console.log call
  src/components/TransactionsList/TransactionsList.js
Due: ./node_modules/.bin/eslint

add some assets in main list
  src/data/assets/main.js
Due: ./node_modules/.bin/eslint

fix flattenTransaction utils method
  src/utils/transactions/flattenTransactions.js
Due: ./node_modules/.bin/eslint

Activate send assset button on MenuPanel
  src/components/MenuPanel/MainAction/MainAction.js
  src/components/MenuPanel/MenuPanel.js
  src/layouts/MenuLayout/MenuLayout.js
  src/layouts/MenuLayout/MenuLayoutContainer.js
Due: ./node_modules/.bin/eslint

add balances
  src/components/DigitalAssetSendForm/DigitalAssetSendForm.js
  src/routes/DigitalAssets/routes/Send/DigitalAssetsSendViewContainer.js
  src/services/web3.js
Due: ./node_modules/.bin/eslint

gasLimit
  src/routes/DigitalAssets/routes/Send/sagas/digitalAssetsSend.js
Due: ./node_modules/.bin/eslint

https -> http for etherscan
  src/services/blockExplorer.js
Due: ./node_modules/.bin/eslint

WEB-7 Typo was fixed
  src/routes/Settings/SettingsIndexView.js
Due: ./node_modules/.bin/eslint

One more typo fix
  src/routes/Settings/SettingsIndexView.js
Due: ./node_modules/.bin/eslint

minor fix
  src/services/blockExplorer.js
Due: ./node_modules/.bin/eslint

update block explorer link
  flow-typed/redux/networks.js
  src/routes/modules/networks.js
Due: ./node_modules/.bin/eslint

Fixing height the chain of wrappers
  src/layouts/CoreLayout/coreLayout.scss
  src/styles/core.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Initial commit of layout for sub settings pages with closeable screens
  src/layouts/SubsettingsLayout/SubsettingsLayout.js
  src/layouts/SubsettingsLayout/SubsettingsLayoutContainer.js
  src/layouts/SubsettingsLayout/index.js
  src/layouts/SubsettingsLayout/subsettingsLayout.scss
  src/layouts/index.js
  src/styles/core.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Order of properties were fixed
  src/layouts/SubsettingsLayout/subsettingsLayout.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Security password initial commit
  src/routes/Settings/index.js
  src/routes/Settings/routes/SecurityPassword/SecurityPassword.js
  src/routes/Settings/routes/SecurityPassword/index.js
Due: ./node_modules/.bin/eslint

Path to layout scss file was fixed in core.scss
  src/layouts/SubsettingsLayout/SubsettingsLayout.js
  src/styles/core.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Subsettings component was moved to Settings namespace
  src/layouts/SubsettingsLayout/SubsettingsLayout.js
  src/layouts/SubsettingsLayout/index.js
  src/layouts/index.js
  src/routes/Settings/components/SubsettingsView/SubsettingsView.js
  src/routes/Settings/components/SubsettingsView/SubsettingsViewContainer.js
  src/routes/Settings/components/SubsettingsView/index.js
  src/routes/Settings/components/SubsettingsView/subsettingsView.scss
  src/routes/Settings/components/index.js
  src/routes/Settings/routes/SecurityPassword/SecurityPassword.js
  src/styles/core.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

add resyncTransactionsTimeout config option
  flow-typed/config.js
  src/config.js
Due: ./node_modules/.bin/eslint

add etherscan main network api endpoint workaround
  src/services/blockExplorer.js
Due: ./node_modules/.bin/eslint

add ability to include loading transactions for flattenTransactions util method
  src/utils/transactions/flattenTransactions.js
Due: ./node_modules/.bin/eslint

update logic of transactions resyncing
  src/routes/modules/transactions.js
  src/routes/sagas/blocks.js
  src/routes/sagas/transactions.js
Due: ./node_modules/.bin/eslint

persist blocks, balances and transactions
  src/store/reducers.js
Due: ./node_modules/.bin/eslint

remove useless console calls
  src/routes/sagas/transactions.js
Due: ./node_modules/.bin/eslint
