Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss, node_modules/**, build/**, test/**, src/public/**

.lintstagedrc:

{
  "*.js": "./node_modules/.bin/eslint",
  "*.scss": "./node_modules/.bin/stylelint --syntax=scss",
  "ignore": [
    "node_modules/**",
    "build/**",
    "test/**",
    "src/public/**"
  ]
}

Rename agreementsView.m.scss
  src/routes/Agreements/agreementsView.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Fix storybook build
  src/components/base/JIcon/JIcon.stories.js
Due: ./node_modules/.bin/eslint

JWWEB-733: Add transfer buttons to home screen
  src/pages/DigitalAssets/digitalAssets.scss
  src/pages/DigitalAssets/index.js
  src/pages/DigitalAssets/routes/Grid/digitalAssetsGridView.scss
  src/pages/DigitalAssets/routes/Grid/index.js
  src/pages/Home/Home.js
  src/pages/Home/HomeTemplate.js
  src/pages/Home/home.m.scss
  src/pages/index.js
  src/public/assets/icons/sprite-pack/home-exchange-use-fill.svg
  src/public/assets/icons/sprite-pack/home-receive-use-fill.svg
  src/public/assets/icons/sprite-pack/home-send-use-fill.svg
  src/styles/colors.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Rename style -> homeStyle
  src/pages/Home/HomeTemplate.js
Due: ./node_modules/.bin/eslint

Rename classname home -> core
  src/pages/Home/HomeTemplate.js
  src/pages/Home/home.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Rename transfer-prefixed classes
  src/pages/Home/HomeTemplate.js
  src/pages/Home/home.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix imports
  src/pages/Home/Home.js
  src/pages/Home/HomeTemplate.js
Due: ./node_modules/.bin/eslint

Rename HomeTemplate to HomeView
  src/pages/Home/Home.js
  src/pages/Home/HomeView.js
Due: ./node_modules/.bin/eslint

JWWEB-747: Add global error handler
  src/AppRouter.js
  src/pages/ErrorUnexpected/ErrorUnexpected.js
  src/pages/ErrorUnexpected/errorUnexpected.m.scss
  src/public/assets/icons/sprite-pack/ic_attention_48-use-fill.svg
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-747: Fix translation
  src/data/lang/en.po
  src/pages/ErrorUnexpected/ErrorUnexpected.js
Due: ./node_modules/.bin/eslint

Eslint fix on save in webstorm
  .idea/watcherTasks.xml
Due: none

Merge with develop
  src/components/base/JInput/JInputField.js
Due: ./node_modules/.bin/eslint

Update send asset form
  src/components/base/JInput/JInputField.js
  src/components/base/JInput/index.js
  src/components/base/index.js
  src/pages/Send/Send.js
  src/pages/Send/SendContainer.js
  src/pages/Send/components/ErrorMessage/ErrorMessage.js
  src/pages/Send/components/ErrorMessage/errorMessage.m.scss
  src/pages/Send/components/FirstStepForm/FirstStepForm.js
  src/pages/Send/components/FirstStepForm/firstStepForm.m.scss
  src/pages/Send/components/PasswordStepForm/PasswordStepForm.js
  src/pages/Send/components/PasswordStepForm/PasswordStepFormContainer.js
  src/pages/Send/components/index.js
  src/pages/Send/send.m.scss
  src/pages/index.js
  src/routes/DigitalAssets/routes/SendWizard/components/HeaderPanel/HeaderPanel.js
  src/routes/DigitalAssets/routes/SendWizard/components/HeaderPanel/headerPanel.m.scss
  src/routes/DigitalAssets/routes/SendWizard/index.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Remove old JInputField
  src/pages/Settings/routes/PaymentPassword/PaymentPasswordView.js
  src/pages/Upgrade/UpgradeView.js
Due: ./node_modules/.bin/eslint

Remove old module
  src/pages/Send/components/index.js
Due: ./node_modules/.bin/eslint

Fix form
  src/pages/Send/components/FirstStepForm/FirstStepForm.js
Due: ./node_modules/.bin/eslint

JWWEB-734 Create New Digital Asset Card implementation
  src/components/AssetItemNew/AssetItem.js
  src/components/AssetItemNew/assetItem.m.scss
  src/store/selectors/balances.js
  src/styles/_base.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-629: Add browserslist config
  README.md
  config/wdio/browserstack.conf.js
  package.json
  webpack.config.js
Due: ./node_modules/.bin/eslint

JWWEB-735 init commit Digital Assets List
  flow-typed/redux/digitalAssets.js
  src/components/DigitalAssetsGrid/DigitalAssetsGrid.js
  src/pages/DigitalAssets/routes/Grid/DigitalAssetsGridView.js
  src/pages/DigitalAssets/routes/Grid/DigitalAssetsGridViewContainer.js
  src/store/modules/digitalAssets.js
Due: ./node_modules/.bin/eslint

JWWEB-732 Optimize prepared transactions transformation, fix code style issues
  src/components/TransactionItemNew/TransactionItem.js
  src/components/TransactionItemNew/transactionsIndex.js
  src/components/base/JIcon/JIcon.js
  src/store/selectors/transactions.js
Due: ./node_modules/.bin/eslint

JWWEB-732 Remove unused argument of function
  src/components/TransactionItemNew/transactionsIndex.js
Due: ./node_modules/.bin/eslint

Fix jasmine timeout for functional tests development
  config/wdio/base.conf.js
Due: ./node_modules/.bin/eslint

Add functions to import and create IDB snapshots
  tests/utils/confirmAllAgreements.js
  tests/utils/downloadDBSnapshot.client.js
  tests/utils/uploadDBSnapshot.client.js
  tests/utils/uploadDBSnapshot.js
Due: ./node_modules/.bin/eslint

JWWEB-734 Add JShimmer for balance of assets, refactor new AssetItem properties resolving for reduce render of component
  src/components/AssetItemNew/AssetItem.js
  src/components/AssetItemNew/assetItem.m.scss
  src/components/base/JShimmer/JShimmer.js
  src/components/base/JShimmer/jShimmer.m.scss
  src/components/base/index.js
  src/components/index.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Update react-redux to stable version
  .idea/watcherTasks.xml
  package.json
Due: none

JWWEB-735 Change active list of assets to list of addresses
  .idea/watcherTasks.xml
  flow-typed/redux/digitalAssets.js
  src/components/DigitalAssetsGrid/DigitalAssetsGrid.js
  src/store/modules/digitalAssets.js
Due: ./node_modules/.bin/eslint

JWWEB-734 Add fiat balances to new digital asset cards
  src/components/AssetItemNew/AssetItem.js
  src/components/AssetItemNew/assetItem.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-747: Remove error on route change
  src/AppRouter.js
Due: ./node_modules/.bin/eslint

JWWEB-734 Updated getting fiat balance for assets
  src/components/AssetItemNew/AssetItem.js
  src/layouts/MenuLayout/MenuLayoutContainer.js
  src/store/utils/getFiatBalances.js
Due: ./node_modules/.bin/eslint

Update view for digital assets without icon
  src/components/base/JAssetSymbol/JAssetSymbol.js
  src/components/base/JAssetSymbol/jAssetSymbol.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Remove babel
  config/wdio/base.conf.js
Due: ./node_modules/.bin/eslint

JWWEB-736 Add stories for transaction item, styles fixes
  src/components/TransactionItemNew/TransactionItem.js
  src/components/TransactionItemNew/TransactionsItem.stories.js
  src/components/TransactionItemNew/transactionItem.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-736 Added margin for text block
  src/components/TransactionItemNew/transactionItem.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Fix MenuLayout merge errors
  src/layouts/MenuLayout/MenuLayout.js
  src/layouts/MenuLayout/components/MenuPanel/components/Action.js
  src/layouts/MenuLayout/components/MenuPanel/menuPanel.m.scss
  src/layouts/MenuLayout/menuLayout.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Rename PasswordField -> NewPasswordField
  src/components/NewPasswordField/NewPasswordField.js
  src/components/NewPasswordField/NewPasswordField.stories.js
  src/components/NewPasswordField/components/Indicator.js
  src/components/NewPasswordField/components/indicator.m.scss
  src/components/NewPasswordField/components/tests/Indicator.test.js
  src/components/NewPasswordField/newPasswordField.m.scss
  src/components/NewPasswordField/tests/NewPasswordField.test.js
  src/components/WalletPasswordStep/WalletPasswordStep.js
  src/components/index.js
  src/pages/SetPassword/SetPasswordView.js
  src/pages/Settings/routes/PaymentPassword/PaymentPasswordView.js
  src/pages/Upgrade/UpgradeView.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Update routeName management in MenuLayout
  src/AppRouter.js
  src/layouts/MenuLayout/MenuLayout.js
  src/layouts/MenuLayout/MenuLayoutContainer.js
Due: ./node_modules/.bin/eslint

Fix JIcon
  src/components/base/JIcon/JIcon.js
Due: ./node_modules/.bin/eslint

Add first part of tests
  .idea/runConfigurations/Run_all_tests_on_local_browser.xml
  tests/initial-load.spec.js
  tests/pageObject/createPage.page.js
  tests/pageObject/importPage.js
  tests/pageObject/loginTermsPage.page.js
  tests/pageObject/page.page.js
  tests/pageObject/startPage.page.js
  tests/specs/T433--TermsAndConditionsPage-AcceptAndContinue.spec.js
  tests/specs/T452--TermsAndConditionsPage-PageChecks.spec.js
  tests/specs/T453--CreateWallet-PageChecks-MainPage.spec.js
  tests/specs/T455--CreateWallet-PageChecks-SetSecurityPassword.spec.js
  tests/specs/T457--ImportWallet-PageChecks.spec.js
  tests/specs/T476--StartPage-PageChecks.spec.js
  wdio.conf.js
Due: ./node_modules/.bin/eslint

Add prettier config for tests only
  .prettierignore
  package.json
  tests/.prettierrc
Due: none

Remove min width for tablets support
  src/styles/_base.scss
  src/styles/core.scss
Due: ./node_modules/.bin/stylelint --syntax=scss
