Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss, node_modules/**, build/**, test/**, src/public/**

.lintstagedrc:

{
  "*.js": "./node_modules/.bin/eslint",
  "*.scss": "./node_modules/.bin/stylelint --syntax=scss",
  "ignore": [
    "node_modules/**",
    "build/**",
    "test/**",
    "src/public/**"
  ]
}

Fix cursor pointer at asset-item element
  src/components/AssetItem/assetItem.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Fix name component
  src/components/TransactionsFilter/TransactionsFilter.js
  src/components/TransactionsFilter/transactionsFilter.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Styles sorting
  src/components/DigitalAssetsGrid/Empty/empty.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

remove unused code
  src/routes/Transactions/components/TransactionsByPeriod.js
  src/routes/Transactions/styles/transactionsByPeriod.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

fix TransactionsFilter
  src/components/TransactionsFilter/TransactionsFilter.js
  src/components/TransactionsFilter/transactionsFilter.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

update JSearch
  src/components/base/JSearch/JSearch.js
  src/config.js
  src/routes/DigitalAssets/routes/Grid/DigitalAssetsGridView.js
Due: ./node_modules/.bin/eslint

delete custom asset code clean
  src/routes/DigitalAssets/modules/digitalAssets.js
  src/routes/DigitalAssets/modules/index.js
  src/routes/DigitalAssets/routes/AddAsset/sagas/addAsset.js
  src/routes/DigitalAssets/routes/Manage/DigitalAssetsManageViewContainer.js
  src/routes/DigitalAssets/sagas/digitalAssets.js
Due: ./node_modules/.bin/eslint

update transactions view
  flow-typed/redux/transactions.js
  src/components/TransactionsList/transactionsList.scss
  src/components/base/JSearch/JSearch.js
  src/routes/Transactions/TransactionsIndexView.js
  src/routes/Transactions/TransactionsIndexViewContainer.js
  src/routes/Transactions/transactionsView.scss
  src/routes/modules/transactions.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

removed success methods
  src/routes/DigitalAssets/modules/digitalAssets.js
  src/routes/DigitalAssets/modules/index.js
  src/routes/DigitalAssets/routes/AddAsset/sagas/addAsset.js
  src/routes/DigitalAssets/sagas/digitalAssets.js
Due: ./node_modules/.bin/eslint

update JRadio
  src/components/base/JRadio/JRadio.js
  src/components/base/JRadio/jRadio.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

update MenuPanel
  src/components/MenuPanel/MenuPanel.js
  src/components/MenuPanel/WalletManager/Details/Addresses/Addresses.js
  src/components/MenuPanel/WalletManager/Details/Addresses/Item/Item.js
  src/components/MenuPanel/WalletManager/Details/Details.js
  src/components/MenuPanel/WalletManager/WalletManager.js
Due: ./node_modules/.bin/eslint

update keystore service (updateWallet method)
  src/services/keystore.js
Due: ./node_modules/.bin/eslint

update MenuLayout
  flow-typed/types.js
  src/layouts/MenuLayout/MenuLayout.js
  src/layouts/MenuLayout/MenuLayoutContainer.js
Due: ./node_modules/.bin/eslint

Update .gitignore
  .gitignore
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/jsLibraryMappings.xml
  .idea/jwallet-web.iml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  .idea/webResources.xml
Due: none

JWWED-232 SettingsCard component was implemented; Stories with SettingsCard were added to storybook.
  src/components/SettingsCard/SettingsCard.js
  src/components/SettingsCard/index.js
  src/components/SettingsCard/settingsCard.scss
  src/components/base/JIcon/JIcon.js
  src/components/base/JText/JText.js
  src/components/base/JText/jText.scss
  src/styles/core.scss
  stories/components/SettingsCard.stories.js
  stories/components/index.js
  stories/styles.css
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

fix JSearch usage
  src/routes/DigitalAssets/routes/Manage/DigitalAssetsManageView.js
Due: ./node_modules/.bin/eslint

include core sagas
  src/store/sagas.js
Due: ./node_modules/.bin/eslint

JWWEB-225 Implement TransactionItem component
  package-lock.json
  src/components/TransactionItem/Details/Details.js
  src/components/TransactionItem/Details/Message/Message.js
  src/components/TransactionItem/Details/Message/index.js
  src/components/TransactionItem/Details/Message/message.scss
  src/components/TransactionItem/Details/details.scss
  src/components/TransactionItem/Details/index.js
  src/components/TransactionItem/Main/Main.js
  src/components/TransactionItem/Main/index.js
  src/components/TransactionItem/Main/main.scss
  src/components/TransactionItem/TransactionItem.js
  src/components/TransactionItem/transactionItem.scss
  src/components/TransactionsList/TransactionsList.js
  src/components/TransactionsList/transactionsList.scss
  src/components/base/JIcon/jIcon.scss
  src/public/assets/icons/new-pack/medium/message-gray.svg
  src/public/assets/icons/new-pack/medium/repeat-gray.svg
  src/routes/Transactions/TransactionsIndexView.js
  src/routes/Transactions/TransactionsIndexViewContainer.js
  src/routes/Transactions/transactionsView.scss
  src/styles/_base.scss
  src/styles/icons.scss
  stories/components/TransactionsItem.stories.js
  stories/components/base/JIcon.stories.js
  stories/components/index.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

fixed fkiwtype connect issues
  flow-typed/types.js
  src/layouts/WalletsLayout/WalletsLayoutContainer.js
  src/routes/NotFound/NotFoundView.js
  src/routes/NotFound/NotFoundViewContainer.js
  src/routes/Terms/TermsViewContainer.js
  src/routes/Wallets/WalletsIndexViewContainer.js
  src/routes/Wallets/routes/Addresses/WalletsAddressesView.js
  src/routes/Wallets/routes/Addresses/WalletsAddressesViewContainer.js
  src/routes/Wallets/routes/Addresses/modules/walletsAddresses.js
  src/routes/Wallets/routes/Backup/WalletsBackupView.js
  src/routes/Wallets/routes/Backup/WalletsBackupViewContainer.js
  src/routes/Wallets/routes/Create/WalletsCreateViewContainer.js
  src/routes/Wallets/routes/Delete/WalletsDeleteViewContainer.js
  src/routes/Wallets/routes/Import/WalletsImportViewContainer.js
  src/routes/Wallets/routes/Rename/WalletsRenameViewContainer.js
  src/routes/Wallets/routes/RenameAddress/WalletsRenameAddressViewContainer.js
  src/routes/Wallets/routes/Start/WalletsStartViewContainer.js
  src/routes/index.js
Due: ./node_modules/.bin/eslint

Temporary solution for displaying a message
  src/components/TransactionItem/Main/Main.js
Due: ./node_modules/.bin/eslint

Fix mistakes
  src/components/TransactionItem/Details/Comment/Comment.js
  src/components/TransactionItem/Details/Comment/comment.scss
  src/components/TransactionItem/Details/Comment/index.js
  src/components/TransactionItem/Details/Details.js
  src/components/TransactionItem/Details/Message/index.js
  src/components/TransactionItem/Details/details.scss
  src/components/TransactionItem/Main/Main.js
  src/components/TransactionItem/TransactionItem.js
  src/components/TransactionsList/TransactionsList.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

renaname stateSelectors to selectors, small fix
  flow-typed/components.js
  flow-typed/redux/blocks.js
  src/components/SettingsCard/SettingsCard.js
  src/routes/DigitalAssets/routes/AddAsset/AddAssetContainer.js
  src/routes/DigitalAssets/routes/AddAsset/sagas/addAsset.js
  src/routes/DigitalAssets/routes/EditAsset/EditAssetContainer.js
  src/routes/DigitalAssets/routes/EditAsset/sagas/editAsset.js
  src/routes/DigitalAssets/routes/Grid/DigitalAssetsGridView.js
  src/routes/DigitalAssets/routes/Grid/sagas/digitalAssetsGrid.js
  src/routes/DigitalAssets/sagas/digitalAssets.js
  src/routes/NotFound/sagas/notFound.js
  src/routes/Terms/sagas/terms.js
  src/routes/sagas/balances.js
  src/routes/sagas/blocks.js
  src/store/selectors/digitalAssets.js
  src/store/stateSelectors.js
Due: ./node_modules/.bin/eslint

balances fixed
  flow-typed/components.js
  flow-typed/redux/balances.js
  src/components/AssetBalance/AssetBalance.js
  src/routes/DigitalAssets/routes/EditAsset/EditAssetView.js
  src/routes/DigitalAssets/routes/Grid/DigitalAssetsGridViewContainer.js
  src/routes/DigitalAssets/routes/Manage/DigitalAssetsManageViewContainer.js
  src/routes/sagas/blocks.js
  src/routes/sagas/index.js
  src/routes/sagas/transactions.js
  src/store/sagas.js
Due: ./node_modules/.bin/eslint

remove ExtractReturn2
  flow-typed/helpers.js
Due: ./node_modules/.bin/eslint

update transactions utils
  src/utils/transactions/filterFoundTransactions.js
  src/utils/transactions/filterTransactions.js
  src/utils/transactions/index.js
  src/utils/transactions/searchTransactions.js
Due: ./node_modules/.bin/eslint

update DigitalAssetsGrid
  src/components/DigitalAssetsGrid/Asset/AssetCardBody/AssetCardBody.js
  src/components/DigitalAssetsGrid/DigitalAssetsGrid.js
  src/components/DigitalAssetsGrid/Empty/Empty.js
  src/components/DigitalAssetsGrid/Empty/empty.scss
  src/components/DigitalAssetsGrid/Empty/index.js
  src/components/DigitalAssetsGrid/digitalAssetsGrid.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

update TransactionsList
  src/components/TransactionsList/Empty/Empty.js
  src/components/TransactionsList/Empty/empty.scss
  src/components/TransactionsList/TransactionsList.js
  src/components/TransactionsList/transactionsList.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

add OverlayNotification
  src/components/OverlayNotification/OverlayNotification.js
  src/components/OverlayNotification/index.js
  src/components/OverlayNotification/overlayNotification.scss
  src/styles/core.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

update <Link> support in JFlatButton
  src/components/base/JFlatButton/JFlatButton.js
Due: ./node_modules/.bin/eslint

add size prop value for tab in JText
  src/components/base/JText/JText.js
  src/components/base/JText/jText.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

update JThumbnail
  src/components/base/JThumbnail/JThumbnail.js
  src/components/index.js
Due: ./node_modules/.bin/eslint

update transactions routes
  src/routes/Transactions/TransactionsIndexView.js
  src/routes/Transactions/TransactionsIndexViewContainer.js
  src/routes/Transactions/modules/index.js
  src/routes/Transactions/modules/transactions.js
  src/routes/Transactions/routes/Asset/TransactionsAssetView.js
  src/routes/Transactions/routes/Asset/TransactionsAssetViewContainer.js
  src/routes/Transactions/routes/Asset/index.js
  src/routes/Transactions/routes/Asset/modules/index.js
  src/routes/Transactions/routes/Asset/modules/transactionsAsset.js
  src/routes/Transactions/routes/Asset/sagas/index.js
  src/routes/Transactions/routes/Asset/sagas/transactionsAsset.js
  src/routes/Transactions/sagas/index.js
  src/routes/Transactions/sagas/transactions.js
Due: ./node_modules/.bin/eslint

Add transactions utils
  src/components/TransactionItem/Details/Details.js
  src/components/TransactionItem/Details/details.scss
  src/components/TransactionItem/Main/Main.js
  src/components/TransactionItem/TransactionItem.js
  src/components/TransactionsList/TransactionsList.js
  src/config.js
  src/routes/Transactions/TransactionsIndexView.js
  src/routes/Transactions/TransactionsIndexViewContainer.js
  src/utils/transactions/getTxAmount.js
  src/utils/transactions/getTxFee.js
  src/utils/transactions/getTxLink.js
  src/utils/transactions/index.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Add getAddressLink
  src/components/TransactionItem/Details/Details.js
  src/components/TransactionItem/Main/Main.js
  src/utils/transactions/getAddressLink.js
  src/utils/transactions/index.js
Due: ./node_modules/.bin/eslint

remove deprecated AssetPicker component
  src/components/AssetPicker/AssetPicker.js
  src/components/AssetPicker/AssetPickerContainer.js
  src/components/AssetPicker/Current/AssetPickerCurrent.js
  src/components/AssetPicker/Current/assetPickerCurrent.scss
  src/components/AssetPicker/Current/index.js
  src/components/AssetPicker/Item/AssetPickerItem.js
  src/components/AssetPicker/Item/assetPickerItem.scss
  src/components/AssetPicker/Item/index.js
  src/components/AssetPicker/assetPicker.scss
  src/components/AssetPicker/index.js
  src/styles/core.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

update transactions components & views
  flow-typed/types.js
  src/components/AssetBalance/AssetBalance.js
  src/components/TransactionItem/Details/Comment/Comment.js
  src/components/TransactionItem/Main/Main.js
  src/components/TransactionsList/TransactionsList.js
  src/routes/DigitalAssets/routes/Grid/DigitalAssetsGridViewContainer.js
  src/routes/DigitalAssets/routes/Manage/DigitalAssetsManageViewContainer.js
  src/routes/Transactions/routes/Asset/TransactionsAssetView.js
  src/routes/Transactions/routes/Asset/TransactionsAssetViewContainer.js
  src/routes/sagas/balances.js
  src/routes/sagas/blocks.js
  src/store/stateSelectors.js
  src/utils/numbers/divDecimals.js
  src/utils/numbers/index.js
Due: ./node_modules/.bin/eslint

Fix getAddressLink
  src/components/TransactionItem/Details/Details.js
  src/components/TransactionItem/Main/Main.js
  src/utils/transactions/getAddressLink.js
Due: ./node_modules/.bin/eslint

Send asset icon added
  src/components/base/JIcon/jIcon.scss
  src/routes/Transactions/routes/Asset/TransactionsAssetView.js
  src/routes/Transactions/transactionsView.scss
  src/styles/icons.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix zero-sum filtering
  src/services/blockExplorer.js
Due: ./node_modules/.bin/eslint

code cleanup
  src/layouts/AsideLayout/AsideLayout.js
  src/layouts/AsideLayout/AsideLayoutContainer.js
  src/layouts/AsideLayout/asideLayout.scss
  src/layouts/AsideLayout/index.js
  src/layouts/CoreLayout/CoreLayoutContainer.js
  src/layouts/MenuLayout/MenuLayout.js
  src/layouts/MenuLayout/MenuLayoutContainer.js
  src/layouts/TransactionsLayout/TransactionsLayout.js
  src/layouts/TransactionsLayout/TransactionsLayoutContainer.js
  src/layouts/TransactionsLayout/index.js
  src/layouts/TransactionsLayout/transactionsLayout.scss
  src/layouts/index.js
  src/routes/DigitalAssets/index.js
  src/routes/DigitalAssets/sagas/digitalAssets.js
  src/routes/Transactions/index.js
  src/routes/index.js
  src/routes/modules/core.js
  src/routes/modules/index.js
  src/routes/modules/layout.js
  src/routes/sagas/blocks.js
  src/styles/core.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss
