Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss, node_modules/**, build/**, test/**, src/public/**

.lintstagedrc:

{
  "*.js": "./node_modules/.bin/eslint",
  "*.scss": "./node_modules/.bin/stylelint --syntax=scss",
  "ignore": [
    "node_modules/**",
    "build/**",
    "test/**",
    "src/public/**"
  ]
}

Fix checking of password
  flow-typed/config.js
  src/components/PasswordField/PasswordField.js
  src/config.js
  src/routes/Wallets/routes/Create/sagas/walletsCreate.js
  src/routes/Wallets/routes/Import/sagas/walletsImport.js
Due: ./node_modules/.bin/eslint

Fix name icon
  src/components/WalletFace/Actions/WalletFaceActions.js
  src/components/base/JIcon/jIcon.scss
  src/public/assets/icons/new-pack/medium/to-oneaddress.svg
  src/styles/icons.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-561: Fix asset toggle
  src/components/AssetItem/AssetItem.js
Due: ./node_modules/.bin/eslint

JWWEB-493: Rename Jibrel Won icon
  src/components/base/JAssetSymbol/jAssetSymbol.scss
  src/components/base/JAssetSymbol/symbolsAvailable.js
  src/public/assets/tokens/blue/jkrw.svg
  src/public/assets/tokens/gray/jkrw.svg
  src/public/assets/tokens/white/jkrw.svg
  src/styles/tokens.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Tiny fix
  src/components/base/JIcon/jIcon.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

JWWEB-554: Wallet has its' icon back
  src/components/MenuPanel/WalletManager/Main/Main.js
Due: ./node_modules/.bin/eslint

JWWEB-560 Copying address to clipboard was fixed
  src/routes/DigitalAssets/routes/Receive/DigitalAssetsReceiveView.js
Due: ./node_modules/.bin/eslint

JWWEB-559: Fix unhandled error before routing happens
  src/routes/Wallets/routes/Addresses/WalletsAddressesViewContainer.js
Due: ./node_modules/.bin/eslint

Remove passed prop
  src/components/MenuPanel/WalletManager/WalletManager.js
Due: ./node_modules/.bin/eslint

Improve codestyle
  src/routes/Wallets/routes/Addresses/WalletsAddressesViewContainer.js
Due: ./node_modules/.bin/eslint

checksum fixes
  src/routes/DigitalAssets/routes/Send/components/Confirm/Card/Card.js
  src/routes/DigitalAssets/routes/Send/components/Form/Form.js
  src/routes/DigitalAssets/sagas/digitalAssets.js
  src/routes/Favorites/sagas/favorites.js
Due: ./node_modules/.bin/eslint

Add handling of decimals=0 from node
  src/routes/DigitalAssets/routes/AddAsset/sagas/addAsset.js
Due: ./node_modules/.bin/eslint

JWWEB-467: Update backup phrase
  src/components/CopyableField/CopyableField.js
  src/routes/Wallets/routes/Backup/WalletsBackupView.js
Due: ./node_modules/.bin/eslint

JWWEB-527 Fist confirmation of deleting wallet was disabled completely and forever
  src/components/ButtonWithConfirm/ButtonWithConfirm.js
  src/routes/Wallets/routes/Delete/WalletsDeleteView.js
Due: ./node_modules/.bin/eslint

JWWEB-527 Removing `this` from constructor
  src/components/ButtonWithConfirm/ButtonWithConfirm.js
Due: ./node_modules/.bin/eslint

fix digital asset send
  src/routes/DigitalAssets/routes/Send/DigitalAssetsSendViewContainer.js
  src/routes/DigitalAssets/routes/Send/components/Form/Form.js
  src/routes/DigitalAssets/routes/Send/sagas/digitalAssetsSend.js
Due: ./node_modules/.bin/eslint

remove getAddressWithChecksum where we don't need this
  src/routes/DigitalAssets/routes/Send/components/Confirm/Card/Card.js
  src/routes/DigitalAssets/routes/Send/components/Form/Form.js
Due: ./node_modules/.bin/eslint

fix recepient
  src/routes/DigitalAssets/routes/Send/sagas/digitalAssetsSend.js
Due: ./node_modules/.bin/eslint

fix recepient -> recipient
  src/routes/DigitalAssets/routes/Send/components/Form/Form.js
Due: ./node_modules/.bin/eslint

JWWEB-559: Handle more unexpected errors in the hail of routing
  src/components/MenuPanel/MenuPanel.js
  src/routes/DigitalAssets/routes/Grid/DigitalAssetsGridViewContainer.js
Due: ./node_modules/.bin/eslint

JWWEB-494 'Backup phrase' doesn't fit in the field without scrolling on the Import page
  src/components/base/JInput/JInput.js
Due: ./node_modules/.bin/eslint

Correct color for icon lock
  src/components/base/JInput/jInput.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Update requesting of nonce
  flow-typed/redux/blocks.js
  src/routes/DigitalAssets/routes/Send/sagas/digitalAssetsSend.js
  src/services/web3.js
Due: ./node_modules/.bin/eslint

Update lockfile
  package-lock.json
Due: none

Update contracts-jsapi version
  package.json
Due: none

JWWEB-427 The 'Yes' button should be longer
  src/components/ButtonWithConfirm/buttonWithConfirm.scss
  src/routes/Wallets/routes/Delete/WalletsDeleteView.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix assets management toggle
  src/data/assets/index.js
Due: ./node_modules/.bin/eslint

JWWEB-561: Fix assets management toggle
  src/routes/DigitalAssets/sagas/digitalAssets.js
Due: ./node_modules/.bin/eslint

use initial state when view opens
  src/routes/DigitalAssets/routes/Send/modules/digitalAssetsSend.js
Due: ./node_modules/.bin/eslint

some phrases fixed
  src/components/AssetItem/AssetItem.js
  src/components/ButtonWithConfirm/ButtonWithConfirm.js
  src/components/FavoriteItem/FavoriteItem.js
  src/components/MenuPanel/WalletManager/Details/Details.js
  src/routes/DigitalAssets/routes/Send/components/Form/Form.js
Due: ./node_modules/.bin/eslint

JWWEB-475 The 'Copy Backup phrase' button doesn't change by hovering and copying
  src/components/CopyableField/CopyableField.js
  src/components/CopyableField/copyableField.scss
  src/components/OverlayActions/overlayActions.scss
  src/components/base/JIcon/jIcon.scss
  src/public/assets/icons/new-pack/medium/Dockerfile.svg
  src/public/assets/icons/new-pack/medium/check-circle-white.svg
  src/styles/icons.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-556: add .po file & fix bug
  src/data/lang/en.po
  src/routes/Wallets/routes/Backup/WalletsBackupView.js
Due: ./node_modules/.bin/eslint

remove favorites.json file
  .favorites.json
Due: none

Update error message about nonce value
  src/routes/DigitalAssets/routes/Send/sagas/digitalAssetsSend.js
Due: ./node_modules/.bin/eslint

updated po file
  src/data/lang/en.po
Due: none

JWWEB-477 The 'Copy address' button doesn't change to 'Copied' after copying
  src/routes/DigitalAssets/routes/Receive/DigitalAssetsReceiveView.js
Due: ./node_modules/.bin/eslint

Update leng file
  src/data/lang/en.po
  src/routes/DigitalAssets/routes/Receive/DigitalAssetsReceiveView.js
Due: ./node_modules/.bin/eslint

Update leng file and small fix
  src/components/CopyableField/CopyableField.js
  src/data/lang/en.po
Due: ./node_modules/.bin/eslint

Fix height for qr code container
  src/styles/_base.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

JWWEB-565: incorrect decimals value in fee
  src/routes/DigitalAssets/routes/Send/components/Confirm/Card/Card.js
Due: ./node_modules/.bin/eslint
