Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss, node_modules/**, build/**, test/**, src/public/**

.lintstagedrc:

{
  "*.js": "./node_modules/.bin/eslint",
  "*.scss": "./node_modules/.bin/stylelint --syntax=scss",
  "ignore": [
    "node_modules/**",
    "build/**",
    "test/**",
    "src/public/**"
  ]
}

Fix bug
  src/routes/Agreements/AgreementsView.js
Due: ./node_modules/.bin/eslint

step 2 added nonce, comment, layout fixes
  src/routes/DigitalAssets/routes/Send/components/Confirm/Card/Card.js
  src/routes/DigitalAssets/routes/Send/components/Confirm/Card/card.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

added blue-two color
  src/components/base/JText/JText.js
  src/components/base/JText/jText.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix bugs
  src/routes/Agreements/AgreementsViewContainer.js
  src/utils/agreements/setAgreementValue.js
Due: ./node_modules/.bin/eslint

small fix
  src/routes/DigitalAssets/routes/Send/components/Confirm/Card/Card.js
Due: ./node_modules/.bin/eslint

Fix getting of next available order index for wallet
  src/utils/wallets/createWallet.js
Due: ./node_modules/.bin/eslint

JWWEB-437: Remove unused redirects
  src/routes/Upgrade/UpgradeView.js
  src/routes/Upgrade/UpgradeViewContainer.js
  src/routes/Wallets/routes/Addresses/sagas/walletsAddresses.js
  src/routes/Wallets/routes/Backup/WalletsBackupView.js
  src/routes/Wallets/routes/Backup/sagas/walletsBackup.js
  src/routes/index.js
Due: ./node_modules/.bin/eslint

JWWEB-437: Fix routing middleware bug
  src/middlewares/redirect/filters/walletsAddresses.js
  src/middlewares/redirect/index.js
Due: ./node_modules/.bin/eslint

JWWEB-437: Add routing middleware
  src/middlewares/redirect/filters/agreement.js
  src/middlewares/redirect/filters/firstTime.js
  src/middlewares/redirect/filters/index.js
  src/middlewares/redirect/filters/readonly.js
  src/middlewares/redirect/filters/root.js
  src/middlewares/redirect/filters/selectedWallet.js
  src/middlewares/redirect/filters/upgrade.js
  src/middlewares/redirect/filters/walletsAddresses.js
  src/middlewares/redirect/index.js
  src/store/configureStore.js
Due: ./node_modules/.bin/eslint

JWWEB-437: Add filter for agreement routing
  src/data/agreements.js
  src/middlewares/redirect/filters/agreement.js
  src/routes/Agreements/AgreementsView.js
Due: ./node_modules/.bin/eslint

Fix Google Analytics consent attribute name
  src/utils/analytics/ga.js
Due: ./node_modules/.bin/eslint

Fix package-lock version
  package-lock.json
Due: none

JWWEB-437: partial flow coverage
  src/middlewares/redirect/filters/agreement.js
  src/middlewares/redirect/filters/firstTime.js
  src/middlewares/redirect/filters/readonly.js
  src/middlewares/redirect/filters/root.js
  src/middlewares/redirect/filters/selectedWallet.js
  src/middlewares/redirect/filters/upgrade.js
  src/middlewares/redirect/filters/walletsAddresses.js
Due: ./node_modules/.bin/eslint

Show name for selected named recipient address
  src/components/AddressPicker/AddressPicker.js
  src/components/AddressPicker/Current/Current.js
  src/components/AddressPicker/Current/current.scss
  src/utils/address/getShortenedAddress.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Hotfix
  src/middlewares/redirect/filters/agreement.js
Due: ./node_modules/.bin/eslint

Fix bug
  src/routes/NotFound/NotFoundView.js
Due: ./node_modules/.bin/eslint

JWWEB-495 correct height for backup phrase box
  src/components/CopyableField/copyableField.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

JWWEB-455 correct-wallets-ciew-with open actions
  src/components/WalletFace/walletFace.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

JWWEB-319 Fix of re-changing the key value
  src/routes/Agreements/AgreementsView.js
Due: ./node_modules/.bin/eslint

JWWEB-463 Watcher for monitoring multiple app instances in tabs of browser was added
  flow-typed/config.js
  src/AppContainer.js
  src/components/SingularTabBlockScreen/SingularTabBlockScreen.js
  src/components/SingularTabBlockScreen/index.js
  src/components/SingularTabBlockScreen/singularTabBlockScreen.scss
  src/components/base/JIcon/jIcon.scss
  src/components/base/JThumbnail/JThumbnail.js
  src/config.js
  src/styles/icons.scss
  src/utils/browser/index.js
  src/utils/browser/startSessionWatcher.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-463 uuid was added
  package-lock.json
  package.json
  src/AppContainer.js
Due: ./node_modules/.bin/eslint

Add exception when something wrong with gas values
  src/routes/DigitalAssets/routes/Send/sagas/digitalAssetsSend.js
Due: ./node_modules/.bin/eslint

fix broken add digital asset
  src/services/web3.js
Due: ./node_modules/.bin/eslint

urn back var name
  src/services/web3.js
Due: ./node_modules/.bin/eslint

JWWEB-463 Bad browser icon was updated
  src/public/assets/icons/new-pack/xlarge/bad-browser.svg
  src/styles/icons.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

fix checkERC20InterfaceCode method
  src/services/web3.js
Due: ./node_modules/.bin/eslint

fix flow types
  src/services/web3.js
Due: ./node_modules/.bin/eslint

Decrease range limit for transactions request
  src/config.js
Due: ./node_modules/.bin/eslint

Update lockfile
  package-lock.json
Due: none

JWWEB-509 New format function for balance of assets was added
  src/components/DigitalAssetsGrid/DigitalAssetsGrid.js
  src/components/DigitalAssetsManage/DigitalAssetsManage.js
  src/components/TransactionItem/Main/Main.js
  src/components/WalletFace/Actions/WalletFaceActions.js
  src/routes/Transactions/routes/Asset/TransactionsAssetView.js
  src/utils/formatters/formatAssetBalance.js
  src/utils/formatters/index.js
Due: ./node_modules/.bin/eslint

Code cleanup
  config/paths.js
  config/webpack.config.dev.js
  config/webpack.config.prod.js
  src/components/CurrencyItem/CurrencyItem.js
  src/components/CurrencyItem/currencyItem.scss
  src/public/assets/tokens/white/jkrw.svg
  src/public/img/currencies/bg/jkrw.png
  src/public/img/tokens/jnt.svg
  src/routes/JWallet/index.js
  src/routes/JWallet/sagas/currencies.js
  src/services/etherscan.js
  src/utils/getDefaultNetworks.js
  src/utils/tokens/main.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

send asset error on the second step
  flow-typed/redux/digitalAssets.js
  src/components/base/JIcon/jIcon.scss
  src/public/assets/icons/new-pack/medium/alert-white.svg
  src/routes/DigitalAssets/routes/Send/DigitalAssetsSendView.js
  src/routes/DigitalAssets/routes/Send/DigitalAssetsSendViewContainer.js
  src/routes/DigitalAssets/routes/Send/components/Confirm/Confirm.js
  src/routes/DigitalAssets/routes/Send/components/Confirm/confirm.scss
  src/routes/DigitalAssets/routes/Send/components/Form/Form.js
  src/routes/DigitalAssets/routes/Send/components/Steps/Steps.js
  src/routes/DigitalAssets/routes/Send/modules/digitalAssetsSend.js
  src/routes/DigitalAssets/routes/Send/sagas/digitalAssetsSend.js
  src/routes/Wallets/sagas/index.js
  src/routes/Wallets/sagas/wallets.js
  src/styles/icons.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-522 Titles were added for action on the top bar of application
  src/components/PopupButton/PopupButton.js
  src/components/base/JSearch/JSearch.js
  src/routes/DigitalAssets/routes/Grid/DigitalAssetsGridView.js
  src/routes/Favorites/FavoritesIndexView.js
  src/routes/Transactions/routes/Asset/TransactionsAssetView.js
Due: ./node_modules/.bin/eslint

JWWEB-522 ethereum address constant was used
  src/components/WalletFace/Actions/WalletFaceActions.js
Due: ./node_modules/.bin/eslint

JWWEB-522 Refresh was replaced to Resync
  src/routes/Transactions/routes/Asset/TransactionsAssetView.js
Due: ./node_modules/.bin/eslint

fix: receive asset form doesn't support Address names
  src/routes/DigitalAssets/routes/Receive/DigitalAssetsReceiveViewContainer.js
Due: ./node_modules/.bin/eslint

JWWEB-546 Overlay of double messages was fixed
  src/components/base/JInput/JInput.js
Due: ./node_modules/.bin/eslint

JWWEB-544: Disallow Safari usage
  src/browsercheck.js
  src/public/css/style.css
  src/public/index.html
  src/public/js/modernizr.js
Due: ./node_modules/.bin/eslint

JWWEB-548: Fix fee decimals
  src/components/TransactionItem/Details/Details.js
Due: ./node_modules/.bin/eslint

JWWEB-534 Searching of transactions was improved
  src/utils/transactions/searchTransactions.js
Due: ./node_modules/.bin/eslint
