Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss, node_modules/**, build/**, test/**, src/public/**

.lintstagedrc:

{
  "*.js": "./node_modules/.bin/eslint",
  "*.scss": "./node_modules/.bin/stylelint --syntax=scss",
  "ignore": [
    "node_modules/**",
    "build/**",
    "test/**",
    "src/public/**"
  ]
}

small fix
  src/utils/index.js
Due: ./node_modules/.bin/eslint

fix boilerplate error
  src/routes/DigitalAssets/routes/Send/modules/digitalAssetsSend.js
Due: ./node_modules/.bin/eslint

small fix
  src/routes/DigitalAssets/routes/Send/DigitalAssetsSendViewContainer.js
Due: ./node_modules/.bin/eslint

Fix upgradeWallet
  src/routes/Upgrade/modules/upgrade.js
  src/routes/Wallets/modules/wallets.js
  src/utils/wallets/getPrivateKey.js
  src/utils/wallets/upgradeWallet.js
  src/workers/wallets/worker.js
  src/workers/wallets/wrapper.js
Due: ./node_modules/.bin/eslint

send asset warnings functionality
  flow-typed/redux/digitalAssets.js
  src/components/AddressPicker/AddressPicker.js
  src/components/DoubleInput/DoubleInput.js
  src/components/InputButton/InputButton.js
  src/routes/DigitalAssets/routes/Send/DigitalAssetsSendView.js
  src/routes/DigitalAssets/routes/Send/DigitalAssetsSendViewContainer.js
  src/routes/DigitalAssets/routes/Send/components/Form/Form.js
  src/routes/DigitalAssets/routes/Send/components/Form/PriorityPicker/PriorityPicker.js
  src/routes/DigitalAssets/routes/Send/components/Steps/Steps.js
  src/routes/DigitalAssets/routes/Send/modules/digitalAssetsSend.js
  src/routes/DigitalAssets/routes/Send/sagas/digitalAssetsSend.js
  src/utils/numbers/convertEth.js
Due: ./node_modules/.bin/eslint

fixed PR request changes
  src/routes/DigitalAssets/routes/Send/sagas/digitalAssetsSend.js
Due: ./node_modules/.bin/eslint

JWWEB-271 Show app store links for jwalet web application
  src/public/assets/favicon/android-chrome-144x144.png
  src/public/assets/favicon/manifest.json
  src/public/index.html
Due: none

Get rid of jwallet-web-keystore dependency
  flow-typed/config.js
  flow-typed/redux/wallets.js
  package-lock.json
  package.json
  src/config.js
  src/routes/DigitalAssets/routes/Send/sagas/digitalAssetsSend.js
  src/services/keystore.js
  src/services/validate.js
  src/utils/address/checkPrivateKeyValid.js
  src/utils/encryption/checkPassword.js
  src/utils/encryption/decryptData.js
  src/utils/encryption/decryptMnemonic.js
  src/utils/encryption/decryptPrivateKey.js
  src/utils/encryption/deriveKeyFromPassword.js
  src/utils/encryption/encryptData.js
  src/utils/encryption/index.js
  src/utils/encryption/initPassword.js
  src/utils/mnemonic/getMnemonicOptions.js
  src/utils/wallets/createWallet.js
  src/utils/wallets/getMnemonic.js
  src/utils/wallets/getPrivateKey.js
  src/utils/wallets/upgradeWallet.js
  src/workers/wallets/wrapper.js
Due: ./node_modules/.bin/eslint

Add IP anonymization for Google Analytics compliance with GDPR
  src/public/index.html
Due: none

Add new icon
  src/components/base/JIcon/jIcon.scss
  src/public/assets/icons/new-pack/medium/burn-event-gray.svg
  src/public/assets/icons/new-pack/medium/mint-event-blue.svg
  src/styles/icons.scss
  stories/components/base/JIcon.stories.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-289: Add X-Frame-Options to nginx config
  nginx.conf
Due: none

BROKEN: Temporary commit
  src/routes/Settings/modules/settings.js
  src/routes/Settings/sagas/paymentPassword.js
  src/utils/password/check.js
  src/utils/password/index.js
  src/utils/password/validate.js
  src/workers/index.js
  src/workers/settings/index.js
  src/workers/settings/worker.js
  src/workers/settings/wrapper.js
Due: ./node_modules/.bin/eslint

Fix validators of wallet upgrade
  src/routes/Upgrade/UpgradeView.js
  src/routes/Upgrade/UpgradeViewContainer.js
  src/utils/index.js
  src/utils/mnemonic/getXPubFromMnemonic.js
  src/utils/wallets/createWallet.js
  src/utils/wallets/upgradeWallet.js
Due: ./node_modules/.bin/eslint

Remove duplicated types
  flow-typed/config.js
Due: ./node_modules/.bin/eslint

fix reqview requirements
  flow-typed/redux/digitalAssets.js
  src/routes/DigitalAssets/routes/Send/DigitalAssetsSendView.js
  src/routes/DigitalAssets/routes/Send/components/Form/Form.js
  src/routes/DigitalAssets/routes/Send/components/Form/PriorityPicker/PriorityPicker.js
  src/routes/DigitalAssets/routes/Send/components/Steps/Steps.js
  src/routes/DigitalAssets/routes/Send/modules/digitalAssetsSend.js
  src/routes/DigitalAssets/routes/Send/sagas/digitalAssetsSend.js
  src/utils/numbers/convertEth.js
  src/utils/numbers/fromGweiToWei.js
  src/utils/numbers/fromWeiToGWei.js
  src/utils/numbers/index.js
  src/utils/numbers/units.json
Due: ./node_modules/.bin/eslint

Minor fixes for upgrade wallet
  flow-typed/redux/upgrade.js
  src/routes/Upgrade/UpgradeView.js
Due: ./node_modules/.bin/eslint

Hide send button from favorites for readOnly wallets
  src/components/FavoriteItem/FavoriteItem.js
  src/routes/Favorites/FavoritesIndexView.js
  src/routes/Favorites/FavoritesIndexViewContainer.js
  src/routes/Favorites/routes/Address/FavoritesAddressViewContainer.js
Due: ./node_modules/.bin/eslint

JWWEB-434 Clean favorite form on close
  src/routes/Favorites/modules/favorites.js
  src/routes/Favorites/routes/Address/FavoritesAddressView.js
  src/routes/Favorites/routes/Address/FavoritesAddressViewContainer.js
  src/routes/Favorites/sagas/favorites.js
Due: ./node_modules/.bin/eslint

JWWEB-454 fix pending txs for ETH
  src/routes/modules/transactions.js
  src/routes/sagas/transactions.js
  src/store/selectors/transactions.js
  src/utils/transactions/checkTransactionLoading.js
  src/utils/transactions/filterLoadingTransactions.js
  src/utils/transactions/flattenTransactions.js
Due: ./node_modules/.bin/eslint

Remove useless console call
  src/routes/sagas/transactions.js
Due: ./node_modules/.bin/eslint

JWWEB-425 Integrate etherscan proxy
  flow-typed/config.js
  flow-typed/redux/networks.js
  src/components/TransactionItem/Details/Details.js
  src/components/TransactionItem/TransactionItem.js
  src/components/TransactionsList/TransactionsList.js
  src/config.js
  src/routes/Transactions/TransactionsIndexView.js
  src/routes/Transactions/routes/Asset/TransactionsAssetView.js
  src/routes/modules/networks.js
  src/services/blockExplorer.js
  src/utils/transactions/getAddressLink.js
  src/utils/transactions/getTxLink.js
Due: ./node_modules/.bin/eslint

Update usage of config options
  flow-typed/config.js
  src/config.js
  src/services/blockExplorer.js
Due: ./node_modules/.bin/eslint

Fix getAddressLink
  src/utils/transactions/getAddressLink.js
Due: ./node_modules/.bin/eslint

Fix erc20 interface signatures
  src/services/web3.js
Due: ./node_modules/.bin/eslint

JWWEB-263 Update displaying of mint/burn events
  src/components/TransactionItem/Details/Details.js
  src/components/TransactionItem/Main/Main.js
  src/components/TransactionItem/TransactionItem.js
  src/components/base/JIcon/jIcon.scss
  src/services/web3.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-443: Migrate from capabilities to Modernizr
  .eslintrc
  src/main.js
  src/public/css/style.css
  src/public/index.html
  src/public/js/capabilities.js
  src/public/js/modernizr.js
Due: ./node_modules/.bin/eslint

JWWEB-443: Pass run-time config in external file
  run.sh
  src/public/index.html
  src/public/js/settings.js
Due: ./node_modules/.bin/eslint

JWWEB-443: Set Content-Security-Policy header on nginx
  nginx.conf
Due: none

JWWEB-466 low field on the Import page
  src/components/base/JInput/jInput.scss
  src/styles/_base.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Add wildcard to etherscan connect CSP
  nginx.conf
Due: none

JWWEB-279 Payment password changing via settings page
  flow-typed/redux/settings.js
  package-lock.json
  src/routes/Settings/modules/settings.js
  src/routes/Settings/routes/PaymentPassword/PaymentPasswordView.js
  src/routes/Settings/sagas/index.js
  src/routes/Settings/sagas/paymentPassword.js
  src/utils/encryption/index.js
  src/utils/encryption/reEncryptWallet.js
  src/utils/password/check.js
  src/utils/password/index.js
  src/workers/index.js
  src/workers/settings/index.js
  src/workers/settings/worker.js
  src/workers/settings/wrapper.js
Due: ./node_modules/.bin/eslint

JWWEB-447: change settings links to blue screens
  src/routes/Settings/SettingsIndexView.js
Due: ./node_modules/.bin/eslint

Change side menu backup link to blue screens
  src/components/MenuPanel/Actions/Actions.js
  src/components/MenuPanel/MenuPanel.js
Due: ./node_modules/.bin/eslint

JWWEB-191 eth balance for mnemonic addresses
  flow-typed/redux/wallets.js
  src/components/MnemonicAddresses/MnemonicAddresses.js
  src/components/WalletFace/Actions/WalletFaceActions.js
  src/components/WalletFace/WalletFace.js
  src/routes/Wallets/routes/Addresses/WalletsAddressesView.js
  src/routes/Wallets/routes/Addresses/WalletsAddressesViewContainer.js
  src/routes/Wallets/routes/Addresses/modules/walletsAddresses.js
  src/routes/Wallets/routes/Addresses/sagas/walletsAddresses.js
  src/utils/numbers/divDecimals.js
Due: ./node_modules/.bin/eslint

Fix strange behavior with Modernizr
  src/browsercheck.js
  src/main.js
  src/public/css/style.css
  src/public/index.html
  src/public/js/modernizr.js
Due: ./node_modules/.bin/eslint

new gas price and gas limit functionality
  flow-typed/redux/digitalAssets.js
  package-lock.json
  package.json
  src/routes/DigitalAssets/routes/Send/DigitalAssetsSendView.js
  src/routes/DigitalAssets/routes/Send/DigitalAssetsSendViewContainer.js
  src/routes/DigitalAssets/routes/Send/components/Confirm/Card/Card.js
  src/routes/DigitalAssets/routes/Send/components/Confirm/Confirm.js
  src/routes/DigitalAssets/routes/Send/components/Steps/Steps.js
  src/routes/DigitalAssets/routes/Send/modules/digitalAssetsSend.js
  src/routes/DigitalAssets/routes/Send/sagas/digitalAssetsSend.js
  src/services/web3.js
Due: ./node_modules/.bin/eslint

Fix BLOCKEXPLORER_API variable management
  .eslintrc
  flow-typed/config.js
  flow-typed/globals.js
  src/config.js
  src/public/js/settings.js
  src/services/blockExplorer.js
  src/utils/config/getENVVar.js
  src/utils/config/index.js
  src/utils/index.js
  webpack.config.js
Due: ./node_modules/.bin/eslint

Move BLOCKEXPLORER_API var to specific ENV files
  env/development
  env/production
  webpack.config.js
Due: ./node_modules/.bin/eslint

Prettify unavailability screen
  src/public/assets/icons/new-pack/xlarge/badbrowser@2x.png
  src/public/css/style.css
  src/public/index.html
Due: none

Implement very simple initial fetching of fiat courses
  .eslintrc
  env/development
  env/production
  flow-typed/config.js
  flow-typed/globals.js
  flow-typed/redux/appState.js
  flow-typed/redux/ticker.js
  src/config.js
  src/public/js/settings.js
  src/routes/modules/ticker.js
  src/routes/sagas/balances.js
  src/routes/sagas/index.js
  src/routes/sagas/ticker.js
  src/services/ticker.js
  src/store/persistReducers.js
  src/store/reducers.js
  webpack.config.js
Due: ./node_modules/.bin/eslint
