Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss, node_modules/**, build/**, test/**, src/public/**

.lintstagedrc:

{
  "*.js": "./node_modules/.bin/eslint",
  "*.scss": "./node_modules/.bin/stylelint --syntax=scss",
  "ignore": [
    "node_modules/**",
    "build/**",
    "test/**",
    "src/public/**"
  ]
}

Remove useless console.error
  src/middlewares/pageView.js
Due: ./node_modules/.bin/eslint

Add cuting of wallet name to 32 symbols
  src/store/migrations/v1.js
Due: ./node_modules/.bin/eslint

Fix history filter displaying
  src/components/TitleHeader/titleHeader.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Fix back arrow
  src/components/TitleHeader/titleHeader.m.scss
  src/layouts/MenuLayout/components/MenuPanel/menuPanel.m.scss
  src/pages/Home/home.m.scss
  src/pages/Send/Send.js
  src/pages/SettingsCurrency/SettingsCurrency.js
  src/pages/SettingsLanguage/SettingsLanguage.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Add counting of tx item details rerender
  src/components/HistoryItemDetails/HistoryItemDetailsView.js
Due: ./node_modules/.bin/eslint

Sync locales
  src/data/lingui/en/messages.json
  src/data/lingui/es/messages.json
  src/data/lingui/ja/messages.json
  src/data/lingui/ko/messages.json
  src/data/lingui/ru/messages.json
  src/data/lingui/zh-Hans/messages.json
  src/data/lingui/zh-Hant/messages.json
Due: none

Send render threshold notification once per session
  src/components/HistoryItemDetails/HistoryItemDetailsView.js
Due: ./node_modules/.bin/eslint

Update forgotten phrases
  src/data/lingui/es/messages.json
  src/data/lingui/ja/messages.json
  src/data/lingui/ko/messages.json
  src/data/lingui/ru/messages.json
  src/data/lingui/zh-Hans/messages.json
  src/data/lingui/zh-Hant/messages.json
Due: none

Fix default validateType of JInputField
  src/components/base/JInputField/JInputField.js
Due: ./node_modules/.bin/eslint

Fix validation of ContactAddForm
  src/pages/ContactsItemAdd/components/ContactAddForm/ContactAddForm.js
Due: ./node_modules/.bin/eslint

Fix validation of NewPasswordForm
  src/components/NewPasswordForm/NewPasswordForm.js
Due: ./node_modules/.bin/eslint

Bump version to 2.2.0
  package-lock.json
  package.json
  version.txt
Due: none

Remove spaces from start of passphrase
  src/store/migrations/v1.js
Due: ./node_modules/.bin/eslint

Add getAddressIndexFromXPUB
  src/utils/mnemonic/getAddressIndexFromXPUB.js
Due: ./node_modules/.bin/eslint

Add ability to upgrade address wallet with xprv/mnemonic
  flow-typed/redux/wallets.js
  src/pages/WalletsItemUpgrade/WalletsItemUpgrade.js
  src/pages/WalletsItemUpgrade/WalletsItemUpgradeView.js
  src/utils/mnemonic/index.js
  src/utils/wallets/updateWallet.js
  src/utils/wallets/upgradeWallet.js
Due: ./node_modules/.bin/eslint

Fix plural cases for ru locale
  src/components/WalletCard/WalletCard.js
  src/data/lingui/en/messages.json
  src/data/lingui/es/messages.json
  src/data/lingui/ja/messages.json
  src/data/lingui/ko/messages.json
  src/data/lingui/ru/messages.json
  src/data/lingui/zh-Hans/messages.json
  src/data/lingui/zh-Hant/messages.json
  src/pages/WalletsItemAddresses/WalletsItemAddressesView.js
Due: ./node_modules/.bin/eslint

Fix WalletsItemAddresses layout
  src/pages/WalletsItemAddresses/walletsItemAddresses.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Remove stroke attr from asset symbol
  src/components/HistoryList/components/Item/item.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Fix history filters
  src/components/TitleHeader/titleHeader.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Add checking of xpub uniqueness
  src/pages/WalletsItemUpgrade/WalletsItemUpgrade.js
Due: ./node_modules/.bin/eslint

Update locales
  src/data/lingui/en/messages.json
  src/data/lingui/es/messages.json
  src/data/lingui/ja/messages.json
  src/data/lingui/ko/messages.json
  src/data/lingui/ru/messages.json
  src/data/lingui/zh-Hans/messages.json
  src/data/lingui/zh-Hant/messages.json
Due: none

Set active wallet after unlock
  src/store/plugins/walletsPlugin.js
Due: ./node_modules/.bin/eslint

Rename WalletPasswordForm -> PasswordForm
  src/components/PasswordForm/PasswordForm.js
  src/components/PasswordForm/components/Forgot/Forgot.js
  src/components/PasswordForm/components/Forgot/forgot.m.scss
  src/components/PasswordForm/passwordForm.m.scss
  src/components/index.js
  src/pages/HistoryItemCancel/HistoryItemCancel.js
  src/pages/Send/PasswordStepForm.js
  src/pages/SettingsPassword/SettingsPassword.js
  src/pages/WalletsCreate/WalletsCreateView.js
  src/pages/WalletsImport/WalletsImportView.js
  src/pages/WalletsItemBackup/WalletsItemBackupView.js
  src/pages/WalletsItemUpgrade/WalletsItemUpgradeView.js
  src/pages/WalletsMigration/WalletsMigration.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix pages min-height
  src/components/DigitalAssetAddForm/digitalAssetAddForm.m.scss
  src/components/DigitalAssetEditForm/digitalAssetEditForm.m.scss
  src/layouts/MenuLayout/menuLayout.m.scss
  src/layouts/StartLayout/startLayout.m.scss
  src/pages/AssetsItemDelete/assetsItemDelete.m.scss
  src/pages/AssetsItemDetails/assetsItemDetails.m.scss
  src/pages/Contacts/contacts.m.scss
  src/pages/ContactsItem/contactsItem.m.scss
  src/pages/ContactsItemAdd/contactsItemAdd.m.scss
  src/pages/ContactsItemDelete/contactsItemDelete.m.scss
  src/pages/ContactsItemEdit/contactsItemEdit.m.scss
  src/pages/ErrorUnexpected/errorUnexpected.m.scss
  src/pages/History/history.m.scss
  src/pages/HistoryItem/historyItem.m.scss
  src/pages/HistoryItemCancel/historyItemCancel.m.scss
  src/pages/Home/home.m.scss
  src/pages/NotFound/notFound.m.scss
  src/pages/ReceiveAsset/receiveAsset.m.scss
  src/pages/Send/components/AssetPicker/Item/assetItem.m.scss
  src/pages/Send/components/RecipientPicker/ContactItem/contactItem.m.scss
  src/pages/Send/components/RecipientPicker/MultiAddressWalletItem/multiAddressWalletItem.m.scss
  src/pages/Send/send.m.scss
  src/pages/Send/validationFailed.m.scss
  src/pages/SettingsCurrency/settingsCurrency.m.scss
  src/pages/SettingsLanguage/settingsLanguage.m.scss
  src/pages/SettingsPassword/settingsPassword.m.scss
  src/pages/WalletsCreate/walletsCreate.m.scss
  src/pages/WalletsImport/walletsImport.m.scss
  src/pages/WalletsItemAddresses/walletsItemAddresses.m.scss
  src/pages/WalletsItemBackup/walletsItemBackup.m.scss
  src/pages/WalletsItemDelete/walletsItemDelete.m.scss
  src/pages/WalletsItemModeDisable/walletsItemModeDisable.m.scss
  src/pages/WalletsItemModeEnable/walletsItemModeEnable.m.scss
  src/pages/WalletsItemUpgrade/walletsItemUpgrade.m.scss
  src/pages/WalletsMigration/walletsMigration.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Fix send asset pickers styles
  src/pages/Send/components/AssetPicker/Item/assetItem.m.scss
  src/pages/Send/components/RecipientPicker/ContactItem/contactItem.m.scss
  src/pages/Send/components/RecipientPicker/MultiAddressWalletItem/multiAddressWalletItem.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Remove unused logo-loading
  src/public/assets/loader/logo-loading.svg
Due: none

Remove unused icons.scss
  src/styles/icons.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Update tokens address-symbol map
  src/components/base/JAssetSymbol/JAssetSymbol.js
  src/components/base/JAssetSymbol/symbolsAvailable.js
Due: ./node_modules/.bin/eslint

Fix storybook config
  .storybook/config.js
Due: ./node_modules/.bin/eslint

Fix header on form step of Send
  src/pages/Send/Send.js
Due: ./node_modules/.bin/eslint

Fix header back icon
  src/components/TitleHeader/TitleHeader.js
  src/components/TitleHeader/titleHeader.m.scss
  src/layouts/MenuLayout/components/MenuPanel/components/Back.js
  src/layouts/MenuLayout/components/MenuPanel/menuMeta.js
  src/layouts/MenuLayout/components/MenuPanel/menuPanel.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix header on first step of HistoryItemCancel
  src/pages/HistoryItemCancel/HistoryItemCancel.js
Due: ./node_modules/.bin/eslint

Fix header on first step of WalletsItemUpgrade
  src/pages/WalletsItemUpgrade/WalletsItemUpgradeView.js
Due: ./node_modules/.bin/eslint
