Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss, node_modules/**, build/**, test/**, src/public/**

.lintstagedrc:

{
  "*.js": "./node_modules/.bin/eslint",
  "*.scss": "./node_modules/.bin/stylelint --syntax=scss",
  "ignore": [
    "node_modules/**",
    "build/**",
    "test/**",
    "src/public/**"
  ]
}

Preserve includes directory in Git
  docker/nginx/includes/.gitkeep
Due: none

Update webpack compression config
  webpack.config.js
Due: ./node_modules/.bin/eslint

Speedup build process
  Dockerfile
Due: none

JWWEB-736 Handlers for pending and stuck transactions status were added
  src/components/TransactionItemNew/TransactionItem.js
  src/components/TransactionItemNew/TransactionsItem.stories.js
  src/components/TransactionItemNew/transactionItem.m.scss
  src/components/TransactionItemNew/transactionsIndex.js
  src/store/selectors/transactions.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-736 Generation fake address in story was fixed
  src/components/TransactionItemNew/TransactionsItem.stories.js
Due: ./node_modules/.bin/eslint

JWWEB-736 css fix
  src/components/TransactionItemNew/transactionItem.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

JTextArea label styles were fixed
  src/components/base/JTextArea/jTextArea.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Remove <li> wrap from MenuPanel/Action component
  src/layouts/MenuLayout/components/MenuPanel/components/Action.js
  src/layouts/MenuLayout/components/MenuPanel/components/Actions.js
  src/layouts/MenuLayout/components/MenuPanel/tests/MenuPanel.test.js
Due: ./node_modules/.bin/eslint

Update usage of WalletInconsistentDataError
  src/utils/wallets/getMnemonicAddressName.js
Due: ./node_modules/.bin/eslint

JWWEB-728 Update layouts and app container
  src/AppContainer.js
  src/AppRouter.js
  src/layouts/CoreLayout/CoreLayout.js
  src/layouts/CoreLayout/CoreLayoutContainer.js
  src/layouts/CoreLayout/coreLayout.scss
  src/layouts/CoreLayout/index.js
  src/layouts/MenuLayout/index.js
  src/layouts/WalletsLayout/WalletsLayout.js
  src/layouts/WalletsLayout/WalletsLayoutContainer.js
  src/layouts/WalletsLayout/index.js
  src/layouts/WalletsLayout/walletsLayout.m.scss
  src/layouts/index.js
  src/main.js
  src/store/configureStore.js
  src/store/modules/core.js
  src/store/modules/index.js
  src/store/reducers.js
  src/workers/settings/wrapper.js
  src/workers/wallets/wrapper.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Update AgreementsView
  src/routes/Agreements/AgreementsView.js
  src/routes/Agreements/AgreementsView.m.scss
  src/routes/Agreements/AgreementsViewContainer.js
  src/routes/Agreements/index.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix AgreementsView styles file name
  src/routes/Agreements/AgreementsView.js
Due: ./node_modules/.bin/eslint

Update WalletsStartView
  src/routes/Wallets/index.js
  src/routes/Wallets/routes/Start/WalletsStartView.js
  src/routes/Wallets/routes/Start/WalletsStartViewContainer.js
  src/routes/Wallets/routes/Start/index.js
  src/routes/Wallets/routes/index.js
  src/store/modules/walletsStart.js
  src/styles/core.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Update flow types for forms
  flow-typed/types.js
Due: ./node_modules/.bin/eslint

Fix routes nesting
  src/store/router/routes.js
Due: ./node_modules/.bin/eslint

Fix walletsLayout.m.scss
  src/layouts/WalletsLayout/walletsLayout.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Disable eslint rule no-autofocus
  .eslintrc
Due: none

Update utils/encryption
  src/utils/encryption/checkPasswordStrength.js
  src/utils/encryption/decryptData.js
  src/utils/encryption/decryptInternalKey.js
  src/utils/encryption/deriveKeyFromPassword.js
  src/utils/encryption/encryptData.js
  src/utils/encryption/encryptInternalKey.js
  src/utils/encryption/generateSalt.js
  src/utils/encryption/getNonce.js
  src/utils/encryption/getPasswordOptions.js
  src/utils/encryption/index.js
Due: ./node_modules/.bin/eslint

Update getErrorMessage
  src/utils/form/getErrorMessage.js
Due: ./node_modules/.bin/eslint

Update JInputField
  src/components/base/JInputField/JInputField.js
  src/components/base/JInputField/JInputField.stories.js
  src/components/base/JInputField/jInputField.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Update MenuLayout
  src/layouts/MenuLayout/MenuLayout.js
  src/layouts/MenuLayout/MenuLayoutContainer.js
Due: ./node_modules/.bin/eslint

Add scrypt worker
  src/workers/scrypt/worker.js
  src/workers/scrypt/wrapper.js
  src/workers/settings/worker.js
  src/workers/wallets/wrapper.js
Due: ./node_modules/.bin/eslint

Add SetPassword route
  src/AppRouter.js
  src/routes/SetPassword/SetPasswordView.js
  src/routes/SetPassword/SetPasswordViewContainer.js
  src/routes/SetPassword/index.js
  src/routes/SetPassword/setPasswordView.m.scss
  src/routes/index.js
  src/store/router/routes.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Update util getErrorMessage
  src/utils/form/getErrorMessage.js
Due: ./node_modules/.bin/eslint

Update PasswordField (final-form migration)
  src/components/PasswordField/PasswordField.js
  src/components/PasswordField/PasswordFieldFinalFormAdapter.js
  src/components/PasswordField/components/Indicator.js
  src/components/PasswordField/components/indicator.m.scss
  src/components/PasswordField/components/tests/Indicator.test.js
  src/components/PasswordField/index.js
  src/components/PasswordField/passwordField.m.scss
  src/components/base/index.js
  src/components/index.js
  src/routes/Settings/routes/PaymentPassword/PaymentPasswordView.js
  src/styles/_base.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Update JFieldMessage
  src/components/base/JFieldMessage/JFieldMessage.js
Due: ./node_modules/.bin/eslint

Fix JRaisedButton
  src/components/base/JRaisedButton/JRaisedButton.js
Due: ./node_modules/.bin/eslint

Update utils/wallets
  src/utils/wallets/createWallet.js
  src/utils/wallets/getBackupData.js
  src/utils/wallets/getMnemonic.js
  src/utils/wallets/getPrivateKey.js
  src/utils/wallets/reEncryptWallet.js
  src/utils/wallets/upgradeWallet.js
Due: ./node_modules/.bin/eslint

Add PasswordInput component
  src/components/PasswordInput/PasswordInput.js
  src/components/PasswordInput/passwordInput.m.scss
  src/components/PasswordInput/tests/PasswordInput.test.js
  src/public/assets/icons/sprite-pack/medium/visibility-off-use-fill.svg
  src/public/assets/icons/sprite-pack/medium/visibility-on-use-fill.svg
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Add global var in jest config
  jest.config.js
Due: ./node_modules/.bin/eslint

Update SetPassword (validate & submit logic)
  flow-typed/types.js
  src/routes/SetPassword/SetPasswordView.js
  src/routes/SetPassword/SetPasswordViewContainer.js
  src/store/sagas/wallets/create.js
  src/store/sagas/wallets/import.js
Due: ./node_modules/.bin/eslint

Update password module
  flow-typed/redux/appState.js
  flow-typed/redux/password.js
  src/store/modules/index.js
  src/store/modules/password.js
  src/store/persistReducers.js
  src/store/reducers.js
  src/store/selectors/password.js
Due: ./node_modules/.bin/eslint

Update checking of password existance
  src/AppRouter.js
  src/store/selectors/password.js
Due: ./node_modules/.bin/eslint

Update PasswordField
  src/components/PasswordField/PasswordField.js
  src/components/PasswordField/PasswordField.stories.js
  src/components/PasswordField/components/tests/Indicator.test.js
  src/components/PasswordField/tests/PasswordField.test.js
  src/components/index.js
  src/styles/core.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Update JIcon
  src/components/base/JIcon/JIcon.js
  src/components/base/JIcon/jIcon.m.scss
  src/components/base/JIcon/jIcon.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Update app config
  flow-typed/config.js
  src/config.js
Due: ./node_modules/.bin/eslint

Add new themes to JInputField
  src/components/PasswordInput/tests/PasswordInput.test.js
  src/components/base/JInputField/JInputField.js
  src/components/base/JInputField/jInputField.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Add chunks & workers support for storybook
  .storybook/webpack.config.js
Due: ./node_modules/.bin/eslint

Fix JIcon
  .idea/jsLibraryMappings.xml
  .idea/jwallet-web.iml
  src/components/base/JIcon/JIcon.js
  src/components/base/JIcon/JIcon.stories.js
  src/components/base/JIcon/index.js
  src/components/base/JIcon/jIcon.m.scss
  src/components/base/JIcon/jIcon.scss
  src/components/base/JIcon/tests/JIcon.test.js
  src/components/base/JInput/JInput.js
  src/components/base/JSearch/JSearch.js
  src/components/base/JTooltip/JTooltip.stories.js
  src/components/base/index.js
  src/public/assets/icons/sprite-pack/medium/exchange-service-use-fill.svg
  src/routes/Settings/SettingsIndexView.js
  src/styles/core.scss
  src/styles/storybook.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Bugfix
  src/components/base/JIcon/JIcon.js
Due: ./node_modules/.bin/eslint
