Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss, node_modules/**, build/**, test/**, src/public/**

.lintstagedrc:

{
  "*.js": "./node_modules/.bin/eslint",
  "*.scss": "./node_modules/.bin/stylelint --syntax=scss",
  "ignore": [
    "node_modules/**",
    "build/**",
    "test/**",
    "src/public/**"
  ]
}

fix flowtype issue
  src/routes/DigitalAssets/routes/Send/components/Confirm/Card/Card.js
Due: ./node_modules/.bin/eslint

Fix displaying of addresses in left menu
  src/components/MenuPanel/WalletManager/Details/Addresses/Addresses.js
Due: ./node_modules/.bin/eslint

Fix MenuLayout mnemonic addresses management
  src/layouts/MenuLayout/MenuLayout.js
  src/layouts/MenuLayout/MenuLayoutContainer.js
Due: ./node_modules/.bin/eslint

Fix displaying of eth balance for wallet cards
  src/components/WalletFace/Actions/WalletFaceActions.js
  src/components/WalletFace/WalletFace.js
Due: ./node_modules/.bin/eslint

JWWEB-279 Payment password changing via settings page
  src/components/PasswordField/PasswordFieldFinalFormAdapter.js
  src/components/base/JInput/JInputField.js
  src/routes/Settings/modules/settings.js
  src/routes/Settings/routes/PaymentPassword/PaymentPasswordView.js
  src/utils/encryption/reEncryptWallet.js
  src/workers/settings/worker.js
Due: ./node_modules/.bin/eslint

Form error implemented
  flow-typed/redux/digitalAssets.js
  src/routes/DigitalAssets/routes/Send/DigitalAssetsSendView.js
  src/routes/DigitalAssets/routes/Send/DigitalAssetsSendViewContainer.js
  src/routes/DigitalAssets/routes/Send/components/Form/Form.js
  src/routes/DigitalAssets/routes/Send/components/Form/form.scss
  src/routes/DigitalAssets/routes/Send/components/Steps/Steps.js
  src/routes/DigitalAssets/routes/Send/modules/digitalAssetsSend.js
  src/routes/DigitalAssets/routes/Send/sagas/digitalAssetsSend.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-279 Updating package-lock file
  package-lock.json
Due: none

recipient warning was added
  src/routes/DigitalAssets/routes/Send/sagas/digitalAssetsSend.js
Due: ./node_modules/.bin/eslint

Add Currency Picker Setting
  flow-typed/types.js
  src/components/base/JPicker/Item/Item.js
  src/data/settings/currenсies.js
  src/routes/Settings/index.js
  src/routes/Settings/modules/settings.js
  src/routes/Settings/routes/Currency/CurrencyContainer.js
  src/routes/Settings/routes/Currency/CurrencyView.js
  src/routes/Settings/routes/Currency/components/CurrencyPickerCurrent.js
  src/routes/Settings/routes/Currency/components/CurrencyPickerField.js
  src/routes/Settings/routes/Currency/components/currencyPickerField.scss
  src/routes/Settings/routes/Currency/currencyView.scss
  src/routes/Settings/routes/Currency/index.js
  src/routes/Settings/routes/Currency/types.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

nonce management
  src/components/InputButton/InputButton.js
  src/routes/DigitalAssets/routes/Send/DigitalAssetsSendView.js
  src/routes/DigitalAssets/routes/Send/DigitalAssetsSendViewContainer.js
  src/routes/DigitalAssets/routes/Send/components/Form/Form.js
  src/routes/DigitalAssets/routes/Send/components/Steps/Steps.js
  src/routes/DigitalAssets/routes/Send/modules/digitalAssetsSend.js
  src/routes/DigitalAssets/routes/Send/sagas/digitalAssetsSend.js
Due: ./node_modules/.bin/eslint

Add prefixed properties
  src/public/css/style.css
Due: none

Bugfix
  src/public/css/style.css
Due: none

Remove ceursor pointer for AssetCard
  src/components/DigitalAssetsGrid/Asset/asset.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

JWWEB-440 Removing action buttons (save/copy) for QRCode component
  package-lock.json
  src/components/QRCode/QRCode.js
  src/components/QRCode/qrCode.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Remove backup wallet and network name links from settings
  src/routes/Settings/SettingsIndexView.js
Due: ./node_modules/.bin/eslint

JWWEB-460 Scroll in case of long name of address for mnemonic
  src/components/MenuPanel/WalletManager/Details/Addresses/AddressWithName/addressWithName.scss
  src/components/MenuPanel/WalletManager/Details/Addresses/addresses.scss
  src/components/WalletFace/walletFace.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Remove backup button from sidebar
  src/components/MenuPanel/Actions/Actions.js
Due: ./node_modules/.bin/eslint

Remove add new wallet button from Wallet Manager
  src/components/MenuPanel/WalletManager/Details/Actions/Actions.js
Due: ./node_modules/.bin/eslint

Fix delete button destination in settings
  src/routes/Settings/SettingsIndexView.js
Due: ./node_modules/.bin/eslint

JWWEB-484 Padding for password fields with indicator was added
  src/components/PasswordField/PasswordField.js
  src/components/base/JInput/JInput.js
  src/components/base/JInput/jInput.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Remove passphrase input from import screen
  src/components/WalletDataStep/WalletDataStep.js
  src/routes/Wallets/routes/Import/WalletsImportView.js
Due: ./node_modules/.bin/eslint

JWWEB-436: Add analytics middleware and example events
  src/middlewares/analyticsMiddleware.js
  src/middlewares/index.js
  src/store/selectors/digitalAssets.js
  src/utils/analytics/ga.js
  src/utils/analytics/index.js
Due: ./node_modules/.bin/eslint

JWWEB-445 Greater symbol in balances and transactions was replaced to less symbol
  src/utils/numbers/formatBalance.js
Due: ./node_modules/.bin/eslint

Update counting of ticker balance
  flow-typed/config.js
  src/components/MenuPanel/BalanceTicker/BalanceTicker.js
  src/components/MenuPanel/MenuPanel.js
  src/config.js
  src/layouts/MenuLayout/MenuLayout.js
  src/layouts/MenuLayout/MenuLayoutContainer.js
  src/routes/DigitalAssets/routes/AddAsset/sagas/addAsset.js
  src/routes/DigitalAssets/sagas/digitalAssets.js
  src/routes/Wallets/routes/Addresses/sagas/walletsAddresses.js
  src/routes/modules/ticker.js
  src/routes/sagas/core.js
  src/routes/sagas/ticker.js
  src/services/ticker.js
  src/store/selectors/ticker.js
Due: ./node_modules/.bin/eslint

Update package-lock.json
  package-lock.json
Due: none

Removed border from balance if no symbol
  src/components/TransactionItem/Main/Main.js
  src/components/TransactionItem/Main/main.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix view message for events burn and mint
  src/components/TransactionItem/Main/Main.js
Due: ./node_modules/.bin/eslint

Update analytics module
  src/utils/analytics/ga.js
  src/utils/analytics/index.js
Due: ./node_modules/.bin/eslint

JWWEB-436: Add metrics and dimensions to analytics middleware
  src/middlewares/analyticsMiddleware.js
Due: ./node_modules/.bin/eslint

JWWEB-436: Add browser language collection for GA
  src/main.js
Due: ./node_modules/.bin/eslint

Connect fiat currency logic & view
  flow-typed/redux/settings.js
  flow-typed/redux/ticker.js
  flow-typed/types.js
  src/components/MenuPanel/BalanceTicker/BalanceTicker.js
  src/components/MenuPanel/MenuPanel.js
  src/components/SettingsGrid/SettingsGridCard/SettingsGridCard.js
  src/data/settings/currenсies.js
  src/layouts/MenuLayout/MenuLayout.js
  src/layouts/MenuLayout/MenuLayoutContainer.js
  src/routes/Settings/SettingsIndexView.js
  src/routes/Settings/SettingsIndexViewContainer.js
  src/routes/Settings/modules/settings.js
  src/routes/Settings/routes/Currency/CurrencyContainer.js
  src/routes/Settings/routes/Currency/CurrencyView.js
  src/routes/Settings/routes/Currency/types.js
  src/routes/Settings/sagas/index.js
  src/routes/Settings/sagas/paymentPassword.js
  src/routes/Settings/sagas/settings.js
  src/routes/sagas/ticker.js
  src/store/persistReducers.js
  src/store/reducers.js
  src/store/selectors/settings.js
  src/utils/formatters/formatCurrency.js
Due: ./node_modules/.bin/eslint

Update fiat courses management
  src/data/currencies/currencies.js
  src/data/currencies/index.js
  src/data/settings/index.js
  src/routes/Settings/routes/Currency/CurrencyContainer.js
  src/routes/Settings/routes/Currency/components/CurrencyPickerField.js
  src/routes/sagas/ticker.js
  src/services/ticker.js
  src/utils/formatters/formatCurrency.js
  src/utils/index.js
Due: ./node_modules/.bin/eslint

Fix bug with all features in list visible on error
  src/public/css/style.css
Due: none

Clean import wallet form errors on current step change
  src/routes/Wallets/modules/wallets.js
  src/routes/Wallets/routes/Create/modules/walletsCreate.js
  src/routes/Wallets/routes/Import/modules/walletsImport.js
  src/utils/wallets/checkWalletUniqueness.js
Due: ./node_modules/.bin/eslint

Fix env var names for API endpoints
  env/development
  env/production
  webpack.config.js
Due: ./node_modules/.bin/eslint

Add new wallet creation/import analytics
  src/middlewares/analyticsMiddleware/index.js
  src/middlewares/analyticsMiddleware/newWalletEvents.js
  src/middlewares/analyticsMiddleware/userParams.js
Due: ./node_modules/.bin/eslint

Fix somehow renamed action
  src/middlewares/analyticsMiddleware/userParams.js
Due: ./node_modules/.bin/eslint

JWWEB-436: Set first wallet creation date
  src/middlewares/analyticsMiddleware/userParams.js
  src/utils/analytics/ga.js
Due: ./node_modules/.bin/eslint

Add addWorkerscryptoTest modernizr check
  src/browsercheck.js
  src/public/css/style.css
  src/public/index.html
  src/public/js/modernizr.js
  src/public/js/test-worker.js
Due: ./node_modules/.bin/eslint

-console.log
  src/public/js/modernizr.js
Due: ./node_modules/.bin/eslint
