Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss, node_modules/**, build/**, test/**, src/public/**

.lintstagedrc:

{
  "*.js": "./node_modules/.bin/eslint",
  "*.scss": "./node_modules/.bin/stylelint --syntax=scss",
  "ignore": [
    "node_modules/**",
    "build/**",
    "test/**",
    "src/public/**"
  ]
}

Fix title size for closeable screen
  src/components/CloseableScreen/CloseableScreen.js
Due: ./node_modules/.bin/eslint

JWWEB-566: incorrect sorting
  src/routes/DigitalAssets/routes/Grid/DigitalAssetsGridViewContainer.js
  src/utils/digitalAssets/compareDigitalAssetsByBalance.js
Due: ./node_modules/.bin/eslint

JWWEB-566: remove unnecessary toBigNumber call
  src/utils/digitalAssets/compareDigitalAssetsByBalance.js
Due: ./node_modules/.bin/eslint

Fix English translation
  src/data/lang/en.po
Due: none

load en translation
  src/data/lang/en.json
  src/data/lang/en.po
  src/data/lang/index.js
  src/main.js
  src/utils/wallets/checkWalletUniqueness.js
Due: ./node_modules/.bin/eslint

Hotfix
  src/data/lang/en.json
  src/data/lang/en.po
Due: none

Correct string condition and add timeout in config
  flow-typed/config.js
  src/config.js
  src/routes/DigitalAssets/routes/Receive/DigitalAssetsReceiveView.js
Due: ./node_modules/.bin/eslint

Fix bug and add timeout in config
  flow-typed/config.js
  src/components/CopyableField/CopyableField.js
  src/config.js
Due: ./node_modules/.bin/eslint

Update en.po
  src/data/lang/en.po
Due: none

JWWEB-575: Fix translation for "display transactions"
  package.json
  src/data/lang/en.json
  src/data/lang/en.po
Due: none

JWWEB-574: Fix transaction amount input validation
  src/routes/DigitalAssets/routes/Send/sagas/digitalAssetsSend.js
Due: ./node_modules/.bin/eslint

Fix validating of tx amount
  src/routes/DigitalAssets/routes/Send/sagas/digitalAssetsSend.js
Due: ./node_modules/.bin/eslint

removed i18n
  .eslintrc
  .storybook/config.js
  .vscode/settings.json
  flow-typed/types.js
  src/i18n/en.js
  src/i18n/index.js
  src/i18n/ja.js
  src/i18n/ko.js
  src/i18n/zh.js
  src/main.js
  src/routes/modules/i18n.js
  src/utils/i18n/getCurrentLanguageCode.js
  src/utils/i18n/index.js
  src/utils/index.js
  stories/index.js
Due: ./node_modules/.bin/eslint

Update tx amount checks
  src/routes/DigitalAssets/routes/Send/sagas/digitalAssetsSend.js
Due: ./node_modules/.bin/eslint

remove settings.json
  .vscode/settings.json
Due: none

fix phrases
  src/data/lang/en.json
  src/data/lang/en.po
Due: none

JWWEB-574: Fix transaction amount, gas price & gas limit validation
  src/routes/DigitalAssets/routes/Send/sagas/digitalAssetsSend.js
  src/utils/numbers/index.js
  src/utils/numbers/isValidNumeric.js
Due: ./node_modules/.bin/eslint

JWWEB-585: Update social image
  src/public/assets/social.png
Due: none

JWWEB-507 fix naming
  src/components/TransactionItem/Details/Details.js
Due: ./node_modules/.bin/eslint

Update en lang .po file
  src/data/lang/en.po
Due: none

Update en lang .json file
  src/data/lang/en.json
Due: none

JWWEB-536 fix searching of favorites
  src/routes/Favorites/FavoritesIndexView.js
Due: ./node_modules/.bin/eslint

JWWEB-581 Delete agreement line
  src/data/lang/en.json
  src/data/lang/en.po
  src/routes/Wallets/routes/Start/WalletsStartView.js
  src/routes/Wallets/walletsView.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

add info and error message to recepient input
  src/components/base/JInput/jInput.scss
  src/routes/DigitalAssets/routes/Send/components/Form/Form.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Add escapeRegExp utils
  src/utils/index.js
  src/utils/regexp/escapeRegExp.js
  src/utils/regexp/index.js
Due: ./node_modules/.bin/eslint

JWWEB-568 fix searching of transactions
  src/utils/transactions/searchTransactions.js
Due: ./node_modules/.bin/eslint

Add escaping of spec chars in each place of searching by regexp
  src/components/AddressPicker/AddressPicker.js
  src/routes/DigitalAssets/routes/Send/components/Form/AssetPicker/AssetPicker.js
  src/routes/Favorites/FavoritesIndexView.js
  src/routes/Settings/SettingsIndexView.js
  src/utils/digitalAssets/searchDigitalAssets.js
Due: ./node_modules/.bin/eslint

Improve tx searching
  src/utils/transactions/searchTransactions.js
Due: ./node_modules/.bin/eslint

Just proof of work web workers via promises
  package-lock.json
  package.json
  src/routes/Settings/routes/Currency/CurrencyView.js
  src/workers/index.js
  src/workers/proof/index.js
  src/workers/proof/worker.js
  src/workers/proof/wrapper.js
Due: ./node_modules/.bin/eslint

ttag improvements
  .gitignore
  package.json
  src/data/lang/en.json
  src/data/lang/en.po
Due: none

fix comment
  .gitignore
Due: none

run ttag:tojson after lang-update:en
  package.json
Due: none

JWWEB-613 lodash-es was added to dependencies
  package-lock.json
  package.json
Due: none

updated README.md
  README.md
Due: none

JWWEB-475 The 'Copy Backup phrase' button doesn't change by hovering and copying - fixed
  src/components/CopyableField/CopyableField.js
  src/components/CopyableField/copyableField.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Delete en.json
  src/data/lang/en.json
Due: none

JWWEB-577: Replace short dash with long dash
  src/data/lang/en.po
  src/routes/NotFound/NotFoundView.js
Due: ./node_modules/.bin/eslint
