Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss, node_modules/**, build/**, test/**, src/public/**

Fix storybook not displaying icons
  .storybook/webpack.config.js
Due: ./node_modules/.bin/eslint

JWWEB-729 Update NewWalletButtons styles
  src/components/NewWalletButtons/NewWalletButtons.js
  src/components/NewWalletButtons/index.js
  src/components/NewWalletButtons/newWalletButtons.m.scss
  src/components/NewWalletButtons/newWalletButtons.scss
  src/styles/_base.scss
  src/styles/colors.scss
  src/styles/core.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Add tests for LogoHeader
  src/components/LogoHeader/tests/LogoHeader.test.js
Due: ./node_modules/.bin/eslint

Add tests for JLogo
  src/components/base/JLogo/tests/JLogo.test.js
Due: ./node_modules/.bin/eslint

Update WalletsStart page
  src/AppRouter.js
  src/pages/Wallets/routes/Start/WalletsStartView.js
  src/pages/Wallets/routes/Start/WalletsStartViewContainer.js
  src/pages/Wallets/routes/index.js
  src/pages/Wallets/walletsView.scss
  src/pages/WalletsStart/WalletsStart.js
  src/pages/WalletsStart/walletsStart.m.scss
  src/pages/index.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Update & move create & import wallet pages
  src/pages/Wallets/routes/Create/index.js
  src/pages/Wallets/routes/Import/index.js
  src/pages/WalletsCreate/WalletsCreate.js
  src/pages/WalletsCreate/WalletsCreateView.js
  src/pages/WalletsImport/WalletsImport.js
  src/pages/WalletsImport/WalletsImportView.js
  src/pages/WalletsStart/WalletsStart.js
  src/pages/index.js
Due: ./node_modules/.bin/eslint

Update JLogo (ability to pass className)
  src/components/base/JLogo/JLogo.js
Due: ./node_modules/.bin/eslint

Add ability to open create&import pages wo any wallets
  src/AppRouter.js
Due: ./node_modules/.bin/eslint

Add tests for NewWalletButtons
  src/components/NewWalletButtons/tests/NewWalletButtons.test.js
Due: ./node_modules/.bin/eslint

Add LogoHeader component
  src/components/LogoHeader/LogoHeader.js
  src/components/LogoHeader/logoHeader.m.scss
  src/components/index.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Update NewWalletButtons (handleClick)
  src/components/NewWalletButtons/NewWalletButtons.js
  src/components/NewWalletButtons/newWalletButtons.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Commented selectors were deleted, indentations were fixed, description for T433 has been added
  tests/pageObject/createPage.page.js
  tests/pageObject/importPage.js
  tests/pageObject/loginTermsPage.page.js
  tests/pageObject/page.page.js
  tests/pageObject/startPage.page.js
  tests/specs/T433--TermsAndConditionsPage-AcceptAndContinue.spec.js
  tests/specs/T452--TermsAndConditionsPage-PageChecks.spec.js
  tests/specs/T453--CreateWallet-PageChecks-MainPage.spec.js
  tests/specs/T455--CreateWallet-PageChecks-SetSecurityPassword.spec.js
  tests/specs/T457--ImportWallet-PageChecks.spec.js
  tests/specs/T476--StartPage-PageChecks.spec.js
Due: ./node_modules/.bin/eslint

Remove NewWalletButtons from WalletCard stories
  src/components/WalletCard/WalletCard.stories.js
Due: ./node_modules/.bin/eslint

Typing mistake at the T433 has been fixed
  tests/specs/T433--TermsAndConditionsPage-AcceptAndContinue.spec.js
Due: ./node_modules/.bin/eslint

Refactor MenuLayout
  src/layouts/MenuLayout/MenuLayout.js
  src/layouts/MenuLayout/MenuLayoutContainer.js
  src/layouts/MenuLayout/components/Back/Back.js
  src/layouts/MenuLayout/components/MenuPanel/MenuPanel.js
  src/layouts/MenuLayout/components/MenuPanel/menuPanel.m.scss
  src/layouts/MenuLayout/components/index.js
  src/layouts/MenuLayout/menuLayout.m.scss
  src/layouts/MenuLayout/menuMeta.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Revert "Refactor MenuLayout"
  src/layouts/MenuLayout/MenuLayout.js
  src/layouts/MenuLayout/components/Back/Back.js
  src/layouts/MenuLayout/components/MenuPanel/MenuPanel.js
  src/layouts/MenuLayout/components/MenuPanel/menuMeta.js
  src/layouts/MenuLayout/components/MenuPanel/menuPanel.m.scss
  src/layouts/MenuLayout/components/index.js
  src/layouts/MenuLayout/menuLayout.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Add transition after set wallets
  src/store/plugins/walletsPlugin.js
Due: ./node_modules/.bin/eslint

JWWEB-734 Reworked `JAssetSymbol` to responsive version
  src/components/AssetItem/AssetItem.js
  src/components/AssetItem/assetItem.scss
  src/components/DigitalAssetsGrid/Asset/Asset.js
  src/components/DigitalAssetsGrid/Asset/asset.scss
  src/components/TransactionItem/Main/Main.js
  src/components/TransactionItem/Main/main.scss
  src/components/TransactionItemNew/TransactionItem.js
  src/components/TransactionItemNew/transactionItem.m.scss
  src/components/base/JAssetSymbol/JAssetSymbol.js
  src/components/base/JAssetSymbol/jAssetSymbol.scss
  src/pages/DigitalAssets/routes/Send/components/Form/AssetPicker/Current/Current.js
  src/pages/DigitalAssets/routes/Send/components/Form/AssetPicker/Current/current.scss
  src/pages/DigitalAssets/routes/Send/components/Form/AssetPicker/Item/Item.js
  src/pages/DigitalAssets/routes/Send/components/Form/AssetPicker/Item/item.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix validating of import wallet form
  src/components/base/JTextArea/JTextArea.js
  src/data/lang/en.po
  src/pages/WalletsImport/WalletsImport.js
  src/pages/WalletsImport/WalletsImportView.js
  src/store/plugins/walletsPlugin.js
Due: ./node_modules/.bin/eslint

JWWEB-733: Fix home buttons height
  src/pages/Home/home.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

JWWEB-734 Merge fix
  src/components/index.js
Due: ./node_modules/.bin/eslint

JWWEB-735 Reorganization of components in assets list
  src/components/AssetItemNew/AssetItem.js
  src/components/DigitalAssetsGrid/DigitalAssetsGrid.js
  src/components/DigitalAssetsGrid/digitalAssetsGrid.scss
  src/pages/Home/Home.js
  src/pages/Home/HomeView.js
  src/pages/Home/home.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-717 Asset picker
  src/components/base/JPicker/Body/JPickerBody.js
  src/components/base/JPicker/Body/jPickerBody.m.scss
  src/components/base/JPicker/Current/JPickerCurrent.js
  src/components/base/JPicker/Current/jPickerCurrent.m.scss
  src/components/base/JPicker/Item/DefaultItem.js
  src/components/base/JPicker/Item/defaultItem.m.scss
  src/components/base/JPicker/List/JPickerList.js
  src/components/base/JPicker/List/JPickerListItem.js
  src/components/base/JPicker/List/jPickerList.m.scss
  src/components/base/JPicker/List/jPickerListItem.m.scss
  src/components/base/JPicker/index.js
  src/pages/DigitalAssets/routes/Manage/DigitalAssetsManageViewContainer.js
  src/pages/Send/components/AssetPicker/AssetPicker.js
  src/pages/Send/components/AssetPicker/JPicker.stories.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix asset picker
  .eslintrc
  src/components/base/JPicker/Body/jPickerBody.m.scss
  src/components/base/JPicker/Current/jPickerCurrent.m.scss
  src/components/base/JPicker/Item/DefaultItem.js
  src/components/base/JPicker/List/JPickerList.js
  src/components/base/JPicker/List/jPickerList.m.scss
  src/pages/DigitalAssets/routes/Send/DigitalAssetsSendViewContainer.js
  src/pages/Send/components/AssetPicker/AssetPicker.js
  src/pages/Send/components/AssetPicker/AssetPicker.stories.js
  src/pages/Send/components/AssetPicker/Item/AssetItem.js
  src/pages/Send/components/AssetPicker/Item/assetItem.m.scss
  src/pages/Send/components/AssetPicker/JPicker.stories.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix JAssetSymbol to re-render on icon change
  src/components/base/JAssetSymbol/JAssetSymbol.js
Due: ./node_modules/.bin/eslint

Revert "Fix JAssetSymbol to re-render on icon change"
  src/components/base/JAssetSymbol/JAssetSymbol.js
Due: ./node_modules/.bin/eslint

Fix Main Menu bugs
  .idea/jwallet-web.iml
  src/components/base/JLinkBack/JLinkBack.js
  src/components/base/JLogo/JLogo.js
  src/components/base/JLogo/jLogo.m.scss
  src/layouts/MenuLayout/MenuLayout.js
  src/layouts/MenuLayout/MenuLayoutContainer.js
  src/layouts/MenuLayout/components/MenuPanel/MenuPanel.js
  src/layouts/MenuLayout/components/MenuPanel/components/Actions.js
  src/layouts/MenuLayout/components/MenuPanel/components/Back.js
  src/layouts/MenuLayout/components/MenuPanel/components/Network.js
  src/layouts/MenuLayout/components/MenuPanel/components/Settings.js
  src/layouts/MenuLayout/components/MenuPanel/components/Top.js
  src/layouts/MenuLayout/components/MenuPanel/components/Wallet.js
  src/layouts/MenuLayout/components/MenuPanel/components/index.js
  src/layouts/MenuLayout/components/MenuPanel/menuPanel.m.scss
  src/layouts/MenuLayout/components/MenuPanel/tests/MenuPanel.test.js
  src/layouts/MenuLayout/components/MenuPanel/tests/Network.test.js
  src/layouts/MenuLayout/menuLayout.m.scss
  src/public/assets/icons/sprite-pack/ic_info-use-fill.svg
  src/public/assets/icons/sprite-pack/medium/arrow-back-use-fill.svg
  src/public/assets/icons/sprite-pack/medium/arrow-back.svg
  src/public/assets/icons/sprite-pack/medium/arrow-right-use-fill.svg
  src/public/assets/icons/sprite-pack/medium/arrow-right.svg
  src/public/assets/icons/sprite-pack/medium/contact-use-fill.svg
  src/public/assets/icons/sprite-pack/medium/history-use-fill.svg
  src/public/assets/icons/sprite-pack/medium/home-use-fill.svg
  src/public/assets/icons/sprite-pack/medium/more-use-fill.svg
  src/public/assets/icons/sprite-pack/medium/settings-use-fill.svg
  src/public/assets/logo/logo-blue.svg
  src/public/assets/logo/logo-white.svg
  src/styles/mixins.scss
  src/styles/responsive.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Add not found item
  src/components/base/JPicker/List/NotFoundItem.js
  src/components/base/JPicker/List/notFoundItem.m.scss
  src/components/base/JPicker/index.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix chevron
  src/components/base/JPicker/Body/JPickerBody.js
Due: ./node_modules/.bin/eslint

Add chevron icons
  src/public/assets/icons/sprite-pack/medium/chevron-down-use-fill.svg
  src/public/assets/icons/sprite-pack/medium/chevron-up-use-fill.svg
Due: none

Fix hover-active zone
  src/components/base/JPicker/List/jPickerListItem.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Use NotFoundItem in AssetPicker
  src/pages/Send/components/AssetPicker/AssetPicker.js
Due: ./node_modules/.bin/eslint

JLink does not throw if no router is specified in component context
  src/components/base/JLink/JLinkInternal.js
Due: ./node_modules/.bin/eslint

Add keys for Unexpected Error links
  src/pages/ErrorUnexpected/ErrorUnexpected.js
Due: ./node_modules/.bin/eslint

JWWEB-758: Use viewBox provided by icon
  src/components/base/JAssetSymbol/JAssetSymbol.js
  src/components/base/JAssetSymbol/tests/JAssetSymbol.test.js
  src/utils/sprite/iconsAsset.js
  src/utils/sprite/types.js
Due: ./node_modules/.bin/eslint

JWWEB-734: Update Asset Item
  src/components/AssetItem/AssetItem.stories.js
  src/components/AssetItemLegacy/AssetItem.js
  src/components/AssetItemLegacy/assetItem.scss
  src/components/AssetItemLegacy/index.js
  src/components/DigitalAssetsGrid/DigitalAssetsGrid.js
  src/components/DigitalAssetsGrid/digitalAssetsGrid.scss
  src/components/DigitalAssetsGrid/index.js
  src/components/DigitalAssetsManage/DigitalAssetsManage.js
  src/components/index.js
  src/pages/Home/HomeView.js
  src/pages/Home/components/AssetItem/AssetItem.js
  src/pages/Home/components/AssetItem/assetItem.m.scss
  src/styles/core.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Update test and jest config
  .jest/register-context.js
  jest.config.js
  src/components/base/JLogo/tests/JLogo.test.js
Due: ./node_modules/.bin/eslint

Path conditions:
  ./node_modules/.bin/eslint: any of: *.js
  ./node_modules/.bin/stylelint --syntax=scss: any of: *.scss
  node_modules/**: any of: ignore
  build/**: any of: ignore
  test/**: any of: ignore
  src/public/**: any of: ignore
