Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss, node_modules/**, build/**, test/**, src/public/**

rename to onSubmit
  src/routes/DigitalAssets/routes/SendWizard/DigitalAssetsSendWizard.js
  src/routes/DigitalAssets/routes/SendWizard/components/PasswordStepForm/PasswordStepForm.js
  src/routes/DigitalAssets/routes/SendWizard/components/PasswordStepForm/PasswordStepFormContainer.js
Due: ./node_modules/.bin/eslint

add yup and getRecipientWarning
  package.json
  src/routes/DigitalAssets/routes/SendWizard/components/FirstStepForm/FirstStepForm.js
Due: ./node_modules/.bin/eslint

fix error message
  src/components/base/JInput/JInputField.js
Due: ./node_modules/.bin/eslint

Created utils for icons sprite
  src/components/base/JAssetSymbol/JAssetSymbol.js
  src/components/base/JIcon/JIcon.js
  src/utils/sprite/iconsAsset.js
  src/utils/sprite/iconsUI.js
  src/utils/sprite/index.js
Due: ./node_modules/.bin/eslint

JWWEB-607 css modules imports were renamed,
  src/components/MenuPanel/MainAction/MainAction.js
  src/components/base/JRaisedButton/JRaisedButton.js
  src/components/base/JRaisedButton/jRaisedButton.m.scss
  src/routes/Upgrade/UpgradeView.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Pull request request changes
  src/errors/WalletInconsistentData.js
  src/errors/index.js
  src/errors/tests/ActiveNetworkNotFound.test.js
  src/errors/tests/ActiveWalletNotFound.test.js
  src/errors/tests/DifitalAssetNotFound.test.js
  src/errors/tests/WalletInvalidData.test.js
  src/errors/tests/WalletNotFound.test.js
  src/routes/Upgrade/UpgradeViewContainer.js
  src/store/sagas/wallets/core.js
  src/utils/wallets/createWallet.js
  src/utils/wallets/getAddress.js
  src/utils/wallets/getAddresses.js
  src/utils/wallets/getMnemonic.js
  src/utils/wallets/getPrivateKey.js
  src/utils/wallets/reEncryptWallet.js
  src/utils/wallets/upgradeWallet.js
  src/workers/wallets/worker.js
  src/workers/wallets/wrapper.js
Due: ./node_modules/.bin/eslint

Add base error
  src/errors/JError.js
  src/errors/JError.test.js
Due: ./node_modules/.bin/eslint

temporary JFlatButton rework
  src/components/AssetItem/AssetItem.js
  src/components/ButtonWithConfirm/ButtonWithConfirm.js
  src/components/FavoriteItem/FavoriteItem.js
  src/components/TransactionItem/Details/Details.js
  src/components/base/JFlatButton/JFlatButton.js
  src/components/base/JFlatButton/jFlatButton.m.scss
  src/components/base/JRaisedButton/JRaisedButton.js
  src/components/base/JRaisedButton/jRaisedButton.m.scss
  src/routes/Transactions/routes/Asset/TransactionsAssetView.js
  src/routes/Wallets/routes/Delete/WalletsDeleteView.js
  src/styles/core.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Update worker's errors API
  src/errors/WorkerError.js
  src/errors/WorkerError.test.js
  src/errors/WorkerQueueExceededError.js
  src/errors/WorkerQueueExceededError.test.js
  src/errors/WorkerTaskError.js
  src/errors/WorkerTaskError.test.js
  src/errors/WorkerTaskReplacedError.js
  src/errors/WorkerTaskReplacedError.test.js
  src/errors/WorkerTaskTimeoutError.js
  src/errors/WorkerTaskTimeoutError.test.js
  src/workers/EventEmitterWorker.js
  src/workers/EventEmitterWorker.test.js
  src/workers/PromiseWorker.js
  src/workers/PromiseWorker.test.js
Due: ./node_modules/.bin/eslint

Placeholder for nonexistent icon names
  src/components/base/JIcon/JIcon.js
  src/components/base/JIcon/jIcon.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Corrected name dots-full
  src/components/AssetItem/AssetItem.js
  src/components/FavoriteItem/FavoriteItem.js
Due: ./node_modules/.bin/eslint

package.json
  package.json
Due: none

JWWEB-607 removing mouse event handling
  src/components/AssetItem/AssetItem.js
  src/components/AssetItem/assetItem.scss
  src/components/ButtonWithConfirm/buttonWithConfirm.scss
  src/components/DigitalAssetsGrid/Asset/AssetCardBody/AssetCardBody.js
  src/components/FavoriteItem/FavoriteItem.js
  src/components/FavoriteItem/favoriteItem.scss
  src/components/TransactionItem/Details/Details.js
  src/components/TransactionItem/Details/details.scss
  src/components/base/JFlatButton/JFlatButton.js
  src/components/base/JFlatButton/jFlatButton.scss
  src/components/base/JTooltip/jTooltip.scss
  src/routes/NotFound/NotFoundView.js
  src/routes/NotFound/notFoundView.scss
  src/styles/components/jText.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

updated flowtype
  package.json
Due: none

JWWEB-607 test update
  src/components/base/JRaisedButton/tests/JRaisedButton.test.js
Due: ./node_modules/.bin/eslint

update flow-typed libs
  flow-typed/npm/ramda_v0.x.x.js
  flow-typed/npm/recompose_v0.x.x.js
  flow-typed/npm/redux-saga_v0.16.x.js
Due: ./node_modules/.bin/eslint

Update version to 2.1.0
  package.json
  version.txt
Due: none

JWWEB-607 state property was renamed for keeping naming convention
  src/components/AssetItem/AssetItem.js
Due: ./node_modules/.bin/eslint

Load zxcvbn as async chunk
  src/components/PasswordField/PasswordField.js
  src/store/sagas/wallets/create.js
  src/store/sagas/wallets/import.js
  src/utils/encryption/checkPasswordStrength.js
  src/utils/encryption/index.js
  src/utils/encryption/testPassword.js
Due: ./node_modules/.bin/eslint

remove js-sha3
  package.json
Due: none

JWWEB-607 typo
  src/components/AssetItem/AssetItem.js
  src/components/FavoriteItem/FavoriteItem.js
Due: ./node_modules/.bin/eslint

JWWEB-607 lang file was updated
  src/data/lang/en.po
Due: none

JWWEB-703: Add backup action to the "Create Wallet" process
  flow-typed/redux/wallets.js
  src/components/CopyableField/CopyableField.js
  src/data/lang/en.po
  src/middlewares/analyticsMiddleware/newWalletEvents.js
  src/middlewares/analyticsMiddleware/userParams.js
  src/routes/Wallets/modules/wallets.js
  src/routes/Wallets/routes/Backup/WalletsBackupView.js
  src/routes/Wallets/routes/Backup/sagas/walletsBackup.js
  src/routes/Wallets/routes/Create/WalletsCreateView.js
  src/routes/Wallets/routes/Create/WalletsCreateViewContainer.js
  src/routes/Wallets/routes/Create/modules/walletsCreate.js
  src/routes/Wallets/routes/Create/sagas/walletsCreate.js
  src/routes/Wallets/routes/Import/modules/walletsImport.js
  src/routes/Wallets/routes/Import/sagas/walletsImport.js
  src/workers/wallets/worker.js
  src/workers/wallets/wrapper.js
  stories/components/CopyableField.stories.js
Due: ./node_modules/.bin/eslint

PR request changes
  src/errors/ActiveNetworkNotFound.js
  src/errors/ActiveNetworkNotFoundError.js
  src/errors/ActiveWalletNotFound.js
  src/errors/ActiveWalletNotFoundError.js
  src/errors/DigitalAssetNotFound.js
  src/errors/DigitalAssetNotFoundError.js
  src/errors/WalletInconsistentData.js
  src/errors/WalletInconsistentDataError.js
  src/errors/WalletNotFound.js
  src/errors/WalletNotFoundError.js
  src/errors/index.js
  src/errors/tests/ActiveNetworkNotFoundError.test.js
  src/errors/tests/ActiveWalletNotFoundError.test.js
  src/errors/tests/DifitalAssetNotFoundError.test.js
  src/errors/tests/WalletInconsistentDataError.test.js
  src/errors/tests/WalletNotFoundError.test.js
  src/routes/Upgrade/UpgradeViewContainer.js
  src/store/sagas/wallets/core.js
  src/store/selectors/digitalAssets.js
  src/store/selectors/wallets.js
  src/utils/wallets/createWallet.js
  src/utils/wallets/getAddress.js
  src/utils/wallets/getAddresses.js
  src/utils/wallets/getMnemonic.js
  src/utils/wallets/getPrivateKey.js
  src/utils/wallets/getWallet.js
  src/utils/wallets/reEncryptWallet.js
  src/utils/wallets/upgradeWallet.js
  src/workers/wallets/worker.js
  src/workers/wallets/wrapper.js
Due: ./node_modules/.bin/eslint

JWWEB-703: Fix flow types
  flow-typed/redux/wallets.js
  src/components/CopyableField/CopyableField.js
Due: ./node_modules/.bin/eslint

Add function-paren-newline eslint rule
  .eslintrc
Due: none

JWWEB-579: Update social share data
  src/public/index.html
Due: none

JWWEB-579: Fix og url
  src/public/index.html
Due: none

JWWEB-697 JTextArea init commit
  src/components/base/JTextArea/JTextArea.js
  src/components/base/JTextArea/index.js
  src/components/base/JTextArea/jTextArea.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-740: Add password error handling
  src/routes/Wallets/routes/Create/sagas/walletsCreate.js
Due: ./node_modules/.bin/eslint

JWWEB-697 ErrorMessage and field form were added
  flow-typed/components.js
  src/components/base/ErrorMessage/ErrorMessage.js
  src/components/base/ErrorMessage/ErrorMessage.m.scss
  src/components/base/JTextArea/JTextArea.js
  src/components/base/JTextArea/JTextAreaField.js
  src/components/base/JTextArea/index.js
  src/components/base/JTextArea/jTextArea.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Add no-mixed-operators eslint rule
  .eslintrc
Due: none

Fix eslint errors
  src/components/DigitalAssetsGrid/Asset/AssetCardBody/AssetCardBody.js
  src/components/base/JFlatButton/JFlatButton.js
  src/components/base/JIcon/JIcon.js
  src/components/base/JRaisedButton/JRaisedButton.js
  src/components/base/JRaisedButton/tests/JRaisedButton.test.js
  src/middlewares/redirect/index.js
  src/store/sagas/blocks.js
  src/utils/address/getAddressChecksum.js
  src/workers/settings/worker.js
Due: ./node_modules/.bin/eslint

Remove duplicate getAddressWithChecksum from utils
  src/services/blockExplorer.js
  src/services/web3.js
  src/utils/address/checkAddressWithChecksumValid.js
  src/utils/address/getAddressWithChecksum.js
  src/utils/address/index.js
Due: ./node_modules/.bin/eslint

update storybook
  .storybook/config.js
  .storybook/webpack.config.js
  package.json
  stories/__new__/ESCButton.stories.js
  stories/__new__/JButton.stories.js
  stories/__new__/JIcon.stories.js
  stories/__new__/JSelect.stories.js
  stories/__new__/JThumbnail.stories.js
  stories/__new__/KeyManager.stories.js
  stories/__new__/MnemonicAddress.stories.js
  stories/__new__/ModalHeader.stories.js
  stories/__new__/NewWalletButton.stories.js
  stories/__new__/WalletHeader.stories.js
  stories/__new__/index.js
  stories/components/base/JFlatButton.stories.js
  stories/components/base/JIcon.stories.js
  stories/components/base/JInput.stories.js
  stories/components/base/index.js
  stories/components/index.js
  stories/index.js
  webpack.config.js
Due: ./node_modules/.bin/eslint

JWWEB-697 typings were changed
  src/components/base/ErrorMessage/ErrorMessage.js
  src/components/base/JTextArea/JTextArea.js
Due: ./node_modules/.bin/eslint

JWWEB-697 HTML typings were removed from Props of components, also styles fro ErrorMessage were added
  src/components/base/ErrorMessage/ErrorMessage.js
  src/components/base/ErrorMessage/ErrorMessage.m.scss
  src/components/base/JTextArea/JTextArea.js
  src/components/base/JTextArea/JTextAreaField.js
  src/components/base/index.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-697 Tests for JTextArea were added
  .idea/jwallet-web.iml
  .idea/runConfigurations/All_unit_tests.xml
  jest.config.js
  src/components/base/JTextArea/tests/JTextArea.test.js
Due: ./node_modules/.bin/eslint

JWWEB-697 nesting was reduced, StyleComponent type was pronounced as component with theme property as Maybe string
  flow-typed/components.js
  src/components/base/ErrorMessage/ErrorMessage.js
  src/components/base/JTextArea/JTextAreaField.js
Due: ./node_modules/.bin/eslint

JWWEB-697 Component JTextArea were moved to root components directory
  flow-typed/components.js
  src/components/JTextArea/JTextArea.js
  src/components/JTextArea/JTextAreaField.js
  src/components/JTextArea/index.js
  src/components/JTextArea/jTextArea.m.scss
  src/components/JTextArea/tests/JTextArea.test.js
  src/components/base/ErrorMessage/index.js
  src/components/base/index.js
  src/components/index.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Path conditions:
  ./node_modules/.bin/eslint: any of: *.js
  ./node_modules/.bin/stylelint --syntax=scss: any of: *.scss
  node_modules/**: any of: ignore
  build/**: any of: ignore
  test/**: any of: ignore
  src/public/**: any of: ignore
