Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss, node_modules/**, build/**, test/**, src/public/**

Fix - 'false' at the gas limit
  src/pages/Send/components/PriorityField/InputWithUnit/InputWithUnit.js
  src/pages/Send/components/PriorityField/PriorityField.js
Due: ./node_modules/.bin/eslint

Implroove errors and when priority picker is open
  src/pages/Send/StepOneForm.js
  src/pages/Send/components/PriorityField/PriorityField.js
  src/pages/Send/components/SendAmountField/SendAmountField.js
  src/pages/Send/components/SendAmountField/sendAmountField.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Remove comment
  src/pages/Send/components/RecipientPicker/prepareWallets.js
Due: ./node_modules/.bin/eslint

Connect fiat currency page to redux
  flow-typed/redux/user.js
  src/data/currencies.js
  src/data/languages.js
  src/pages/SettingsCurrency/SettingsCurrency.js
  src/store/modules/user.js
  src/store/selectors/user.js
Due: ./node_modules/.bin/eslint

Move currency settigs from settings to user reducer
  flow-typed/redux/settings.js
  src/layouts/MenuLayout/components/MenuPanel/components/Wallet.js
  src/middlewares/analyticsMiddleware/userParams.js
  src/pages/Home/components/AssetItem/AssetItem.js
  src/pages/Send/components/SendAmountField/SendAmountFieldContainer.js
  src/pages/Settings/Settings.js
  src/store/modules/settings.js
  src/store/sagas/settings.js
  src/store/sagas/ticker.js
  src/store/selectors/ticker.js
  src/store/utils/getFiatBalances.js
Due: ./node_modules/.bin/eslint

Delete old legacy code
  src/pages/Settings/routes/Currency/CurrencyContainer.js
  src/pages/Settings/routes/Currency/CurrencyView.js
  src/pages/Settings/routes/Currency/components/CurrencyPickerCurrent.js
  src/pages/Settings/routes/Currency/components/CurrencyPickerField.js
  src/pages/Settings/routes/Currency/components/currencyPickerField.scss
  src/pages/Settings/routes/Currency/currencyView.scss
  src/pages/Settings/routes/Currency/index.js
  src/pages/Settings/routes/Currency/types.js
  src/store/selectors/settings.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Data layer for contacts
  flow-typed/redux/appState.js
  flow-typed/redux/contacts.js
  src/store/modules/contacts.js
  src/store/modules/index.js
  src/store/persistReducers.js
  src/store/reducers.js
  src/store/selectors/contacts.js
Due: ./node_modules/.bin/eslint

Improove contacts add view
  src/pages/ContactsItemAdd/ContactsItemAddView.js
Due: ./node_modules/.bin/eslint

Contacts edit form
  src/components/ContactsEditForm/ContactsEditForm.js
  src/components/ContactsEditForm/contactsEditForm.m.scss
  src/components/index.js
  src/pages/ContactsItemAdd/ContactsItemAddView.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

WP: contacts item add
  src/pages/ContactsItemAdd/ContactsItemAdd.js
  src/pages/ContactsItemAdd/contactsItemAdd.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Send asset: remove old files
  flow-typed/redux/appState.js
  flow-typed/redux/digitalAssets.js
  src/store/modules/digitalAssetsSend.js
  src/store/reducers.js
  src/store/sagas/digitalAssets/index.js
  src/store/sagas/digitalAssets/send.js
  src/store/selectors/digitalAssets.js
Due: ./node_modules/.bin/eslint

Send asset: disable broken GA
  src/middlewares/analyticsMiddleware/index.js
Due: ./node_modules/.bin/eslint

Setup translation extract process
  .babelrc
  .eslintignore
  .gitignore
  .linguirc
  package.json
Due: none

Add idb typings
  flow-typed/npm/idb-util.js
  flow-typed/npm/idb-wrap-value.js
  flow-typed/npm/idb.js
Due: ./node_modules/.bin/eslint

Add translation service to store language in indexedDb
  src/services/translation/db/index.js
  src/services/translation/db/lang.js
  src/services/translation/index.js
Due: ./node_modules/.bin/eslint

Init locales
  src/data/lingui/en/messages.json
  src/data/lingui/es/messages.json
  src/data/lingui/index.js
  src/data/lingui/ja/messages.json
  src/data/lingui/ko/messages.json
  src/data/lingui/ru/messages.json
  src/data/lingui/zh-Hans/messages.json
  src/data/lingui/zh-Hant/messages.json
Due: ./node_modules/.bin/eslint

improove db types
  flow-typed/npm/idb.js
  src/app/components/LangProvider/LangProvider.js
  src/services/translation/db/index.js
  src/services/translation/db/lang.js
  src/services/translation/index.js
Due: ./node_modules/.bin/eslint

Improove change language page
  src/AppContainer.js
  src/app/components/LangProvider/index.js
  src/pages/SettingsLanguage/SettingsLanguage.js
  src/pages/SettingsLanguage/components/LanguagePicker/LanguagePicker.js
  src/pages/SettingsLanguage/components/LanguagePicker/LanguagePicker.stories.js
Due: ./node_modules/.bin/eslint

ignore localise.cfg
  .gitignore
Due: none

Fix language extract problems
  src/pages/Agreements/AgreementsView.js
  src/pages/Settings/routes/Currency/CurrencyView.js
  src/pages/WalletsCreate/WalletsCreateView.js
  src/store/plugins/walletsPlugin.js
Due: ./node_modules/.bin/eslint

Add generated messages
  src/data/lingui/en/messages.json
  src/data/lingui/es/messages.json
  src/data/lingui/ja/messages.json
  src/data/lingui/ko/messages.json
  src/data/lingui/ru/messages.json
  src/data/lingui/zh-Hans/messages.json
  src/data/lingui/zh-Hant/messages.json
Due: none

Delete legacy
  src/components/DigitalAssetsGrid/AddAsset/AddAsset.js
  src/components/DigitalAssetsGrid/AddAsset/addAsset.scss
  src/components/DigitalAssetsGrid/Asset/Asset.js
  src/components/DigitalAssetsGrid/Asset/Asset.stories.js
  src/components/DigitalAssetsGrid/Asset/AssetCardBody/AssetCardBody.js
  src/components/DigitalAssetsGrid/Asset/AssetCardBody/assetCardBody.scss
  src/components/DigitalAssetsGrid/Asset/AssetCardBody/index.js
  src/components/DigitalAssetsGrid/Asset/asset.scss
  src/components/DigitalAssetsGrid/Asset/index.js
  src/components/DigitalAssetsGrid/Empty/Empty.js
  src/components/DigitalAssetsGrid/Empty/index.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Delete legacy FavoriteItem
  src/components/FavoriteItem/FavoriteItem.js
  src/components/FavoriteItem/FavoriteItem.stories.js
  src/components/FavoriteItem/favoriteItem.scss
  src/components/FavoriteItem/index.js
  src/components/index.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Delete legacy SettingsGrid
  src/components/SettingsGrid/SettingsGrid.js
  src/components/SettingsGrid/SettingsGridCard/SettingsCard.stories.js
  src/components/SettingsGrid/SettingsGridCard/SettingsGridCard.js
  src/components/SettingsGrid/SettingsGridCard/index.js
  src/components/SettingsGrid/SettingsGridCard/settingsGridCard.scss
  src/components/SettingsGrid/index.js
  src/components/SettingsGrid/settingsGrid.scss
  src/components/index.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Remove legacy components
  src/components/ESCButton/ESCButton.js
  src/components/ESCButton/index.js
  src/components/PopupButton/PopupButton.js
  src/components/PopupButton/PopupButton.stories.js
  src/components/PopupButton/index.js
  src/components/PopupButton/popupButton.scss
  src/components/RoundIconButton/RoundIconButton.js
  src/components/RoundIconButton/RoundIconButton.stories.js
  src/components/RoundIconButton/index.js
  src/components/RoundIconButton/roundIconButton.scss
  src/components/index.js
  src/styles/core.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Add hooks
  src/AppContainer.js
  src/app/components/LangProvider/index.js
  src/app/components/LanguageProvider/LanguageProvider.js
  src/app/components/LanguageProvider/hooks.js
  src/app/components/LanguageProvider/index.js
  src/app/components/LanguageProvider/withLanguageChange.js
  src/app/components/index.js
Due: ./node_modules/.bin/eslint

Return back deleted by mustake components
  src/components/ESCButton/ESCButton.js
  src/components/ESCButton/index.js
  src/components/PopupButton/PopupButton.js
  src/components/PopupButton/PopupButton.stories.js
  src/components/PopupButton/index.js
  src/components/PopupButton/popupButton.scss
  src/components/RoundIconButton/RoundIconButton.js
  src/components/RoundIconButton/RoundIconButton.stories.js
  src/components/RoundIconButton/index.js
  src/components/RoundIconButton/roundIconButton.scss
  src/components/index.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Improove hooks
  src/AppContainer.js
  src/app/components/LanguageProvider/hooks.js
  src/app/components/LanguageProvider/index.js
  src/app/components/index.js
  src/app/hooks.js
  src/pages/SettingsLanguage/SettingsLanguage.js
Due: ./node_modules/.bin/eslint

Remove label fron defaultProps of AddressPicker
  src/components/AddressPicker/AddressPicker.js
Due: ./node_modules/.bin/eslint

Add translation file
  src/data/lingui/en/messages.js
  src/data/lingui/en/messages.json
  src/data/lingui/es/messages.js
  src/data/lingui/ja/messages.js
  src/data/lingui/ko/messages.js
  src/data/lingui/ru/messages.js
  src/data/lingui/ru/messages.json
  src/data/lingui/zh-Hans/messages.js
  src/data/lingui/zh-Hant/messages.js
Due: ./node_modules/.bin/eslint

Fix language provider
  src/app/components/LanguageProvider/LanguageProvider.js
Due: ./node_modules/.bin/eslint

Add HOC to components and fix i18n types
  src/components/HistoryItemDetails/templates/TransactionCancel.js
  src/components/HistoryItemDetails/templates/TransactionNormal.js
  src/components/MnemonicOptions/MnemonicOptions.js
  src/components/NewPasswordField/NewPasswordField.js
  src/components/TransactionItem/Details/Comment/Comment.js
  src/components/TransactionItem/Details/Details.js
  src/components/TransactionItem/Main/Main.js
  src/components/TransactionsFilter/TransactionsFilter.js
  src/components/WalletActions/WalletActions.js
  src/components/WalletBackupForm/WalletBackupForm.js
  src/components/WalletCard/WalletCard.js
  src/components/WalletCard/components/AddressChooser.js
  src/components/WalletCardActions/WalletCardActions.js
  src/layouts/MenuLayout/MenuLayout.js
  src/layouts/MenuLayout/components/MenuPanel/components/Actions.js
  src/pages/Agreements/AgreementsView.js
  src/pages/Home/HomeView.js
  src/pages/Introduction/Introduction.js
  src/pages/Send/PasswordStepForm.js
  src/pages/Send/Send.js
  src/pages/Send/StepOneForm.js
  src/pages/Send/components/AssetPicker/AssetPicker.js
  src/pages/SetPassword/SetPasswordView.js
  src/pages/SettingsCurrency/SettingsCurrency.js
  src/pages/Wallets/WalletsView.js
  src/pages/WalletsCreate/WalletsCreateView.js
  src/pages/WalletsImport/WalletsImportView.js
  src/pages/WalletsItemAddresses/WalletsItemAddressesView.js
  src/pages/WalletsItemAddresses/components/WalletAddressCard/WalletAddressCard.js
  src/pages/WalletsItemBackup/WalletsItemBackupView.js
  src/pages/WalletsItemDelete/WalletsItemDeleteView.js
  src/pages/WalletsItemModeDisable/WalletsItemModeDisable.js
  src/pages/WalletsItemModeEnable/WalletsItemModeEnableView.js
  src/pages/WalletsItemUpgrade/WalletsItemUpgradeView.js
  src/pages/WalletsStart/WalletsStart.js
  src/pages/WalletsStart/components/NewWalletButtons/NewWalletButtons.js
Due: ./node_modules/.bin/eslint

Extend JPickerList handleItemClick method with second param index
  src/components/base/JPicker/List/JPickerList.js
Due: ./node_modules/.bin/eslint

Update AddressPickerItem
  src/components/AddressPicker/AddressPicker.js
Due: ./node_modules/.bin/eslint

Update WalletsItemModeDisable page (integrate AddressPicker)
  src/pages/WalletsItemModeDisable/WalletsItemModeDisable.js
  src/pages/WalletsItemModeDisable/WalletsItemModeDisableView.js
  src/pages/WalletsItemModeDisable/walletsItemModeDisable.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Update lang files
  src/data/lingui/en/messages.js
  src/data/lingui/en/messages.json
Due: ./node_modules/.bin/eslint

Update lang file
  src/data/lingui/en/messages.json
Due: none

Path conditions:
  ./node_modules/.bin/eslint: any of: *.js
  ./node_modules/.bin/stylelint --syntax=scss: any of: *.scss
  node_modules/**: any of: ignore
  build/**: any of: ignore
  test/**: any of: ignore
  src/public/**: any of: ignore
