Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss, node_modules/**, build/**, test/**, src/public/**

Fix previousRouteNameFallback for inner wallets pages
  src/layouts/MenuLayout/components/MenuPanel/menuMeta.js
Due: ./node_modules/.bin/eslint

Update lang/en.po
  src/data/lang/en.po
Due: none

JWWEB-793 Add field preview component for transaction details
  src/components/FieldPreview/FieldPreview.js
  src/components/FieldPreview/FieldPreview.stories.js
  src/components/FieldPreview/fieldPreview.m.scss
  src/components/index.js
  src/styles/colors.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-736: Fix TransactionItem
  src/components/TransactionItemNew/TransactionItem.js
  src/components/TransactionItemNew/transactionItem.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Recipient picker wallets tab
  src/components/base/JPicker/List/JPickerListItem.js
  src/components/base/JPicker/index.js
  src/pages/Send/components/RecipientPicker/ContactItem/ContactItem.js
  src/pages/Send/components/RecipientPicker/MultiAddressWalletItem/MultiAddressWalletItem.js
  src/pages/Send/components/RecipientPicker/MultiAddressWalletItem/multiAddressWalletItem.m.scss
  src/pages/Send/components/RecipientPicker/RecipientPicker.js
  src/pages/Send/components/RecipientPicker/RecipientPicker.stories.js
  src/pages/Send/components/RecipientPicker/SingleWalletItem/SingleWalletItem.js
  src/pages/Send/components/RecipientPicker/WalletList/WalletList.js
  src/pages/Send/components/RecipientPicker/WalletList/walletList.m.scss
  src/pages/Send/components/RecipientPicker/prepareWallets.js
  src/public/assets/icons/sprite-pack/medium/wallet-use-fill.svg
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-728: Rename SetPasswordViewContainer according to naming convention
  src/AppRouter.js
  src/pages/SetPassword/SetPassword.js
  src/pages/SetPassword/index.js
  src/pages/index.js
Due: ./node_modules/.bin/eslint

JWWEB-728: Fix Password Hint label
  src/pages/SetPassword/SetPasswordView.js
Due: ./node_modules/.bin/eslint

Fix StartLayout width
  src/layouts/StartLayout/startLayout.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

JWWEB-729: Update NewWalletButtons
  src/components/NewWalletButtons/newWalletButtons.m.scss
  src/components/index.js
  src/pages/WalletsStart/WalletsStart.js
  src/pages/WalletsStart/components/NewWalletButtons/NewWalletButtons.js
  src/pages/WalletsStart/components/NewWalletButtons/newWalletButtons.m.scss
  src/pages/WalletsStart/components/NewWalletButtons/tests/NewWalletButtons.test.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Temp commit
  src/components/base/JCheckbox/JCheckbox.js
  src/components/base/JCheckbox/jCheckbox.scss
  src/pages/Agreements/AgreementsView.js
  src/pages/Agreements/agreementsView.m.scss
  src/public/assets/icons/new-pack/svg/terms-and-conditions.svg
  src/public/assets/icons/sprite-pack/medium/checked-use-fill.svg
  src/public/assets/icons/sprite-pack/medium/checked.svg
  src/public/assets/icons/sprite-pack/medium/unchecked.svg
  src/public/assets/icons/sprite-pack/terms-and-conditions-use-fill.svg
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Add ability to render StartLayout without logo
  src/layouts/StartLayout/StartLayout.js
  src/pages/WalletsStart/WalletsStart.js
Due: ./node_modules/.bin/eslint

Fix TitleHeader
  src/components/TitleHeader/TitleHeader.js
  src/components/TitleHeader/titleHeader.m.scss
  src/layouts/StartLayout/startLayout.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Add default message for wallet data
  src/pages/WalletsImport/WalletsImportView.js
Due: ./node_modules/.bin/eslint

Add ttag for default message
  src/pages/WalletsImport/WalletsImportView.js
Due: ./node_modules/.bin/eslint

Fix JFieldMessage display style
  src/components/base/JFieldMessage/jFieldMessage.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Fix build fails
  src/components/base/JPicker/index.js
  src/pages/Send/components/RecipientPicker/RecipientPicker.js
  src/pages/Send/components/RecipientPicker/RecipientPicker.stories.js
  src/pages/Send/components/RecipientPicker/prepareWallets.js
Due: ./node_modules/.bin/eslint

JWWEB-729: Revert NewWalletButtons to JLink
  src/components/base/JRaisedButton/jRaisedButton.m.scss
  src/pages/WalletsStart/components/NewWalletButtons/NewWalletButtons.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Resolve mistakes
  src/pages/Introduction/IntroductionView.js
  src/pages/Introduction/components/Slide.js
  src/pages/Introduction/components/SliderButton.js
  src/pages/Introduction/components/sliderButton.m.scss
  src/pages/Introduction/introductionView.m.scss
  src/pages/Introduction/swiper.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Small fix StartLayout
  src/layouts/StartLayout/startLayout.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Rename hasNotLogo -> hasNoLogo
  src/layouts/StartLayout/StartLayout.js
  src/pages/WalletsStart/WalletsStart.js
Due: ./node_modules/.bin/eslint

Fix ttag import
  src/pages/Send/components/RecipientPicker/prepareWallets.js
Due: ./node_modules/.bin/eslint

Update en.po
  src/data/lang/en.po
Due: none

JWWEB-728: Update JInput
  src/components/NewWalletButtons/newWalletButtons.m.scss
  src/components/base/JInputField/jInputField.m.scss
  src/components/base/JTextArea/jTextArea.m.scss
  src/styles/_base.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

JWWEB-793 Add FieldPreview basic implementation
  src/components/FieldPreview/FieldPreview.js
  src/components/FieldPreview/FieldPreview.stories.js
  src/components/FieldPreview/fieldPreview.m.scss
  src/public/assets/icons/sprite-pack/add-contact-use-fill.svg
  src/public/assets/icons/sprite-pack/copy-use-fill.png
  src/styles/storybook.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-793 Add memo for FieldPreview
  src/components/FieldPreview/FieldPreview.js
Due: ./node_modules/.bin/eslint

JWWEB-793 Add tests for FieldPreview
  .idea/runConfigurations/All_unit_tests.xml
  src/components/FieldPreview/FieldPreview.stories.js
  src/components/FieldPreview/tests/FieldPreview.test.js
Due: ./node_modules/.bin/eslint

JWWEB-793 Replaced png icon to svg
  src/public/assets/icons/sprite-pack/copy-use-fill.png
  src/public/assets/icons/sprite-pack/copy-use-fill.svg
Due: none

JWWEB-794: Add Search Filter
  .idea/jwallet-web.iml
  src/components/base/SearchInput/SearchFilter/SearchFilter.js
  src/components/base/SearchInput/SearchFilter/searchFilter.m.scss
  src/components/base/SearchInput/SearchInput.js
  src/components/base/SearchInput/SearchInput.stories.js
  src/components/base/SearchInput/searchInput.m.scss
  src/components/base/SearchInput/tests/SearchFilter.test.js
  src/components/base/SearchInput/tests/SearchInput.test.js
  src/components/base/index.js
  src/public/assets/icons/sprite-pack/ic_close_24-use-fill.svg
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Change old unused color
  src/components/base/JIcon/jIcon.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Flowtype fixes
  src/components/base/JPicker/Body/JPickerBody.js
  src/components/base/JPicker/Current/JPickerCurrent.js
Due: ./node_modules/.bin/eslint

Add QuickSend option
  src/components/base/JPicker/Current/jPickerCurrent.m.scss
  src/pages/Send/components/RecipientPicker/QuickSendItem/QuickSendItem.js
  src/pages/Send/components/RecipientPicker/QuickSendItem/quickSendItem.m.scss
  src/pages/Send/components/RecipientPicker/RecipientPicker.js
  src/utils/address/checkAddressPartValid.js
  src/utils/address/index.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Update stories
  src/pages/Send/components/RecipientPicker/RecipientPicker.stories.js
Due: ./node_modules/.bin/eslint

JWWEB-737 Add page for history item details
  src/components/TransactionDetails/TransactionDetails.js
  src/pages/HistoryItem/HistoryItem.js
  src/pages/HistoryItem/HistoryItemView.js
  src/pages/index.js
Due: ./node_modules/.bin/eslint

JWWEB-794: Fix filter dropdown padding
  src/components/base/SearchInput/SearchFilter/searchFilter.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Change name file, disable active button processing
  src/AppRouter.js
  src/pages/Introduction/Introduction.js
  src/pages/Introduction/components/SliderButton.js
  src/pages/Introduction/introduction.m.scss
  src/pages/index.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-737 Replaced getting data by txHash to component
  src/components/TransactionDetails/TransactionDetails.js
  src/pages/HistoryItem/HistoryItem.js
  src/pages/HistoryItem/HistoryItemView.js
Due: ./node_modules/.bin/eslint

JWWEB-793 Fixed icons and their color
  src/components/FieldPreview/FieldPreview.js
  src/components/FieldPreview/fieldPreview.m.scss
  src/public/assets/icons/sprite-pack/add-contact-use-fill.svg
  src/public/assets/icons/sprite-pack/copy-use-fill.svg
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Replaced values of properties to variables
  src/components/base/Header/header.m.scss
  src/layouts/MenuLayout/components/MenuPanel/menuPanel.m.scss
  src/pages/Home/home.m.scss
  src/styles/_base.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Refactor button
  .idea/jwallet-web.iml
  src/components/DigitalAssetEditForm/DigitalAssetEditForm.js
  src/components/NameStep/NameStep.js
  src/components/PasswordStep/PasswordStep.js
  src/components/WalletStep/WalletStep.js
  src/components/base/Button/Button.js
  src/components/base/Button/Button.stories.js
  src/components/base/Button/button.m.scss
  src/components/base/Button/tests/Button.test.js
  src/components/base/JRaisedButton/JRaisedButton.stories.js
  src/components/base/JRaisedButton/index.js
  src/components/base/JRaisedButton/tests/JRaisedButton.test.js
  src/components/base/JTextArea/JTextArea.stories.js
  src/components/base/index.js
  src/pages/Agreements/AgreementsView.js
  src/pages/DigitalAssets/routes/Receive/DigitalAssetsReceiveView.js
  src/pages/DigitalAssets/routes/Send/components/Confirm/Password/Password.js
  src/pages/DigitalAssets/routes/Send/components/Form/Form.js
  src/pages/ErrorUnexpected/ErrorUnexpected.js
  src/pages/Favorites/routes/Address/FavoritesAddressView.js
  src/pages/Home/HomeView.js
  src/pages/Home/home.m.scss
  src/pages/SetPassword/SetPasswordView.js
  src/pages/Settings/routes/Currency/CurrencyView.js
  src/pages/Settings/routes/PaymentPassword/PaymentPasswordView.js
  src/pages/Upgrade/UpgradeView.js
  src/pages/WalletsImport/WalletsImportView.js
  src/styles/_base.scss
  src/styles/colors.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Add paddings for storybook workspace to look more pretty
  src/styles/storybook.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Path conditions:
  ./node_modules/.bin/eslint: any of: *.js
  ./node_modules/.bin/stylelint --syntax=scss: any of: *.scss
  node_modules/**: any of: ignore
  build/**: any of: ignore
  test/**: any of: ignore
  src/public/**: any of: ignore
