Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss, node_modules/**, build/**, test/**, src/public/**

.lintstagedrc:

{
  "*.js": "./node_modules/.bin/eslint",
  "*.scss": "./node_modules/.bin/stylelint --syntax=scss",
  "ignore": [
    "node_modules/**",
    "build/**",
    "test/**",
    "src/public/**"
  ]
}

fix formatters for etherscan links
  src/utils/transactions/getAddressLink.js
  src/utils/transactions/getTxLink.js
Due: ./node_modules/.bin/eslint

JWWEB-215 Migration to external asset list.
  .gitmodules
  flow-typed/jassets.js
  src/data/assets/index.js
  src/data/assets/main.js
  src/data/assets/ropsten.js
  src/utils/digitalAssets/index.js
  src/utils/digitalAssets/transformation.js
Due: ./node_modules/.bin/eslint

Add 1px bottom border for JCard
  src/components/base/JCard/JCard.js
  src/components/base/JCard/jCard.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Minor fixes to be able to import scss files in context of their js usage
  src/styles/core.scss
  src/styles/mixins.scss
  webpack.config.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Exclude directories from IDEA index
  .idea/jwallet-web.iml
Due: none

JWWEB-215 Fixing of JAsset structure, transformation was refactored to reduce, path to jassets were fixed too
  flow-typed/jassets.js
  src/data/assets/main.js
  src/data/assets/ropsten.js
  src/utils/digitalAssets/transformation.js
  webpack.config.js
Due: ./node_modules/.bin/eslint

JWWEB-215 Way to sync was changed from HTTPS to SSH for submodules
  .gitmodules
Due: none

update transactions utils
  flow-typed/redux/transactions.js
  src/utils/transactions/filterTransactions.js
  src/utils/transactions/flattenTransactions.js
  src/utils/transactions/flattenTransactionsByAsset.js
  src/utils/transactions/flattenTransactionsByOwner.js
  src/utils/transactions/searchTransactions.js
  src/utils/transactions/sortTransactions.js
Due: ./node_modules/.bin/eslint

update transactions views (primary keys)
  src/components/TransactionItem/Details/Details.js
  src/components/TransactionItem/Main/Main.js
  src/components/TransactionItem/TransactionItem.js
  src/components/TransactionsList/TransactionsList.js
  src/routes/Transactions/TransactionsIndexView.js
  src/routes/Transactions/TransactionsIndexViewContainer.js
  src/routes/Transactions/routes/Asset/TransactionsAssetView.js
  src/routes/Transactions/routes/Asset/TransactionsAssetViewContainer.js
Due: ./node_modules/.bin/eslint

update resyncing by tx id
  src/routes/sagas/transactions.js
Due: ./node_modules/.bin/eslint

Fix FavoriteItem component
  src/components/FavoriteItem/FavoriteItem.js
  src/components/FavoriteItem/favoriteItem.scss
  src/components/base/JText/JText.js
  src/components/base/JText/jText.scss
  stories/components/FavoriteItem.stories.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix FavoriteItem actions
  src/components/FavoriteItem/FavoriteItem.js
  src/components/FavoriteItem/favoriteItem.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

update digitalAssets selectors
  src/routes/DigitalAssets/routes/Grid/DigitalAssetsGridViewContainer.js
  src/routes/DigitalAssets/routes/Manage/DigitalAssetsManageViewContainer.js
  src/routes/sagas/transactions.js
  src/store/selectors/digitalAssets.js
Due: ./node_modules/.bin/eslint

fix digitalAssets module add init action fix delete
  src/routes/DigitalAssets/modules/digitalAssets.js
Due: ./node_modules/.bin/eslint

JWWEB-281: blocks resync on address / list of assets change
  src/routes/DigitalAssets/routes/AddAsset/sagas/addAsset.js
  src/routes/DigitalAssets/sagas/digitalAssets.js
  src/routes/Wallets/routes/Addresses/sagas/walletsAddresses.js
  src/routes/sagas/core.js
Due: ./node_modules/.bin/eslint

minor codestyle fix
  src/routes/Wallets/routes/Create/sagas/walletsCreate.js
Due: ./node_modules/.bin/eslint

Add favorites
  src/components/FavoriteItem/FavoriteItem.js
  src/components/FavoriteItem/favoriteItem.scss
  src/components/MenuPanel/Actions/Actions.js
  src/routes/Favorites/FavoritesIndexView.js
  src/routes/Favorites/FavoritesIndexViewContainer.js
  src/routes/Favorites/favoritesView.scss
  src/routes/Favorites/index.js
  src/routes/index.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Replace internal buttons with external links
  src/routes/Wallets/routes/Start/WalletsStartView.js
  src/routes/Wallets/walletsView.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Remove old terms UI
  src/routes/Terms/TermsView.js
  src/routes/Terms/TermsViewContainer.js
  src/routes/Terms/index.js
  src/routes/Terms/modules/terms.js
  src/routes/Terms/sagas/index.js
  src/routes/Terms/sagas/terms.js
  src/routes/Terms/termsView.scss
  src/routes/index.js
  src/store/sagas.js
  src/styles/core.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Hotfix class naming
  src/routes/Favorites/FavoritesIndexView.js
  src/routes/Favorites/favoritesView.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

send asset improvements
  flow-typed/redux/balances.js
  src/components/AssetPicker.old/AssetPicker.js
  src/components/AssetPicker.old/Current/AssetPickerCurrent.js
  src/components/AssetPicker.old/Current/assetPickerCurrent.scss
  src/components/AssetPicker.old/Current/index.js
  src/components/AssetPicker.old/Item/AssetPickerItem.js
  src/components/AssetPicker.old/Item/assetPickerItem.scss
  src/components/AssetPicker.old/Item/index.js
  src/components/AssetPicker.old/assetPicker.scss
  src/components/AssetPicker.old/index.js
  src/components/AssetPicker/AssetPicker.js
  src/components/AssetPicker/AssetPickerContainer.js
  src/components/AssetPicker/Current/AssetPickerCurrent.js
  src/components/AssetPicker/Current/assetPickerCurrent.scss
  src/components/AssetPicker/Item/AssetPickerItem.js
  src/components/AssetPicker/assetPicker.scss
  src/components/DigitalAssetSendForm/DigitalAssetSendForm.js
  src/components/base/JInput/jInput.scss
  src/components/base/JPicker/Item/Item.js
  src/components/base/JPicker/Item/index.js
  src/components/base/JPicker/Item/item.scss
  src/components/base/JPicker/JPicker.js
  src/components/base/JPicker/index.js
  src/components/base/JPicker/jPicker.scss
  src/components/base/index.js
  src/styles/core.scss
  src/utils/numbers/bigNumber.js
  src/utils/numbers/formatBalance.js
  src/utils/numbers/index.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Remove goToTerms
  src/routes/Wallets/routes/Start/WalletsStartViewContainer.js
Due: ./node_modules/.bin/eslint

Update terms text
  src/routes/Wallets/routes/Start/WalletsStartView.js
Due: ./node_modules/.bin/eslint

add items filtration
  src/components/AssetPicker/AssetPicker.js
Due: ./node_modules/.bin/eslint

Fix bignumber problems, after merge with develop
  src/routes/DigitalAssets/routes/Grid/DigitalAssetsGridViewContainer.js
  src/routes/DigitalAssets/routes/Send/sagas/digitalAssetsSend.js
  src/services/index.js
  src/utils/digitalAssets/compareDigitalAssetsByBalance.js
  src/utils/numbers/bigNumber.js
  src/utils/numbers/divDecimals.js
  src/utils/numbers/isZero.js
  src/utils/transactions/getTransactionValue.js
  src/utils/transactions/getTxFee.js
  src/utils/transactions/toBigNumber.js
Due: ./node_modules/.bin/eslint

implement business logic for favorites
  flow-typed/redux/appState.js
  flow-typed/redux/favorites.js
  src/routes/Favorites/modules/favorites.js
  src/routes/Favorites/sagas/favorites.js
  src/routes/Favorites/sagas/index.js
  src/store/reducers.js
  src/store/sagas.js
  src/store/selectors/favorites.js
  src/utils/favorites/flattenFavorites.js
  src/utils/favorites/index.js
  src/utils/index.js
Due: ./node_modules/.bin/eslint

auto height, when item count less than 4
  src/components/base/JPicker/JPicker.js
  src/components/base/JPicker/jPicker.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

delete AssetPicker.old
  src/components/AssetPicker.old/AssetPicker.js
  src/components/AssetPicker.old/Current/AssetPickerCurrent.js
  src/components/AssetPicker.old/Current/assetPickerCurrent.scss
  src/components/AssetPicker.old/Current/index.js
  src/components/AssetPicker.old/Item/AssetPickerItem.js
  src/components/AssetPicker.old/Item/assetPickerItem.scss
  src/components/AssetPicker.old/Item/index.js
  src/components/AssetPicker.old/assetPicker.scss
  src/components/AssetPicker.old/index.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

delete JSelect
  src/components/base/JSelect/Item/Item.js
  src/components/base/JSelect/Item/index.js
  src/components/base/JSelect/Item/item.scss
  src/components/base/JSelect/JSelect.js
  src/components/base/JSelect/JSelectContainer.js
  src/components/base/JSelect/index.js
  src/components/base/JSelect/jSelect.scss
  src/components/base/index.js
  src/styles/core.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Update styles and displays AssetPicker and jPicker
  src/components/AssetPicker/Current/AssetPickerCurrent.js
  src/components/AssetPicker/Current/assetPickerCurrent.scss
  src/components/AssetPicker/Item/assetPickerItem.scss
  src/components/base/JPicker/jPicker.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

update wallets utils
  src/utils/wallets/add0x.js
  src/utils/wallets/checkAddressValid.js
  src/utils/wallets/checkAddressWithChecksumValid.js
  src/utils/wallets/getAddressWalletNames.js
  src/utils/wallets/getAddressWithChecksum.js
  src/utils/wallets/getShortenedAddress.js
  src/utils/wallets/index.js
  src/utils/wallets/strip0x.js
Due: ./node_modules/.bin/eslint

update wallets selectors
  src/components/MnemonicAddresses/MnemonicAddresses.js
  src/routes/Wallets/routes/Addresses/WalletsAddressesView.js
  src/routes/Wallets/routes/Addresses/WalletsAddressesViewContainer.js
  src/routes/Wallets/routes/Addresses/sagas/walletsAddresses.js
  src/routes/Wallets/routes/RenameAddress/WalletsRenameAddressViewContainer.js
  src/routes/Wallets/routes/RenameAddress/sagas/walletsRenameAddress.js
  src/store/selectors/wallets.js
Due: ./node_modules/.bin/eslint

use getAddressWithChecksum utils method
  src/services/blockExplorer.js
  src/services/web3.js
Due: ./node_modules/.bin/eslint

update favorites comment -> description rename add validating of favorite by address & name remove restricting for ^a-z0-9 for name & description
  flow-typed/redux/favorites.js
  src/routes/Favorites/modules/favorites.js
  src/routes/Favorites/sagas/favorites.js
  src/store/selectors/favorites.js
Due: ./node_modules/.bin/eslint

small fixes
  src/components/AssetPicker/Current/AssetPickerCurrent.js
  src/routes/DigitalAssets/index.js
  src/routes/DigitalAssets/routes/Send/index.js
  src/routes/DigitalAssets/routes/Send/sagas/digitalAssetsSend.js
Due: ./node_modules/.bin/eslint

Fix linter build warnings
  src/components/DigitalAssetsGrid/Asset/AssetCardBody/AssetCardBody.js
  src/components/TransactionItem/TransactionItem.js
  src/components/base/JCheckbox/JCheckbox.js
  src/components/base/JRadio/JRadio.js
  src/components/base/JSwitch/JSwitch.js
  src/routes/DigitalAssets/routes/Send/sagas/digitalAssetsSend.js
  src/routes/Favorites/FavoritesIndexView.js
  src/services/index.js
Due: ./node_modules/.bin/eslint

try to fix build fail
  src/components/AssetPicker/Current/AssetPickerCurrent.js
Due: ./node_modules/.bin/eslint

build problem investigation
  src/routes/Favorites/FavoritesIndexView.js
Due: ./node_modules/.bin/eslint

move css include to core.scss
  src/components/PasswordStep/PasswordStep.js
  src/styles/core.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

last try
  src/components/WalletLoading/walletLoading.scss
  src/routes/Favorites/FavoritesIndexView.js
  src/styles/core.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss
