Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss, node_modules/**, build/**, test/**, src/public/**

.lintstagedrc:

{
  "*.js": "./node_modules/.bin/eslint",
  "*.scss": "./node_modules/.bin/stylelint --syntax=scss",
  "ignore": [
    "node_modules/**",
    "build/**",
    "test/**",
    "src/public/**"
  ]
}

Remove stubs for testing of tx cancelation
  src/pages/HistoryItemCancel/HistoryItemCancel.js
  src/pages/Send/Send.js
  src/store/sagas/blocks.js
Due: ./node_modules/.bin/eslint

Fix mixprint add address
  src/pages/ContactsItemAdd/components/ContactAddForm/ContactAddForm.js
Due: ./node_modules/.bin/eslint

Add minus sign instead of hyphen
  src/components/HistoryItemDetails/HistoryItemDetails.js
Due: ./node_modules/.bin/eslint

Add maxLength prop in JInput
  src/components/base/JInput/JInput.js
Due: ./node_modules/.bin/eslint

Add limit 256 symbols for history item note
  src/components/HistoryItemDetails/components/NoteField/NoteField.js
Due: ./node_modules/.bin/eslint

Fix history item status icon
  src/components/HistoryList/components/Item/item.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Fix history item margins for note
  src/components/HistoryList/components/Item/item.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Fix search util
  src/utils/search/compoundFilterPredicate.js
Due: ./node_modules/.bin/eslint

Fix history searching
  src/utils/transactions/prepareListForRendering.js
Due: ./node_modules/.bin/eslint

Add checkHex util
  src/utils/address/checkHex.js
  src/utils/address/index.js
Due: ./node_modules/.bin/eslint

JWWEB-863 - Asset Details Page
  src/layouts/MenuLayout/components/MenuPanel/menuMeta.js
  src/pages/AssetDetails/AssetDetails.js
  src/pages/AssetDetails/assetDetails.m.scss
  src/pages/index.js
  src/store/router/routes.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix search in contacts
  src/utils/search/compoundFilterPredicate.js
  src/utils/search/filterContacts.js
  src/utils/transactions/prepareListForRendering.js
Due: ./node_modules/.bin/eslint

Fix WalletPasswordForm layout
  src/components/WalletPasswordForm/walletPasswordForm.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Fix history layout
  src/components/HistoryList/components/Item/item.m.scss
  src/components/HistoryList/historyList.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

JWWEB-897 Add contacts to the send asset contacts tab
  src/pages/Send/components/RecipientPicker/RecipientPickerContainer.js
Due: ./node_modules/.bin/eslint

Fix missing labels in the send asset 1st step form
  src/pages/Send/StepOneForm.js
Due: ./node_modules/.bin/eslint

Fix add contact with missing name
  src/pages/ContactsItemAdd/ContactsItemAdd.js
Due: ./node_modules/.bin/eslint

Update messages
  src/data/lingui/en/messages.json
  src/data/lingui/es/messages.json
  src/data/lingui/ja/messages.json
  src/data/lingui/ko/messages.json
  src/data/lingui/ru/messages.json
  src/data/lingui/zh-Hans/messages.json
  src/data/lingui/zh-Hant/messages.json
Due: none

JWWEB-897 - Fix text overflow in recipient picker/contacts/description
  src/pages/Send/components/RecipientPicker/ContactItem/contactItem.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Fix showing/hiding of sequentially toasts
  src/store/plugins/toastsPlugin.js
  src/store/selectors/toasts.js
Due: ./node_modules/.bin/eslint

Add toasts
  src/components/CopyableField/CopyableField.js
  src/components/FieldPreview/FieldPreview.js
  src/components/WalletActions/WalletActions.js
  src/components/WalletCardActions/WalletCardActions.js
  src/pages/SettingsCurrency/SettingsCurrency.js
  src/pages/SettingsLanguage/SettingsLanguage.js
  src/pages/WalletsItemAddresses/WalletsItemAddressesView.js
  src/pages/WalletsItemDelete/WalletsItemDeleteView.js
  src/pages/WalletsItemModeDisable/WalletsItemModeDisableView.js
  src/pages/WalletsItemModeEnable/WalletsItemModeEnableView.js
  src/store/plugins/walletsPlugin.js
Due: ./node_modules/.bin/eslint

JWWEB-897 - Fix description width
  src/pages/Send/components/RecipientPicker/ContactItem/contactItem.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Fix HistoryItem symbol color
  src/components/HistoryList/components/Item/Item.js
  src/components/HistoryList/components/Item/item.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix toast messages
  src/components/CopyableField/CopyableField.js
  src/components/FieldPreview/FieldPreview.js
  src/components/WalletActions/WalletActions.js
  src/components/WalletCardActions/WalletCardActions.js
  src/pages/SettingsCurrency/SettingsCurrency.js
  src/pages/SettingsLanguage/SettingsLanguage.js
  src/pages/WalletsItemAddresses/WalletsItemAddressesView.js
  src/pages/WalletsItemDelete/WalletsItemDeleteView.js
  src/pages/WalletsItemModeDisable/WalletsItemModeDisableView.js
  src/pages/WalletsItemModeEnable/WalletsItemModeEnableView.js
  src/store/plugins/walletsPlugin.js
Due: ./node_modules/.bin/eslint

Update locales
  src/data/lingui/en/messages.json
  src/data/lingui/es/messages.json
  src/data/lingui/ja/messages.json
  src/data/lingui/ko/messages.json
  src/data/lingui/ru/messages.json
  src/data/lingui/zh-Hans/messages.json
  src/data/lingui/zh-Hant/messages.json
  src/pages/SettingsCurrency/SettingsCurrency.js
Due: ./node_modules/.bin/eslint

Update TransactionsFilter
  src/components/SearchFilter/searchFilter.m.scss
  src/components/TransactionsFilter/TransactionsFilter.js
  src/components/TransactionsFilter/transactionsFilter.m.scss
  src/pages/History/History.js
  src/utils/transactions/prepareListForRendering.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Update locales
  src/data/lingui/en/messages.json
  src/data/lingui/es/messages.json
  src/data/lingui/ja/messages.json
  src/data/lingui/ko/messages.json
  src/data/lingui/ru/messages.json
  src/data/lingui/zh-Hans/messages.json
  src/data/lingui/zh-Hant/messages.json
Due: none

Fix forgot link position
  src/pages/WalletsCreate/walletsCreate.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Update AssetsItem page
  src/pages/AssetsItem/AssetsItem.js
  src/pages/AssetsItem/AssetsItemView.js
  src/pages/AssetsItem/assetItem.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Adapt history list for AssetItem page
  src/components/HistoryList/HistoryList.js
  src/components/HistoryList/components/Item/Item.js
  src/components/HistoryList/historyList.m.scss
  src/pages/AssetsItem/AssetsItem.js
  src/pages/AssetsItem/AssetsItemView.js
  src/pages/AssetsItem/assetItem.m.scss
  src/pages/History/HistoryView.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Change order of history filters
  src/components/TransactionsFilter/TransactionsFilter.js
Due: ./node_modules/.bin/eslint

Fix removing of ERC20 pending transfers
  src/store/modules/transactions.js
  src/store/sagas/transactions.js
Due: ./node_modules/.bin/eslint

Add abi-decoder dependency
  package.json
Due: none

Update fetching of failed ERC20 transfers
  flow-typed/redux/transactions.js
  src/services/blockExplorer.js
  src/store/sagas/transactions.js
Due: ./node_modules/.bin/eslint

Fix i18n files
  src/data/lingui/en/messages.json
  src/data/lingui/zh-Hant/messages.json
Due: none

Fix history list layout styles when it is empty
  src/components/HistoryList/HistoryList.js
  src/components/base/Header/header.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Prevent HistoryItemDetails throwing when digital asset was not found
  src/components/HistoryItemDetails/HistoryItemDetails.js
  src/components/HistoryItemDetails/components/BaseFieldSet/BaseFieldSet.js
  src/components/HistoryItemDetails/components/Burn/Burn.js
  src/components/HistoryItemDetails/components/Mint/Mint.js
Due: ./node_modules/.bin/eslint

Add TRX asset symbol
  src/public/assets/tokens/trx.svg
Due: none

Fix ContractCall details card
  src/components/HistoryItemDetails/components/ContractCall/ContractCall.js
Due: ./node_modules/.bin/eslint
