Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss, node_modules/**, build/**, test/**, src/public/**

.lintstagedrc:

{
  "*.js": "./node_modules/.bin/eslint",
  "*.scss": "./node_modules/.bin/stylelint --syntax=scss",
  "ignore": [
    "node_modules/**",
    "build/**",
    "test/**",
    "src/public/**"
  ]
}

Delete WalletsLayout
  src/layouts/WalletsLayout/WalletsLayout.js
  src/layouts/WalletsLayout/WalletsLayoutContainer.js
  src/layouts/WalletsLayout/walletsLayout.m.scss
  src/layouts/index.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-920 - Implement contact list
  src/components/index.js
  src/pages/Contacts/CONTACT_LIST.js
  src/pages/Contacts/Contacts.js
  src/pages/Contacts/ContactsView.js
  src/pages/Contacts/components/ContactItem/ContactItem.js
  src/pages/Contacts/components/ContactItem/contactItem.m.scss
  src/pages/Contacts/contacts.m.scss
  src/pages/Send/components/RecipientPicker/RecipientPicker.js
  src/utils/hooks/useInputValue.js
  src/utils/search/filterContacts.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Delete contacts empty markup
  src/pages/ContactsEmpty/ContactsEmpty.js
  src/pages/ContactsEmpty/ContactsEmptyView.js
  src/pages/ContactsEmpty/contacts.m.scss
  src/pages/index.js
  src/store/router/routes.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-921 - Update contact preview
  src/components/ContactsItemDetails/ContactsItemDetails.js
  src/components/ContactsItemDetails/ContactsItemDetailsInternal.js
  src/components/ContactsItemDetails/contactsItemDetails.m.scss
  src/store/modules/favorites.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-929 Fix link color in introduction screen
  src/pages/Agreements/AgreementsView.js
Due: ./node_modules/.bin/eslint

Add transaction icons
  src/public/assets/icons/sprite-pack/ic_trx_error_declined_24-use-fill.svg
  src/public/assets/icons/sprite-pack/ic_trx_error_stuck_24-use-fill.svg
  src/public/assets/icons/sprite-pack/ic_trx_in_24-use-fill.svg
  src/public/assets/icons/sprite-pack/ic_trx_out_24-use-fill.svg
  src/public/assets/icons/sprite-pack/ic_trx_pending_24-use-fill.svg
  src/public/assets/icons/sprite-pack/ic_trx_success_24-use-fill.svg
Due: none

Update transactions types
  flow-typed/redux/transactions.js
Due: ./node_modules/.bin/eslint

Fix blockExplorer API validation errors; add nonce; remove unused isCanceled flag
  src/services/blockExplorer.js
Due: ./node_modules/.bin/eslint

Fix web3 API validation error; add hasInput; remove isCanceled
  src/services/web3.js
Due: ./node_modules/.bin/eslint

Update transactions module (add flags for filtering)
  src/store/modules/transactions.js
Due: ./node_modules/.bin/eslint

Apply structure & selectors changes
  src/store/sagas/transactions.js
Due: ./node_modules/.bin/eslint

Update blocks selectors
  src/store/selectors/blocks.js
Due: ./node_modules/.bin/eslint

Update transactions selectors
  src/store/selectors/transactions.js
Due: ./node_modules/.bin/eslint

Fix getTxFee util function
  src/utils/transactions/filterTransactions.js
  src/utils/transactions/getTxFee.js
Due: ./node_modules/.bin/eslint

Fix removeDuplicates util function
  src/utils/transactions/removeDuplicates.js
Due: ./node_modules/.bin/eslint

Add checkStuck util function
  src/utils/transactions/checkStuck.js
Due: ./node_modules/.bin/eslint

Add getNote util function
  src/utils/transactions/getNote.js
Due: ./node_modules/.bin/eslint

Add getTxById util function
  src/utils/transactions/getTxById.js
Due: ./node_modules/.bin/eslint

Update utils/transactions/index
  src/utils/transactions/index.js
Due: ./node_modules/.bin/eslint

Fix CopyIconButton
  src/components/CopyIconButton/CopyIconButton.js
Due: ./node_modules/.bin/eslint

Update CopyableField
  src/components/CopyableField/CopyableField.js
Due: ./node_modules/.bin/eslint

Fix codestyle & API of FieldPreview
  src/components/FieldPreview/FieldPreview.js
  src/components/FieldPreview/fieldPreview.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix HistoryItemDetails
  src/components/HistoryItemDetails/HistoryItemDetails.js
  src/components/HistoryItemDetails/components/AddressField/AddressField.js
  src/components/HistoryItemDetails/components/AmountField/AmountField.js
  src/components/HistoryItemDetails/components/AssetItemPreview/AssetItemPreview.js
  src/components/HistoryItemDetails/components/AssetItemPreview/assetItemPreview.m.scss
  src/components/HistoryItemDetails/components/BaseFieldSet/BaseFieldSet.js
  src/components/HistoryItemDetails/components/Burn/Burn.js
  src/components/HistoryItemDetails/components/ContractCall/ContractCall.js
  src/components/HistoryItemDetails/components/ContractCreation/ContractCreation.js
  src/components/HistoryItemDetails/components/Failed/Failed.js
  src/components/HistoryItemDetails/components/FeeField/FeeField.js
  src/components/HistoryItemDetails/components/In/In.js
  src/components/HistoryItemDetails/components/Mint/Mint.js
  src/components/HistoryItemDetails/components/NoteField/NoteField.js
  src/components/HistoryItemDetails/components/Pending/Pending.js
  src/components/HistoryItemDetails/components/Stuck/Stuck.js
  src/components/HistoryItemDetails/components/TransactionHashField/TransactionHashField.js
  src/components/HistoryItemDetails/historyItemDetails.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Update formatBalance to trim trailing zeros of decimal part
  src/utils/numbers/formatBalance.js
  src/utils/numbers/index.js
Due: ./node_modules/.bin/eslint

Fix HistoryItem & apply HistoryItemDetails changes
  src/layouts/MenuLayout/components/MenuPanel/menuMeta.js
  src/pages/HistoryItem/HistoryItem.js
  src/pages/HistoryItem/HistoryItemView.js
  src/pages/index.js
  src/store/router/routes.js
Due: ./node_modules/.bin/eslint

Fix HistoryList Item
  src/components/HistoryList/components/Item/Item.js
  src/components/HistoryList/components/Item/Item.stories.js
  src/components/HistoryList/components/Item/item.m.scss
  src/components/TransactionItemNew/TransactionItem.js
  src/components/TransactionItemNew/index.js
  src/components/TransactionItemNew/transactionItem.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix HistoryList
  src/components/HistoryList/HistoryList.js
  src/components/HistoryList/components/Empty/Empty.js
Due: ./node_modules/.bin/eslint

Update TransactionsFilter
  src/components/TransactionsFilter/TransactionsFilter.js
  src/components/TransactionsFilter/index.js
  src/components/TransactionsFilter/transactionsFilter.m.scss
  src/components/TransactionsFilter/transactionsFilter.scss
  src/components/index.js
  src/styles/core.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix History page
  src/pages/Transactions/History.js
  src/pages/Transactions/HistoryView.js
Due: ./node_modules/.bin/eslint

Apply transaction structur changes for TransactionsAssetView
  src/pages/Transactions/routes/Asset/TransactionsAssetView.js
  src/pages/Transactions/routes/Asset/TransactionsAssetViewContainer.js
Due: ./node_modules/.bin/eslint

Start blocks resync on active wallet or address change
  src/store/modules/wallets.js
  src/store/plugins/walletsPlugin.js
  src/store/sagas/wallets/core.js
Due: ./node_modules/.bin/eslint

Remove showing of stuck item
  src/components/HistoryList/components/Item/Item.js
Due: ./node_modules/.bin/eslint

Add sign for transaction amount
  src/components/HistoryItemDetails/HistoryItemDetails.js
Due: ./node_modules/.bin/eslint

Resolve conflicts
  src/components/ContactsItemDetails/ContactsItemDetails.js
Due: ./node_modules/.bin/eslint

Rename in/out history item types
  src/components/HistoryItemDetails/HistoryItemDetails.js
  src/components/HistoryItemDetails/components/Incoming/Incoming.js
  src/components/HistoryItemDetails/components/Outgoing/Outgoing.js
Due: ./node_modules/.bin/eslint

Update toast API
  flow-typed/redux/toasts.js
  src/components/CopyIconButton/CopyIconButton.js
  src/pages/WalletsItemAddresses/components/WalletAddressCard/WalletAddressCard.js
  src/store/modules/toasts.js
  src/store/plugins/toastsPlugin.js
Due: ./node_modules/.bin/eslint

Code cleanup
  src/components/FieldPreview/FieldPreview.stories.js
  src/components/HistoryItemDetails/HistoryItemDetailsInternal.js
  src/components/HistoryItemDetails/components/Items/ContractCall.js
  src/components/HistoryItemDetails/components/Items/TransferCancel.js
  src/components/HistoryItemDetails/components/Items/TransferIn.js
  src/components/HistoryItemDetails/components/Items/TransferOut.js
  src/components/HistoryItemDetails/components/Items/index.js
  src/components/MnemonicAddresses/MnemonicAddresses.js
  src/components/MnemonicAddresses/index.js
  src/components/MnemonicAddresses/mnemonicAddresses.scss
  src/components/WalletLoading/WalletLoading.js
  src/components/WalletLoading/index.js
  src/components/WalletLoading/walletLoading.scss
  src/components/index.js
  src/layouts/MenuLayout/components/MenuPanel/components/Wallet.js
  src/pages/AssetsItem/AssetsItem.js
  src/pages/AssetsItem/AssetsItemView.js
  src/pages/History/History.js
  src/pages/History/HistoryView.js
  src/pages/History/history.m.scss
  src/pages/Home/components/AssetItem/AssetItem.js
  src/pages/Transactions/routes/Asset/index.js
  src/pages/index.js
  src/store/utils/HistoryItem/HistoryItem.js
  src/store/utils/HistoryItem/createContractCall.js
  src/store/utils/HistoryItem/createTransferCancel.js
  src/store/utils/HistoryItem/createTransferIn.js
  src/store/utils/HistoryItem/createTransferOut.js
  src/store/utils/HistoryItem/types.js
  src/store/utils/HistoryItem/utils/getTransactionFee.js
  src/store/utils/HistoryItem/utils/getTransactionNote.js
  src/store/utils/HistoryItem/utils/getTransactionStatus.js
  src/store/utils/HistoryItem/utils/getTransactionTimestamp.js
  src/store/utils/HistoryItem/utils/setHistoryItemType.js
  src/store/utils/getFiatBalances.js
  src/styles/core.scss
  src/utils/digitalAssets/getFiatBalance.js
  src/utils/digitalAssets/index.js
  src/utils/formatters/formatTransactionAmount.js
  src/utils/formatters/index.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix HistoryList styles
  src/components/HistoryList/historyList.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Add comment about 'input' field in tx payload
  flow-typed/redux/transactions.js
Due: ./node_modules/.bin/eslint

Sync locales
  src/data/lingui/en/messages.json
  src/data/lingui/es/messages.json
  src/data/lingui/ja/messages.json
  src/data/lingui/ko/messages.json
  src/data/lingui/ru/messages.json
  src/data/lingui/zh-Hans/messages.json
  src/data/lingui/zh-Hant/messages.json
Due: none
