Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss, node_modules/**, build/**, test/**, src/public/**

JWWEB-271: Update CSP to work with Android native app banner
  nginx.conf
Due: none

Add support of createdBlockNumber for new wallets
  flow-typed/redux/networks.js
  flow-typed/redux/wallets.js
  flow-typed/scheduler.js
  src/routes/DigitalAssets/routes/Grid/DigitalAssetsGridViewContainer.js
  src/routes/DigitalAssets/routes/Manage/DigitalAssetsManageViewContainer.js
  src/routes/Transactions/routes/Asset/TransactionsAssetViewContainer.js
  src/routes/Wallets/modules/wallets.js
  src/routes/Wallets/routes/Create/WalletsCreateViewContainer.js
  src/routes/Wallets/routes/Create/modules/walletsCreate.js
  src/routes/Wallets/routes/Create/sagas/walletsCreate.js
  src/routes/sagas/transactions.js
  src/utils/digitalAssets/filterAssetsBalances.js
  src/utils/transactions/checkTransactionsByAssetLoading.js
  src/utils/transactions/checkTransactionsByOwnerLoading.js
  src/utils/wallets/createWallet.js
  src/workers/wallets/worker.js
  src/workers/wallets/wrapper.js
Due: ./node_modules/.bin/eslint

JWWEB-527 Routing on the delete wallet page was refactored
  src/components/ButtonWithConfirm/ButtonWithConfirm.js
  src/routes/Wallets/routes/Delete/WalletsDeleteView.js
Due: ./node_modules/.bin/eslint

JWWEB-527 default value for `onCancelClick` was added
  src/components/ButtonWithConfirm/ButtonWithConfirm.js
Due: ./node_modules/.bin/eslint

JWWEB-518 add border radius for wallets button
  src/components/MnemonicAddresses/mnemonicAddresses.scss
  src/components/NewWalletButtons/NewWalletButtons.js
  src/components/NewWalletButtons/newWalletButtons.scss
  src/components/WalletFace/WalletFace.js
  src/routes/Wallets/WalletsIndexView.js
  src/routes/Wallets/walletsView.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Add checksum for custom asset address
  src/routes/DigitalAssets/routes/AddAsset/sagas/addAsset.js
Due: ./node_modules/.bin/eslint

Add checksum for favorite addresses
  src/routes/Favorites/sagas/favorites.js
Due: ./node_modules/.bin/eslint

Add checksum address for send assets form recipient
  src/routes/DigitalAssets/routes/Send/sagas/digitalAssetsSend.js
Due: ./node_modules/.bin/eslint

freeze changes
  flow-typed/redux/balances.js
  flow-typed/redux/digitalAssets.js
  src/components/DigitalAssetsGrid/Asset/Asset.js
  src/components/DigitalAssetsGrid/Asset/AssetCardBody/AssetCardBody.js
  src/components/DigitalAssetsGrid/DigitalAssetsGrid.js
  src/routes/DigitalAssets/routes/Grid/DigitalAssetsGridViewContainer.js
Due: ./node_modules/.bin/eslint

JWWEB-441 fix position passwordFieldIndicator
  src/components/base/JInput/jInput.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Add icon lock for blue screen and correct name variables
  src/components/PasswordField/Indicator/PasswordFieldIndicator.js
  src/components/base/JInput/JInput.js
  src/components/base/JInput/jInput.scss
  src/styles/_base.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Left pending txs and balance for asset, when user wants to resync
  src/routes/sagas/transactions.js
Due: ./node_modules/.bin/eslint

JWWEB-527 Searching by name of address was added
  src/routes/Transactions/TransactionsIndexViewContainer.js
  src/routes/Transactions/routes/Asset/TransactionsAssetViewContainer.js
  src/utils/transactions/searchTransactions.js
Due: ./node_modules/.bin/eslint

JWWEB-527 Improving of searching via name
  src/utils/transactions/searchTransactions.js
Due: ./node_modules/.bin/eslint

JWWEB-527 Tiny fix of searching in hashes
  src/utils/transactions/searchTransactions.js
Due: ./node_modules/.bin/eslint

JWWEB-550 Receive address was refactored for showing only current address
  src/routes/DigitalAssets/routes/Receive/DigitalAssetsReceiveView.js
  src/routes/DigitalAssets/routes/Receive/DigitalAssetsReceiveViewContainer.js
Due: ./node_modules/.bin/eslint

added ttag to deps
  package-lock.json
  package.json
Due: none

JWWEB-557: Allow 0 as number of decimals
  src/routes/DigitalAssets/routes/AddAsset/sagas/addAsset.js
  src/routes/DigitalAssets/routes/EditAsset/sagas/editAsset.js
Due: ./node_modules/.bin/eslint

JWWEB-519 Resyncing of transactions event was added to google analytics
  src/middlewares/analyticsMiddleware/index.js
  src/middlewares/analyticsMiddleware/resyncTransactionsEvents.js
Due: ./node_modules/.bin/eslint

JWWEB-537 Cross is superimposed on the text in the Comment field
  src/components/InputButton/InputButton.js
  src/components/base/JInput/JInput.js
  src/components/base/JInput/jInput.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-545 Change text 'Badaaah' in Setting
  src/routes/Settings/SettingsIndexView.js
Due: ./node_modules/.bin/eslint

JWWEB-534 Search by all address names was added
  src/routes/Transactions/TransactionsIndexViewContainer.js
  src/routes/Transactions/routes/Asset/TransactionsAssetViewContainer.js
  src/utils/transactions/searchTransactions.js
Due: ./node_modules/.bin/eslint

remove fiat balance
  flow-typed/redux/digitalAssets.js
  src/components/DigitalAssetsGrid/Asset/Asset.js
  src/components/DigitalAssetsGrid/Asset/AssetCardBody/AssetCardBody.js
  src/components/DigitalAssetsGrid/DigitalAssetsGrid.js
Due: ./node_modules/.bin/eslint

ttag for error messages
  src/routes/DigitalAssets/routes/AddAsset/sagas/addAsset.js
  src/routes/DigitalAssets/routes/Grid/DigitalAssetsGridViewContainer.js
  src/routes/DigitalAssets/routes/Manage/DigitalAssetsManageViewContainer.js
  src/routes/Favorites/FavoritesIndexViewContainer.js
  src/routes/Transactions/routes/Asset/TransactionsAssetViewContainer.js
  src/routes/Upgrade/UpgradeViewContainer.js
  src/routes/Wallets/routes/Addresses/sagas/walletsAddresses.js
  src/routes/sagas/balances.js
  src/routes/sagas/blocks.js
  src/routes/sagas/transactions.js
  src/services/blockExplorer.js
  src/services/qrCode.js
  src/utils/encryption/decryptData.js
  src/utils/encryption/encryptData.js
  src/utils/formatters/formatCurrency.js
  src/utils/mnemonic/generateMnemonic.js
  src/utils/wallets/createWallet.js
  src/utils/wallets/getAddress.js
  src/utils/wallets/getAddresses.js
  src/utils/wallets/getMnemonic.js
  src/utils/wallets/getPrivateKey.js
  src/utils/wallets/getWallet.js
  src/utils/wallets/reEncryptWallet.js
  src/utils/wallets/upgradeWallet.js
  src/workers/wallets/worker.js
  src/workers/wallets/wrapper.js
Due: ./node_modules/.bin/eslint

JWWEB-558 No indentation on narrow screen
  src/components/CloseableScreen/closeableScreen.scss
  src/routes/DigitalAssets/routes/Grid/digitalAssetsGridView.scss
  src/routes/DigitalAssets/routes/Manage/digitalAssetsManageView.scss
  src/routes/DigitalAssets/routes/Receive/digitalAssetsReceiveView.scss
  src/routes/DigitalAssets/routes/Send/digitalAssetsSendView.scss
  src/routes/Favorites/favoritesView.scss
  src/routes/Settings/settingsView.scss
  src/routes/Transactions/transactionsView.scss
  src/styles/mixins.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

JWWEB-470 JSearch clears value on unmount
  src/components/base/JSearch/JSearch.js
Due: ./node_modules/.bin/eslint

JWWEB-522 Add asset title was added to button
  src/routes/DigitalAssets/routes/Manage/DigitalAssetsManageView.js
Due: ./node_modules/.bin/eslint

updated lang
  .babelrc
  .favorites.json
  package-lock.json
  package.json
  src/components/NameStep/NameStep.js
  src/components/base/JInput/JInput.js
  src/data/lang/en.po
  src/routes/DigitalAssets/routes/Send/sagas/digitalAssetsSend.js
  src/routes/NotFound/NotFoundView.js
  src/routes/Wallets/routes/Rename/sagas/walletsRename.js
  src/services/ticker.js
  src/services/web3.js
Due: ./node_modules/.bin/eslint

JWWEB-470 FIXME was added
  src/components/base/JSearch/JSearch.js
Due: ./node_modules/.bin/eslint

Implement simplified wallet mode by default
  flow-typed/redux/wallets.js
  src/components/MenuPanel/MenuPanel.js
  src/components/MenuPanel/WalletManager/Details/Details.js
  src/components/MenuPanel/WalletManager/Main/Main.js
  src/components/MenuPanel/WalletManager/WalletManager.js
  src/components/WalletCard/WalletCard.js
  src/components/WalletFace/Actions/WalletFaceActions.js
  src/components/WalletFace/Actions/walletFaceActions.scss
  src/components/WalletFace/WalletFace.js
  src/components/WalletFace/walletFace.scss
  src/routes/Wallets/WalletsIndexView.js
  src/routes/Wallets/WalletsIndexViewContainer.js
  src/routes/Wallets/modules/wallets.js
  src/routes/Wallets/sagas/wallets.js
  src/utils/wallets/createWallet.js
  src/utils/wallets/updateWallet.js
  src/workers/wallets/worker.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-527 Fist screen of deleting wallet was remove completely and forever
  src/components/ButtonWithConfirm/ButtonWithConfirm.js
  src/routes/Wallets/routes/Delete/WalletsDeleteView.js
Due: ./node_modules/.bin/eslint

Add deafault prop for iconPosition
  src/components/base/JInput/JInput.js
Due: ./node_modules/.bin/eslint

Fix password indicator
  src/components/PasswordField/Indicator/PasswordFieldIndicator.js
  src/components/PasswordField/Indicator/passwordFieldIndicator.scss
  src/components/PasswordField/PasswordField.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Hide info message of password field when disabled
  src/components/PasswordField/PasswordField.js
Due: ./node_modules/.bin/eslint

JWWEB-493: Fix asset symbol styles and behavior
  src/components/AssetItem/assetItem.scss
  src/components/DigitalAssetsGrid/Asset/asset.scss
  src/components/base/JAssetSymbol/JAssetSymbol.js
  src/components/base/JAssetSymbol/jAssetSymbol.scss
  src/components/base/JAssetSymbol/symbolsAvailable.js
  src/routes/DigitalAssets/routes/Send/components/Form/AssetPicker/Current/current.scss
  src/routes/DigitalAssets/routes/Send/components/Form/AssetPicker/Item/item.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Speed up assets manager A LOT
  src/components/AssetItem/AssetItem.js
  src/components/DigitalAssetsManage/DigitalAssetsManage.js
Due: ./node_modules/.bin/eslint

Add icon to-multiaddress and to-oneaddres
  src/components/WalletCard/WalletCard.js
  src/components/WalletFace/Actions/WalletFaceActions.js
  src/components/WalletFace/Actions/walletFaceActions.scss
  src/components/WalletFace/WalletFace.js
  src/components/base/JIcon/jIcon.scss
  src/public/assets/icons/new-pack/medium/to-multiaddress.svg
  src/public/assets/icons/new-pack/medium/to-oneaddres.svg
  src/routes/Wallets/WalletsIndexView.js
  src/styles/icons.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Remove unnecessary style bg
  src/components/WalletFace/walletFace.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Path conditions:
  ./node_modules/.bin/eslint: any of: *.js
  ./node_modules/.bin/stylelint --syntax=scss: any of: *.scss
  node_modules/**: any of: ignore
  build/**: any of: ignore
  test/**: any of: ignore
  src/public/**: any of: ignore
