Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss, node_modules/**, build/**, test/**, src/public/**

JWWEB-737 Fixed typings
  src/components/TransactionsList/TransactionsList.js
  src/pages/HistoryItem/HistoryItem.js
  src/pages/HistoryItem/HistoryItemView.js
  src/styles/core.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-737 Removed button for incoming transactions
  src/components/HistoryItemDetails/templates/TransactionNormal.js
Due: ./node_modules/.bin/eslint

Add NewWalletPasswordForm component
  src/components/NewWalletPasswordForm/NewWalletPasswordForm.js
  src/components/NewWalletPasswordForm/newWalletPasswordForm.m.scss
  src/components/index.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Integrate NewWalletPasswordForm component in WalletsImport
  src/pages/WalletsImport/WalletsImportView.js
  src/pages/WalletsImport/walletsImport.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Resolve conflicts
  src/components/base/JCheckbox/JCheckbox.js
  src/components/base/index.js
  src/pages/WalletsCreate/WalletsCreate.js
  src/pages/WalletsCreate/WalletsCreateView.js
  src/pages/WalletsStart/WalletsStart.js
Due: ./node_modules/.bin/eslint

Add sending of ga events in walletsPlugin
  src/store/plugins/walletsPlugin.js
Due: ./node_modules/.bin/eslint

Update WalletsCreateState type
  flow-typed/redux/wallets.js
Due: ./node_modules/.bin/eslint

Simplify required fields validation
  src/utils/form/allValidators.js
  src/utils/form/index.js
  src/utils/form/tests/allValidators.test.js
  src/utils/form/tests/finalFormComposeWithValidateRequired.test.js
  src/utils/form/tests/validateRequired.test.js
  src/utils/form/validateRequired.js
Due: ./node_modules/.bin/eslint

Update WalletsCreate page
  src/pages/WalletsCreate/WalletsCreate.js
  src/pages/WalletsCreate/WalletsCreateView.js
  src/pages/WalletsCreate/walletsCreate.m.scss
  src/public/assets/icons/sprite-pack/ic_backup_48-use-fill.svg
  src/store/modules/walletsCreate.js
  src/store/sagas/wallets/create.js
  src/store/selectors/wallets.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

WalletBackupForm fix (flow error)
  src/components/WalletBackupForm/WalletBackupForm.js
Due: ./node_modules/.bin/eslint

Update analyticsMiddleware/newWalletEvents (move sending of events)
  src/middlewares/analyticsMiddleware/newWalletEvents.js
Due: ./node_modules/.bin/eslint

Apply Button changes
  src/components/NewWalletPasswordForm/NewWalletPasswordForm.js
  src/pages/WalletsCreate/WalletsCreateView.js
Due: ./node_modules/.bin/eslint

Update splitting of text in BackupForm
  src/components/WalletBackupForm/WalletBackupForm.js
Due: ./node_modules/.bin/eslint

Rename NewWalletPasswordForm -> WalletPasswordForm
  src/components/WalletPasswordForm/WalletPasswordForm.js
  src/components/WalletPasswordForm/walletPasswordForm.m.scss
  src/components/index.js
  src/pages/WalletsCreate/WalletsCreateView.js
  src/pages/WalletsImport/WalletsImportView.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix sending of ga events
  src/pages/WalletsCreate/WalletsCreateView.js
Due: ./node_modules/.bin/eslint

Update downloading of backup
  src/components/WalletBackupForm/WalletBackupForm.js
  src/pages/WalletsCreate/WalletsCreateView.js
Due: ./node_modules/.bin/eslint

Allow *.jnode.network in CORS
  docker/nginx/nginx.conf
Due: none

Add opacity 0.7 for input disabled state
  src/components/base/JInputField/jInputField.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Update create wallet form styles and validation
  src/components/WalletBackupForm/walletBackupForm.m.scss
  src/components/WalletPasswordForm/WalletPasswordForm.js
  src/pages/WalletsCreate/WalletsCreate.js
  src/pages/WalletsCreate/WalletsCreateView.js
  src/pages/WalletsCreate/walletsCreate.m.scss
  src/store/plugins/walletsPlugin.js
  src/styles/offsets.m.scss
  src/utils/wallets/checkNameExists.js
  src/utils/wallets/index.js
  src/utils/wallets/validateDerivationPath.js
  src/utils/wallets/validateName.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Use dangerouslySetInnerHTML
  src/components/WalletBackupForm/WalletBackupForm.js
  src/components/WalletBackupForm/walletBackupForm.m.scss
  src/pages/WalletsCreate/WalletsCreateView.js
  src/pages/WalletsCreate/walletsCreate.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Make WalletBackupForm as class component
  src/components/WalletBackupForm/WalletBackupForm.js
Due: ./node_modules/.bin/eslint

Correct Wallets connect
  src/pages/Wallets/Wallets.js
  src/pages/Wallets/WalletsView.js
Due: ./node_modules/.bin/eslint

Fix WalletPasswordForm (button label & forgot link)
  src/components/WalletPasswordForm/WalletPasswordForm.js
  src/components/WalletPasswordForm/walletPasswordForm.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Minor import updates (reusing of utils & some style fixes)
  src/pages/WalletsImport/WalletsImport.js
  src/pages/WalletsImport/WalletsImportView.js
  src/pages/WalletsImport/dataMessage.js
  src/pages/WalletsImport/walletsImport.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Exclude network items from persist container
  flow-typed/redux/networks.js
  src/store/modules/networks.js
  src/store/selectors/networks.js
Due: ./node_modules/.bin/eslint

Add default color for links
  src/components/base/JLink/JLink.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Get rid of old backup wallet code
  flow-typed/redux/wallets.js
  src/pages/Wallets/routes/Backup/WalletsBackupView.js
  src/pages/Wallets/routes/Backup/WalletsBackupViewContainer.js
  src/store/modules/walletsBackup.js
  src/store/reducers.js
  src/store/sagas/wallets/backup.js
  src/store/sagas/wallets/index.js
  src/store/selectors/wallets.js
Due: ./node_modules/.bin/eslint

Remove old unused wallets code
  src/layouts/WalletsLayout/WalletsLayout.js
  src/layouts/WalletsLayout/WalletsLayoutContainer.js
  src/middlewares/analyticsMiddleware/userParams.js
  src/pages/Wallets/routes/Rename/WalletsRenameViewContainer.js
  src/store/sagas/wallets/delete.js
  src/store/sagas/wallets/rename.js
  src/workers/settings/worker.js
Due: ./node_modules/.bin/eslint

JWWEB-737 Moved transaction index
  src/components/HistoryItemDetails/HistoryItemDetails.js
  src/components/HistoryItemDetails/HistoryItemDetailsInternal.js
  src/components/HistoryItemDetails/templates/TransactionCancel.js
  src/components/HistoryItemDetails/templates/TransactionNormal.js
  src/components/TransactionItemNew/TransactionItem.js
  src/components/TransactionsList/TransactionsList.js
  src/components/TransactionsList/transactionsList.m.scss
  src/pages/HistoryItem/HistoryItem.js
  src/pages/Transactions/TransactionsIndexView.js
  src/pages/Transactions/TransactionsIndexViewContainer.js
  src/pages/Transactions/transactionsView.scss
  src/store/transactionsIndex.js
  src/utils/formatters/formatTransactionAmount.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Add redirect to /wallets after wallets update
  src/store/plugins/walletsPlugin.js
  src/store/sagas/wallets/core.js
Due: ./node_modules/.bin/eslint

Update StartLayout styles
  src/layouts/StartLayout/StartLayout.js
  src/layouts/StartLayout/startLayout.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-737 Fixed visual issues, fix formatter of address and amount
  src/components/HistoryItemDetails/HistoryItemDetails.js
  src/components/HistoryItemDetails/HistoryItemDetailsInternal.js
  src/components/HistoryItemDetails/historyItemDetails.m.scss
  src/components/HistoryItemDetails/templates/TransactionCancel.js
  src/components/HistoryItemDetails/templates/TransactionNormal.js
  src/components/TransactionsList/TransactionsList.js
  src/styles/_base.scss
  src/utils/address/getShortenedAddress.js
  src/utils/formatters/formatTransactionAmount.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-737 Fixed sticky details in list
  src/components/HistoryItemDetails/HistoryItemDetails.js
  src/components/HistoryItemDetails/HistoryItemDetailsInternal.js
  src/components/TransactionsList/TransactionsList.js
  src/store/transactionsIndex.js
Due: ./node_modules/.bin/eslint

JWWEB-737 Removed log
  src/components/TransactionsList/TransactionsList.js
Due: ./node_modules/.bin/eslint

Fix validating of eth address for import
  src/pages/WalletsImport/dataMessage.js
Due: ./node_modules/.bin/eslint

Get rid of password step for read only wallet
  src/pages/WalletsImport/WalletsImport.js
  src/store/plugins/walletsPlugin.js
Due: ./node_modules/.bin/eslint

Fix validating of eth address by checksum
  src/pages/WalletsImport/dataMessage.js
Due: ./node_modules/.bin/eslint

Add proxying of onClick event for JIcon
  src/components/base/JIcon/JIcon.js
Due: ./node_modules/.bin/eslint

Update CopyableField component
  src/components/CopyableField/CopyableField.js
  src/components/CopyableField/CopyableField.stories.js
  src/components/CopyableField/copyableField.m.scss
  src/components/CopyableField/copyableField.scss
  src/components/CopyableField/index.js
  src/components/index.js
  src/styles/core.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Update WalletBackupForm
  src/components/WalletBackupForm/WalletBackupForm.js
  src/components/WalletBackupForm/walletBackupForm.m.scss
  src/pages/WalletsCreate/WalletsCreateView.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Path conditions:
  ./node_modules/.bin/eslint: any of: *.js
  ./node_modules/.bin/stylelint --syntax=scss: any of: *.scss
  node_modules/**: any of: ignore
  build/**: any of: ignore
  test/**: any of: ignore
  src/public/**: any of: ignore
