Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss, node_modules/**, build/**, test/**, src/public/**

Update docs
  docs/testing.md
Due: none

work in progress
  .favorites.json
  .flowconfig
  flow-typed/redux/appState.js
  flow-typed/redux/digitalAssets.js
  src/components/DigitalAssetSendConfirm/DigitalAssetSendConfirm.js
  src/components/DigitalAssetSendConfirm/digitalAssetSendConfirm.scss
  src/components/DigitalAssetSendConfirm/index.js
  src/components/DigitalAssetSendForm/DigitalAssetSendForm.js
  src/components/DigitalAssetSendForm/index.js
  src/components/PasswordStep/PasswordStep.js
  src/components/PasswordStep/passwordStep.scss
  src/components/index.js
  src/routes/DigitalAssets/digitalAssets.scss
  src/routes/DigitalAssets/routes/Send/DigitalAssetsSendConfirmView.js
  src/routes/DigitalAssets/routes/Send/DigitalAssetsSendConfirmViewContainer.js
  src/routes/DigitalAssets/routes/Send/DigitalAssetsSendView.js
  src/routes/DigitalAssets/routes/Send/DigitalAssetsSendViewContainer.js
  src/routes/DigitalAssets/routes/Send/digitalAssetsSendConfirmView.scss
  src/routes/DigitalAssets/routes/Send/modules/digitalAssetsSend.js
  src/routes/DigitalAssets/routes/Send/modules/digitalAssetsSendConfirm.js
  src/routes/DigitalAssets/routes/Send/sagas/digitalAssetsSend.js
  src/routes/DigitalAssets/routes/Send/sagas/digitalAssetsSendConfirm.js
  src/routes/Wallets/modules/wallets.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

update transactions utils
  src/utils/transactions/checkTransactionLoading.js
  src/utils/transactions/checkTransactionsFetched.js
  src/utils/transactions/flattenTransactions.js
  src/utils/transactions/flattenTransactionsByAsset.js
  src/utils/transactions/flattenTransactionsByOwner.js
  src/utils/transactions/getAddressLink.js
  src/utils/transactions/getTxAmount.js
  src/utils/transactions/getTxFee.js
  src/utils/transactions/index.js
  src/utils/transactions/sortTransactions.js
Due: ./node_modules/.bin/eslint

update utils/numbers
  src/utils/numbers/divDecimals.js
  src/utils/numbers/index.js
  src/utils/numbers/isZero.js
Due: ./node_modules/.bin/eslint

add new small svg icons
  src/public/assets/icons/new-pack/small/contract-black.svg
  src/public/assets/icons/new-pack/small/contract-blue.svg
Due: none

update utils/digitalAssets/parseBalance
  src/utils/digitalAssets/parseBalance.js
Due: ./node_modules/.bin/eslint

WEB-7 Typo was fixed
  src/routes/Settings/SettingsIndexView.js
Due: ./node_modules/.bin/eslint

add isVoid util method
  src/utils/type/index.js
  src/utils/type/isVoid.js
Due: ./node_modules/.bin/eslint

add types for app config
  flow-typed/config.js
  src/config.js
Due: ./node_modules/.bin/eslint

update blockExplorer service
  src/services/blockExplorer.js
Due: ./node_modules/.bin/eslint

minor web3 service update
  src/services/web3.js
Due: ./node_modules/.bin/eslint

update types for networks
  flow-typed/redux/networks.js
Due: ./node_modules/.bin/eslint

update transactions types
  flow-typed/redux/transactions.js
Due: ./node_modules/.bin/eslint

update transactions management
  src/routes/modules/transactions.js
  src/routes/sagas/blocks.js
  src/routes/sagas/transactions.js
  src/store/selectors/transactions.js
Due: ./node_modules/.bin/eslint

remove unused type
  flow-typed/redux/transactions.js
Due: ./node_modules/.bin/eslint

package-lock
  package-lock.json
Due: none

WEB-7 Comments from the PR were handled
  flow-typed/redux/settings.js
  src/components/SettingsGrid/SettingsGridCard/SettingsGridCard.js
  src/components/SettingsGrid/index.js
  src/components/SettingsGrid/settingsGrid.scss
  src/components/index.js
  src/routes/Settings/SettingsIndexView.js
  src/routes/Settings/SettingsIndexViewContainer.js
  src/routes/Settings/settingsView.scss
  src/store/selectors/wallets.js
  src/styles/core.scss
  stories/components/SettingsCard.stories.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Extend jasmine timeout
  wdio.conf.js
Due: ./node_modules/.bin/eslint

send assset wp (no-verify)
  flow-typed/redux/digitalAssets.js
  src/components/DigitalAssetSendConfirm/Card/DigitalAssetSendConfirmCard.js
  src/components/DigitalAssetSendConfirm/Card/digitalAssetSendConfirmCard.scss
  src/components/DigitalAssetSendConfirm/DigitalAssetSendConfirm.js
  src/components/DigitalAssetSendConfirm/PasswordForm/DigitalAssetSendPasswordForm.js
  src/components/DigitalAssetSendConfirm/PasswordForm/digitalAssetSendPasswordForm.scss
  src/components/DigitalAssetSendConfirm/digitalAssetSendConfirm.scss
  src/components/index.js
  src/routes/DigitalAssets/digitalAssets.scss
  src/routes/DigitalAssets/routes/Send/DigitalAssetsSendConfirmView.js
  src/routes/DigitalAssets/routes/Send/DigitalAssetsSendConfirmViewContainer.js
  src/routes/DigitalAssets/routes/Send/DigitalAssetsSendView.js
  src/routes/DigitalAssets/routes/Send/DigitalAssetsSendViewContainer.js
  src/routes/DigitalAssets/routes/Send/digitalAssetsSendConfirmView.scss
  src/routes/DigitalAssets/routes/Send/digitalAssetsSendView.scss
  src/routes/DigitalAssets/routes/Send/index.js
  src/routes/DigitalAssets/routes/Send/modules/digitalAssetsSend.js
  src/routes/DigitalAssets/routes/Send/sagas/digitalAssetsSend.js
  src/routes/DigitalAssets/sagas/index.js
  src/routes/Wallets/sagas/wallets.js
  src/routes/sagas/blocks.js
  src/services/keystore.js
  src/store/reducers.js
  src/store/selectors/wallets.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

update utils/transactions
  src/utils/transactions/checkTransactionsFetched.js
  src/utils/transactions/filterTransactions.js
  src/utils/transactions/flattenTransactions.js
  src/utils/transactions/getTxFee.js
  src/utils/transactions/index.js
Due: ./node_modules/.bin/eslint

update utils/digitalAssets
  src/utils/digitalAssets/checkETH.js
  src/utils/digitalAssets/checkJNT.js
Due: ./node_modules/.bin/eslint

fix blockExplorer service fix gasUsed param use checksumed addresses only
  src/services/blockExplorer.js
Due: ./node_modules/.bin/eslint

full refactoring of web3 service
  src/services/web3.js
Due: ./node_modules/.bin/eslint

update scheduler types add transaction module tasks
  flow-typed/scheduler.js
Due: ./node_modules/.bin/eslint

fix funds types
  flow-typed/redux/funds.js
Due: ./node_modules/.bin/eslint

use main network
  flow-typed/redux/networks.js
  src/data/assets/main.js
  src/routes/modules/networks.js
Due: ./node_modules/.bin/eslint

fix addAsset sagas
  src/routes/DigitalAssets/routes/AddAsset/sagas/addAsset.js
Due: ./node_modules/.bin/eslint

fix balances sags
  src/routes/sagas/balances.js
Due: ./node_modules/.bin/eslint

add fetching of smart contract events
  flow-typed/redux/transactions.js
  src/components/TransactionsList/TransactionsList.js
  src/routes/modules/transactions.js
  src/routes/sagas/blocks.js
  src/routes/sagas/transactions.js
Due: ./node_modules/.bin/eslint

(wp, no-verify)
  flow-typed/redux/digitalAssets.js
  src/components/DigitalAssetSendForm/DigitalAssetSendForm.js
  src/routes/DigitalAssets/routes/Send/DigitalAssetsSendView.js
  src/routes/DigitalAssets/routes/Send/DigitalAssetsSendViewContainer.js
  src/routes/DigitalAssets/routes/Send/modules/digitalAssetsSend.js
  src/routes/DigitalAssets/routes/Send/sagas/digitalAssetsSend.js
  src/utils/transactions/getTransactionValue.js
Due: ./node_modules/.bin/eslint

WEB-7 css classed were renamed by the naming rules
  src/components/SettingsGrid/SettingsGrid.js
  src/components/SettingsGrid/SettingsGridCard/SettingsGridCard.js
  src/components/SettingsGrid/SettingsGridCard/settingsGridCard.scss
  src/components/SettingsGrid/settingsGrid.scss
  src/routes/Settings/SettingsIndexView.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

fix web3.sendTransaction method
  src/services/web3.js
Due: ./node_modules/.bin/eslint

fix selectActiveWalletAddress selector
  src/store/selectors/wallets.js
Due: ./node_modules/.bin/eslint

update syncing of loading transactions
  src/routes/sagas/transactions.js
Due: ./node_modules/.bin/eslint

update utils/numbers/isZero to receive BigNumber|string|number
  src/utils/numbers/isZero.js
Due: ./node_modules/.bin/eslint

WEB-7 Implementation of search on the settings page
  src/components/SettingsGrid/SettingsGridCard/SettingsGridCard.js
  src/routes/Settings/SettingsIndexView.js
  src/routes/Settings/settingsView.scss
  src/utils/formatters/formatBoolean.js
  src/utils/formatters/formatCurrency.js
  src/utils/formatters/formatLanguage.js
  src/utils/formatters/index.js
  src/utils/index.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

rollback bignumber version
  package.json
Due: none

rollback BN version
  package-lock.json
Due: none

upgrade AssetPicker
  src/components/AssetPicker/AssetPicker.js
  src/components/AssetPicker/Current/AssetPickerCurrent.js
  src/components/AssetPicker/Current/assetPickerCurrent.scss
  src/components/AssetPicker/index.js
  src/components/DigitalAssetSendForm/DigitalAssetSendForm.js
  src/components/base/JSelect/JSelect.js
  src/components/base/JSelect/jSelect.scss
  src/components/index.js
  src/routes/DigitalAssets/routes/Send/DigitalAssetsSendView.js
  src/routes/DigitalAssets/routes/Send/DigitalAssetsSendViewContainer.js
  src/styles/core.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Path conditions:
  ./node_modules/.bin/eslint: any of: *.js
  ./node_modules/.bin/stylelint --syntax=scss: any of: *.scss
  node_modules/**: any of: ignore
  build/**: any of: ignore
  test/**: any of: ignore
  src/public/**: any of: ignore
