Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss, node_modules/**, build/**, test/**, src/public/**

Update PasswordField component
  src/components/PasswordField/Indicator/Indicator.js
  src/components/PasswordField/Indicator/indicator.m.scss
  src/components/PasswordField/PasswordField.js
  src/components/PasswordField/PasswordFieldFinalFormAdapter.js
  src/components/PasswordField/index.js
  src/components/index.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Add PasswordField tests
  src/components/PasswordField/tests/PasswordField.test.js
Due: ./node_modules/.bin/eslint

JWWEB-697 IE fix, animation delay tiny fix
  src/components/JTextArea/jTextArea.m.scss
  src/styles/mixins.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

JWWEB-697 disabled styles was fixed
  src/components/JTextArea/JTextArea.stories.js
  src/components/JTextArea/jTextArea.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Change appearance of fetching indicator
  src/components/PasswordField/Indicator/indicator.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Fix PR request changes
  flow-typed/final-form.js
  src/components/base/JInputField/JInputField.js
  src/components/base/JInputField/jInputField.m.scss
  src/utils/form/getErrorMessage.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-697 Stories was updated, tiny css update, some html properties passing to component with omittedProps
  src/components/JTextArea/JTextArea.js
  src/components/JTextArea/JTextArea.stories.js
Due: ./node_modules/.bin/eslint

JWWEB-697 JTextArea was moved to base components, again
  src/components/base/JTextArea/JTextArea.js
  src/components/base/JTextArea/JTextArea.stories.js
  src/components/base/JTextArea/JTextAreaField.js
  src/components/base/JTextArea/index.js
  src/components/base/JTextArea/jTextArea.m.scss
  src/components/base/JTextArea/tests/JTextArea.test.js
  src/components/base/index.js
  src/components/index.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-697 states of component styles were reordered
  src/components/base/JTextArea/jTextArea.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Remove 'all: initial'
  src/components/PasswordField/Indicator/indicator.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

JWWEB-697 typings was updated
  .eslintignore
  .flowconfig
  .idea/jwallet-web.iml
  .idea/webResources.xml
  flow-typed/npm/lodash-es_v4.x.x.js
  src/components/base/JTextArea/JTextArea.js
  src/components/base/JTextArea/jTextArea.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

add JInputField unit tests
  jest.config.js
  src/components/base/JInputField/tests/JInputField.test.js
Due: ./node_modules/.bin/eslint

JWWEB-697 test class notation was changed
  src/components/base/JTextArea/JTextArea.js
Due: ./node_modules/.bin/eslint

JWWEB-715: Update MenuLayout to take only view name and render menu bar using internal config
  src/AppRouter.js
  src/layouts/MenuLayout/MenuLayout.js
  src/layouts/MenuLayout/MenuLayoutContainer.js
  src/layouts/MenuLayout/components/MainMenu.js
  src/layouts/MenuLayout/menuConfig.js
  src/layouts/MenuLayout/menuLayout.m.scss
  src/layouts/MenuLayout/menuLayout.scss
  src/routes/NotFound/NotFound.js
  src/routes/NotFound/index.js
  src/routes/NotFound/notFound.scss
  src/routes/index.js
  src/store/router/routes.js
  src/styles/core.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix eslint error
  src/components/AssetItem/AssetItem.js
Due: ./node_modules/.bin/eslint

Add todo for router5 meta property
  flow-typed/redux/appState.js
Due: ./node_modules/.bin/eslint

Fix JLinkInternal props passing
  src/components/base/JLink/JLinkInternal.js
Due: ./node_modules/.bin/eslint

small fixes
  src/components/base/JInputField/JInputField.js
  src/components/base/JInputField/JInputField.stories.js
  src/components/base/JInputField/jInputField.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix prod build for chunks support
  webpack.config.js
Due: ./node_modules/.bin/eslint

Fix loader inside JRaisedButton
  src/components/base/JRaisedButton/JRaisedButton.js
Due: ./node_modules/.bin/eslint

Add new logo icons
  src/public/assets/logo/logo-blue.svg
  src/public/assets/logo/logo-white.svg
Due: none

Exclude rscss rules from stylelint config
  .stylelintrc
Due: none

JWWEB-716 Add ability to add url in css modules
  webpack.config.js
Due: ./node_modules/.bin/eslint

Update WalletHeader (new Logo)
  src/components/WalletHeader/WalletHeader.js
  src/components/WalletHeader/walletHeader.scss
  src/components/base/JLogo/JLogo.js
  src/components/base/JLogo/index.js
  src/components/base/JLogo/jLogo.m.scss
  src/components/base/JLogo/jLogo.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Update MenuLayout & MenuPanel
  src/components/MenuPanel/MenuPanel.js
  src/components/MenuPanel/menuPanel.m.scss
  src/components/index.js
  src/layouts/MenuLayout/MenuLayout.js
  src/layouts/MenuLayout/MenuLayoutContainer.js
  src/layouts/MenuLayout/menuLayout.scss
  src/styles/core.scss
  src/styles/images.scss
  src/utils/wallets/index.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Update format of currencies data
  flow-typed/redux/ticker.js
  src/data/currencies/currencies.js
  src/routes/Settings/routes/Currency/CurrencyContainer.js
  src/routes/Settings/routes/Currency/components/CurrencyPickerField.js
  src/store/selectors/settings.js
  src/utils/formatters/formatCurrency.js
Due: ./node_modules/.bin/eslint

Add new icons & fix JIcon
  src/components/base/JIcon/JIcon.js
  src/components/base/index.js
  src/public/assets/icons/sprite-pack/medium/arrow-right.svg
  src/public/assets/icons/sprite-pack/medium/contact.svg
  src/public/assets/icons/sprite-pack/medium/history.svg
  src/public/assets/icons/sprite-pack/medium/home.svg
  src/public/assets/icons/sprite-pack/medium/more.svg
  src/public/assets/icons/sprite-pack/medium/settings.svg
Due: ./node_modules/.bin/eslint

Add getMnemonicAddressName util function
  src/utils/wallets/getMnemonicAddressName.js
Due: ./node_modules/.bin/eslint

Remove unused code
  src/components/MenuPanel/Actions/Actions.js
  src/components/MenuPanel/Actions/Item/Item.js
  src/components/MenuPanel/Actions/Item/index.js
  src/components/MenuPanel/Actions/Item/item.scss
  src/components/MenuPanel/Actions/More/More.js
  src/components/MenuPanel/Actions/More/index.js
  src/components/MenuPanel/Actions/More/more.scss
  src/components/MenuPanel/Actions/actions.scss
  src/components/MenuPanel/Actions/index.js
  src/components/MenuPanel/BalanceTicker/BalanceTicker.js
  src/components/MenuPanel/BalanceTicker/balanceTicker.scss
  src/components/MenuPanel/BalanceTicker/index.js
  src/components/MenuPanel/MainAction/MainAction.js
  src/components/MenuPanel/MainAction/index.js
  src/components/MenuPanel/MainAction/mainAction.scss
  src/components/MenuPanel/WalletManager/Details/Actions/Actions.js
  src/components/MenuPanel/WalletManager/Details/Actions/actions.scss
  src/components/MenuPanel/WalletManager/Details/Actions/index.js
  src/components/MenuPanel/WalletManager/Details/Addresses/AddressWithName/AddressWithName.js
  src/components/MenuPanel/WalletManager/Details/Addresses/AddressWithName/addressWithName.scss
  src/components/MenuPanel/WalletManager/Details/Addresses/AddressWithName/index.js
  src/components/MenuPanel/WalletManager/Details/Addresses/Addresses.js
  src/components/MenuPanel/WalletManager/Details/Addresses/Item/Item.js
  src/components/MenuPanel/WalletManager/Details/Addresses/Item/index.js
  src/components/MenuPanel/WalletManager/Details/Addresses/Item/item.scss
  src/components/MenuPanel/WalletManager/Details/Addresses/addresses.scss
  src/components/MenuPanel/WalletManager/Details/Addresses/index.js
  src/components/MenuPanel/WalletManager/Details/Details.js
  src/components/MenuPanel/WalletManager/Details/details.scss
  src/components/MenuPanel/WalletManager/Details/index.js
  src/components/MenuPanel/WalletManager/Main/Main.js
  src/components/MenuPanel/WalletManager/Main/index.js
  src/components/MenuPanel/WalletManager/Main/main.scss
  src/components/MenuPanel/WalletManager/WalletManager.js
  src/components/MenuPanel/WalletManager/index.js
  src/components/MenuPanel/WalletManager/walletManager.scss
  src/components/MenuPanel/index.js
  src/components/MenuPanel/menuPanel.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Update isMinimized prop management
  src/components/MenuPanel/MenuPanel.js
  src/layouts/MenuLayout/MenuLayout.js
Due: ./node_modules/.bin/eslint

Fix JInputField PR request changes
  src/components/base/JInputField/JInputField.js
Due: ./node_modules/.bin/eslint

Return AppAction type
  src/AppContainer.js
  src/store/modules/index.js
  src/store/persistReducers.js
  src/store/reducers.js
Due: ./node_modules/.bin/eslint

Fix one flowtype
  src/components/base/JInputField/JInputField.js
Due: ./node_modules/.bin/eslint

Simplify MenuPanel API
  src/AppRouter.js
  src/components/MenuPanel/MenuPanel.js
  src/components/base/JLogo/JLogo.js
  src/layouts/MenuLayout/MenuLayout.js
  src/layouts/MenuLayout/MenuLayoutContainer.js
  src/layouts/MenuLayout/index.js
  src/layouts/index.js
Due: ./node_modules/.bin/eslint

JWWEB-719 Send amount input
  src/routes/DigitalAssets/routes/Send/components/Form/SendAmountField/SendAmountField.js
  src/routes/DigitalAssets/routes/Send/components/Form/SendAmountField/SendAmountField.stories.js
  src/routes/DigitalAssets/routes/Send/components/Form/SendAmountField/sendAmountField.m.scss
  src/styles/colors.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-726: Lottie animation proof-of-concept
  package.json
  src/AppRouter.js
  src/routes/Introduction/Introduction.js
  src/routes/Introduction/animations/vault.json
  src/routes/Introduction/components/Slide.js
  src/routes/Introduction/introduction.m.scss
  src/styles/colors.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Disable setActiveWallet(null) on wallets page transition
  src/store/sagas/wallets/core.js
Due: ./node_modules/.bin/eslint

Fix links & routes problems
  src/AppRouter.js
  src/components/AssetItem/AssetItem.js
  src/components/DigitalAssetsGrid/AddAsset/AddAsset.js
  src/components/DigitalAssetsGrid/AddAsset/addAsset.scss
  src/components/DigitalAssetsGrid/AddDigitalAsset/AddDigitalAsset.js
  src/components/DigitalAssetsGrid/AddDigitalAsset/index.js
  src/components/DigitalAssetsGrid/Asset/AssetCardBody/AssetCardBody.js
  src/components/DigitalAssetsGrid/DigitalAssetsGrid.js
  src/components/DigitalAssetsGrid/digitalAssetsGrid.scss
  src/components/FavoriteItem/FavoriteItem.js
  src/components/TransactionItem/Details/Details.js
  src/components/base/JLink/JLinkInternal.js
  src/routes/DigitalAssets/index.js
  src/routes/DigitalAssets/routes/Grid/DigitalAssetsGridView.js
  src/routes/DigitalAssets/routes/Manage/DigitalAssetsManageView.js
  src/routes/Favorites/FavoritesIndexView.js
  src/routes/Settings/SettingsIndexView.js
  src/routes/Transactions/TransactionsIndexView.js
  src/routes/Transactions/routes/Asset/TransactionsAssetView.js
  src/store/router/routes.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Remove WalletHeader
  src/components/WalletHeader/WalletHeader.js
  src/components/WalletHeader/index.js
  src/components/WalletHeader/walletHeader.scss
  src/routes/Wallets/WalletsIndexView.js
  src/routes/Wallets/routes/Start/WalletsStartView.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Path conditions:
  ./node_modules/.bin/eslint: any of: *.js
  ./node_modules/.bin/stylelint --syntax=scss: any of: *.scss
  node_modules/**: any of: ignore
  build/**: any of: ignore
  test/**: any of: ignore
  src/public/**: any of: ignore
