Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss, node_modules/**, build/**, test/**, src/public/**

Fix small issues
  src/components/base/JPicker/Body/jPickerBody.m.scss
  src/components/base/JPicker/Current/JPickerCurrent.js
  src/components/base/JPicker/Current/jPickerCurrent.m.scss
  src/pages/Send/components/AssetPicker/AssetBalance/AssetBalance.js
  src/pages/Send/components/AssetPicker/AssetBalance/assetBalance.m.scss
  src/pages/Send/components/AssetPicker/AssetPicker.js
  src/pages/Send/components/AssetPicker/AssetPicker.stories.js
  src/pages/Send/components/AssetPicker/Item/AssetItem.js
  src/pages/Send/components/AssetPicker/Item/assetItem.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix eslint build errors
  src/utils/transactions/searchTransactions.js
Due: ./node_modules/.bin/eslint

Remove console.log
  src/components/base/JPicker/List/JPickerList.js
  src/pages/DigitalAssets/routes/Manage/DigitalAssetsManageViewContainer.js
  src/pages/DigitalAssets/routes/Send/DigitalAssetsSendViewContainer.js
Due: ./node_modules/.bin/eslint

JWWEB-729: Fix tests and bugs
  .jest/register-context.js
  src/AppRouter.js
  src/components/LogoHeader/tests/LogoHeader.test.js
  src/components/NewWalletButtons/NewWalletButtons.js
  src/components/NewWalletButtons/tests/NewWalletButtons.test.js
Due: ./node_modules/.bin/eslint

Add key to JIcon use element
  src/components/base/JIcon/JIcon.js
Due: ./node_modules/.bin/eslint

Move SendAmountField to src/pages/Send/components
  src/pages/Send/components/SendAmountField/SendAmountField.js
  src/pages/Send/components/SendAmountField/SendAmountField.stories.js
  src/pages/Send/components/SendAmountField/sendAmountField.m.scss
  src/pages/Send/components/SendAmountField/tests/SendAmountField.test.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Update dependencies to partially remove warnings
  package.json
Due: none

Fix imports for AssetItem
  src/components/index.js
  src/pages/Home/HomeView.js
Due: ./node_modules/.bin/eslint

JWWEB-719 Fix leading zeroes, error message and small view issues
  src/pages/Send/components/SendAmountField/SendAmountField.js
  src/pages/Send/components/SendAmountField/SendAmountField.stories.js
  src/pages/Send/components/SendAmountField/sendAmountField.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-697: Fix disabled JTextArea state
  src/components/base/JTextArea/jTextArea.m.scss
  src/styles/colors.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Add main header component
  src/components/base/Header/Header.js
  src/components/base/Header/Header.stories.js
  src/components/base/Header/header.m.scss
  src/components/base/index.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-717 - Fix AssetPicker smaill issues
  src/components/base/JPicker/Current/JPickerCurrent.js
  src/pages/Send/components/AssetPicker/AssetPicker.js
  src/pages/Send/components/AssetPicker/AssetPicker.stories.js
  src/pages/Send/components/AssetPicker/Item/AssetItem.js
Due: ./node_modules/.bin/eslint

Fix storybook
  src/components/base/JPicker/Item/DefaultItem.js
Due: ./node_modules/.bin/eslint

Implement introduction screen
  package.json
  src/AppRouter.js
  src/pages/Introduction/IntroductionView.js
  src/pages/Introduction/animations/jwallet.json
  src/pages/Introduction/animations/manage.json
  src/pages/Introduction/animations/protect.json
  src/pages/Introduction/animations/send_receive.json
  src/pages/Introduction/animations/store.json
  src/pages/Introduction/animations/vault.json
  src/pages/Introduction/components/Slide.js
  src/pages/Introduction/components/slide.m.scss
  src/pages/Introduction/introductionView.m.scss
  src/pages/Introduction/swiper.scss
  src/pages/index.js
  src/public/assets/feature/jwallet.png
  src/public/assets/feature/manage.png
  src/public/assets/feature/protect.png
  src/public/assets/feature/send_receive.png
  src/public/assets/feature/store.png
  src/styles/components/jText.m.scss
  src/utils/introduction/getIntroductionValue.js
  src/utils/introduction/index.js
  src/utils/introduction/setIntroductionValue.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix ANT & HMQ icons
  src/public/assets/tokens/ant.svg
  src/public/assets/tokens/hmq.svg
Due: none

JWWEB-729: Add responsive layout and logo
  src/components/LogoHeader/LogoHeader.js
  src/components/LogoHeader/logoHeader.m.scss
  src/components/base/JLogo/JLogo.js
  src/components/base/JLogo/jLogo.m.scss
  src/components/base/JLogo/tests/JLogo.test.js
  src/components/base/index.js
  src/components/index.js
  src/layouts/MenuLayout/components/MenuPanel/MenuPanel.js
  src/layouts/MenuLayout/components/MenuPanel/menuPanel.m.scss
  src/layouts/StartLayout/StartLayout.js
  src/layouts/StartLayout/startLayout.m.scss
  src/layouts/index.js
  src/pages/SetPassword/SetPasswordView.js
  src/pages/SetPassword/setPasswordView.m.scss
  src/pages/WalletsStart/WalletsStart.js
  src/pages/WalletsStart/walletsStart.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix path
  src/layouts/StartLayout/StartLayout.js
Due: ./node_modules/.bin/eslint

Add RecipientPicker component
  src/pages/Send/components/RecipientPicker/ContactIcon/ContactIcon.js
  src/pages/Send/components/RecipientPicker/ContactIcon/ContactIcon.stories.js
  src/pages/Send/components/RecipientPicker/ContactIcon/contactIcon.m.scss
  src/pages/Send/components/RecipientPicker/RecipientPicker.js
  src/pages/Send/components/RecipientPicker/RecipientPicker.stories.js
  src/pages/Send/components/RecipientPicker/Tabs/Empty.js
  src/pages/Send/components/RecipientPicker/Tabs/Tabs.js
  src/pages/Send/components/RecipientPicker/Tabs/empty.m.scss
  src/pages/Send/components/RecipientPicker/Tabs/tabs.m.scss
  src/public/assets/icons/sprite-pack/medium/contact-2-use-fill.svg
  src/public/assets/thumbnail/empty-contacts.svg
  src/public/assets/thumbnail/empty-wallets.svg
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix border-radius for JPickers
  src/components/base/JPicker/Current/jPickerCurrent.m.scss
  src/components/base/JPicker/List/JPickerListItem.js
  src/components/base/JPicker/List/jPickerListItem.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix SendAmountField styles
  src/components/base/JIcon/jIcon.m.scss
  src/pages/Send/components/SendAmountField/SendAmountField.js
  src/pages/Send/components/SendAmountField/sendAmountField.m.scss
  src/public/assets/icons/sprite-pack/medium/close-use-fill.svg
  src/styles/colors.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-734: Fix asset item hovers
  src/pages/Home/components/AssetItem/assetItem.m.scss
  src/pages/Home/home.m.scss
  src/styles/_base.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

JWWEB-697: Fix error message offset
  src/components/base/JTextArea/JTextAreaField.js
  src/components/base/JTextArea/jTextArea.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Update flow-bin
  package.json
Due: none

JWWEB-735: Remove redundant components
  src/components/DigitalAssetsFilter/DigitalAssetsFilter.js
  src/components/DigitalAssetsFilter/FilterComponents.stories.js
  src/components/DigitalAssetsFilter/digitalAssetsFilter.scss
  src/components/DigitalAssetsFilter/index.js
  src/components/base/Header/header.m.scss
  src/components/index.js
  src/pages/Home/HomeView.js
  src/styles/_base.scss
  src/styles/core.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-735: Add search for assets list
  .idea/jwallet-web.iml
  src/components/base/JSearch/JSearch.js
  src/components/base/JSearch/index.js
  src/components/base/JSearch/jSearch.scss
  src/components/base/SearchInput/SearchInput.js
  src/components/base/SearchInput/SearchInput.stories.js
  src/components/base/SearchInput/searchInput.m.scss
  src/components/base/SearchInput/tests/SearchInput.test.js
  src/components/base/index.js
  src/pages/DigitalAssets/routes/Manage/DigitalAssetsManageView.js
  src/pages/Favorites/FavoritesIndexView.js
  src/pages/Home/HomeView.js
  src/pages/Settings/SettingsIndexView.js
  src/pages/Transactions/TransactionsIndexView.js
  src/pages/Transactions/routes/Asset/TransactionsAssetView.js
  src/public/assets/icons/sprite-pack/ic_search_24-use-fill.svg
  src/styles/core.scss
  src/utils/hooks/useFocus.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-735: Add search by address and search manager for home page
  .idea/jwallet-web.iml
  src/pages/Home/HomeView.js
  src/pages/Home/filterAssetByQuery.js
  src/utils/address/index.js
  src/utils/address/startsWithOrEndsWith.js
  src/utils/address/tests/startsWithOrEndsWith.test.js
  src/utils/transactions/searchTransactions.js
Due: ./node_modules/.bin/eslint

JWWEB-735: Add manage toggle
  src/pages/Home/HomeView.js
  src/pages/Home/home.m.scss
  src/public/assets/icons/sprite-pack/ic_manage_24-use-fill.svg
  src/styles/mixins.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-735: Fix safari bugs
  src/components/base/SearchInput/SearchInput.js
  src/components/base/SearchInput/searchInput.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-735: Fix design bugs
  src/pages/Home/home.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

JWWEB-735: Fix design bugs
  src/pages/Home/components/AssetItem/assetItem.m.scss
  src/pages/Home/home.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Fix box-shadow overlap on current
  src/components/base/JPicker/Body/jPickerBody.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Remove search from AssetPicker
  src/components/base/JPicker/Body/JPickerBody.js
  src/pages/Send/components/AssetPicker/AssetPicker.js
Due: ./node_modules/.bin/eslint

Fix cursor and font weight
  src/components/base/JPicker/Current/jPickerCurrent.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Fix console warning
  src/components/base/JPicker/Current/JPickerCurrent.js
Due: ./node_modules/.bin/eslint

Remove swipper and add react-view-slider
  package.json
  src/pages/Introduction/IntroductionView.js
  src/pages/Introduction/components/Slide.js
  src/pages/Introduction/components/slide.m.scss
  src/pages/Introduction/introductionView.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Clean html structure, correcting ttag, remove jText
  src/pages/Introduction/IntroductionView.js
  src/pages/Introduction/components/Slide.js
  src/pages/Introduction/components/slide.m.scss
  src/pages/Introduction/introductionView.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Recipient picker
  src/components/base/JPicker/index.js
  src/pages/Send/components/RecipientPicker/ContactIcon/ContactIcon.js
  src/pages/Send/components/RecipientPicker/ContactIcon/contactIcon.m.scss
  src/pages/Send/components/RecipientPicker/ContactItem/ContactItem.js
  src/pages/Send/components/RecipientPicker/ContactItem/contactItem.m.scss
  src/pages/Send/components/RecipientPicker/RecipientPicker.js
  src/pages/Send/components/RecipientPicker/RecipientPicker.stories.js
  src/pages/Send/components/RecipientPicker/SingleWalletItem/SingleWalletItem.js
  src/pages/Send/components/RecipientPicker/SingleWalletItem/singleWalletItem.m.scss
  src/pages/Send/components/RecipientPicker/Tabs/tabs.m.scss
  src/pages/Send/components/RecipientPicker/WalletBalance/WalletBalance.js
  src/pages/Send/components/RecipientPicker/WalletBalance/walletBalance.m.scss
  src/pages/Send/components/RecipientPicker/WalletList/WalletList.js
  src/pages/Send/components/RecipientPicker/WalletList/walletList.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Add mixin for transition
  src/styles/mixins.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Update transition value
  src/styles/mixins.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Path conditions:
  ./node_modules/.bin/eslint: any of: *.js
  ./node_modules/.bin/stylelint --syntax=scss: any of: *.scss
  node_modules/**: any of: ignore
  build/**: any of: ignore
  test/**: any of: ignore
  src/public/**: any of: ignore
