Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss, node_modules/**, build/**, test/**, src/public/**

Refactor JSwitch
  src/components/base/JSwitch/JSwitch.js
  src/components/base/JSwitch/JSwitch.stories.js
  src/components/base/JSwitch/jSwitch.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix validating of ETH address
  src/pages/WalletsImport/WalletsImport.js
Due: ./node_modules/.bin/eslint

Correct display of the card wallet
  src/components/WalletCard/WalletCard.js
  src/components/WalletCard/left-part-wallet-card.svg
  src/components/WalletCard/walletCard.m.scss
  src/styles/_base.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Disable submit button if required field is empty
  src/pages/WalletsImport/WalletsImportView.js
Due: ./node_modules/.bin/eslint

Correction of the structure for actions, adding animation
  src/components/WalletCard/WalletCardActions/WalletCardActions.js
  src/components/WalletCard/WalletCardActions/walletCardActions.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix JTextArea border radius
  src/components/base/JTextArea/jTextArea.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Add class for QA
  src/components/WalletCard/WalletCard.js
  src/components/WalletCard/WalletCardActions/WalletCardActions.js
Due: ./node_modules/.bin/eslint

Fix group in storybook
  src/components/base/JSwitch/JSwitch.stories.js
Due: ./node_modules/.bin/eslint

JWWEB-725 Update animations
  src/pages/Introduction/animations/jwallet.json
  src/pages/Introduction/animations/manage.json
  src/pages/Introduction/animations/protect.json
  src/pages/Introduction/animations/send_receive.json
  src/pages/Introduction/animations/store.json
Due: none

String update
  src/pages/Introduction/data.js
Due: ./node_modules/.bin/eslint

Fix the animation block view
  src/pages/Introduction/components/slide.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Update checking of xpub/xprv
  src/utils/mnemonic/checkXkeyValid.js
Due: ./node_modules/.bin/eslint

Move data messages to separate file
  src/pages/WalletsImport/WalletsImport.js
  src/pages/WalletsImport/dataMessage.js
Due: ./node_modules/.bin/eslint

Move JIputFiled to base section in stories
  src/components/base/JInputField/JInputField.stories.js
Due: ./node_modules/.bin/eslint

Fix validating of form fields
  src/components/base/JInputField/JInputField.js
  src/components/base/JTextArea/JTextArea.js
  src/pages/WalletsImport/WalletsImport.js
  src/pages/WalletsImport/WalletsImportView.js
  src/pages/WalletsImport/dataMessage.js
  src/utils/form/getErrorMessage.js
Due: ./node_modules/.bin/eslint

Add text about derivation path
  src/pages/WalletsImport/WalletsImportView.js
Due: ./node_modules/.bin/eslint

Add info message when wallet name matches wth existing one
  src/pages/WalletsImport/WalletsImport.js
  src/pages/WalletsImport/WalletsImportView.js
  src/pages/WalletsImport/dataMessage.js
Due: ./node_modules/.bin/eslint

Disable submit form button when info or error are displayed
  src/pages/WalletsImport/WalletsImportView.js
Due: ./node_modules/.bin/eslint

JWWEB-737 Added view logic of canceled transaction
  src/components/TransactionDetails/TransactionDetails.js
  src/components/TransactionDetails/TransactionDetailsInternal.js
  src/components/TransactionDetails/getTransactionDetailsConfig.js
  src/components/TransactionItemNew/transactionsIndex.js
Due: ./node_modules/.bin/eslint

Styling input
  src/components/WalletCard/walletCard.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

JWWEB-737 Divined different status items to different files
  .idea/inspectionProfiles/Project_Default.xml
  .idea/inspectionProfiles/profiles_settings.xml
  src/components/TransactionDetails/TransactionDetails.js
  src/components/TransactionDetails/TransactionDetailsInternal.js
  src/components/TransactionDetails/getTransactionDetailsConfig.js
  src/components/TransactionDetails/templates/TransactionCancel.js
  src/components/TransactionDetails/templates/TransactionNormal.js
  src/components/TransactionDetails/templates/index.js
  src/components/TransactionDetails/utils/handleEditNote.js
  src/components/TransactionDetails/utils/index.js
Due: ./node_modules/.bin/eslint

JWWEB-737 Renamed from TransactionDetails to HistoryItemDetails
  src/components/HistoryItemDetails/HistoryItemDetails.js
  src/components/HistoryItemDetails/HistoryItemDetailsInternal.js
  src/components/HistoryItemDetails/components/AssetItemPreview/AssetItemPreview.js
  src/components/HistoryItemDetails/components/AssetItemPreview/assetItemPreview.m.scss
  src/components/HistoryItemDetails/components/FieldPreview/FieldPreview.js
  src/components/HistoryItemDetails/components/FieldPreview/FieldPreview.stories.js
  src/components/HistoryItemDetails/components/FieldPreview/fieldPreview.m.scss
  src/components/HistoryItemDetails/components/FieldPreview/tests/FieldPreview.test.js
  src/components/HistoryItemDetails/components/index.js
  src/components/HistoryItemDetails/historyItemDetails.m.scss
  src/components/HistoryItemDetails/templates/TransactionCancel.js
  src/components/HistoryItemDetails/templates/TransactionNormal.js
  src/components/HistoryItemDetails/templates/index.js
  src/components/HistoryItemDetails/utils/handleEditNote.js
  src/components/HistoryItemDetails/utils/index.js
  src/pages/HistoryItem/HistoryItemView.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Add advanced button
  src/pages/WalletsImport/WalletsImportView.js
Due: ./node_modules/.bin/eslint

Fix minor codestyle issue
  src/pages/WalletsImport/WalletsImportView.js
Due: ./node_modules/.bin/eslint

Add margin-top 16px for Button component
  src/components/base/Button/button.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Rename action added to name
  src/components/WalletCard/WalletCard.js
  src/components/WalletCard/walletCard.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-725 Add gradient
  src/pages/Introduction/Introduction.js
  src/pages/Introduction/introduction.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix text field design issues
  src/components/base/JInputField/JInputField.js
  src/components/base/JInputField/jInputField.m.scss
  src/components/base/JTextArea/JTextArea.js
  src/components/base/JTextArea/jTextArea.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-720 Priority field component for Send Asset
  src/pages/Send/components/PriorityField/InputWithUnit/InputWithUnit.js
  src/pages/Send/components/PriorityField/InputWithUnit/inputWithUnit.m.scss
  src/pages/Send/components/PriorityField/PriorityField.js
  src/pages/Send/components/PriorityField/PriorityField.stories.js
  src/pages/Send/components/PriorityField/priorityField.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-737 Added sidebar in list of transaction on the history page
  src/components/TransactionItemNew/TransactionItem.js
  src/components/TransactionsList/TransactionsList.js
  src/components/TransactionsList/transactionsList.m.scss
  src/components/TransactionsList/transactionsList.scss
  src/components/index.js
  src/pages/Transactions/TransactionsIndexView.js
  src/pages/Transactions/transactionsView.scss
  src/styles/core.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Use class method for JInputField
  src/components/base/JInputField/JInputField.js
Due: ./node_modules/.bin/eslint

JWWEB-737 Added messages on copy address/blockchain tx address
  src/components/HistoryItemDetails/components/FieldPreview/FieldPreview.js
  src/components/HistoryItemDetails/templates/TransactionNormal.js
Due: ./node_modules/.bin/eslint

Add standard factory function to validate all required fields
  .idea/jwallet-web.iml
  src/utils/form/finalFormComposeWithValidateRequired.js
  src/utils/form/index.js
  src/utils/form/tests/finalFormComposeWithValidateRequired.test.js
Due: ./node_modules/.bin/eslint

Fix mistakes
  src/components/WalletCard/WalletCard.js
  src/components/WalletCard/WalletCardActions/walletCardActions.m.scss
  src/components/WalletCard/walletCard.m.scss
  src/styles/zindex.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-737 Updated icon and state colors
  src/components/TransactionsList/TransactionsList.js
  src/components/TransactionsList/transactionsList.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix opacity of the disabled label in JInputField
  src/components/base/JInputField/JInputField.js
  src/components/base/JInputField/JInputField.stories.js
  src/components/base/JInputField/jInputField.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix PR request changes
  src/pages/Send/components/PriorityField/InputWithUnit/InputWithUnit.js
Due: ./node_modules/.bin/eslint

JWWEB-737 Updated components to class declaration
  src/components/HistoryItemDetails/HistoryItemDetails.js
  src/components/HistoryItemDetails/HistoryItemDetailsInternal.js
  src/components/HistoryItemDetails/templates/TransactionCancel.js
  src/components/HistoryItemDetails/templates/TransactionNormal.js
  src/components/HistoryItemDetails/utils/handleEditNote.js
  src/components/HistoryItemDetails/utils/index.js
Due: ./node_modules/.bin/eslint

JWWEB-737 Removed debug code
  src/components/HistoryItemDetails/HistoryItemDetails.js
Due: ./node_modules/.bin/eslint

Remove default form error
  src/utils/form/finalFormComposeWithValidateRequired.js
  src/utils/form/tests/finalFormComposeWithValidateRequired.test.js
Due: ./node_modules/.bin/eslint

Path conditions:
  ./node_modules/.bin/eslint: any of: *.js
  ./node_modules/.bin/stylelint --syntax=scss: any of: *.scss
  node_modules/**: any of: ignore
  build/**: any of: ignore
  test/**: any of: ignore
  src/public/**: any of: ignore
