Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss, node_modules/**, build/**, test/**, src/public/**

.lintstagedrc:

{
  "*.js": "./node_modules/.bin/eslint",
  "*.scss": "./node_modules/.bin/stylelint --syntax=scss",
  "ignore": [
    "node_modules/**",
    "build/**",
    "test/**",
    "src/public/**"
  ]
}

Example of fix
  src/workers/settings/index.js
Due: ./node_modules/.bin/eslint

Example of fix
  src/utils/address/getShortenedAddress.js
Due: ./node_modules/.bin/eslint

Add flowtype/delimiter-dangle eslint rule
  .eslintrc
Due: none

Example fix for added eslint rule
  src/routes/DigitalAssets/routes/Send/components/Confirm/Card/Card.js
Due: ./node_modules/.bin/eslint

Add flowtype/object-type-delimiter eslint rule
  .eslintrc
Due: none

Add flowtype/no-dupe-keys eslint rule
  .eslintrc
Due: none

Add jsx-no-bind & jsx-pascal-case rules
  .eslintrc
Due: none

Update eslint-plugin-flowtype package
  package-lock.json
  package.json
Due: none

Add flowtype/type-id-match rule
  .eslintrc
Due: none

Add flowtype/semi & flowtype/space-before-generic-bracket rules
  .eslintrc
Due: none

Add flowtype/type-import-style rule
  .eslintrc
Due: none

Example of fix
  src/routes/index.js
Due: ./node_modules/.bin/eslint

Example of fix
  src/utils/transactions/getTransactionValue.js
Due: ./node_modules/.bin/eslint

Example of fix
  src/services/ticker.js
Due: ./node_modules/.bin/eslint

Add flowtype/require-compound-type-alias eslint rule
  .eslintrc
Due: none

Add flowtype/require-types-at-top eslint rule
  .eslintrc
Due: none

Enable no-use-before-define eslint rule
  .eslintrc
Due: none

Update fp/no-mutation eslint rule
  .eslintrc
Due: none

Enable no-descending-specificity stylelint rule
  .stylelintrc
Due: none

Correcting config SVGO
  webpack.config.js
Due: ./node_modules/.bin/eslint

JWWEB-662: Change "plus" link to Asset Manager
  src/routes/DigitalAssets/routes/Grid/DigitalAssetsGridViewContainer.js
Due: ./node_modules/.bin/eslint

Bump version to 2.0.2
  package.json
  version.txt
Due: none

Migrate to mainnet jnode
  src/routes/modules/networks.js
Due: ./node_modules/.bin/eslint

JWWEB-631 Imports ways were prettified
  src/routes/DigitalAssets/routes/Grid/DigitalAssetsGridViewContainer.js
  src/routes/Favorites/routes/Address/FavoritesAddressViewContainer.js
  src/routes/NotFound/NotFoundViewContainer.js
  src/routes/Settings/routes/Currency/CurrencyContainer.js
  src/routes/Wallets/routes/Create/WalletsCreateViewContainer.js
  src/routes/Wallets/routes/Delete/WalletsDeleteViewContainer.js
  src/routes/Wallets/routes/Import/WalletsImportViewContainer.js
  src/routes/Wallets/routes/Rename/WalletsRenameViewContainer.js
  src/routes/Wallets/routes/RenameAddress/WalletsRenameAddressViewContainer.js
  src/store/sagas/digitalAssets/addAsset.js
  src/store/sagas/digitalAssets/digitalAssetsGrid.js
Due: ./node_modules/.bin/eslint

fix storybook
  .storybook/webpack.config.js
  package.json
  stories/components/AssetItem.stories.js
  stories/components/PasswordField.stories.js
  stories/components/base/JAssetSymbol.stories.js
  stories/components/base/JCard.stories.js
  stories/components/base/JLoader.stories.js
  stories/components/base/JText.stories.js
  stories/index.js
  stories/props.js
Due: ./node_modules/.bin/eslint

JWWEB-631 Sagas imports were reworked
  src/routes/Wallets/routes/Delete/WalletsDeleteViewContainer.js
  src/store/configureStore.js
  src/store/sagas.js
  src/store/sagas/digitalAssets/index.js
  src/store/sagas/index.js
  src/store/sagas/wallets/index.js
Due: ./node_modules/.bin/eslint

JWWEB-633: Add CSS modules support with small usage example
  src/routes/Agreements/AgreementsView.js
  src/routes/Agreements/AgreementsView.m.scss
  src/routes/Agreements/agreementsView.scss
  src/styles/core.scss
  webpack.config.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-666: Fix english language file
  src/data/lang/en.po
Due: none

Ignore package-lock
  .gitignore
  package-lock.json
Due: none

JWWEB-668: Fix assets merging
  package.json
  src/routes/DigitalAssets/sagas/digitalAssets.js
Due: ./node_modules/.bin/eslint

JWWEB-631 typo
  src/routes/Wallets/routes/Import/WalletsImportView.js
Due: ./node_modules/.bin/eslint

JWWEB-631 Relative exports were fixed, submodules of sagas exports were renamed for consistent naming
  src/store/modules/settings.js
  src/store/sagas/digitalAssets/digitalAssetsSend.js
  src/store/sagas/index.js
Due: ./node_modules/.bin/eslint

JWWEB-631 sagas from digital assets were simplified
  src/data/lang/en.po
  src/store/sagas/digitalAssets/core.js
  src/store/sagas/digitalAssets/grid.js
  src/store/sagas/digitalAssets/index.js
  src/store/sagas/digitalAssets/send.js
Due: ./node_modules/.bin/eslint

JWWEB-635 Recompose moved to dev deps, flattenWith was resurrected
  package.json
  src/components/base/JTooltip/JTooltipContainer.js
  src/utils/browser/flattenWith.js
  src/utils/browser/index.js
Due: ./node_modules/.bin/eslint

JWWEB-635 Lang file was updated
  src/data/lang/en.po
Due: none

icons sprite
  src/components/base/JIcon/JIcon.js
  src/styles/_base.scss
  webpack.config.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Remove example class name
  src/routes/Agreements/AgreementsView.js
  src/routes/Agreements/AgreementsView.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss
