Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss, node_modules/**, build/**, test/**, src/public/**

Update lang locales
  src/data/lingui/en/messages.js
  src/data/lingui/es/messages.js
  src/data/lingui/ja/messages.js
  src/data/lingui/ko/messages.js
  src/data/lingui/ru/messages.js
  src/data/lingui/zh-Hans/messages.js
  src/data/lingui/zh-Hant/messages.js
Due: ./node_modules/.bin/eslint

Sync locales with localise
  src/data/lingui/en/messages.js
  src/data/lingui/es/messages.js
  src/data/lingui/es/messages.json
  src/data/lingui/ja/messages.js
  src/data/lingui/ja/messages.json
  src/data/lingui/ko/messages.js
  src/data/lingui/ko/messages.json
  src/data/lingui/ru/messages.js
  src/data/lingui/ru/messages.json
  src/data/lingui/zh-Hans/messages.js
  src/data/lingui/zh-Hans/messages.json
  src/data/lingui/zh-Hant/messages.js
  src/data/lingui/zh-Hant/messages.json
Due: ./node_modules/.bin/eslint

Add .sh script for sync automation of locales
  lang-sync.sh
  package.json
Due: none

Use localise format of i18n files
  src/data/lingui/en/messages.js
  src/data/lingui/en/messages.json
  src/data/lingui/es/messages.js
  src/data/lingui/es/messages.json
  src/data/lingui/ja/messages.js
  src/data/lingui/ja/messages.json
  src/data/lingui/ko/messages.js
  src/data/lingui/ko/messages.json
  src/data/lingui/ru/messages.js
  src/data/lingui/ru/messages.json
  src/data/lingui/zh-Hans/messages.js
  src/data/lingui/zh-Hans/messages.json
  src/data/lingui/zh-Hant/messages.js
  src/data/lingui/zh-Hant/messages.json
Due: ./node_modules/.bin/eslint

Fix sh script
  lang-sync.sh
Due: none

Fix imports
  src/components/HistoryItemDetails/components/Items/ContractCall.js
Due: ./node_modules/.bin/eslint

Add DateTimeFormat component
  src/app/components/DateTimeFormat/DateTimeFormat.js
  src/app/components/index.js
  src/components/HistoryItemDetails/templates/TransactionCancel.js
  src/components/HistoryItemDetails/templates/TransactionNormal.js
Due: ./node_modules/.bin/eslint

Delete legacy transaction item
  src/components/TransactionItem/Details/Comment/Comment.js
  src/components/TransactionItem/Details/Comment/comment.scss
  src/components/TransactionItem/Details/Comment/index.js
  src/components/TransactionItem/Details/Details.js
  src/components/TransactionItem/Details/details.scss
  src/components/TransactionItem/Details/index.js
  src/components/TransactionItem/Main/Main.js
  src/components/TransactionItem/Main/index.js
  src/components/TransactionItem/Main/main.scss
  src/components/TransactionItem/TransactionItem.js
  src/components/TransactionItem/TransactionsItem.stories.js
  src/components/TransactionItem/index.js
  src/components/TransactionItem/transactionItem.scss
  src/styles/core.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix zh-Hans language title
  src/data/languages.js
Due: ./node_modules/.bin/eslint

Remove description in LanguagePicker
  src/pages/SettingsLanguage/components/LanguagePicker/LanguagePicker.js
Due: ./node_modules/.bin/eslint

Delete messages.js from GIT
  src/data/lingui/en/messages.js
  src/data/lingui/es/messages.js
  src/data/lingui/ja/messages.js
  src/data/lingui/ko/messages.js
  src/data/lingui/ru/messages.js
  src/data/lingui/zh-Hans/messages.js
  src/data/lingui/zh-Hant/messages.js
Due: ./node_modules/.bin/eslint

Add lang:compile to the build process
  Dockerfile
  package.json
Due: none

Fix language display in the settings page
  src/pages/Settings/Settings.js
  src/pages/Settings/SettingsView.js
Due: ./node_modules/.bin/eslint

Messages, imported from lokalise
  src/data/lingui/en/messages.json
  src/data/lingui/ru/messages.json
  src/data/lingui/zh-Hant/messages.json
Due: none

Fix build issues
  Dockerfile
  package.json
Due: none

Fix broken currency change by internationalization
  src/pages/SettingsCurrency/SettingsCurrency.js
  src/store/sagas/settings.js
Due: ./node_modules/.bin/eslint

Fix History layout
  src/components/HistoryItemDetails/components/Items/TransferOut.js
  src/components/HistoryList/HistoryList.js
  src/components/HistoryList/components/Empty.js
  src/components/HistoryList/historyList.m.scss
  src/components/TransactionsList/Empty/Empty.js
  src/components/TransactionsList/Empty/index.js
  src/components/TransactionsList/TransactionsList.js
  src/components/TransactionsList/index.js
  src/components/TransactionsList/transactionsList.m.scss
  src/components/index.js
  src/pages/Transactions/History.js
  src/pages/Transactions/TransactionsIndexView.js
  src/pages/Transactions/TransactionsIndexViewContainer.js
  src/pages/Transactions/history.m.scss
  src/pages/Transactions/index.js
  src/pages/Transactions/routes/Asset/TransactionsAssetView.js
  src/pages/Transactions/transactionsView.scss
  src/pages/index.js
  src/styles/core.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix address label of wallet card
  src/components/WalletCard/WalletCard.js
Due: ./node_modules/.bin/eslint

Remove ttag from form
  src/components/ContactsEditForm/ContactsEditForm.js
Due: ./node_modules/.bin/eslint

Fix FieldPreview links (use https)
  src/components/FieldPreview/FieldPreview.js
Due: ./node_modules/.bin/eslint

Use old favourites (not contacts)
  flow-typed/redux/contacts.js
  flow-typed/redux/favorites.js
  src/store/modules/contacts.js
  src/store/modules/favorites.js
  src/store/modules/index.js
  src/store/persistReducers.js
  src/store/reducers.js
  src/store/sagas/favorites.js
  src/store/sagas/index.js
  src/store/selectors/contacts.js
  src/store/selectors/favorites.js
Due: ./node_modules/.bin/eslint

Resolve tx fee problem
  src/components/HistoryItemDetails/components/Items/ContractCall.js
  src/components/HistoryItemDetails/components/Items/TransferCancel.js
  src/components/HistoryItemDetails/components/Items/TransferIn.js
  src/components/HistoryItemDetails/components/Items/TransferOut.js
  src/components/HistoryItemDetails/historyItemDetails.m.scss
  src/components/HistoryList/HistoryList.js
  src/components/TransactionItemNew/TransactionItem.js
  src/store/utils/HistoryItem/createContractCall.js
  src/store/utils/HistoryItem/createTransferCancel.js
  src/store/utils/HistoryItem/createTransferIn.js
  src/store/utils/HistoryItem/createTransferOut.js
  src/store/utils/HistoryItem/utils/getTransactionFee.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Remove console.log
  src/components/TransactionItemNew/TransactionItem.js
Due: ./node_modules/.bin/eslint

Fix favorites usage
  src/components/HistoryItemDetails/HistoryItemDetails.js
  src/middlewares/analyticsMiddleware/userParams.js
  src/store/transactionsIndex.js
Due: ./node_modules/.bin/eslint

Delete ContactsEditForm
  src/components/ContactsEditForm/ContactsEditForm.js
  src/components/ContactsEditForm/contactsEditForm.m.scss
  src/components/index.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Implement contacts add
  src/pages/ContactsItemAdd/ContactsItemAdd.js
  src/pages/ContactsItemAdd/components/ContactAddForm/ContactAddForm.js
  src/pages/ContactsItemAdd/components/ContactAddForm/contactAddForm.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Disable add button when not valid
  src/pages/ContactsItemAdd/components/ContactAddForm/ContactAddForm.js
Due: ./node_modules/.bin/eslint

Clean types
  flow-typed/redux/appState.js
Due: ./node_modules/.bin/eslint

Fix i18n names
  src/pages/ContactsItemAdd/components/ContactAddForm/ContactAddForm.js
Due: ./node_modules/.bin/eslint

Remove unused || ''
  src/store/selectors/favorites.js
Due: ./node_modules/.bin/eslint

Update strings
  src/data/lingui/en/messages.json
  src/data/lingui/es/messages.json
  src/data/lingui/ja/messages.json
  src/data/lingui/ko/messages.json
  src/data/lingui/ru/messages.json
  src/data/lingui/zh-Hans/messages.json
  src/data/lingui/zh-Hant/messages.json
Due: none

Fix build issue
  src/components/TransactionItemNew/TransactionItem.js
Due: ./node_modules/.bin/eslint

Fix contact add form
  src/pages/ContactsItemAdd/components/ContactAddForm/ContactAddForm.js
Due: ./node_modules/.bin/eslint

JWWEB-875 - Edit contact
  src/pages/ContactsItemEdit/ContactsItemEdit.js
  src/pages/ContactsItemEdit/ContactsItemEditView.js
  src/pages/ContactsItemEdit/components/ContactEditForm/ContactEditForm.js
  src/pages/ContactsItemEdit/components/ContactEditForm/contactEditForm.m.scss
  src/pages/ContactsItemEdit/contactsItemEdit.m.scss
  src/store/router/routes.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Update messages
  src/data/lingui/en/messages.json
  src/data/lingui/es/messages.json
  src/data/lingui/ja/messages.json
  src/data/lingui/ko/messages.json
  src/data/lingui/ru/messages.json
  src/data/lingui/zh-Hans/messages.json
  src/data/lingui/zh-Hant/messages.json
Due: none

JWWEB-877 - Delete contact
  src/pages/ContactsItemDelete/ContactsItemDelete.js
  src/pages/ContactsItemDelete/ContactsItemDeleteView.js
Due: ./node_modules/.bin/eslint

Fix showing of warning on wallet rename
  src/components/WalletCard/WalletCard.js
Due: ./node_modules/.bin/eslint

Edit contact item fixes
  src/pages/ContactsItemEdit/ContactsItemEdit.js
  src/pages/ContactsItemEdit/components/ContactEditForm/ContactEditForm.js
Due: ./node_modules/.bin/eslint

Add support to throw PageNotFoundError and get page 404
  src/AppRouter.js
Due: ./node_modules/.bin/eslint

Not found page redesign
  src/AppRouter.js
  src/pages/NotFound/NotFound.js
  src/pages/NotFound/notFound.m.scss
  src/pages/NotFound/notFound.scss
  src/styles/core.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Path conditions:
  ./node_modules/.bin/eslint: any of: *.js
  ./node_modules/.bin/stylelint --syntax=scss: any of: *.scss
  node_modules/**: any of: ignore
  build/**: any of: ignore
  test/**: any of: ignore
  src/public/**: any of: ignore
