Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss, node_modules/**, build/**, test/**, src/public/**

Fix transition mixin
  src/styles/mixins.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

JWWEB-735 Fix font styles, fix prop types
  src/components/base/SearchInput/SearchInput.js
  src/components/base/SearchInput/SearchInput.stories.js
  src/components/base/SearchInput/searchInput.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-735 Fix search of assets list
  src/components/base/SearchInput/SearchInput.js
  src/pages/Home/Home.js
  src/pages/Home/HomeView.js
  src/pages/Home/home.m.scss
  src/public/assets/icons/sprite-pack/pic_assets_112-use-fill.svg
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-735 Fix search issues, add sticky header for assets list
  src/pages/Home/HomeView.js
  src/pages/Home/home.m.scss
  src/public/assets/pic_assets_112.svg
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Animation of arrow in digital asset card was fixed according design requires
  src/pages/Home/components/AssetItem/assetItem.m.scss
  src/styles/mixins.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

JWWEB-735 Fix types
  src/components/base/SearchInput/SearchInput.js
  src/pages/Home/HomeView.js
Due: ./node_modules/.bin/eslint

JWWEB-735 Add constants
  src/pages/Home/HomeView.js
Due: ./node_modules/.bin/eslint

JWWEB-735 Move ETH on the top of assets list
  src/pages/Home/Home.js
Due: ./node_modules/.bin/eslint

Remove unused and update existing babel deps
  package.json
Due: none

JWWEB-735 Replaced method `startsWith` to function from lodash
  src/utils/address/startsWithOrEndsWith.js
Due: ./node_modules/.bin/eslint

JWWEB-735 Replaced method `startsWith` to function from lodash, again
  src/pages/Home/filterAssetByQuery.js
Due: ./node_modules/.bin/eslint

Update input field & textarea base components
  src/components/base/JInputField/JInputField.js
  src/components/base/JInputField/jInputField.m.scss
  src/components/base/JTextArea/JTextArea.js
  src/components/base/JTextArea/jTextArea.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix JInputField tests
  src/components/base/JInputField/tests/JInputField.test.js
Due: ./node_modules/.bin/eslint

Remove unused eslint comments
  src/components/base/JInputField/tests/JInputField.test.js
Due: ./node_modules/.bin/eslint

Move constants to external file so test does not require worker mock
  .idea/jwallet-web.iml
  .jest/register-context.js
  src/components/NewWalletButtons/NewWalletButtons.js
  src/components/NewWalletButtons/tests/NewWalletButtons.test.js
  src/pages/WalletsStart/WalletsStart.js
  src/pages/WalletsStart/actions.js
Due: ./node_modules/.bin/eslint

Rename actions to constants
  src/components/ButtonWithConfirm/ButtonWithConfirm.js
  src/components/NewWalletButtons/NewWalletButtons.js
  src/components/NewWalletButtons/tests/NewWalletButtons.test.js
  src/pages/WalletsStart/WalletsStart.js
  src/pages/WalletsStart/constants.js
Due: ./node_modules/.bin/eslint

Revert incorrect class name
  src/components/ButtonWithConfirm/ButtonWithConfirm.js
Due: ./node_modules/.bin/eslint

Update JTextArea tests
  src/components/base/JTextArea/JTextArea.js
  src/components/base/JTextArea/tests/JTextArea.test.js
Due: ./node_modules/.bin/eslint

Normalize default browser styles
  package.json
  src/styles/core.scss
  src/styles/mixins.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Update address utils
  src/components/AddressPicker/AddressPicker.js
  src/components/MnemonicAddresses/MnemonicAddresses.js
  src/pages/Wallets/WalletsIndexView.js
  src/services/blockExplorer.js
  src/services/web3.js
  src/store/sagas/wallets/renameAddress.js
  src/utils/address/add0x.js
  src/utils/address/checkAddressValid.js
  src/utils/address/checkPrivateKeyValid.js
  src/utils/address/ec.js
  src/utils/address/getAddressChecksum.js
  src/utils/address/getAddressFromKeyPair.js
  src/utils/address/getAddressFromPrivateKey.js
  src/utils/address/getAddressFromPublicKey.js
  src/utils/address/getShortenedAddress.js
  src/utils/address/index.js
  src/utils/address/strip0x.js
Due: ./node_modules/.bin/eslint

Update mnemonic utils
  src/pages/Upgrade/UpgradeViewContainer.js
  src/store/sagas/wallets/create.js
  src/store/sagas/wallets/import.js
  src/utils/mnemonic/checkDerivationPathValid.js
  src/utils/mnemonic/checkMnemonicValid.js
  src/utils/mnemonic/checkXkeyValid.js
  src/utils/mnemonic/generateAddress.js
  src/utils/mnemonic/generateAddresses.js
  src/utils/mnemonic/generateMnemonic.js
  src/utils/mnemonic/getHdPath.js
  src/utils/mnemonic/getPrivateHdRoot.js
  src/utils/mnemonic/getPrivateKeyFromMnemonic.js
  src/utils/mnemonic/getPublicHdRoot.js
  src/utils/mnemonic/getXPRVFromMnemonic.js
  src/utils/mnemonic/getXPUBFromXPRV.js
  src/utils/mnemonic/index.js
  src/workers/wallets/wrapper.js
Due: ./node_modules/.bin/eslint

Update wallets utils
  src/utils/wallets/checkMnemonicType.js
  src/utils/wallets/getAddress.js
  src/utils/wallets/getAddresses.js
  src/utils/wallets/getPrivateKey.js
  src/utils/wallets/getTypeByInput.js
  src/utils/wallets/index.js
  src/utils/wallets/reEncryptWallet.js
  src/utils/wallets/upgradeWallet.js
Due: ./node_modules/.bin/eslint

Remove useless console.log
  src/utils/encryption/deriveKeyFromPassword.js
Due: ./node_modules/.bin/eslint

Rename getXPubFromMnemonic -> getXPUBFromMnemonic
  src/utils/mnemonic/getXPUBFromMnemonic.js
Due: ./node_modules/.bin/eslint

Add export
  src/utils/address/index.js
Due: ./node_modules/.bin/eslint

Remove useless file
  src/utils/address/checkAddressWithChecksumValid.js
Due: ./node_modules/.bin/eslint

Update wallets worker (currently not used)
  src/workers/wallets/worker.js
Due: ./node_modules/.bin/eslint

Add MaybeEventHandler template type for synthetic event handlers
  flow-typed/components.js
  src/components/base/JTextArea/JTextArea.js
Due: ./node_modules/.bin/eslint

JWWEB-735 Fixed margins and padding for search panel in assets section, added themes for additional buttons in JRaisedButton
  src/components/base/JRaisedButton/JRaisedButton.js
  src/components/base/JRaisedButton/jRaisedButton.m.scss
  src/pages/Home/HomeView.js
  src/pages/Home/home.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

`!important` was removed
  src/styles/mixins.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

JWWEB-735 Added visual improvements for search bar
  src/components/base/Header/header.m.scss
  src/pages/Home/home.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Revert "Refactor MenuLayout"
  src/layouts/MenuLayout/MenuLayout.js
  src/layouts/MenuLayout/components/Back/Back.js
  src/layouts/MenuLayout/components/MenuPanel/menuMeta.js
  src/layouts/MenuLayout/components/index.js
Due: ./node_modules/.bin/eslint

Refactor MenuLayout
  src/layouts/MenuLayout/MenuLayout.js
  src/layouts/MenuLayout/MenuLayoutContainer.js
  src/layouts/MenuLayout/components/Back/Back.js
  src/layouts/MenuLayout/components/MenuPanel/menuMeta.js
  src/layouts/MenuLayout/components/index.js
Due: ./node_modules/.bin/eslint

Update import wallet
  flow-typed/redux/appState.js
  flow-typed/redux/password.js
  flow-typed/redux/wallets.js
  src/components/NewWalletButtons/newWalletButtons.m.scss
  src/components/PasswordInput/passwordInput.m.scss
  src/components/TitleHeader/TitleHeader.js
  src/components/TitleHeader/titleHeader.m.scss
  src/layouts/MenuLayout/components/MenuPanel/components/Action.js
  src/layouts/MenuLayout/components/MenuPanel/menuPanel.m.scss
  src/pages/SetPassword/SetPasswordViewContainer.js
  src/pages/WalletsImport/WalletsImport.js
  src/pages/WalletsImport/WalletsImportView.js
  src/pages/WalletsImport/walletsImport.m.scss
  src/pages/WalletsStart/WalletsStart.js
  src/store/configureStore.js
  src/store/modules/password.js
  src/store/plugins/index.js
  src/store/plugins/walletsPlugin.js
  src/styles/_base.scss
  src/utils/mnemonic/checkBip32XPublicKeyValid.js
  src/utils/mnemonic/getMnemonicOptions.js
  src/utils/wallets/createWallet.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Add transition after set wallets
  src/store/plugins/walletsPlugin.js
Due: ./node_modules/.bin/eslint

Fix validating of import wallet form
  src/data/lang/en.po
  src/pages/WalletsImport/WalletsImport.js
  src/pages/WalletsImport/WalletsImportView.js
  src/store/plugins/walletsPlugin.js
Due: ./node_modules/.bin/eslint

Revert some MenuLayout changes
  src/layouts/MenuLayout/MenuLayout.js
  src/layouts/MenuLayout/MenuLayoutContainer.js
  src/layouts/MenuLayout/components/MenuPanel/components/Action.js
  src/layouts/MenuLayout/components/MenuPanel/menuPanel.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Add TitleHeader in components index
  src/components/index.js
Due: ./node_modules/.bin/eslint

Add checking of wallet uniqueness
  src/pages/WalletsImport/WalletsImport.js
  src/pages/WalletsImport/WalletsImportView.js
Due: ./node_modules/.bin/eslint

Revert lang file changes
  src/data/lang/en.po
Due: none

Path conditions:
  ./node_modules/.bin/eslint: any of: *.js
  ./node_modules/.bin/stylelint --syntax=scss: any of: *.scss
  node_modules/**: any of: ignore
  build/**: any of: ignore
  test/**: any of: ignore
  src/public/**: any of: ignore
