Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss, node_modules/**, build/**, test/**, src/public/**

move stories to component folders
  .storybook/config.js
  .storybook/webpack.config.js
  package.json
  src/components/AssetItem/AssetItem.stories.js
  src/components/CopyableField/CopyableField.stories.js
  src/components/DigitalAssetsFilter/FilterComponents.stories.js
  src/components/DigitalAssetsGrid/Asset/Asset.stories.js
  src/components/FavoriteItem/FavoriteItem.stories.js
  src/components/OverlayNotification/OverlayNotification.stories.js
  src/components/PasswordField/PasswordField.stories.js
  src/components/PopupButton/PopupButton.stories.js
  src/components/RoundIconButton/RoundIconButton.stories.js
  src/components/SettingsGrid/SettingsGridCard/SettingsCard.stories.js
  src/components/TransactionItem/TransactionsItem.stories.js
  src/components/WalletCard/WalletCard.js
  src/components/WalletCard/WalletCard.stories.js
  src/components/base/JAssetSymbol/JAssetSymbol.stories.js
  src/components/base/JCard/JCard.stories.js
  src/components/base/JCheckbox/JCheckbox.stories.js
  src/components/base/JFlatButton/JFlatButton.stories.js
  src/components/base/JIcon/JIcon.stories.js
  src/components/base/JInput/JInput.stories.js
  src/components/base/JLoader/JLoader.stories.js
  src/components/base/JRadio/JRadio.stories.js
  src/components/base/JRaisedButton/JRaisedButton.stories.js
  src/components/base/JSwitch/JSwitch.stories.js
  src/components/base/JTooltip/JTooltip.stories.js
  src/styles/storybook.scss
  stories/components/base/JText.stories.js
  stories/index.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

add knobs plugin
  .storybook/addons.js
  src/components/base/JRaisedButton/JRaisedButton.stories.js
Due: ./node_modules/.bin/eslint

added actions addon
  .storybook/addons.js
Due: ./node_modules/.bin/eslint

JWWEB-639 Move assets.json to separate chunk
  src/components/DigitalAssetsGrid/Asset/Asset.stories.js
  src/components/TransactionItem/Details/Details.js
  src/components/TransactionItem/TransactionsItem.stories.js
  src/components/WalletFace/Actions/WalletFaceActions.js
  src/data/assets/index.js
  src/routes/DigitalAssets/routes/Send/components/Confirm/Card/Card.js
  src/store/sagas/digitalAssets/core.js
  src/store/sagas/transactions.js
  src/utils/digitalAssets/checkETH.js
  src/utils/digitalAssets/checkJNT.js
Due: ./node_modules/.bin/eslint

JWWEB-620: Fix JLink according to dev practices
  src/components/base/JLink/JLink.js
  src/components/base/JLink/JLink.m.scss
  src/components/base/JLink/JLinkInternal.js
  src/components/base/JLink/types.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-620: Update JLinkBack
  src/components/base/JLinkBack/JLinkBack.js
Due: ./node_modules/.bin/eslint

JWWEB-620: Update JLink according to dev practices
  .idea/jwallet-web.iml
  src/components/base/JLink/JLink.js
  src/components/base/JLink/index.js
  src/components/base/JLink/tests/utils.test.js
  src/components/base/JLink/utils.js
  src/components/base/index.js
  src/utils/uri/checkIsAnchor.js
  src/utils/uri/checkIsExternal.js
  src/utils/uri/index.js
  src/utils/uri/tests/checkIsAnchor.test.js
  src/utils/uri/tests/checkIsExternal.test.js
Due: ./node_modules/.bin/eslint

JWWEB-620: Fix JLink
  src/components/base/JLink/JLink.js
Due: ./node_modules/.bin/eslint

JWWEB-620: Initial router5 setup
  .idea/jwallet-web.iml
  flow-typed/redux/appState.js
  package.json
  src/AppContainer.js
  src/AppRouter.js
  src/components/base/JLink/JLink.js
  src/components/base/JLink/JLink.m.scss
  src/components/base/JLink/JLinkInternal.js
  src/components/base/JLink/index.js
  src/components/base/JLink/tests/JLink.test.js
  src/components/base/JLink/tests/utils.test.js
  src/components/base/JLink/types.js
  src/components/base/JLink/utils.js
  src/main.js
  src/routes/Wallets/WalletsIndexViewContainer.js
  src/routes/Wallets/routes/Addresses/WalletsAddressesViewContainer.js
  src/store/configureStore.js
  src/store/reducers.js
  src/store/router/index.js
  src/store/router/routes.js
  src/store/sagas/wallets/addresses.js
  src/store/sagas/wallets/core.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-620: Add themes
  src/components/base/JLink/JLink.js
  src/components/base/JLink/JLink.m.scss
  src/components/base/JLink/types.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-620: Fix JLink
  src/components/base/JLink/JLinkInternal.js
Due: ./node_modules/.bin/eslint

JWWEB-620: Migrate react router back-or-fallback action to router5
  flow-typed/redux/appState.js
  src/AppRouter.js
  src/components/AssetItem/AssetItem.js
  src/components/FavoriteItem/FavoriteItem.js
  src/components/TransactionItem/Details/Details.js
  src/routes/DigitalAssets/routes/AddAsset/AddAssetContainer.js
  src/routes/DigitalAssets/routes/EditAsset/EditAssetContainer.js
  src/routes/DigitalAssets/routes/Manage/DigitalAssetsManageView.js
  src/routes/DigitalAssets/routes/Receive/DigitalAssetsReceiveViewContainer.js
  src/routes/DigitalAssets/routes/Send/DigitalAssetsSendView.js
  src/routes/Favorites/FavoritesIndexView.js
  src/routes/Favorites/routes/Address/FavoritesAddressViewContainer.js
  src/routes/Settings/SettingsIndexView.js
  src/routes/Settings/components/SubsettingsView/SubsettingsViewContainer.js
  src/routes/Upgrade/UpgradeViewContainer.js
  src/routes/index.js
  src/store/modules/digitalAssetsSend.js
  src/store/router/routes.js
  src/store/sagas/digitalAssets/add.js
  src/store/sagas/digitalAssets/edit.js
  src/store/sagas/digitalAssets/send.js
  src/store/sagas/settings.js
  src/store/sagas/upgrade.js
  src/utils/browser/index.js
  src/utils/browser/reactRouterBack.js
  src/utils/browser/router5BackOrFallbackFunctionCreator.js
Due: ./node_modules/.bin/eslint

JWWEB-620: Remove unused dependencies and middleware
  package.json
  src/middlewares/redirect/filters/agreement.js
  src/middlewares/redirect/filters/firstTime.js
  src/middlewares/redirect/filters/index.js
  src/middlewares/redirect/filters/readonly.js
  src/middlewares/redirect/filters/root.js
  src/middlewares/redirect/filters/selectedWallet.js
  src/middlewares/redirect/filters/upgrade.js
  src/middlewares/redirect/filters/walletsAddresses.js
  src/middlewares/redirect/index.js
Due: ./node_modules/.bin/eslint

JWWEB-620: Add routes reuse in tests
  src/components/base/JLink/tests/JLink.test.js
Due: ./node_modules/.bin/eslint

JWWEB-697 Textarea was reworked to new component
  flow-typed/components.js
  src/components/JTextArea/JTextArea.js
  src/components/JTextArea/JTextAreaField.js
  src/components/JTextArea/jTextArea.m.scss
  src/components/JTextArea/jTextAreaField.m.scss
  src/components/WalletDataStep/WalletDataStep.js
  src/components/WalletDataStep/WallletDataStep.m.scss
  src/components/base/ErrorMessage/ErrorMessage.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-697 getMeta is not function error was fixed, story was added to storybook
  src/components/JTextArea/JTextArea.stories.js
  src/components/JTextArea/JTextAreaField.js
  src/components/JTextArea/jTextArea.m.scss
  src/components/base/ErrorMessage/ErrorMessage.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-697 eslint fixes
  src/components/JTextArea/tests/JTextArea.test.js
  src/components/base/ErrorMessage/ErrorMessage.js
Due: ./node_modules/.bin/eslint

Remove flowtype/require-compound-type-alias eslint rule
  .eslintrc
Due: none

Fix functional tests runner
  .eslintignore
  .idea/runConfigurations/Run_smoke_tests_on_local_browser.xml
  config/wdio/base.conf.js
  config/wdio/browserstack.conf.js
  config/wdio/chromedriver.conf.js
  package.json
  tests/initial-load.spec.js
  wdio.conf.js
Due: ./node_modules/.bin/eslint

JWWEB-620: Remove unused connect wrapper around NotFound page
  src/AppRouter.js
  src/routes/NotFound/NotFoundViewContainer.js
  src/routes/NotFound/index.js
Due: ./node_modules/.bin/eslint

JFieldMessage component
  flow-typed/components.js
  flow-typed/final-form.js
  src/components/base/JFieldMessage/JFieldMessage.js
  src/components/base/JFieldMessage/JFieldMessage.stories.js
  src/components/base/JFieldMessage/jFieldMessage.m.scss
  src/components/base/JFieldMessage/tests/JFieldMessage.test.js
  src/components/base/index.js
  src/styles/colors.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

fix style import
  src/components/base/JFieldMessage/JFieldMessage.js
Due: ./node_modules/.bin/eslint

small fixes
  src/components/base/JFieldMessage/jFieldMessage.m.scss
  src/components/base/JFieldMessage/tests/JFieldMessage.test.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

small fix
  src/components/base/JFieldMessage/jFieldMessage.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

JInputField component
  src/components/base/JInputField/JInputField.js
  src/components/base/JInputField/JInputField.stories.js
  src/components/base/JInputField/jInputField.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix merge bug
  src/middlewares/analyticsMiddleware/newWalletEvents.js
Due: ./node_modules/.bin/eslint

JWWEB-697 OffsetVariant concept was added, ErrorMessage moved to JFieldMessage, stories and styles updated
  flow-typed/style.js
  src/components/JTextArea/JTextArea.js
  src/components/JTextArea/JTextArea.stories.js
  src/components/JTextArea/JTextAreaField.js
  src/components/JTextArea/jTextArea.m.scss
  src/components/JTextArea/jTextAreaField.m.scss
  src/components/WalletDataStep/WalletDataStep.js
  src/components/WalletDataStep/WallletDataStep.m.scss
  src/components/base/ErrorMessage/ErrorMessage.js
  src/components/base/ErrorMessage/ErrorMessage.m.scss
  src/components/base/ErrorMessage/index.js
  src/components/base/JFieldMessage/JFieldMessage.stories.js
  src/components/base/JFieldMessage/jFieldMessage.m.scss
  src/components/base/index.js
  src/styles/_base.scss
  src/styles/mixins.scss
  src/styles/offsets.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-697 animation and tests were updated
  .idea/inspectionProfiles/Project_Default.xml
  src/components/JTextArea/JTextArea.js
  src/components/JTextArea/jTextArea.m.scss
  src/components/JTextArea/tests/JTextArea.test.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-694 Fix JInputField, Add util getErrorMessage
  src/components/base/JInputField/JInputField.js
  src/components/base/JInputField/JInputField.stories.js
  src/components/base/JInputField/jInputField.m.scss
  src/utils/form/getErrorMessage.js
  src/utils/form/index.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-697 property-animation mixin was refactored to more flexible usage
  src/components/JTextArea/jTextArea.m.scss
  src/styles/mixins.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

JWWEB-742 Add fetching status of password indicator
  flow-typed/redux/wallets.js
  src/components/PasswordField/Indicator/Indicator.js
  src/components/PasswordField/Indicator/PasswordFieldIndicator.js
  src/components/PasswordField/Indicator/index.js
  src/components/PasswordField/Indicator/indicator.m.scss
  src/components/PasswordField/Indicator/passwordFieldIndicator.scss
  src/components/PasswordField/PasswordField.js
  src/components/PasswordField/passwordField.m.scss
  src/components/PasswordField/passwordField.scss
  src/styles/core.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-697 typing changed, textarea was reworked to uncontroled by default
  src/components/JTextArea/JTextArea.js
  src/components/JTextArea/JTextArea.stories.js
Due: ./node_modules/.bin/eslint

Update icons sprite loading (for tests)
  src/utils/sprite/iconsAsset.js
  src/utils/sprite/iconsUI.js
  src/utils/sprite/spriteAssets.js
  src/utils/sprite/spriteUI.js
Due: ./node_modules/.bin/eslint

Add PasswordField/Indicator tests
  src/components/PasswordField/Indicator/tests/Indicator.test.js
Due: ./node_modules/.bin/eslint

Add enzyme flow types
  flow-typed/npm/enzyme_v3.x.x.js
Due: ./node_modules/.bin/eslint

Update PasswordField.stories
  src/components/PasswordField/PasswordField.stories.js
Due: ./node_modules/.bin/eslint

Add @storybook/react flow types
  flow-typed/npm/@storybook/react_v5.x.x.js
Due: ./node_modules/.bin/eslint

Add globals section in jest config
  jest.config.js
Due: ./node_modules/.bin/eslint

Update PasswordField usage
  src/components/WalletPasswordStep/WalletPasswordStep.js
Due: ./node_modules/.bin/eslint

Path conditions:
  ./node_modules/.bin/eslint: any of: *.js
  ./node_modules/.bin/stylelint --syntax=scss: any of: *.scss
  node_modules/**: any of: ignore
  build/**: any of: ignore
  test/**: any of: ignore
  src/public/**: any of: ignore
