Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss, node_modules/**, build/**, test/**, src/public/**

Fix defaults for several i18n keys
  src/pages/WalletsImport/dataMessage.js
Due: ./node_modules/.bin/eslint

Sync locales
  src/data/lingui/en/messages.json
  src/data/lingui/es/messages.json
  src/data/lingui/ja/messages.json
  src/data/lingui/ko/messages.json
  src/data/lingui/ru/messages.json
  src/data/lingui/zh-Hans/messages.json
  src/data/lingui/zh-Hant/messages.json
Due: none

Fix contacts routes' paths
  src/components/ContactsItemDetails/ContactsItemDetails.js
  src/store/router/routes.js
Due: ./node_modules/.bin/eslint

Fix link to support
  src/pages/More/More.js
Due: ./node_modules/.bin/eslint

Add services/callAPI helper
  src/services/blockExplorer.js
  src/services/callAPI.js
  src/services/ticker.js
Due: ./node_modules/.bin/eslint

Add mediumRangeRequestTimeout
  flow-typed/config.js
  src/config.js
  src/store/sagas/transactions.js
Due: ./node_modules/.bin/eslint

Fix fetching of wallets fiat amount
  src/store/plugins/walletsPlugin.js
Due: ./node_modules/.bin/eslint

Update migrations management
  flow-typed/redux/password.js
  flow-typed/redux/wallets.js
  src/AppRouter.js
  src/pages/WalletsMigration/WalletsMigration.js
  src/store/migrations/db.js
  src/store/migrations/index.js
  src/store/migrations/password.js
  src/store/migrations/tests/data.js
  src/store/migrations/tests/password.test.js
  src/store/migrations/tests/v1/checkV0.test.js
  src/store/migrations/tests/v1/checkV0WithItems.test.js
  src/store/migrations/tests/v1/checkV1.test.js
  src/store/migrations/tests/v1/migrate.test.js
  src/store/migrations/tests/wallets.test.js
  src/store/migrations/v1.js
  src/store/modules/password.js
  src/store/modules/wallets.js
  src/workers/scrypt/worker.js
Due: ./node_modules/.bin/eslint

Revert scrypt worker changes
  src/workers/scrypt/worker.js
Due: ./node_modules/.bin/eslint

Update ga events
  src/AppRouter.js
  src/pages/Agreements/Agreements.js
  src/pages/Agreements/agreements.m.scss
  src/pages/Introduction/Introduction.js
  src/pages/ReceiveAsset/ReceiveAsset.js
  src/pages/Send/Send.js
  src/pages/SetPassword/SetPassword.js
  src/pages/WalletsStart/WalletsStart.js
  src/pages/index.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Add new ga events
  src/components/WalletBackupForm/WalletBackupForm.js
  src/components/WalletCard/WalletCard.js
  src/components/WalletCardActions/WalletCardActions.js
  src/pages/Agreements/Agreements.js
  src/pages/AssetsItem/components/About/components/Description/Description.js
  src/pages/AssetsItemDelete/AssetsItemDelete.js
  src/pages/AssetsItemEdit/AssetsItemEdit.js
  src/pages/ContactsItemAdd/components/ContactAddForm/ContactAddForm.js
  src/pages/ContactsItemDelete/ContactsItemDeleteView.js
  src/pages/ContactsItemEdit/components/ContactEditForm/ContactEditForm.js
  src/pages/HistoryItemCancel/HistoryItemCancel.js
  src/pages/Home/HomeView.js
  src/pages/Introduction/Introduction.js
  src/pages/ReceiveAsset/ReceiveAsset.js
  src/pages/Send/Send.js
  src/pages/SetPassword/SetPassword.js
  src/pages/SettingsCurrency/SettingsCurrency.js
  src/pages/SettingsLanguage/SettingsLanguage.js
  src/pages/SettingsPassword/SettingsPassword.js
  src/pages/WalletsCreate/WalletsCreateView.js
  src/pages/WalletsImport/WalletsImportView.js
  src/pages/WalletsItemAddresses/WalletsItemAddressesView.js
  src/pages/WalletsItemBackup/WalletsItemBackupView.js
  src/pages/WalletsItemDelete/WalletsItemDeleteView.js
  src/pages/WalletsItemModeDisable/WalletsItemModeDisableView.js
  src/pages/WalletsItemModeEnable/WalletsItemModeEnableView.js
  src/pages/WalletsItemUpgrade/WalletsItemUpgradeView.js
  src/store/plugins/walletsPlugin.js
  src/store/sagas/digitalAssets/add.js
Due: ./node_modules/.bin/eslint

Update TitleHeader styles for tablet screens
  src/components/TitleHeader/TitleHeader.js
  src/components/TitleHeader/titleHeader.m.scss
  src/layouts/MenuLayout/components/MenuPanel/menuPanel.m.scss
  src/pages/AssetsItem/components/About/About.js
  src/pages/AssetsItem/components/Transfers/Transfers.js
  src/pages/Contacts/ContactsView.js
  src/pages/History/HistoryView.js
  src/pages/Home/HomeView.js
  src/pages/More/More.js
  src/pages/Send/send.m.scss
  src/pages/Settings/SettingsView.js
  src/public/index.html
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Update HistoryList appearance for tablet screens
  src/components/HistoryList/HistoryList.js
  src/components/HistoryList/historyList.m.scss
  src/pages/History/HistoryView.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Update wallets ga events
  src/pages/WalletsCreate/WalletsCreate.js
  src/pages/WalletsCreate/WalletsCreateView.js
  src/pages/WalletsImport/WalletsImport.js
  src/pages/WalletsImport/WalletsImportView.js
  src/pages/WalletsStart/WalletsStart.js
  src/store/plugins/walletsPlugin.js
Due: ./node_modules/.bin/eslint

Rename ManageWallet->WalletManager
  src/components/WalletCard/WalletCard.js
  src/components/WalletCardActions/WalletCardActions.js
  src/pages/WalletsItemAddresses/WalletsItemAddressesView.js
  src/pages/WalletsItemModeDisable/WalletsItemModeDisableView.js
  src/pages/WalletsItemModeEnable/WalletsItemModeEnableView.js
Due: ./node_modules/.bin/eslint

Update ga events
  src/pages/AssetsItem/components/About/components/Description/Description.js
  src/pages/AssetsItemDelete/AssetsItemDelete.js
  src/pages/AssetsItemEdit/AssetsItemEdit.js
  src/pages/ContactsItemAdd/components/ContactAddForm/ContactAddForm.js
  src/pages/ContactsItemDelete/ContactsItemDeleteView.js
  src/pages/ContactsItemEdit/components/ContactEditForm/ContactEditForm.js
  src/pages/Home/HomeView.js
  src/store/sagas/digitalAssets/add.js
Due: ./node_modules/.bin/eslint

Add ClipboardCopy ga event
  src/components/CopyIconButton/CopyIconButton.js
Due: ./node_modules/.bin/eslint

Fix menu styles
  src/layouts/MenuLayout/components/MenuPanel/menuPanel.m.scss
  src/layouts/MenuLayout/menuLayout.m.scss
  src/public/index.html
  src/styles/core.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Fix Agreements page styles
  src/pages/Agreements/Agreements.js
  src/pages/Agreements/agreements.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix icons opacity
  src/components/HistoryList/components/Item/Item.js
  src/components/HistoryList/components/Item/item.m.scss
  src/components/TitleHeader/titleHeader.m.scss
  src/components/base/Button/button.m.scss
  src/pages/Send/components/RecipientPicker/MultiAddressWalletItem/MultiAddressWalletItem.js
  src/pages/Send/components/RecipientPicker/MultiAddressWalletItem/multiAddressWalletItem.m.scss
  src/pages/Send/components/RecipientPicker/RecipientPicker.js
  src/pages/Send/components/RecipientPicker/recipientPicker.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Update contacts header
  src/components/SearchInput/searchInput.m.scss
  src/components/TitleHeader/titleHeader.m.scss
  src/pages/Contacts/ContactsView.js
  src/pages/Contacts/contacts.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Update MenuLayout styles
  src/layouts/MenuLayout/menuLayout.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Fix transfers list styles on AssetItem page
  src/pages/AssetsItem/components/Transfers/Transfers.js
  src/pages/AssetsItem/components/Transfers/transfers.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Update empty tx label if user is searching/filtering
  src/components/HistoryList/HistoryList.js
  src/components/HistoryList/components/Empty/Empty.js
Due: ./node_modules/.bin/eslint

Add PUBLIC_URL env var
  env/development
  env/production
  webpack.config.js
Due: ./node_modules/.bin/eslint

Fix content width for several pages
  src/pages/ContactsItem/contactsItem.m.scss
  src/pages/ContactsItemAdd/contactsItemAdd.m.scss
  src/pages/ContactsItemEdit/ContactsItemEdit.js
  src/pages/ContactsItemEdit/contactsItemEdit.m.scss
  src/pages/HistoryItem/historyItem.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Add gaSendException
  src/services/callAPI.js
  src/utils/analytics/ga.js
Due: ./node_modules/.bin/eslint

Fix PUBLIC_URL management
  env/development
  env/production
  src/public/index.html
  webpack.config.js
Due: ./node_modules/.bin/eslint

Fix utils/analytics
  src/utils/analytics/ga.js
  src/utils/analytics/index.js
Due: ./node_modules/.bin/eslint

Fix wallet backup and upgrade layouts
  src/pages/WalletsItemBackup/walletsItemBackup.m.scss
  src/pages/WalletsItemUpgrade/walletsItemUpgrade.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Add sending of exceptions to ga
  src/pages/WalletsMigration/WalletsMigration.js
  src/store/migrations/db.js
  src/store/migrations/v1.js
Due: ./node_modules/.bin/eslint

Update maxLength prop for form fields
  src/components/MnemonicOptions/MnemonicOptions.js
  src/components/NewPasswordField/NewPasswordField.js
  src/components/NewPasswordForm/NewPasswordForm.js
  src/components/base/JPicker/Current/JPickerCurrent.js
  src/pages/ContactsItemAdd/components/ContactAddForm/ContactAddForm.js
  src/pages/Send/components/PriorityField/PriorityField.js
  src/pages/WalletsCreate/WalletsCreateView.js
  src/pages/WalletsImport/WalletsImportView.js
Due: ./node_modules/.bin/eslint

Fix sorting of contacts list
  src/pages/Contacts/ContactsView.js
Due: ./node_modules/.bin/eslint

Fix asset details card header
  src/pages/AssetsItemDetails/assetsItemDetails.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Update hint field maxLength
  src/components/NewPasswordForm/NewPasswordForm.js
Due: ./node_modules/.bin/eslint

Update ContactAddForm
  src/pages/ContactsItemAdd/components/ContactAddForm/ContactAddForm.js
Due: ./node_modules/.bin/eslint

Update ContactEditForm
  src/pages/ContactsItemEdit/components/ContactEditForm/ContactEditForm.js
Due: ./node_modules/.bin/eslint

Fix TitleHeader styles
  src/components/TitleHeader/titleHeader.m.scss
  src/pages/Home/home.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Fix storage version management after creating of the first wallet
  flow-typed/config.js
  src/config.js
  src/store/migrations/v1.js
  src/store/plugins/walletsPlugin.js
Due: ./node_modules/.bin/eslint

Add pageView middleware
  src/middlewares/index.js
  src/middlewares/pageView.js
  src/utils/analytics/index.js
  src/utils/analytics/react-router-page-view.js
Due: ./node_modules/.bin/eslint

Path conditions:
  ./node_modules/.bin/eslint: any of: *.js
  ./node_modules/.bin/stylelint --syntax=scss: any of: *.scss
  node_modules/**: any of: ignore
  build/**: any of: ignore
  test/**: any of: ignore
  src/public/**: any of: ignore
