Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss, node_modules/**, build/**, test/**, src/public/**

Split Cancel history item in separate component
  src/components/HistoryItemDetails/HistoryItemDetails.js
  src/components/HistoryItemDetails/components/BaseFieldSet/BaseFieldSet.js
  src/components/HistoryItemDetails/components/Cancel/Cancel.js
  src/components/HistoryItemDetails/components/FeeField/FeeField.js
Due: ./node_modules/.bin/eslint

Fix HistoryList (management of transfers for unknown assets)
  src/components/HistoryList/HistoryList.js
  src/components/HistoryList/components/Item/Item.js
  src/components/HistoryList/components/Item/item.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Add TRX icon to symbolsAvailable list
  src/components/base/JAssetSymbol/symbolsAvailable.js
Due: ./node_modules/.bin/eslint

Update i18n files
  src/data/lingui/en/messages.json
  src/data/lingui/es/messages.json
  src/data/lingui/ja/messages.json
  src/data/lingui/ko/messages.json
  src/data/lingui/ru/messages.json
  src/data/lingui/zh-Hans/messages.json
  src/data/lingui/zh-Hant/messages.json
Due: none

Update view of Cancel history item
  src/components/HistoryList/components/Item/Item.js
Due: ./node_modules/.bin/eslint

Fix manage assets UI issues
  src/data/lingui/en/messages.json
  src/data/lingui/es/messages.json
  src/data/lingui/ja/messages.json
  src/data/lingui/ko/messages.json
  src/data/lingui/ru/messages.json
  src/data/lingui/zh-Hans/messages.json
  src/data/lingui/zh-Hant/messages.json
  src/pages/Home/HomeView.js
  src/pages/Home/components/AssetItem/ManageAssetItem.js
  src/pages/Home/filterAssetByQuery.js
  src/utils/search/index.js
  src/utils/search/searchAssets.js
Due: ./node_modules/.bin/eslint

Remove useless console.error
  src/pages/Home/HomeView.js
Due: ./node_modules/.bin/eslint

Fix WalletsImport layout
  src/pages/WalletsImport/walletsImport.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Fix history details fields
  src/components/HistoryItemDetails/components/AmountField/AmountField.js
  src/components/HistoryItemDetails/components/AssetItemPreview/AssetItemPreview.js
  src/components/HistoryItemDetails/components/BaseFieldSet/BaseFieldSet.js
  src/components/HistoryItemDetails/components/Burn/Burn.js
  src/components/HistoryItemDetails/components/Mint/Mint.js
Due: ./node_modules/.bin/eslint

Update fields props
  src/components/HistoryItemDetails/components/AmountField/AmountField.js
  src/components/HistoryItemDetails/components/AssetItemPreview/AssetItemPreview.js
  src/components/HistoryItemDetails/components/BaseFieldSet/BaseFieldSet.js
Due: ./node_modules/.bin/eslint

Allow cancel button only for pending transfers
  src/components/HistoryItemDetails/components/Pending/Pending.js
Due: ./node_modules/.bin/eslint

Add info about asset
  src/components/HistoryList/HistoryList.js
  src/pages/AssetsItem/AssetsItem.js
  src/pages/AssetsItem/AssetsItemView.js
  src/pages/AssetsItem/assetsItem.m.scss
  src/pages/AssetsItem/components/About/About.js
  src/pages/AssetsItem/components/About/about.m.scss
  src/pages/AssetsItem/components/About/components/Description/Description.js
  src/pages/AssetsItem/components/About/components/Description/description.m.scss
  src/pages/AssetsItem/components/About/components/Links/Links.js
  src/pages/AssetsItem/components/About/components/Links/links.m.scss
  src/pages/AssetsItem/components/Transfers/Transfers.js
  src/public/assets/icons/sprite-pack/ic_info_24-use-fill.svg
  src/public/assets/icons/sprite-pack/ic_open_link_24-use-fill.svg
  src/styles/core.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Update locales
  src/data/lingui/en/messages.json
  src/data/lingui/es/messages.json
  src/data/lingui/ja/messages.json
  src/data/lingui/ko/messages.json
  src/data/lingui/ru/messages.json
  src/data/lingui/zh-Hans/messages.json
  src/data/lingui/zh-Hant/messages.json
Due: none

Make HTTP listen port configurable
  Dockerfile
  Jenkinsfile
  nginx.conf
  run.sh
Due: none

Migrate from sed to dockerize and update default node addresses
  Dockerfile
  run.sh
  src/data/networks/networks.js
  src/public/js/settings.js
Due: ./node_modules/.bin/eslint

Update searching in RecipientPicker
  flow-typed/redux/wallets.js
  src/pages/Contacts/ContactsView.js
  src/pages/Send/components/RecipientPicker/RecipientPicker.js
  src/pages/Send/components/RecipientPicker/RecipientPickerContainer.js
  src/pages/Send/components/RecipientPicker/WalletList/WalletList.js
  src/pages/Send/components/RecipientPicker/prepareWallets.js
  src/utils/search/index.js
  src/utils/search/searchContacts.js
  src/utils/search/searchRecipientWallets.js
Due: ./node_modules/.bin/eslint

Remove unused startsWithOrEndsWith helper
  src/utils/address/index.js
  src/utils/address/startsWithOrEndsWith.js
  src/utils/address/tests/startsWithOrEndsWith.test.js
Due: ./node_modules/.bin/eslint

Better scripts
  Dockerfile
  Jenkinsfile
  docker/nginx.tpl.conf
  docker/nginx/includes/.gitkeep
  docker/nginx/templates/include-demo.conf
  docker/run.sh
  src/public/js/settings.js
Due: ./node_modules/.bin/eslint

Update show more button management
  src/pages/AssetsItem/components/About/about.m.scss
  src/pages/AssetsItem/components/About/components/Description/Description.js
  src/pages/AssetsItem/components/About/components/Description/description.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix getting of env vars
  src/utils/config/getENVVar.js
Due: ./node_modules/.bin/eslint

Fix searching of wallets by address
  flow-typed/redux/wallets.js
  src/pages/Send/components/RecipientPicker/prepareWallets.js
  src/utils/search/searchRecipientWallets.js
Due: ./node_modules/.bin/eslint

Remove redundant link props
  src/pages/AssetsItem/components/About/components/Links/Links.js
Due: ./node_modules/.bin/eslint

Fix resyncing of history
  src/store/modules/transactions.js
  src/store/sagas/blocks.js
  src/store/sagas/transactions.js
Due: ./node_modules/.bin/eslint

Fix hiding of duplicate history items
  src/services/blockExplorer.js
  src/utils/transactions/prepareListForRendering.js
Due: ./node_modules/.bin/eslint

Update showing of wallets/addresses names in history
  src/components/HistoryItemDetails/HistoryItemDetails.js
  src/pages/AssetsItem/components/Transfers/Transfers.js
  src/pages/History/History.js
  src/store/selectors/favorites.js
  src/store/selectors/wallets.js
  src/utils/address/getAddressName.js
Due: ./node_modules/.bin/eslint

Fix showing of address name for multi-address wallet
  src/layouts/MenuLayout/components/MenuPanel/components/Wallet.js
Due: ./node_modules/.bin/eslint

Remove unused code
  src/store/transactionsIndex.js
  src/utils/wallets/getMnemonicAddressName.js
  src/utils/wallets/index.js
Due: ./node_modules/.bin/eslint

Fix showing of current active item for RecipientPicker
  src/pages/Send/components/RecipientPicker/RecipientPicker.js
  src/pages/Send/components/RecipientPicker/RecipientPickerContainer.js
Due: ./node_modules/.bin/eslint

Add NewPasswordForm component
  src/components/NewPasswordForm/NewPasswordForm.js
  src/components/NewPasswordForm/newPasswordForm.m.scss
  src/components/index.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Update SetPassword view (integrate NewPasswordForm)
  src/pages/SetPassword/SetPassword.js
  src/pages/SetPassword/SetPasswordView.js
  src/pages/SetPassword/setPasswordView.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Update reEncryptWallets function
  src/store/plugins/walletsPlugin.js
Due: ./node_modules/.bin/eslint

Add SettingsPassword route & view
  src/layouts/MenuLayout/components/MenuPanel/menuMeta.js
  src/pages/SettingsPassword/SettingsPassword.js
  src/pages/SettingsPassword/settingsPassword.m.scss
  src/pages/index.js
  src/store/router/routes.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Remove unused code
  src/pages/Settings/components/SubsettingsDescription/SubsettingsDescription.js
  src/pages/Settings/components/SubsettingsDescription/index.js
  src/pages/Settings/components/SubsettingsDescription/subsettingsDescription.scss
  src/pages/Settings/components/SubsettingsView/SubsettingsView.js
  src/pages/Settings/components/SubsettingsView/SubsettingsViewContainer.js
  src/pages/Settings/components/SubsettingsView/index.js
  src/pages/Settings/components/SubsettingsView/subsettingsView.scss
  src/pages/Settings/components/index.js
  src/pages/Settings/routes/PaymentPassword/PaymentPasswordContainer.js
  src/pages/Settings/routes/PaymentPassword/PaymentPasswordView.js
  src/pages/Settings/routes/PaymentPassword/index.js
  src/pages/Settings/routes/PaymentPassword/paymentPassword.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Update i18n for utils/address/getAddressName
  src/utils/address/getAddressName.js
Due: ./node_modules/.bin/eslint

Add taskTimeout as optional param for PromiseWorker task
  src/workers/PromiseWorker.js
Due: ./node_modules/.bin/eslint

Remove unused code
  src/workers/settings/index.js
  src/workers/settings/worker.js
  src/workers/settings/wrapper.js
Due: ./node_modules/.bin/eslint

Path conditions:
  ./node_modules/.bin/eslint: any of: *.js
  ./node_modules/.bin/stylelint --syntax=scss: any of: *.scss
  node_modules/**: any of: ignore
  build/**: any of: ignore
  test/**: any of: ignore
  src/public/**: any of: ignore
