Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss, node_modules/**, build/**, test/**, src/public/**

.lintstagedrc:

{
  "*.js": "./node_modules/.bin/eslint",
  "*.scss": "./node_modules/.bin/stylelint --syntax=scss",
  "ignore": [
    "node_modules/**",
    "build/**",
    "test/**",
    "src/public/**"
  ]
}

Update lockfile
  package-lock.json
Due: none

Fix PasswordForm styles
  src/components/PasswordForm/PasswordForm.js
  src/components/PasswordForm/passwordForm.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix NewPasswordField test
  src/components/NewPasswordField/NewPasswordField.js
  src/components/NewPasswordField/statusMessageMap.js
  src/components/NewPasswordField/tests/NewPasswordField.test.js
Due: ./node_modules/.bin/eslint

Fix forwardRef error
  src/components/base/JPicker/Current/JPickerCurrent.js
Due: ./node_modules/.bin/eslint

Fix JPickerCurrent props
  src/components/base/JPicker/Current/JPickerCurrent.js
Due: ./node_modules/.bin/eslint

Fix store/plugins import/export declarations
  src/components/CopyIconButton/CopyIconButton.js
  src/pages/Send/PasswordStepForm.js
  src/pages/WalletsCreate/WalletsCreateView.js
  src/pages/WalletsImport/WalletsImportView.js
  src/store/plugins/index.js
  src/store/plugins/toastsPlugin.js
  src/store/plugins/walletsPlugin.js
Due: ./node_modules/.bin/eslint

Update components import/export
  src/components/CopyIconButton/index.js
  src/components/FieldPreview/FieldPreview.js
  src/components/FieldPreview/index.js
  src/components/index.js
Due: ./node_modules/.bin/eslint

Fix FieldPreview tests
  src/components/FieldPreview/tests/FieldPreview.test.js
Due: ./node_modules/.bin/eslint

Fix JAssetSymbol component
  src/components/base/JAssetSymbol/JAssetSymbol.js
  src/components/base/JAssetSymbol/index.js
  src/components/base/index.js
Due: ./node_modules/.bin/eslint

Fix JAssetSymbol tests
  src/components/base/JAssetSymbol/tests/JAssetSymbol.test.js
Due: ./node_modules/.bin/eslint

Fix import/export
  src/components/CopyIconButton/CopyIconButton.js
  src/components/CopyIconButton/index.js
  src/components/FieldPreview/FieldPreview.stories.js
  src/components/base/JAssetSymbol/JAssetSymbol.stories.js
  src/components/base/JAssetSymbol/index.js
Due: ./node_modules/.bin/eslint

Bump version to 2.3.1
  package-lock.json
  package.json
  version.txt
Due: none

Fix JAssetSymbol
  src/components/base/JAssetSymbol/JAssetSymbol.stories.js
  src/components/base/JAssetSymbol/symbolsAvailable.js
Due: ./node_modules/.bin/eslint

Revert "Merge pull request #1113 from jibrelnetwork/hotfix/forwardref"
  src/components/base/JPicker/Current/JPickerCurrent.js
Due: ./node_modules/.bin/eslint

Update storybook deps
  package-lock.json
  package.json
Due: none

Copy lockfile during docker build
  Dockerfile
Due: none

Update Dockerfile
  Dockerfile
Due: none

Add .storybook/.babelrc
  .storybook/.babelrc
Due: none

Add 'i18n/lingui' mock
  .jest/register-context.js
Due: ./node_modules/.bin/eslint

Update getAddressName tests
  src/utils/address/tests/getAddressName.test.js
Due: ./node_modules/.bin/eslint

Fix reports paths in Jenkinsfile
  Jenkinsfile
Due: none

Move addETHAsset & mergeDigitalAssets to utils scope
  src/store/sagas/digitalAssets/core.js
  src/utils/digitalAssets/addETHAsset.js
  src/utils/digitalAssets/index.js
  src/utils/digitalAssets/mergeDigitalAssets.js
Due: ./node_modules/.bin/eslint

Add tests for mergeDigitalAssets
  src/utils/digitalAssets/tests/addETHAsset.test.js
  src/utils/digitalAssets/tests/mergeDigitalAssets.test.js
Due: ./node_modules/.bin/eslint

Add addETHAsset tests
  src/utils/digitalAssets/tests/addETHAsset.test.js
  src/utils/digitalAssets/tests/mergeDigitalAssets.test.js
Due: ./node_modules/.bin/eslint

Update components
  src/components/AddressPicker/AddressPicker.js
  src/components/AddressPicker/AddressPicker.stories.js
  src/components/AddressPicker/WalletAddressBalance/WalletAddressBalance.js
  src/components/AddressPicker/WalletAddressBalance/walletAddressBalance.m.scss
  src/components/AddressPicker/components/Balance/Balance.js
  src/components/AddressPicker/components/Balance/balance.m.scss
  src/components/AddressPicker/components/Balance/index.js
  src/components/AddressPicker/index.js
  src/components/CopyIconButton/CopyIconButton.js
  src/components/CopyIconButton/index.js
  src/components/CopyableField/CopyableField.js
  src/components/CopyableField/CopyableField.stories.js
  src/components/CopyableField/index.js
  src/components/FieldPreview/FieldPreview.js
  src/components/FieldPreview/FieldPreview.stories.js
  src/components/FieldPreview/index.js
  src/components/FieldPreview/tests/FieldPreview.test.js
  src/components/NewPasswordField/NewPasswordField.js
  src/components/NewPasswordField/NewPasswordField.stories.js
  src/components/NewPasswordField/index.js
  src/components/NewPasswordField/tests/NewPasswordField.test.js
  src/components/OverlayNotification/OverlayNotification.stories.js
  src/components/OverlayNotification/index.js
  src/components/PasswordInput/PasswordInput.js
  src/components/PasswordInput/index.js
  src/components/PasswordInput/tests/PasswordInput.test.js
  src/components/PopupButton/PopupButton.stories.js
  src/components/RoundIconButton/RoundIconButton.stories.js
  src/components/RoundIconButton/index.js
  src/components/SearchFilter/SearchFilter.js
  src/components/SearchFilter/index.js
  src/components/SearchInput/SearchInput.js
  src/components/SearchInput/SearchInput.stories.js
  src/components/SearchInput/index.js
  src/components/WalletActions/WalletActions.js
  src/components/WalletAddressItem/WalletAddressItem.js
  src/components/WalletAddressItem/index.js
  src/components/index.js
  src/styles/core.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Update store/plugins
  src/store/plugins/index.js
  src/store/plugins/toastsPlugin.js
  src/store/plugins/walletsPlugin.js
Due: ./node_modules/.bin/eslint

Update utils
  src/utils/address/getShortenedAddress.js
  src/utils/address/index.js
  src/utils/encryption/checkPasswordStrength.js
  src/utils/encryption/index.js
  src/utils/form/getErrorMessage.js
  src/utils/form/index.js
Due: ./node_modules/.bin/eslint

Remove root stories folder
  stories/components/AddDigitalAsset.stories.js
  stories/props.js
Due: ./node_modules/.bin/eslint

Update pages
  src/pages/Send/PasswordStepForm.js
  src/pages/WalletsCreate/WalletsCreateView.js
  src/pages/WalletsImport/WalletsImportView.js
  src/pages/WalletsStart/WalletsStart.js
  src/pages/WalletsStart/components/NewWalletButtons/NewWalletButtons.js
  src/pages/WalletsStart/components/NewWalletButtons/index.js
Due: ./node_modules/.bin/eslint

Update digitalAssets/addETHAsset tests
  src/utils/digitalAssets/tests/addETHAsset.test.js
  src/utils/digitalAssets/tests/data.js
  src/utils/digitalAssets/tests/mergeDigitalAssets.test.js
Due: ./node_modules/.bin/eslint

Add tests with getAssetsMainnet mocks
  src/data/assets/getAssets.js
  src/data/assets/index.js
  src/utils/digitalAssets/tests/addETHAsset_empty.test.js
  src/utils/digitalAssets/tests/addETHAsset_withETH.test.js
  src/utils/digitalAssets/tests/addETHAsset_withoutETH.test.js
Due: ./node_modules/.bin/eslint

Fix typo
  src/services/ticker.js
Due: ./node_modules/.bin/eslint

Pass env configuration to networks settings
  src/store/modules/networks.js
  webpack.config.js
Due: ./node_modules/.bin/eslint

Allow Cloudflare Ethereum Gateway
  docker/nginx.tpl.conf
Due: none

Allow any node RPC address
  docker/nginx.tpl.conf
Due: none
