Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss, node_modules/**, build/**, test/**, src/public/**

.lintstagedrc:

{
  "*.js": "./node_modules/.bin/eslint",
  "*.scss": "./node_modules/.bin/stylelint --syntax=scss",
  "ignore": [
    "node_modules/**",
    "build/**",
    "test/**",
    "src/public/**"
  ]
}

JWWEB-590: Remove close button from wallet manager
  src/components/WalletHeader/WalletHeader.js
Due: ./node_modules/.bin/eslint

JWWEB-588 Add link for iOS devices on unsupported screen
  src/browsercheck.js
  src/public/css/style.css
  src/public/index.html
  src/public/js/modernizr.js
Due: ./node_modules/.bin/eslint

JWWEB-589: Add close button to asset manager screen
  src/routes/DigitalAssets/routes/Manage/DigitalAssetsManageView.js
  src/routes/DigitalAssets/routes/Manage/DigitalAssetsManageViewContainer.js
  src/routes/DigitalAssets/routes/Manage/digitalAssetsManageView.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

fix digital assets title
  src/data/lang/en.po
  src/routes/DigitalAssets/routes/Grid/DigitalAssetsGridView.js
  src/routes/Transactions/TransactionsIndexView.js
  src/routes/Transactions/routes/Asset/TransactionsAssetView.js
Due: ./node_modules/.bin/eslint

JWWEB-589: Make closeable screen close the same size as asset manager cross
  src/components/CloseableScreen/CloseableScreen.js
  src/components/ESCButton/ESCButton.js
Due: ./node_modules/.bin/eslint

allow zero nonce
  src/routes/DigitalAssets/routes/Send/sagas/digitalAssetsSend.js
Due: ./node_modules/.bin/eslint

fix PR request change
  src/routes/DigitalAssets/routes/Send/sagas/digitalAssetsSend.js
Due: ./node_modules/.bin/eslint

JWWEB-613 Ramda was removed, tiny examples of using lodash
  package-lock.json
  package.json
  src/routes/sagas/balances.js
  src/routes/sagas/networks.js
  src/services/blockExplorer.js
Due: ./node_modules/.bin/eslint

JWWEB-613 package-lock was removed
  .gitignore
  package-lock.json
Due: none

JWWEB-651: Switch places for transaction icons
  src/components/TransactionItem/Main/Main.js
  src/components/TransactionItem/Main/main.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-635 stateSelectors were removed
  src/routes/Upgrade/sagas/upgrade.js
  src/routes/Wallets/routes/Backup/sagas/walletsBackup.js
  src/routes/Wallets/routes/Start/sagas/walletsStart.js
  src/routes/Wallets/sagas/wallets.js
  src/routes/sagas/networks.js
  src/store/stateSelectors.js
Due: ./node_modules/.bin/eslint

Sprite test assembly
  package-lock.json
  package.json
  src/components/SvgIcon/SvgIcon.js
  src/components/SvgIcon/index.js
  src/components/index.js
  src/routes/NotFound/NotFoundView.js
  webpack.config.js
Due: ./node_modules/.bin/eslint

JWWEB-652: Add tooltips to Wallet Manager actions
  src/components/WalletFace/Actions/WalletFaceActions.js
  src/components/base/JFlatButton/JFlatButton.js
  src/data/lang/en.po
Due: ./node_modules/.bin/eslint

JWWEB-635 utils functions were cleaned
  src/utils/browser/flattenWithHelper.js
  src/utils/browser/index.js
  src/utils/digitalAssets/balanceToString.js
  src/utils/digitalAssets/index.js
  src/utils/digitalAssets/parseBalance.js
  src/utils/eventHandlers/handleEnterKeyPress.js
  src/utils/eventHandlers/index.js
  src/utils/formatters/formatBoolean.js
  src/utils/formatters/formatLanguage.js
  src/utils/formatters/index.js
  src/utils/index.js
  src/utils/networks/checkCustomNetwork.js
  src/utils/networks/index.js
  src/utils/numbers/divideThousands.js
  src/utils/numbers/index.js
Due: ./node_modules/.bin/eslint

JWWEB-635 layouts were cleaned
  src/layouts/ModalLayout/ModalLayout.js
  src/layouts/ModalLayout/index.js
  src/layouts/ModalLayout/modalLayout.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Bump version
  package.json
  version.txt
Due: none

JWWEB-606 Webpack should build specific svg files into sprites
  package-lock.json
  package.json
  src/components/SvgIcon/SvgIcon.js
  src/routes/NotFound/NotFoundView.js
  webpack.config.js
Due: ./node_modules/.bin/eslint

JWWEB-605 Icons component that manages and provides icons by name
  src/components/SvgIcon/SvgIcon.js
  src/components/SvgIcon/index.js
  src/components/base/JIcon/JIcon.js
  src/components/base/JIcon/jIcon.scss
  src/components/index.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-635 components were cleaned
  src/components/base/JToast/JToast.js
  src/components/base/JToast/index.js
  src/components/base/JToast/jToast.scss
  src/components/base/index.js
  stories/__new__/JToast.stories.js
  stories/__new__/index.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

added react-virtualized
  package-lock.json
  package.json
  src/components/TransactionItem/Details/details.scss
  src/components/TransactionItem/Main/main.scss
  src/components/TransactionItem/transactionItem.scss
  src/components/TransactionsList/TransactionsListRV.js
  src/components/TransactionsList/index.js
  src/components/TransactionsList/transactionsList.scss
  src/routes/Transactions/TransactionsIndexView.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Update object-curly-newline rule
  .eslintrc
Due: none

Add example of fixes because of updated rule
  src/AppContainer.js
Due: ./node_modules/.bin/eslint

Require empty line before return
  .eslintrc
Due: none

Example of usage applied eslint rule
  src/store/selectors/networks.js
Due: ./node_modules/.bin/eslint

Update react/jsx-curly-spacing
  .eslintrc
Due: none

Add react/jsx-handler-names rule
  .eslintrc
Due: none

Apply example of rule updates
  src/routes/DigitalAssets/routes/Send/components/Form/Form.js
Due: ./node_modules/.bin/eslint

Update padding-line-between-statements eslint rule
  .eslintrc
Due: none

Add react/button-has-type
  .eslintrc
Due: none

Update react/jsx-closing-bracket-location rule
  .eslintrc
Due: none

Example of usage of updated rule
  src/store/selectors/networks.js
Due: ./node_modules/.bin/eslint

Example of fix
  src/utils/eventHandlers/handleTargetValue.js
Due: ./node_modules/.bin/eslint

Example of fix
  src/utils/eventHandlers/ignoreEvent.js
Due: ./node_modules/.bin/eslint

Fix padding-line-between-statements eslint rule
  .eslintrc
Due: none

Add flowtype/newline-after-flow-annotation rule
  .eslintrc
Due: none

Add react/jsx-wrap-multilines rule
  .eslintrc
Due: none

Fix comma-dangle eslint rule
  .eslintrc
Due: none

Add flowtype/array-style-simple-type rule
  .eslintrc
Due: none
