Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss, node_modules/**, build/**, test/**, src/public/**

Fix SearchFilter codestyle
  src/components/base/SearchInput/SearchFilter/SearchFilter.js
  src/components/base/SearchInput/SearchFilter/searchFilter.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Move SearchInput & SearchFilter
  src/components/SearchFilter/SearchFilter.js
  src/components/SearchFilter/searchFilter.m.scss
  src/components/SearchInput/SearchInput.js
  src/components/SearchInput/SearchInput.stories.js
  src/components/SearchInput/searchInput.m.scss
  src/components/SearchInput/tests/SearchFilter.test.js
  src/components/SearchInput/tests/SearchInput.test.js
  src/components/base/index.js
  src/components/index.js
  src/pages/AssetsItem/AssetsItemView.js
  src/pages/Contacts/ContactsView.js
  src/pages/DigitalAssets/routes/Manage/DigitalAssetsManageView.js
  src/pages/Home/HomeView.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-780 - Receive asset
  src/layouts/MenuLayout/components/MenuPanel/menuMeta.js
  src/pages/ReceiveAsset/ReceiveAsset.js
  src/pages/ReceiveAsset/receiveAsset.m.scss
  src/pages/index.js
  src/store/router/routes.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Clean legacy code
  src/pages/DigitalAssets/digitalAssets.scss
  src/pages/DigitalAssets/index.js
  src/pages/DigitalAssets/routes/Receive/DigitalAssetsReceiveView.js
  src/pages/DigitalAssets/routes/Receive/DigitalAssetsReceiveViewContainer.js
  src/pages/DigitalAssets/routes/Receive/digitalAssetsReceiveView.scss
  src/pages/DigitalAssets/routes/Receive/index.js
  src/styles/_base.scss
  src/styles/core.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Add function compoundFilterPredicate for filtering
  src/utils/search/compoundFilterPredicate.js
  src/utils/search/index.js
Due: ./node_modules/.bin/eslint

Update history searching
  flow-typed/redux/transactions.js
  src/components/HistoryList/HistoryList.js
  src/components/SearchInput/SearchInput.js
  src/components/TransactionsFilter/TransactionsFilter.js
  src/pages/AssetsItem/AssetsItem.js
  src/pages/AssetsItem/AssetsItemView.js
  src/pages/History/History.js
  src/pages/History/HistoryView.js
  src/store/modules/transactions.js
  src/utils/transactions/filterTransactions.js
  src/utils/transactions/index.js
  src/utils/transactions/prepareListForRendering.js
  src/utils/transactions/removeDuplicates.js
  src/utils/transactions/searchTransactions.js
  src/utils/transactions/sortTransactions.js
Due: ./node_modules/.bin/eslint

Fix redirecting on history item page after sending of asset
  src/pages/Send/Send.js
Due: ./node_modules/.bin/eslint

Update Pending card
  src/components/HistoryItemDetails/components/Pending/Pending.js
Due: ./node_modules/.bin/eslint

Fix Pending card
  src/components/HistoryItemDetails/components/Pending/Pending.js
Due: ./node_modules/.bin/eslint

Revert formatBalance changes
  src/utils/numbers/formatBalance.js
Due: ./node_modules/.bin/eslint

Update getTxFee
  src/utils/transactions/getTxFee.js
Due: ./node_modules/.bin/eslint

Fix wallet card actions styles
  src/components/WalletActions/walletActions.m.scss
  src/components/WalletCardActions/walletCardActions.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Hide address name in menu if wallet is not simplified
  src/layouts/MenuLayout/components/MenuPanel/components/Wallet.js
Due: ./node_modules/.bin/eslint

JWWEB-878 - Digital assets manage
  src/pages/Home/Home.js
  src/pages/Home/HomeView.js
  src/pages/Home/components/AssetItem/ManageAssetItem.js
  src/store/sagas/digitalAssets/core.js
Due: ./node_modules/.bin/eslint

Delete legacy
  src/pages/DigitalAssets/digitalAssets.scss
  src/pages/DigitalAssets/routes/Manage/DigitalAssetsManageView.js
  src/pages/DigitalAssets/routes/Manage/DigitalAssetsManageViewContainer.js
  src/pages/DigitalAssets/routes/Manage/digitalAssetsManageView.scss
  src/pages/DigitalAssets/routes/Manage/index.js
  src/pages/index.js
  src/store/modules/digitalAssetsGrid.js
  src/store/modules/digitalAssetsManage.js
  src/store/reducers.js
  src/store/sagas/digitalAssets/grid.js
  src/store/sagas/digitalAssets/index.js
  src/styles/core.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Sync locales
  src/data/lingui/en/messages.json
  src/data/lingui/es/messages.json
  src/data/lingui/ja/messages.json
  src/data/lingui/ko/messages.json
  src/data/lingui/ru/messages.json
  src/data/lingui/zh-Hans/messages.json
  src/data/lingui/zh-Hant/messages.json
  src/pages/WalletsItemUpgrade/WalletsItemUpgradeView.js
Due: ./node_modules/.bin/eslint

Fix button
  src/components/base/Button/button.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Delete legacy
  src/store/selectors/digitalAssets.js
Due: ./node_modules/.bin/eslint

Add xprv handling in upgradeWallet
  src/utils/wallets/upgradeWallet.js
Due: ./node_modules/.bin/eslint

Fix menu wallet error
  src/layouts/MenuLayout/components/MenuPanel/components/Wallet.js
Due: ./node_modules/.bin/eslint

Limit input string length in contacts
  src/components/ContactsItemDetails/ContactsItemDetails.js
  src/pages/ContactsItem/ContactsItemView.js
  src/pages/ContactsItemAdd/components/ContactAddForm/ContactAddForm.js
  src/pages/ContactsItemEdit/components/ContactEditForm/ContactEditForm.js
Due: ./node_modules/.bin/eslint

Fix formtInitials
  src/pages/Contacts/ContactsView.js
  src/utils/formatters/formatInitials.js
  src/utils/formatters/splitContactName.js
Due: ./node_modules/.bin/eslint

Fix crash in the contact search
  src/utils/search/filterContacts.js
Due: ./node_modules/.bin/eslint

Update passing params to send asset form
  src/pages/Send/Send.js
  src/pages/Send/StepOneForm.js
Due: ./node_modules/.bin/eslint

JWWEB-937 - Fix send asset crash on dot type in the gasPrice field
  src/pages/Send/components/PriorityField/InputWithUnit/InputWithUnit.js
  src/pages/Send/components/SendAmountField/SendAmountFieldContainer.js
Due: ./node_modules/.bin/eslint

Fix sort in the SearchView
  src/pages/Contacts/ContactsView.js
Due: ./node_modules/.bin/eslint

Limit search input value length
  src/components/SearchInput/SearchInput.js
Due: ./node_modules/.bin/eslint

Fix displaying of mint/burn amount
  src/components/HistoryItemDetails/components/Burn/Burn.js
  src/components/HistoryItemDetails/components/Mint/Mint.js
Due: ./node_modules/.bin/eslint

Add cancel address into config
  flow-typed/config.js
  src/config.js
Due: ./node_modules/.bin/eslint

Enable showing of cancel transactions
  src/services/blockExplorer.js
Due: ./node_modules/.bin/eslint

Add HistoryItemCancel view
  src/layouts/MenuLayout/components/MenuPanel/components/Wallet.js
  src/layouts/MenuLayout/components/MenuPanel/menuMeta.js
  src/pages/HistoryItemCancel/HistoryItemCancel.js
  src/pages/HistoryItemCancel/historyItemCancel.m.scss
  src/pages/index.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Update balances selectors
  src/store/selectors/balances.js
Due: ./node_modules/.bin/eslint

Fix constantly resync bug
  src/store/modules/transactions.js
Due: ./node_modules/.bin/eslint

Improve syncing of blocks (add faulty of latest block number)
  src/store/sagas/balances.js
  src/store/sagas/blocks.js
Due: ./node_modules/.bin/eslint

Apply balances selectors changes
  src/pages/AssetsItem/AssetsItem.js
  src/pages/Home/Home.js
  src/pages/Home/components/AssetItem/AssetItem.js
  src/pages/Send/Send.js
  src/pages/Send/StepOneForm.js
  src/pages/Send/components/AssetPicker/AssetPickerContainer.js
  src/pages/Send/components/SendAmountField/SendAmountFieldContainer.js
Due: ./node_modules/.bin/eslint

Apply cancel transaction changes
  src/components/HistoryItemDetails/HistoryItemDetails.js
  src/components/HistoryItemDetails/components/BaseFieldSet/BaseFieldSet.js
  src/components/HistoryItemDetails/components/ContractCreation/ContractCreation.js
  src/components/HistoryItemDetails/components/Failed/Failed.js
  src/components/HistoryItemDetails/components/FeeField/FeeField.js
  src/components/HistoryItemDetails/components/Outgoing/Outgoing.js
  src/components/HistoryItemDetails/components/Pending/Pending.js
  src/components/HistoryItemDetails/components/Stuck/Stuck.js
  src/components/HistoryItemDetails/historyItemDetails.m.scss
  src/components/HistoryList/components/Item/Item.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix WalletPasswordForm layout
  src/components/WalletPasswordForm/walletPasswordForm.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Sync locales
  src/data/lingui/en/messages.json
  src/data/lingui/es/messages.json
  src/data/lingui/ja/messages.json
  src/data/lingui/ko/messages.json
  src/data/lingui/ru/messages.json
  src/data/lingui/zh-Hans/messages.json
  src/data/lingui/zh-Hant/messages.json
Due: none

Fix 'additional-icon' button styles
  src/components/TitleHeader/titleHeader.m.scss
  src/components/WalletCard/components/AddressChooser.js
  src/components/base/Button/button.m.scss
  src/pages/Contacts/ContactsView.js
  src/pages/Home/HomeView.js
  src/pages/WalletsItemAddresses/WalletsItemAddressesView.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix bugs in contacts
  src/pages/Contacts/ContactsView.js
  src/pages/ContactsItemAdd/ContactsItemAdd.js
  src/pages/ContactsItemAdd/components/ContactAddForm/ContactAddForm.js
  src/pages/ContactsItemEdit/ContactsItemEdit.js
  src/pages/ContactsItemEdit/components/ContactEditForm/ContactEditForm.js
Due: ./node_modules/.bin/eslint

Path conditions:
  ./node_modules/.bin/eslint: any of: *.js
  ./node_modules/.bin/stylelint --syntax=scss: any of: *.scss
  node_modules/**: any of: ignore
  build/**: any of: ignore
  test/**: any of: ignore
  src/public/**: any of: ignore
