Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss, node_modules/**, build/**, test/**, src/public/**

Update default value for derivationPath param
  src/pages/WalletsImport/WalletsImportView.js
Due: ./node_modules/.bin/eslint

Fix WalletCard actions
  src/components/WalletCard/WalletCard.js
  src/components/WalletCard/WalletCardActions/WalletCardActions.js
Due: ./node_modules/.bin/eslint

Add TitleHeader default prop for onBack handler
  src/components/TitleHeader/TitleHeader.js
Due: ./node_modules/.bin/eslint

Add new WalletsItemBackup page
  src/pages/WalletsItemBackup/WalletsItemBackup.js
  src/pages/WalletsItemBackup/WalletsItemBackupView.js
  src/pages/WalletsItemBackup/walletsItemBackup.m.scss
  src/pages/index.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Update router.canActivate for backup page
  src/store/plugins/walletsPlugin.js
  src/store/router/routes.js
Due: ./node_modules/.bin/eslint

Update CopyableField (use button el for handling of copy action)
  src/components/CopyableField/CopyableField.js
  src/components/CopyableField/CopyableField.stories.js
  src/components/CopyableField/copyableField.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix handleFocus for text fields
  src/components/base/JInputField/JInputField.js
  src/components/base/JTextArea/JTextArea.js
Due: ./node_modules/.bin/eslint

Add minor refactoring for managing of component state
  src/pages/WalletsItemBackup/WalletsItemBackupView.js
Due: ./node_modules/.bin/eslint

Сonnection to redux
  flow-typed/redux/user.js
  src/AppRouter.js
  src/components/base/JCheckbox/JCheckbox.js
  src/components/base/JCheckbox/jCheckbox.m.scss
  src/pages/Agreements/AgreementsView.js
  src/pages/Agreements/agreementsView.m.scss
  src/store/modules/user.js
  src/store/selectors/user.js
  src/utils/agreements/checkAgreements.js
  src/utils/agreements/getAgreementValue.js
  src/utils/agreements/index.js
  src/utils/agreements/setAgreementValue.js
  src/utils/analytics/ga.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Update ButtonWithConfirm component
  src/components/ButtonWithConfirm/ButtonWithConfirm.js
  src/components/ButtonWithConfirm/buttonWithConfirm.m.scss
  src/components/ButtonWithConfirm/buttonWithConfirm.scss
  src/components/ButtonWithConfirm/index.js
  src/components/index.js
  src/styles/core.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Add hasMenu param for routes & canActivate for WalletsItemDelete
  src/AppRouter.js
  src/store/router/routes.js
Due: ./node_modules/.bin/eslint

Add delete wallet icon
  src/public/assets/icons/sprite-pack/ic_delete_48-use-fill.svg
Due: none

Add walletsPlugin.removeWallet method
  src/store/plugins/walletsPlugin.js
Due: ./node_modules/.bin/eslint

Update WalletsItemDelete screen
  src/pages/WalletsItemDelete/WalletsItemDelete.js
  src/pages/WalletsItemDelete/WalletsItemDeleteView.js
  src/pages/WalletsItemDelete/walletsItemDelete.m.scss
  src/pages/index.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Change path for coverage reports
  jest.config.js
Due: ./node_modules/.bin/eslint

Fix WalletsStart styles
  src/pages/WalletsStart/WalletsStart.js
  src/pages/WalletsStart/components/NewWalletButtons/NewWalletButtons.js
  src/pages/WalletsStart/components/NewWalletButtons/newWalletButtons.m.scss
  src/pages/WalletsStart/walletsStart.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix checkbox
  src/components/base/JCheckbox/JCheckbox.js
  src/components/base/JCheckbox/jCheckbox.m.scss
  src/public/assets/icons/sprite-pack/checkbox_off_24-use-fill.svg
  src/public/assets/icons/sprite-pack/checkbox_on_24-use-fill.svg
  src/public/assets/icons/sprite-pack/medium/checked-use-fill.svg
  src/public/assets/icons/sprite-pack/medium/unchecked.svg
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Update button title
  src/pages/WalletsCreate/WalletsCreateView.js
Due: ./node_modules/.bin/eslint

Add two build tasks: for linting and tests
  Jenkinsfile
Due: none

Redirect to Home page after first wallet creation
  src/store/sagas/wallets/core.js
Due: ./node_modules/.bin/eslint

Remove useless .actions container
  src/components/ButtonWithConfirm/ButtonWithConfirm.js
  src/components/ButtonWithConfirm/buttonWithConfirm.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Throw WalletNotFoundError instead of Error
  src/store/router/routes.js
Due: ./node_modules/.bin/eslint

Fix hasMenu router param management
  src/AppRouter.js
Due: ./node_modules/.bin/eslint

JWWEB-737 Added nonce to transaction data from node
  flow-typed/redux/transactions.js
  src/services/blockExplorer.js
  src/services/web3.js
Due: ./node_modules/.bin/eslint

Redirect to index page after backup
  src/pages/WalletsItemBackup/WalletsItemBackup.js
  src/pages/WalletsItemBackup/WalletsItemBackupView.js
Due: ./node_modules/.bin/eslint

Update forgot link styles
  src/components/WalletPasswordForm/WalletPasswordForm.js
  src/components/WalletPasswordForm/walletPasswordForm.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Update icon blue color
  src/components/base/JIcon/jIcon.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Fix overflow-wrap attr of CopyableField
  src/components/CopyableField/copyableField.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Update WalletBackupForm backup phrase field label
  src/components/WalletBackupForm/WalletBackupForm.js
Due: ./node_modules/.bin/eslint

Update wallets pages titles
  src/pages/WalletsCreate/WalletsCreateView.js
  src/pages/WalletsImport/WalletsImportView.js
  src/pages/WalletsItemBackup/WalletsItemBackupView.js
Due: ./node_modules/.bin/eslint

Update backup form title
  src/components/WalletBackupForm/WalletBackupForm.js
Due: ./node_modules/.bin/eslint

Fix delete wallet styles
  src/components/ButtonWithConfirm/buttonWithConfirm.m.scss
  src/pages/WalletsItemDelete/WalletsItemDeleteView.js
  src/pages/WalletsItemDelete/walletsItemDelete.m.scss
  src/public/assets/icons/sprite-pack/ic_backup_48-use-fill.svg
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Add 0x for privateKey
  src/pages/WalletsItemBackup/WalletsItemBackupView.js
Due: ./node_modules/.bin/eslint

Internal component small fixes
  src/components/base/JPicker/Body/JPickerBody.js
  src/components/base/JPicker/Body/jPickerBody.m.scss
  src/pages/Send/components/AssetPicker/AssetPicker.js
  src/pages/Send/components/PriorityField/priorityField.m.scss
  src/pages/Send/components/RecipientPicker/RecipientPicker.js
  src/pages/Send/components/SendAmountField/sendAmountField.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Add getPrivateKey method for walletsPlugin
  src/store/plugins/walletsPlugin.js
  src/utils/mnemonic/getPrivateKeyFromMnemonic.js
  src/utils/mnemonic/getPrivateKeyFromXPRV.js
  src/utils/mnemonic/index.js
  src/utils/wallets/getPrivateKey.js
  src/utils/wallets/index.js
Due: ./node_modules/.bin/eslint

Continue working (no-verify)
  src/pages/Send/Send.js
  src/pages/Send/components/AssetPicker/AssetPicker.js
  src/pages/Send/components/AssetPicker/AssetPickerContainer.js
  src/pages/Send/components/RecipientPicker/RecipientPickerContainer.js
  src/pages/Send/send.m.scss
  src/pages/index.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Remove unused wallets pages
  src/pages/Wallets/Wallets.js
  src/pages/Wallets/routes/Addresses/WalletsAddressesView.js
  src/pages/Wallets/routes/Addresses/WalletsAddressesViewContainer.js
  src/pages/Wallets/routes/Addresses/index.js
  src/pages/Wallets/routes/Backup/WalletsBackupView.js
  src/pages/Wallets/routes/Backup/WalletsBackupViewContainer.js
  src/pages/Wallets/routes/Backup/index.js
  src/pages/Wallets/routes/Delete/WalletsDeleteView.js
  src/pages/Wallets/routes/Delete/WalletsDeleteViewContainer.js
  src/pages/Wallets/routes/Delete/index.js
  src/pages/Wallets/routes/Rename/WalletsRenameView.js
  src/pages/Wallets/routes/Rename/WalletsRenameViewContainer.js
  src/pages/Wallets/routes/Rename/index.js
  src/pages/Wallets/routes/RenameAddress/WalletsRenameAddressView.js
  src/pages/Wallets/routes/RenameAddress/WalletsRenameAddressViewContainer.js
  src/pages/Wallets/routes/RenameAddress/index.js
  src/pages/Wallets/walletsView.scss
  src/pages/index.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Remove unused wallets sagas
  src/store/sagas/wallets/core.js
  src/store/sagas/wallets/delete.js
  src/store/sagas/wallets/index.js
Due: ./node_modules/.bin/eslint

Remove unused wallets modules
  flow-typed/redux/appState.js
  src/store/modules/wallets.js
  src/store/modules/walletsDelete.js
Due: ./node_modules/.bin/eslint

Disable deprecated getPrivateKey logic for sendAsset
  src/store/sagas/digitalAssets/send.js
Due: ./node_modules/.bin/eslint

Path conditions:
  ./node_modules/.bin/eslint: any of: *.js
  ./node_modules/.bin/stylelint --syntax=scss: any of: *.scss
  node_modules/**: any of: ignore
  build/**: any of: ignore
  test/**: any of: ignore
  src/public/**: any of: ignore
