Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss, node_modules/**, build/**, test/**, src/public/**

Add past sync
  package.json
  src/main.js
  src/services/sync/transactions/db.js
  src/services/sync/transactions/handlers/handleTransaction.js
  src/services/sync/transactions/past/db.js
  src/services/sync/transactions/past/index.js
Due: ./node_modules/.bin/eslint

Fixed syncing in realtime with many assets
  src/main.js
  src/services/sync/transactions/index.js
  src/store/sagas/ticker.js
Due: ./node_modules/.bin/eslint

Removed console.log calls
  src/services/sync/transactions/index.js
Due: ./node_modules/.bin/eslint

Fixed latest synced block reset of failed requests
  src/services/sync/transactions/index.js
Due: ./node_modules/.bin/eslint

Simplify legacy-transactions code
  src/services/sync/legacy-transactions/configureStore.js
  src/services/sync/legacy-transactions/index.js
  src/services/sync/legacy-transactions/modules/config.js
  src/services/sync/legacy-transactions/modules/network.js
  src/services/sync/legacy-transactions/modules/priorities.js
  src/services/sync/legacy-transactions/reducers.js
  src/services/sync/legacy-transactions/sagas/blocks.js
  src/services/sync/legacy-transactions/sagas/transactions.js
  src/services/sync/legacy-transactions/selectors/config.js
  src/services/sync/legacy-transactions/selectors/network.js
  src/services/sync/legacy-transactions/selectors/priorities.js
  src/services/sync/legacy-transactions/selectors/transactions.js
  src/services/sync/legacy-transactions/types.js
  src/services/sync/transactions/db.js
  src/services/sync/transactions/past/db.js
  src/services/sync/transactions/utils/createRanges.js
Due: ./node_modules/.bin/eslint

Refactored syncer to current
  src/main.js
  src/services/sync/transactions/index.js
  src/services/sync/transactions/utils/initRemote.js
  src/store/sagas/ticker.js
Due: ./node_modules/.bin/eslint

Fix build problem
  src/pages/Send/PasswordStepForm.js
  src/pages/Send/StepOneForm.js
  src/pages/Send/components/AssetPicker/AssetPicker.js
Due: ./node_modules/.bin/eslint

Correct behavior of the 'Confirm and continue' button
  flow-typed/redux/user.js
  src/AppRouter.js
  src/pages/Agreements/AgreementsView.js
  src/store/modules/user.js
  src/store/selectors/user.js
Due: ./node_modules/.bin/eslint

Remove immutability
  src/services/sync/legacy-transactions/modules/blocks.js
  src/services/sync/legacy-transactions/modules/transactions.js
Due: ./node_modules/.bin/eslint

Improved contract events history item fetching
  src/services/sync/transactions/db.js
  src/services/sync/transactions/index.js
Due: ./node_modules/.bin/eslint

Send asset validation step and error step
  src/pages/Send/Send.js
  src/pages/Send/SendError.js
  src/pages/Send/StepOneForm.js
  src/pages/Send/ValidationFailed.js
  src/pages/Send/validationFailed.m.scss
  src/public/assets/icons/sprite-pack/ic_fail_48-use-fill.svg
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Mistakes resolved
  flow-typed/redux/user.js
  src/pages/Agreements/AgreementsView.js
  src/store/modules/user.js
Due: ./node_modules/.bin/eslint

Returned the 'disabled' state to the button
  src/pages/Agreements/AgreementsView.js
Due: ./node_modules/.bin/eslint

Fix gas limit title
  src/pages/Send/components/PriorityField/PriorityField.js
Due: ./node_modules/.bin/eslint

Add types for IndexedDB Transactions and Blocks items storage
  src/services/sync/types.js
Due: ./node_modules/.bin/eslint

Fix priority field leading zeroes problem
  src/pages/Send/components/PriorityField/InputWithUnit/InputWithUnit.js
  src/pages/Send/components/PriorityField/PriorityField.js
  src/utils/numbers/index.js
  src/utils/numbers/trimLeadingZeroes.js
Due: ./node_modules/.bin/eslint

Fix invalid wallet count inside recipient picker
  src/pages/Send/components/RecipientPicker/WalletList/WalletList.js
Due: ./node_modules/.bin/eslint

Added handle log item
  src/services/sync/transactions/handlers/handleLogsItem.js
  src/services/sync/types.js
Due: ./node_modules/.bin/eslint

Fixed BigNumber import
  src/services/sync/transactions/handlers/handleLogsItem.js
Due: ./node_modules/.bin/eslint

JWWEB-856 Added contacts item page with contact details component
  flow-typed/types.js
  src/components/ContactsItemDetails/ContactsItemDetails.js
  src/components/ContactsItemDetails/ContactsItemDetailsInternal.js
  src/components/ContactsItemDetails/contactsItem.m.scss
  src/pages/ContactsItem/ContactsItem.js
  src/pages/ContactsItem/ContactsItemView.js
  src/pages/ContactsItem/contactsItem.m.scss
  src/pages/Favorites/FavoritesIndexView.js
  src/pages/Favorites/FavoritesIndexViewContainer.js
  src/pages/Favorites/favoritesView.scss
  src/pages/Favorites/index.js
  src/pages/Favorites/routes/Address/FavoritesAddressView.js
  src/pages/Favorites/routes/Address/FavoritesAddressViewContainer.js
  src/pages/Favorites/routes/Address/index.js
  src/pages/index.js
  src/public/assets/icons/sprite-pack/edit-use-fill.svg
  src/store/router/routes.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-856 Fixed tiny visual issues
  src/components/ContactsItemDetails/contactsItem.m.scss
  src/public/assets/icons/sprite-pack/account-use-fill.svg
  src/styles/_base.scss
  src/utils/address/getShortenedAddress.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-866 Currency picker
  src/pages/SettingsCurrency/components/CurrencyPicker/CurrencyPicer.stories.js
  src/pages/SettingsCurrency/components/CurrencyPicker/CurrencyPicker.js
Due: ./node_modules/.bin/eslint

Fix types
  src/components/base/JPicker/Body/JPickerBody.js
Due: ./node_modules/.bin/eslint

Fix default item styles
  src/components/base/JPicker/Item/defaultItem.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Add icons
  src/public/assets/icons/sprite-pack/medium/ic_cny_24-use-fill.svg
  src/public/assets/icons/sprite-pack/medium/ic_eur_24-use-fill.svg
  src/public/assets/icons/sprite-pack/medium/ic_gbp_24-use-fill.svg
  src/public/assets/icons/sprite-pack/medium/ic_jpy_24-use-fill.svg
  src/public/assets/icons/sprite-pack/medium/ic_krw_24-use-fill.svg
  src/public/assets/icons/sprite-pack/medium/ic_rub_24-use-fill.svg
  src/public/assets/icons/sprite-pack/medium/ic_usd_24-use-fill.svg
Due: none

Fix currency list
  src/data/currencies/currencies.js
Due: ./node_modules/.bin/eslint

Remove useless comment
  src/pages/SettingsCurrency/components/CurrencyPicker/CurrencyPicker.js
Due: ./node_modules/.bin/eslint

JWWEB-859 Added form of editing contact item
  src/pages/ContactsItemEdit/ContactsItemEdit.js
  src/pages/ContactsItemEdit/ContactsItemEditView.js
  src/pages/ContactsItemEdit/contactsItemEdit.m.scss
  src/pages/index.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-856 Updated icons and fixed visual issues
  src/components/ContactsItemDetails/ContactsItemDetails.js
  src/components/ContactsItemDetails/ContactsItemDetailsInternal.js
  src/layouts/MenuLayout/components/MenuPanel/menuMeta.js
  src/pages/ContactsItem/ContactsItemView.js
  src/public/assets/icons/sprite-pack/account-use-fill.svg
  src/public/assets/icons/sprite-pack/ic_account_48-use-fill.svg
  src/public/assets/icons/sprite-pack/ic_edit_24-use-fill.svg
Due: ./node_modules/.bin/eslint

Moved FieldPreview to components root directory for sharing it between components
  src/components/FieldPreview/FieldPreview.js
  src/components/FieldPreview/FieldPreview.stories.js
  src/components/FieldPreview/fieldPreview.m.scss
  src/components/FieldPreview/tests/FieldPreview.test.js
  src/components/HistoryItemDetails/components/index.js
  src/components/HistoryItemDetails/templates/TransactionCancel.js
  src/components/HistoryItemDetails/templates/TransactionNormal.js
  src/components/index.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fixed path to modules
  src/components/FieldPreview/fieldPreview.m.scss
  src/components/FieldPreview/tests/FieldPreview.test.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-856 Fixed path to FieldPreview
  src/components/ContactsItemDetails/ContactsItemDetailsInternal.js
Due: ./node_modules/.bin/eslint

JWWEB-856 Updated value for name
  src/pages/ContactsItemEdit/ContactsItemEdit.js
  src/pages/ContactsItemEdit/ContactsItemEditView.js
Due: ./node_modules/.bin/eslint

Fix ic_attention_48 icon
  src/pages/ErrorUnexpected/errorUnexpected.m.scss
  src/public/assets/icons/sprite-pack/ic_attention_48-use-fill.svg
Due: ./node_modules/.bin/stylelint --syntax=scss

Add reverse flag for ButtonWithConfirm component
  src/components/ButtonWithConfirm/ButtonWithConfirm.js
  src/components/ButtonWithConfirm/buttonWithConfirm.m.scss
  src/pages/WalletsItemDelete/WalletsItemDeleteView.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Add support for colored icons
  .storybook/webpack.config.js
  src/components/base/JIcon/JIcon.js
  src/components/base/JIcon/JIcon.stories.js
  src/components/base/JIcon/jIcon.m.scss
  src/utils/sprite/coloredIconsUI.js
  src/utils/sprite/iconsAsset.js
  src/utils/sprite/iconsUI.js
  webpack.config.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Add colored icons for language picker
  src/public/assets/icons/sprite-colored/ic_chinese_simplified_24.svg
  src/public/assets/icons/sprite-colored/ic_chinese_traditional_24.svg
  src/public/assets/icons/sprite-colored/ic_english_24.svg
  src/public/assets/icons/sprite-colored/ic_japan_24.svg
  src/public/assets/icons/sprite-colored/ic_korean_24.svg
  src/public/assets/icons/sprite-colored/ic_russia_24.svg
  src/public/assets/icons/sprite-colored/ic_spain_24.svg
Due: none

Update switching of multi-address mode
  src/store/modules/wallets.js
  src/store/plugins/walletsPlugin.js
  src/store/sagas/wallets/core.js
Due: ./node_modules/.bin/eslint

Add mode-enable & mode-disable views
  src/layouts/MenuLayout/components/MenuPanel/menuMeta.js
  src/pages/WalletsItemModeDisable/WalletsItemModeDisable.js
  src/pages/WalletsItemModeDisable/walletsItemModeDisable.m.scss
  src/pages/WalletsItemModeEnable/WalletsItemModeEnable.js
  src/pages/WalletsItemModeEnable/WalletsItemModeEnableView.js
  src/pages/WalletsItemModeEnable/walletsItemModeEnable.m.scss
  src/pages/index.js
  src/store/router/routes.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Path conditions:
  ./node_modules/.bin/eslint: any of: *.js
  ./node_modules/.bin/stylelint --syntax=scss: any of: *.scss
  node_modules/**: any of: ignore
  build/**: any of: ignore
  test/**: any of: ignore
  src/public/**: any of: ignore
