Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss, node_modules/**, build/**, test/**, src/public/**

.lintstagedrc:

{
  "*.js": "./node_modules/.bin/eslint",
  "*.scss": "./node_modules/.bin/stylelint --syntax=scss",
  "ignore": [
    "node_modules/**",
    "build/**",
    "test/**",
    "src/public/**"
  ]
}

Settings code cleanup
  flow-typed/redux/appState.js
  flow-typed/redux/settings.js
  src/store/modules/settings.js
  src/store/persistReducers.js
  src/store/reducers.js
  src/store/sagas/index.js
  src/store/sagas/settings.js
  src/store/sagas/user.js
Due: ./node_modules/.bin/eslint

Fix utils/wallets/reEncryptWallet
  src/utils/wallets/reEncryptWallet.js
Due: ./node_modules/.bin/eslint

Add selectTransactionByHash selector
  src/components/HistoryItemDetails/HistoryItemDetails.js
  src/store/selectors/transactions.js
Due: ./node_modules/.bin/eslint

Fix visited style errors for links
  src/components/WalletPasswordForm/WalletPasswordForm.js
  src/pages/Home/home.m.scss
  src/styles/core.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix NewPasswordForm
  src/components/NewPasswordField/NewPasswordField.js
  src/components/NewPasswordField/NewPasswordField.stories.js
  src/components/NewPasswordField/tests/NewPasswordField.test.js
  src/components/NewPasswordForm/NewPasswordForm.js
  src/pages/SetPassword/SetPassword.js
  src/pages/SettingsPassword/SettingsPassword.js
Due: ./node_modules/.bin/eslint

Add isAutoFocus for WalletPasswordForm
  src/components/WalletPasswordForm/WalletPasswordForm.js
Due: ./node_modules/.bin/eslint

Add default values for ticker&blockexplorer api
  src/public/js/settings.js
Due: ./node_modules/.bin/eslint

Remove border in About section for custom asset
  src/pages/AssetsItem/components/About/About.js
  src/pages/AssetsItem/components/About/about.m.scss
  src/pages/AssetsItem/components/About/components/Description/Description.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Migrate to eth_getLogs
  flow-typed/redux/digitalAssets.js
  flow-typed/redux/transactions.js
  package.json
  src/services/web3.js
Due: ./node_modules/.bin/eslint

Fix webpack config for storybook
  .storybook/webpack.config.js
Due: ./node_modules/.bin/eslint

Disable developer mode card in settings
  src/pages/Settings/SettingsView.js
  src/pages/Settings/components/Card/Card.js
  src/pages/Settings/components/Card/card.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Update digitalAssets flow types
  flow-typed/redux/digitalAssets.js
Due: ./node_modules/.bin/eslint

Update FieldPreview props
  src/components/FieldPreview/FieldPreview.js
Due: ./node_modules/.bin/eslint

Add delete icon
  src/public/assets/icons/sprite-pack/ic_delete_24-use-fill.svg
Due: none

Add header for custom asset card
  src/pages/AssetDetails/AssetDetails.js
  src/pages/AssetDetails/assetDetails.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Update DigitalAssetEditForm
  src/components/DigitalAssetEditForm/DigitalAssetEditForm.js
  src/components/DigitalAssetEditForm/digitalAssetEditForm.m.scss
  src/components/DigitalAssetEditForm/digitalAssetEditForm.scss
  src/components/DigitalAssetEditForm/index.js
  src/components/index.js
  src/styles/core.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Update AssetsItemEdit page
  flow-typed/redux/digitalAssets.js
  src/pages/AssetsItemEdit/AssetsItemEdit.js
  src/pages/DigitalAssets/index.js
  src/pages/index.js
  src/store/modules/digitalAssets.js
  src/store/modules/editAsset.js
  src/store/reducers.js
  src/store/sagas/digitalAssets/edit.js
  src/store/sagas/digitalAssets/index.js
Due: ./node_modules/.bin/eslint

Update AddAsset page
  src/components/DigitalAssetAddForm/DigitalAssetAddForm.js
  src/components/DigitalAssetAddForm/digitalAssetAddForm.m.scss
  src/components/index.js
  src/pages/DigitalAssets/routes/AddAsset/AddAssetContainer.js
  src/pages/DigitalAssets/routes/AddAsset/AddAssetView.js
  src/pages/DigitalAssets/routes/AddAsset/index.js
  src/pages/DigitalAssets/routes/EditAsset/EditAssetContainer.js
  src/pages/DigitalAssets/routes/EditAsset/EditAssetView.js
  src/pages/DigitalAssets/routes/EditAsset/index.js
  src/store/sagas/digitalAssets/add.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Add AssetsItemDelete page
  src/layouts/MenuLayout/components/MenuPanel/menuMeta.js
  src/pages/AssetsItemDelete/AssetsItemDelete.js
  src/pages/AssetsItemDelete/assetsItemDelete.m.scss
  src/pages/index.js
  src/store/router/routes.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix saving of event value
  src/services/web3.js
Due: ./node_modules/.bin/eslint

Add new icons
  src/pages/AssetsItem/components/About/About.js
  src/public/assets/icons/sprite-pack/ic_info_24-use-fill.svg
  src/public/assets/icons/sprite-pack/ic_info_24_round-use-fill.svg
  src/public/assets/icons/sprite-pack/ic_sign_message_24-use-fill.svg
  src/public/assets/icons/sprite-pack/ic_support_24-use-fill.svg
  src/public/assets/icons/sprite-pack/ic_verify_signature_24-use-fill.svg
Due: ./node_modules/.bin/eslint

Remove dead code
  src/components/AssetItemLegacy/AssetItem.js
  src/components/AssetItemLegacy/assetItem.scss
  src/components/AssetItemLegacy/index.js
  src/components/DigitalAssetsManage/DigitalAssetsManage.js
  src/components/DigitalAssetsManage/Empty/Empty.js
  src/components/DigitalAssetsManage/Empty/index.js
  src/components/DigitalAssetsManage/digitalAssetsManage.scss
  src/components/DigitalAssetsManage/index.js
  src/components/base/JCard/JCard.js
  src/components/base/JCard/JCard.stories.js
  src/components/base/JCard/index.js
  src/components/base/JCard/jCard.scss
  src/components/base/index.js
  src/components/index.js
  src/styles/core.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Add More page
  src/components/Card/Card.js
  src/components/Card/card.m.scss
  src/components/index.js
  src/layouts/MenuLayout/components/MenuPanel/menuMeta.js
  src/pages/More/More.js
  src/pages/More/more.m.scss
  src/pages/Settings/SettingsView.js
  src/pages/index.js
  src/store/router/routes.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Sync locales
  src/data/lingui/en/messages.json
  src/data/lingui/es/messages.json
  src/data/lingui/ja/messages.json
  src/data/lingui/ko/messages.json
  src/data/lingui/ru/messages.json
  src/data/lingui/zh-Hans/messages.json
  src/data/lingui/zh-Hant/messages.json
  src/pages/AssetsItemDelete/AssetsItemDelete.js
Due: ./node_modules/.bin/eslint

Add package-lock.json to git index
  .gitignore
  package-lock.json
Due: none

Hide sign/verify actions
  src/pages/More/More.js
Due: ./node_modules/.bin/eslint

Add forgot overlay
  src/components/WalletPasswordForm/WalletPasswordForm.js
  src/components/WalletPasswordForm/components/Forgot/Forgot.js
  src/components/WalletPasswordForm/components/Forgot/forgot.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Update locales
  src/components/WalletPasswordForm/components/Forgot/Forgot.js
  src/data/lingui/en/messages.json
  src/data/lingui/es/messages.json
  src/data/lingui/ja/messages.json
  src/data/lingui/ko/messages.json
  src/data/lingui/ru/messages.json
  src/data/lingui/zh-Hans/messages.json
  src/data/lingui/zh-Hant/messages.json
Due: ./node_modules/.bin/eslint

Implement sorting of assets
  src/pages/Home/Home.js
  src/utils/digitalAssets/index.js
  src/utils/digitalAssets/sortAssets.js
Due: ./node_modules/.bin/eslint

Rename AssetDetails -> AssetsItemDetails
  src/layouts/MenuLayout/components/MenuPanel/menuMeta.js
  src/pages/AssetsItemDetails/AssetsItemDetails.js
  src/pages/AssetsItemDetails/assetsItemDetails.m.scss
  src/pages/index.js
  src/store/router/routes.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Update sortAssets function
  src/utils/digitalAssets/sortAssets.js
Due: ./node_modules/.bin/eslint

Update locales
  src/data/lingui/en/messages.json
  src/data/lingui/es/messages.json
  src/data/lingui/ja/messages.json
  src/data/lingui/ko/messages.json
  src/data/lingui/ru/messages.json
  src/data/lingui/zh-Hans/messages.json
  src/data/lingui/zh-Hant/messages.json
Due: none

Stop sync on transition to Wallets pages
  src/AppRouter.js
  src/layouts/MenuLayout/MenuLayout.js
  src/layouts/MenuLayout/MenuLayoutContainer.js
  src/layouts/index.js
  src/pages/index.js
  src/store/modules/core.js
  src/store/modules/index.js
  src/store/sagas/core.js
  src/store/sagas/index.js
  src/store/sagas/wallets/core.js
  src/utils/browser/startSessionWatcher.js
Due: ./node_modules/.bin/eslint

Add info about start/stop sync in MenuLayout
  src/layouts/MenuLayout/MenuLayout.js
Due: ./node_modules/.bin/eslint

Add StorageError
  src/errors/StorageError.js
Due: ./node_modules/.bin/eslint

Update active wallet data selectors
  src/components/HistoryItemDetails/HistoryItemDetails.js
  src/components/HistoryList/HistoryList.js
  src/components/WalletCard/WalletCard.js
  src/layouts/MenuLayout/components/MenuPanel/components/Wallet.js
  src/pages/HistoryItemCancel/HistoryItemCancel.js
  src/pages/Home/Home.js
  src/pages/ReceiveAsset/ReceiveAsset.js
  src/pages/Send/PasswordStepForm.js
  src/pages/Send/Send.js
  src/pages/Send/StepOneForm.js
  src/pages/Wallets/Wallets.js
  src/pages/WalletsItemAddresses/WalletsItemAddresses.js
  src/store/plugins/walletsPlugin.js
  src/store/router/routes.js
  src/store/sagas/balances.js
  src/store/sagas/blocks.js
  src/store/sagas/transactions.js
  src/store/selectors/balances.js
  src/store/selectors/transactions.js
  src/store/selectors/wallets.js
Due: ./node_modules/.bin/eslint

Code cleanup
  flow-typed/redux/appState.js
  flow-typed/redux/wallets.js
  src/errors/ActiveWalletNotFoundError.js
  src/errors/index.js
  src/errors/tests/DifitalAssetNotFoundError.test.js
  src/errors/tests/DigitalAssetNotFoundError.test.js
  src/store/modules/walletsRename.js
  src/store/modules/walletsRenameAddress.js
  src/store/reducers.js
  src/store/sagas/wallets/index.js
  src/store/sagas/wallets/rename.js
  src/store/selectors/digitalAssets.js
Due: ./node_modules/.bin/eslint

Change debounce implementation for updating of tx note
  src/components/HistoryItemDetails/HistoryItemDetails.js
Due: ./node_modules/.bin/eslint

Add shouldComponentUpdate for HistoryItemDetails
  src/components/HistoryItemDetails/HistoryItemDetails.js
Due: ./node_modules/.bin/eslint

Split connect & view for HistoryItemDetails
  src/components/HistoryItemDetails/HistoryItemDetails.js
  src/components/HistoryItemDetails/HistoryItemDetailsView.js
  src/components/HistoryItemDetails/components/BaseFieldSet/BaseFieldSet.js
  src/components/HistoryItemDetails/components/Burn/Burn.js
  src/components/HistoryItemDetails/components/Cancel/Cancel.js
  src/components/HistoryItemDetails/components/ContractCall/ContractCall.js
  src/components/HistoryItemDetails/components/ContractCreation/ContractCreation.js
  src/components/HistoryItemDetails/components/Failed/Failed.js
  src/components/HistoryItemDetails/components/Incoming/Incoming.js
  src/components/HistoryItemDetails/components/Mint/Mint.js
  src/components/HistoryItemDetails/components/Outgoing/Outgoing.js
  src/components/HistoryItemDetails/components/Pending/Pending.js
Due: ./node_modules/.bin/eslint
