Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss, node_modules/**, build/**, test/**, src/public/**

Fix - arrow should became to caret only for input fields
  src/pages/Send/components/PriorityField/priorityField.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Fixes for priority field
  src/pages/Send/components/PriorityField/PriorityField.js
Due: ./node_modules/.bin/eslint

Fix recipient picker address cut
  src/components/base/JPicker/Current/jPickerCurrent.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Recipient - It's impossible to add address if 'Contacts' category selected
  src/pages/Send/components/RecipientPicker/RecipientPicker.js
Due: ./node_modules/.bin/eslint

Recipient picker - fix icon color
  src/pages/Send/components/RecipientPicker/RecipientPicker.js
Due: ./node_modules/.bin/eslint

Fix send asset bugs
  src/pages/Send/Send.js
  src/pages/Send/StepOneForm.js
  src/pages/Send/ValidationFailed.js
  src/pages/Send/components/PriorityField/PriorityField.js
  src/pages/Send/components/PriorityField/priorityField.m.scss
  src/pages/Send/components/SendAmountField/SendAmountField.js
  src/pages/Send/components/SendAmountField/SendAmountFieldContainer.js
  src/pages/Send/send.m.scss
  src/utils/numbers/isValidNumeric.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Add AddressChooser for multi address wallet
  src/components/WalletCard/WalletCard.js
  src/components/WalletCard/components/AddressChooser.js
  src/components/WalletCard/components/AddressChooserItem.js
  src/components/WalletCard/components/addressChooser.m.scss
  src/components/WalletCard/components/addressChooserItem.m.scss
  src/components/WalletCard/walletCard.m.scss
  src/pages/Wallets/WalletsView.js
  src/store/plugins/walletsPlugin.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Add getAddressesLabel util
  src/utils/wallets/getAddressesLabel.js
  src/utils/wallets/index.js
Due: ./node_modules/.bin/eslint

Fix address label for wallet card
  src/components/WalletCard/WalletCard.js
  src/pages/WalletsItemAddresses/WalletsItemAddressesView.js
Due: ./node_modules/.bin/eslint

Add scrolling to last derived address
  src/pages/WalletsItemAddresses/WalletsItemAddressesView.js
Due: ./node_modules/.bin/eslint

Add adaptive styles for TitleHeader
  src/components/TitleHeader/titleHeader.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Add adaptive styles for MenuPanel
  src/layouts/MenuLayout/components/MenuPanel/menuPanel.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Fix header on WalletsItemAddresses page
  src/pages/WalletsItemAddresses/WalletsItemAddressesView.js
  src/pages/WalletsItemAddresses/walletsItemAddresses.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix - ETH amount value show when selected custom asset
  src/pages/Send/components/SendAmountField/SendAmountField.js
  src/pages/Send/components/SendAmountField/SendAmountFieldContainer.js
  src/pages/Send/components/SendAmountField/sendAmountField.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix amount field
  src/pages/Send/components/SendAmountField/SendAmountField.js
  src/pages/Send/components/SendAmountField/SendAmountFieldContainer.js
  src/pages/Send/components/SendAmountField/sendAmountField.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Invalid gas limit error and rename send button
  src/pages/Send/StepOneForm.js
Due: ./node_modules/.bin/eslint

Fix box-shadow
  src/pages/Send/components/PriorityField/priorityField.m.scss
  src/pages/Send/components/SendAmountField/sendAmountField.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Priority picker blockhain fee fixes
  src/data/lang/en.po
  src/pages/Send/StepOneForm.js
  src/pages/Send/components/PriorityField/PriorityField.js
  src/pages/Send/components/SendAmountField/SendAmountField.js
  src/pages/Send/components/SendAmountField/SendAmountFieldContainer.js
Due: ./node_modules/.bin/eslint

Rename Local currency -> Currency
  src/pages/SettingsCurrency/components/CurrencyPicker/CurrencyPicker.js
Due: ./node_modules/.bin/eslint

Rename CNY -> Chinese Yuan Renminbi
  src/data/currencies.js
Due: ./node_modules/.bin/eslint

Fix language settings markup
  src/data/languages.js
  src/pages/SettingsLanguage/components/LanguagePicker/LanguagePicker.js
Due: ./node_modules/.bin/eslint

Add EditableField component
  src/components/EditableField/EditableField.js
  src/components/EditableField/editableField.m.scss
  src/components/index.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Update WalletCard
  src/components/WalletCard/WalletCard.js
  src/components/WalletCard/walletCard.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Update WalletAddressCard
  src/pages/WalletsItemAddresses/components/WalletAddressCard/WalletAddressCard.js
  src/pages/WalletsItemAddresses/components/WalletAddressCard/walletAddressCard.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Update sanitizeName
  src/utils/wallets/sanitizeName.js
Due: ./node_modules/.bin/eslint

Update behavior of menu arrow back button
  src/layouts/MenuLayout/components/MenuPanel/MenuPanel.js
  src/layouts/MenuLayout/components/MenuPanel/components/Back.js
  src/layouts/MenuLayout/components/MenuPanel/menuMeta.js
  src/layouts/MenuLayout/components/MenuPanel/menuPanel.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Add flow types for toasts
  flow-typed/redux/toasts.js
Due: ./node_modules/.bin/eslint

Add redux stuff for toasts
  flow-typed/redux/appState.js
  src/store/modules/toasts.js
  src/store/reducers.js
  src/store/sagas/index.js
  src/store/sagas/toasts.js
  src/store/selectors/toasts.js
Due: ./node_modules/.bin/eslint

Add Toast component
  src/components/Toast/Toast.js
  src/components/Toast/toast.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Add Toast into AppContainer
  src/AppContainer.js
  src/components/index.js
Due: ./node_modules/.bin/eslint

Add example of toast usage
  src/components/CopyIconButton/CopyIconButton.js
  src/pages/WalletsItemAddresses/components/WalletAddressCard/WalletAddressCard.js
Due: ./node_modules/.bin/eslint

Fix broken develop
  .babelrc
  package.json
Due: none

Add .dockerignore
  .dockerignore
Due: none

Add --quiet to storybook
  package.json
Due: none

Remove old babel plugin from package.json
  package.json
Due: none

Fix estimated fee label
  src/pages/Send/components/PriorityField/PriorityField.js
Due: ./node_modules/.bin/eslint

Move toasts logic from sagas to plugin
  src/components/CopyIconButton/CopyIconButton.js
  src/store/plugins/index.js
  src/store/plugins/toastsPlugin.js
  src/store/sagas/index.js
  src/store/sagas/toasts.js
Due: ./node_modules/.bin/eslint

Fix - PrivateKey wallets are not displayed in the list of recipients
  src/pages/Send/components/RecipientPicker/prepareWallets.js
Due: ./node_modules/.bin/eslint

Fix - Overflowing of Amount field
  src/pages/Send/components/SendAmountField/sendAmountField.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Path conditions:
  ./node_modules/.bin/eslint: any of: *.js
  ./node_modules/.bin/stylelint --syntax=scss: any of: *.scss
  node_modules/**: any of: ignore
  build/**: any of: ignore
  test/**: any of: ignore
  src/public/**: any of: ignore
