Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss, node_modules/**, build/**, test/**, src/public/**

JWWEB-270 Responsive condition of layout was removed
  src/layouts/CoreLayout/coreLayout.scss
  src/layouts/MenuLayout/menuLayout.scss
  src/layouts/WalletsLayout/walletsLayout.scss
  src/public/index.html
  src/styles/_base.scss
  src/styles/core.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

storybook fix
  src/components/AddressPicker/Current/current.scss
  src/components/AddressPicker/Current/index.js
  src/components/AddressPicker/addressPicker.scss
  src/components/DoubleInput/doubleInput.scss
  src/components/DoubleInput/index.js
  src/styles/core.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

fix filterAssetsBalances for balance/txs consistency
  src/utils/digitalAssets/filterAssetsBalances.js
Due: ./node_modules/.bin/eslint

JWWEB-32 pending transactions management
  flow-typed/redux/transactions.js
  src/components/TransactionItem/Main/Main.js
  src/routes/DigitalAssets/routes/Send/sagas/digitalAssetsSend.js
  src/routes/Transactions/TransactionsIndexViewContainer.js
  src/routes/Transactions/routes/Asset/TransactionsAssetViewContainer.js
  src/routes/modules/transactions.js
  src/routes/sagas/transactions.js
  src/services/blockExplorer.js
  src/services/web3.js
  src/store/selectors/transactions.js
  src/utils/transactions/flattenPendingTransactions.js
  src/utils/transactions/flattenPendingTransactionsByOwner.js
  src/utils/transactions/flattenTransactions.js
  src/utils/transactions/index.js
  src/utils/transactions/removeDuplicates.js
  src/utils/transactions/sortTransactions.js
Due: ./node_modules/.bin/eslint

re-use some transactions utils
  src/routes/sagas/transactions.js
  src/utils/digitalAssets/filterAssetsBalances.js
  src/utils/transactions/checkTransactionsByAssetLoading.js
  src/utils/transactions/checkTransactionsByOwnerLoading.js
  src/utils/transactions/flattenTransactionsByAsset.js
  src/utils/transactions/flattenTransactionsByOwner.js
  src/utils/transactions/index.js
Due: ./node_modules/.bin/eslint

update TransactionItem appearance for failed & pending cases
  flow-typed/config.js
  src/components/TransactionItem/Main/Main.js
  src/config.js
Due: ./node_modules/.bin/eslint

JWWEB-331 Container was simplified
  src/routes/DigitalAssets/routes/Receive/DigitalAssetsReceiveView.js
  src/routes/DigitalAssets/routes/Receive/DigitalAssetsReceiveViewContainer.js
Due: ./node_modules/.bin/eslint

JWWEB-331 More flexible check
  src/routes/DigitalAssets/routes/Receive/DigitalAssetsReceiveView.js
Due: ./node_modules/.bin/eslint

JWWEB-331 Initial address was added
  src/routes/DigitalAssets/routes/Receive/DigitalAssetsReceiveView.js
Due: ./node_modules/.bin/eslint

JWWEB-270 min-width was fixed, zoom was allowed
  src/public/index.html
  src/styles/_base.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

JWWEB-399 Make Ethereum asset always active, add current balanca Ethereum
  src/components/AssetItem/AssetItem.js
  src/components/MenuPanel/BalanceTicker/BalanceTicker.js
  src/components/MenuPanel/MenuPanel.js
  src/components/base/JSwitch/JSwitch.js
  src/components/base/JSwitch/jSwitch.scss
  src/layouts/MenuLayout/MenuLayout.js
  src/layouts/MenuLayout/MenuLayoutContainer.js
  src/routes/DigitalAssets/routes/Grid/DigitalAssetsGridView.js
  src/store/selectors/balances.js
  src/utils/numbers/formatBalance.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-275 implement comments redux management
  flow-typed/redux/comments.js
  src/routes/modules/comments.js
  src/routes/sagas/comments.js
  src/store/selectors/comments.js
Due: ./node_modules/.bin/eslint

JWWEB-38 implement comments ui management
  flow-typed/redux/appState.js
  flow-typed/redux/comments.js
  src/components/TransactionItem/Details/Comment/Comment.js
  src/components/TransactionItem/Details/Details.js
  src/components/TransactionItem/Main/Main.js
  src/components/TransactionItem/TransactionItem.js
  src/components/TransactionsList/TransactionsList.js
  src/routes/Transactions/TransactionsIndexView.js
  src/routes/Transactions/TransactionsIndexViewContainer.js
  src/routes/Transactions/routes/Asset/TransactionsAssetView.js
  src/routes/Transactions/routes/Asset/TransactionsAssetViewContainer.js
  src/routes/modules/comments.js
  src/routes/sagas/balances.js
  src/routes/sagas/comments.js
  src/routes/sagas/index.js
  src/store/reducers.js
  src/store/selectors/comments.js
Due: ./node_modules/.bin/eslint

JWWEB-38 comments for transactions
  src/routes/DigitalAssets/routes/Send/sagas/digitalAssetsSend.js
Due: ./node_modules/.bin/eslint

update transactions ui
  src/components/TransactionItem/Main/Main.js
  src/components/TransactionItem/Main/main.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

fix displaying of contract creation transactions
  src/components/TransactionsList/TransactionsList.js
  src/services/blockExplorer.js
Due: ./node_modules/.bin/eslint

Fix mistakes
  src/components/AssetItem/AssetItem.js
  src/components/MenuPanel/BalanceTicker/BalanceTicker.js
  src/components/MenuPanel/MenuPanel.js
  src/layouts/MenuLayout/MenuLayout.js
  src/layouts/MenuLayout/MenuLayoutContainer.js
Due: ./node_modules/.bin/eslint

Fix mistakes
  src/components/AddressPicker/Current/current.scss
  src/components/DoubleInput/DoubleInput.js
  src/components/InputButton/inputButton.scss
  src/components/base/JInput/JInput.js
  src/components/base/JInput/jInput.scss
  src/components/base/JPicker/JPicker.js
  src/components/base/JPicker/jPicker.scss
  src/routes/DigitalAssets/routes/Send/digitalAssetsSendView.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Update migrated components
  src/components/index.js
  src/routes/DigitalAssets/routes/Send/components/Form/AssetPicker/Current/current.scss
  src/routes/DigitalAssets/routes/Send/components/Form/Form.js
  src/routes/DigitalAssets/routes/Send/components/Form/PriorityPicker/Info/Info.js
  src/routes/DigitalAssets/routes/Send/components/Form/PriorityPicker/Info/index.js
  src/routes/DigitalAssets/routes/Send/components/Form/PriorityPicker/Info/info.scss
  src/routes/DigitalAssets/routes/Send/components/Form/PriorityPicker/PriorityPicker.js
  src/routes/DigitalAssets/routes/Send/digitalAssetsSendView.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix selected priority custom
  src/routes/DigitalAssets/routes/Send/components/Form/PriorityPicker/PriorityPicker.js
Due: ./node_modules/.bin/eslint

Fix style
  src/components/TransactionsList/transactionsList.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

JWWEB-279 temporary commit
  flow-typed/redux/settings.js
  package-lock.json
  src/components/PasswordField/PasswordField.js
  src/components/PasswordField/PasswordFieldFinalFormAdapter.js
  src/routes/Settings/components/SubsettingsView/SubsettingsView.js
  src/routes/Settings/modules/settings.js
  src/routes/Settings/routes/PaymentPassword/PaymentPasswordContainer.js
  src/routes/Settings/routes/PaymentPassword/PaymentPasswordView.js
  src/routes/Settings/routes/PaymentPassword/index.js
Due: ./node_modules/.bin/eslint

Settings list fix for different types of wallets
  src/routes/Settings/SettingsIndexView.js
Due: ./node_modules/.bin/eslint

JWWEB-400 fix transaction card for custom asset
  src/components/TransactionItem/Main/Main.js
Due: ./node_modules/.bin/eslint

Settings list view fix for different types of wallet
  src/routes/Settings/SettingsIndexView.js
Due: ./node_modules/.bin/eslint

JWWEB-279 default properties for functions were fixed, autofocus for PasswordField was made optional
  src/components/PasswordField/PasswordField.js
  src/components/PasswordField/PasswordFieldFinalFormAdapter.js
  src/components/base/JInput/JInput.js
Due: ./node_modules/.bin/eslint

JWWEB-331 Defense from undefined value
  src/store/stateSelectors.js
Due: ./node_modules/.bin/eslint

JWWEB-331 Typo fixes
  src/components/AddressPicker/Current/Current.js
  src/routes/DigitalAssets/routes/Receive/DigitalAssetsReceiveView.js
  src/routes/DigitalAssets/routes/Receive/DigitalAssetsReceiveViewContainer.js
Due: ./node_modules/.bin/eslint

update transaction item ui add/remove favorite actions add/edit comment actions
  src/components/TransactionItem/Details/Details.js
  src/components/TransactionItem/Main/Main.js
  src/components/TransactionItem/TransactionItem.js
  src/components/TransactionsList/TransactionsList.js
  src/routes/DigitalAssets/routes/Send/components/Form/AssetPicker/Current/Current.js
  src/routes/DigitalAssets/routes/Send/components/Form/AssetPicker/Item/Item.js
  src/routes/DigitalAssets/routes/Send/components/Form/PriorityPicker/PriorityPicker.js
  src/routes/DigitalAssets/routes/Send/sagas/digitalAssetsSend.js
  src/routes/Transactions/TransactionsIndexView.js
  src/routes/Transactions/TransactionsIndexViewContainer.js
  src/routes/Transactions/routes/Asset/TransactionsAssetView.js
  src/routes/Transactions/routes/Asset/TransactionsAssetViewContainer.js
Due: ./node_modules/.bin/eslint

Fix scroll container, close position, hidden options
  src/components/DoubleInput/doubleInput.scss
  src/components/base/JPicker/jPicker.scss
  src/routes/DigitalAssets/routes/Send/components/Steps/steps.scss
  src/routes/DigitalAssets/routes/Send/digitalAssetsSendView.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

For settings list elements were added property of visibility
  src/routes/Settings/SettingsIndexView.js
Due: ./node_modules/.bin/eslint

Check signature is able to all types of wallet
  src/routes/Settings/SettingsIndexView.js
Due: ./node_modules/.bin/eslint

Sign a message is able to privateKey type of wallet too
  src/routes/Settings/SettingsIndexView.js
Due: ./node_modules/.bin/eslint

Merge with develop
  flow-typed/redux/blocks.js
  flow-typed/redux/settings.js
  package-lock.json
  package.json
  src/components/PasswordField/PasswordField.js
  src/components/PasswordField/PasswordFieldFinalFormAdapter.js
  src/components/PasswordField/index.js
  src/components/WalletLoading/WalletLoading.scss
  src/components/WalletLoading/walletLoading.scss
  src/components/base/JInput/JInput.js
  src/components/base/JInput/JInputField.js
  src/components/base/JInput/index.js
  src/components/base/JText/jText.scss
  src/components/base/JThumbnail/jThumbnail.scss
  src/layouts/CoreLayout/coreLayout.scss
  src/layouts/MenuLayout/MenuLayout.js
  src/layouts/MenuLayout/MenuLayoutContainer.js
  src/layouts/MenuLayout/menuLayout.scss
  src/layouts/WalletsLayout/walletsLayout.scss
  src/public/index.html
  src/routes/Settings/components/SubsettingsDescription/SubsettingsDescription.js
  src/routes/Settings/components/SubsettingsDescription/index.js
  src/routes/Settings/components/SubsettingsDescription/subsettingsDescription.scss
  src/routes/Settings/components/SubsettingsView/SubsettingsView.js
  src/routes/Settings/components/SubsettingsView/subsettingsView.scss
  src/routes/Settings/components/index.js
  src/routes/Settings/index.js
  src/routes/Settings/modules/settings.js
  src/routes/Settings/routes/PaymentPassword/PaymentPasswordContainer.js
  src/routes/Settings/routes/PaymentPassword/PaymentPasswordView.js
  src/routes/Settings/routes/PaymentPassword/index.js
  src/routes/Settings/routes/PaymentPassword/paymentPassword.scss
  src/routes/Settings/routes/SecurityPassword/SecurityPassword.js
  src/routes/Settings/routes/SecurityPassword/index.js
  src/routes/modules/blocks.js
  src/styles/_base.scss
  src/styles/core.scss
  stories/components/OverlayNotification.stories.js
  stories/components/index.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix thumbnail image enum
  src/components/base/JThumbnail/JThumbnail.js
Due: ./node_modules/.bin/eslint

update package lock
  package-lock.json
Due: none

Too verbose code was changed to less verbose code
  src/routes/Settings/SettingsIndexView.js
Due: ./node_modules/.bin/eslint

fix BalanceTicker
  src/components/MenuPanel/BalanceTicker/BalanceTicker.js
Due: ./node_modules/.bin/eslint

remove fiatBalance props
  src/components/DigitalAssetsGrid/Asset/Asset.js
Due: ./node_modules/.bin/eslint

JWWEB-402 update link to send from transactions
  src/routes/Transactions/routes/Asset/TransactionsAssetView.js
Due: ./node_modules/.bin/eslint

Path conditions:
  ./node_modules/.bin/eslint: any of: *.js
  ./node_modules/.bin/stylelint --syntax=scss: any of: *.scss
  node_modules/**: any of: ignore
  build/**: any of: ignore
  test/**: any of: ignore
  src/public/**: any of: ignore
