Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss, node_modules/**, build/**, test/**, src/public/**

.lintstagedrc:

{
  "*.js": "./node_modules/.bin/eslint",
  "*.scss": "./node_modules/.bin/stylelint --syntax=scss",
  "ignore": [
    "node_modules/**",
    "build/**",
    "test/**",
    "src/public/**"
  ]
}

Integrate wallet item mode views changes
  src/components/WalletActions/WalletActions.js
  src/components/WalletCardActions/WalletCardActions.js
Due: ./node_modules/.bin/eslint

New language map
  src/data/settings/index.js
  src/data/settings/languages.js
Due: ./node_modules/.bin/eslint

Add ttag to Fiat currencies
  src/data/currencies/currencies.js
Due: ./node_modules/.bin/eslint

JWWEB-860 Added page for deleting contact item
  src/components/ConfirmationBody/ConfirmationBody.js
  src/components/ConfirmationBody/confirmationBody.m.scss
  src/components/index.js
  src/layouts/MenuLayout/components/MenuPanel/menuMeta.js
  src/pages/ContactsItemDelete/ContactsItemDelete.js
  src/pages/ContactsItemDelete/ContactsItemDeleteView.js
  src/pages/ContactsItemDelete/contactsItemDelete.m.scss
  src/pages/index.js
  src/store/router/routes.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Added "think" variant of buttons for confirmation screens
  flow-typed/style.js
  src/components/base/Button/Button.js
  src/components/base/Button/Button.stories.js
  src/components/base/Button/button.m.scss
  src/components/base/JLink/JLink.js
  src/components/base/JLink/JLink.m.scss
  src/styles/offsets.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-860 Changed theme for action buttons on page
  src/pages/ContactsItemDelete/ContactsItemDeleteView.js
  src/pages/ContactsItemDelete/contactsItemDelete.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Update TitleHeader component
  src/components/TitleHeader/TitleHeader.js
  src/components/TitleHeader/titleHeader.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Add import icon
  src/public/assets/icons/sprite-pack/ic_import_wallet_24-use-fill.svg
Due: none

Update WalletsView
  src/pages/Wallets/WalletsView.js
  src/pages/Wallets/wallets.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-858 Added add contact page
  src/pages/ContactsItemAdd/ContactsItemAdd.js
  src/pages/ContactsItemAdd/ContactsItemAddView.js
  src/pages/ContactsItemAdd/contactsItemAdd.m.scss
  src/pages/index.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fixes for contacts pages
  src/components/ContactsItemDetails/ContactsItemDetailsInternal.js
  src/components/ContactsItemDetails/contactsItem.m.scss
  src/components/base/Button/button.m.scss
  src/pages/ContactsItemEdit/ContactsItemEditView.js
  src/styles/_base.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-817 Address Picker
  src/components/AddressPicker/AddressPicker.js
  src/components/AddressPicker/AddressPicker.stories.js
  src/components/AddressPicker/Current/Current.js
  src/components/AddressPicker/Current/current.scss
  src/components/AddressPicker/Current/index.js
  src/components/AddressPicker/WalletAddressBalance/WalletAddressBalance.js
  src/components/AddressPicker/WalletAddressBalance/walletAddressBalance.m.scss
  src/components/AddressPicker/addressPicker.scss
  src/components/AddressPicker/index.js
  src/components/WalletAddressItem/WalletAddressItem.js
  src/components/WalletAddressItem/walletAddressItem.m.scss
  src/components/index.js
  src/pages/DigitalAssets/routes/Send/components/Form/Form.js
  src/pages/Send/components/RecipientPicker/WalletList/WalletList.js
  src/styles/core.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Update settings data
  flow-typed/config.js
  flow-typed/redux/ticker.js
  flow-typed/types.js
  src/config.js
  src/data/currencies.js
  src/data/currencies/index.js
  src/data/index.js
  src/data/languages.js
  src/data/settings/index.js
  src/data/settings/languages.js
  src/layouts/MenuLayout/components/MenuPanel/components/Wallet.js
  src/pages/Home/components/AssetItem/AssetItem.js
  src/pages/Settings/routes/Currency/CurrencyContainer.js
  src/pages/Settings/routes/Currency/components/CurrencyPickerField.js
  src/services/ticker.js
  src/store/selectors/settings.js
  src/store/utils/getFiatBalances.js
  src/utils/formatters/formatCurrency.js
Due: ./node_modules/.bin/eslint

Fix request changes
  src/pages/Send/PasswordStepForm.js
  src/pages/Send/Send.js
  src/pages/Send/components/RecipientPicker/RecipientPicker.stories.js
  src/pages/Send/components/RecipientPicker/prepareWallets.js
Due: ./node_modules/.bin/eslint

Fix height of WalletsItemAddresses page
  src/pages/WalletsItemAddresses/walletsItemAddresses.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

JWWEB-855 Added ItemCard base component and ContactItem implemented on it
  src/components/ContactItem/ContactItem.js
  src/components/ContactItem/contactItem.m.scss
  src/components/base/ItemCard/ItemCard.js
  src/components/base/ItemCard/itemCard.m.scss
  src/components/base/index.js
  src/components/index.js
  src/pages/Contacts/CONTACT_LIST.json
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-855 Added page of contacts list
  flow-typed/redux/contacts.js
  flow-typed/style.js
  flow-typed/types.js
  src/components/base/JLink/JLink.js
  src/components/base/JLink/JLink.m.scss
  src/pages/Contacts/Contacts.js
  src/pages/Contacts/ContactsView.js
  src/pages/Contacts/contacts.m.scss
  src/pages/index.js
  src/styles/offsets.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix PR request changes
  src/pages/Send/SendError.js
  src/pages/Send/ValidationFailed.js
Due: ./node_modules/.bin/eslint

JWWEB-859, JWWEB-856 Contacts fixes
  src/layouts/MenuLayout/components/MenuPanel/menuMeta.js
  src/pages/ContactsItem/ContactsItemView.js
  src/pages/ContactsItemEdit/ContactsItemEditView.js
Due: ./node_modules/.bin/eslint

Fix PR request changes
  src/pages/Send/SendError.js
  src/pages/Send/StepOneForm.js
  src/pages/Send/components/AssetPicker/AssetPickerContainer.js
  src/pages/Send/send.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

WWEB-727 Fix icon and adaptation. Text updated
  src/layouts/StartLayout/startLayout.m.scss
  src/pages/Agreements/AgreementsView.js
  src/pages/Agreements/agreementsView.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix broken build
  src/pages/Send/components/SendAmountField/SendAmountFieldContainer.js
Due: ./node_modules/.bin/eslint

Update Wallet card name styles
  src/components/WalletCard/walletCard.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Fix validating of wallet name
  src/components/WalletCard/WalletCard.js
Due: ./node_modules/.bin/eslint

JWWEB-855 Added groups of contacts by alphabet
  src/components/ContactItem/ContactItem.js
  src/components/ContactItem/contactItem.m.scss
  src/layouts/MenuLayout/components/MenuPanel/menuMeta.js
  src/pages/Contacts/CONTACT_LIST.json
  src/pages/Contacts/Contacts.js
  src/pages/Contacts/ContactsView.js
  src/pages/Contacts/contacts.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Language picker
  src/components/base/JPicker/Item/DefaultItem.js
  src/data/settings/index.js
  src/data/settings/languages.js
  src/pages/SettingsLanguage/components/LanguagePicker/LanguagePicker.js
  src/pages/SettingsLanguage/components/LanguagePicker/LanguagePicker.stories.js
  src/public/assets/icons/sprite-colored/ic_en_24.svg
  src/public/assets/icons/sprite-colored/ic_es_24.svg
  src/public/assets/icons/sprite-colored/ic_ja_24.svg
  src/public/assets/icons/sprite-colored/ic_ko_24.svg
  src/public/assets/icons/sprite-colored/ic_ru_24.svg
  src/public/assets/icons/sprite-colored/ic_zh-Hans_24.svg
  src/public/assets/icons/sprite-colored/ic_zh-Hant_24.svg
Due: ./node_modules/.bin/eslint

Make Pickers optimisation by removing iconRendrer and balancesRenderer
  src/components/base/JPicker/Current/JPickerCurrent.js
  src/pages/Send/components/AssetPicker/AssetPicker.js
  src/pages/Send/components/RecipientPicker/RecipientPicker.js
  src/pages/SettingsCurrency/components/CurrencyPicker/CurrencyPicker.js
  src/pages/SettingsLanguage/components/LanguagePicker/LanguagePicker.js
Due: ./node_modules/.bin/eslint

JWWEB-865, JWWEB-866 Currency and language pages
  src/pages/SettingsCurrency/SettingsCurrency.js
  src/pages/SettingsCurrency/components/CurrencyPicker/CurrencyPicker.js
  src/pages/SettingsCurrency/settingsCurrency.m.scss
  src/pages/SettingsLanguage/SettingsLanguage.js
  src/pages/SettingsLanguage/components/LanguagePicker/LanguagePicker.js
  src/pages/SettingsLanguage/settingsLanguage.m.scss
  src/pages/index.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-855 Fixed visual issues
  src/pages/Contacts/CONTACT_LIST.json
  src/pages/Contacts/ContactsView.js
  src/pages/Contacts/contacts.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Add WalletAddressCard component
  src/components/WalletActions/WalletActions.js
  src/pages/WalletsItemAddresses/WalletsItemAddresses.js
  src/pages/WalletsItemAddresses/WalletsItemAddressesView.js
  src/pages/WalletsItemAddresses/components/WalletAddressCard/WalletAddressCard.js
  src/pages/WalletsItemAddresses/components/WalletAddressCard/walletAddressCard.m.scss
  src/pages/WalletsItemAddresses/walletsItemAddresses.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Hide manage addresses action for simplified wallets
  src/components/WalletActions/WalletActions.js
Due: ./node_modules/.bin/eslint

Add redirect from addresses page for simplified wallets
  src/store/router/routes.js
Due: ./node_modules/.bin/eslint

Fix copying of wallet address
  src/components/WalletActions/WalletActions.js
Due: ./node_modules/.bin/eslint

Add new icons for settings page
  src/public/assets/icons/sprite-pack/ic_dev_mode_24-use-fill.svg
  src/public/assets/icons/sprite-pack/ic_security_password_24-use-fill.svg
  src/public/assets/icons/sprite-pack/ic_usd_24-use-fill.svg
Due: none

Update settings page
  flow-typed/redux/settings.js
  src/pages/Settings/Settings.js
  src/pages/Settings/SettingsIndexView.js
  src/pages/Settings/SettingsIndexViewContainer.js
  src/pages/Settings/SettingsView.js
  src/pages/Settings/components/Card/Card.js
  src/pages/Settings/components/Card/card.m.scss
  src/pages/Settings/index.js
  src/pages/Settings/settings.m.scss
  src/pages/Settings/settingsView.scss
  src/pages/SettingsCurrency/components/CurrencyPicker/CurrencyPicker.js
  src/pages/index.js
  src/store/modules/settings.js
  src/store/sagas/ticker.js
  src/store/selectors/ticker.js
  src/styles/core.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix icon name of language on settings page
  src/pages/Settings/SettingsView.js
Due: ./node_modules/.bin/eslint

Update CurrencyPicker
  src/pages/SettingsCurrency/components/CurrencyPicker/CurrencyPicker.js
Due: ./node_modules/.bin/eslint

Fix wallet renaming
  src/components/WalletCard/WalletCard.js
  src/components/WalletCard/walletCard.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix broken pixker in firefox
  src/components/base/JPicker/Body/jPickerBody.m.scss
  src/components/base/JPicker/Current/jPickerCurrent.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Update header behavior on scroll
  src/components/TitleHeader/TitleHeader.js
  src/components/TitleHeader/titleHeader.m.scss
  src/layouts/MenuLayout/components/MenuPanel/menuPanel.m.scss
  src/styles/zindex.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss
