Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss, node_modules/**, build/**, test/**, src/public/**

Update sortAssets function
  src/utils/digitalAssets/sortAssets.js
Due: ./node_modules/.bin/eslint

Update empty tx list view & loading state
  src/components/HistoryList/HistoryList.js
  src/components/HistoryList/components/Empty/Empty.js
  src/components/HistoryList/components/Empty/empty.m.scss
  src/components/HistoryList/historyList.m.scss
  src/pages/History/history.m.scss
  src/public/assets/pic_transactions_112.svg
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Sync locales
  src/data/lingui/en/messages.json
  src/data/lingui/es/messages.json
  src/data/lingui/ja/messages.json
  src/data/lingui/ko/messages.json
  src/data/lingui/ru/messages.json
  src/data/lingui/zh-Hans/messages.json
  src/data/lingui/zh-Hant/messages.json
Due: none

Fix redirecting to WalletsItemUpgrade page
  src/store/router/routes.js
Due: ./node_modules/.bin/eslint

Update wallets selectors
  src/store/selectors/wallets.js
Due: ./node_modules/.bin/eslint

Code cleanup
  src/store/router/routes.js
Due: ./node_modules/.bin/eslint

Fix showing of passphrase with ending spaces
  flow-typed/config.js
  src/components/CopyableField/CopyableField.js
  src/config.js
  src/pages/WalletsItemBackup/WalletsItemBackupView.js
  src/utils/encryption/decryptData.js
  src/utils/encryption/encryptData.js
  src/utils/formatters/index.js
  src/utils/formatters/leftPad.js
  src/utils/wallets/prepareMnemonicWallet.js
  src/utils/wallets/reEncryptWallet.js
  src/utils/wallets/upgradeWallet.js
Due: ./node_modules/.bin/eslint

Fix shrinking of asset name & add maxLength values for inputs
  src/components/DigitalAssetAddForm/DigitalAssetAddForm.js
  src/pages/Home/components/AssetItem/AssetItem.js
  src/pages/Home/components/AssetItem/ManageAssetItem.js
  src/pages/Home/components/AssetItem/assetItem.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Add GlobalFormError component
  src/components/GlobalFormError/GlobalFormError.js
  src/components/GlobalFormError/globalFormError.m.scss
  src/components/index.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Add .trim() after decryptData call
  src/pages/WalletsItemBackup/WalletsItemBackupView.js
  src/utils/wallets/getPrivateKey.js
  src/utils/wallets/reEncryptWallet.js
Due: ./node_modules/.bin/eslint

Update Send page (global form error)
  src/pages/Send/Send.js
  src/pages/Send/StepOneForm.js
Due: ./node_modules/.bin/eslint

Add formatFiatBalance helper
  src/utils/formatters/formatFiatBalance.js
  src/utils/formatters/index.js
Due: ./node_modules/.bin/eslint

Update requesting of ticker courses
  src/store/sagas/balances.js
  src/store/sagas/ticker.js
Due: ./node_modules/.bin/eslint

Integrate jticker
  env/development
  env/production
  src/services/ticker.js
Due: ./node_modules/.bin/eslint

Update getFiatBalance
  src/utils/digitalAssets/getFiatBalance.js
Due: ./node_modules/.bin/eslint

Remove redundant restart of ticker
  src/store/sagas/digitalAssets/add.js
  src/store/sagas/digitalAssets/core.js
Due: ./node_modules/.bin/eslint

Revert getFiatBalance changes
  src/layouts/MenuLayout/components/MenuPanel/components/Wallet.js
  src/pages/Home/components/AssetItem/AssetItem.js
  src/store/plugins/walletsPlugin.js
  src/utils/digitalAssets/getFiatBalance.js
Due: ./node_modules/.bin/eslint

Update MenuLayout (start/stop sync)
  src/layouts/MenuLayout/MenuLayout.js
  src/layouts/MenuLayout/components/MenuPanel/components/Wallet.js
Due: ./node_modules/.bin/eslint

Revert jticker changes
  env/development
  env/production
  src/services/ticker.js
  src/utils/digitalAssets/getFiatBalance.js
Due: ./node_modules/.bin/eslint

Fix formatting of fiat balance
  src/layouts/MenuLayout/components/MenuPanel/components/Wallet.js
  src/pages/Home/components/AssetItem/AssetItem.js
  src/store/plugins/walletsPlugin.js
  src/utils/digitalAssets/getFiatBalance.js
  src/utils/formatters/formatFiatBalance.js
Due: ./node_modules/.bin/eslint

Fix walletsPlugin.requestFiatBalanceByAddress
  src/store/plugins/walletsPlugin.js
Due: ./node_modules/.bin/eslint

Update showing of fiat balance
  src/components/WalletCard/WalletCard.js
  src/components/WalletCard/components/AddressChooserItem.js
  src/pages/Home/components/AssetItem/AssetItem.js
  src/pages/WalletsItemAddresses/WalletsItemAddresses.js
  src/pages/WalletsItemAddresses/WalletsItemAddressesView.js
  src/pages/WalletsItemAddresses/components/WalletAddressCard/WalletAddressCard.js
  src/pages/WalletsItemModeDisable/WalletsItemModeDisable.js
  src/pages/WalletsItemModeDisable/WalletsItemModeDisableView.js
  src/store/plugins/walletsPlugin.js
Due: ./node_modules/.bin/eslint

Show toast instead of alert
  src/pages/Send/StepOneForm.js
Due: ./node_modules/.bin/eslint

Hide insufficient funds error if amount(w/o fees) exceeds balance
  src/pages/Send/StepOneForm.js
Due: ./node_modules/.bin/eslint

Fix router redirecting from Send form
  src/store/router/routes.js
Due: ./node_modules/.bin/eslint

Fix Card component styles
  src/components/Card/card.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Sync locales
  src/data/lingui/en/messages.json
  src/data/lingui/es/messages.json
  src/data/lingui/ja/messages.json
  src/data/lingui/ko/messages.json
  src/data/lingui/ru/messages.json
  src/data/lingui/zh-Hans/messages.json
  src/data/lingui/zh-Hant/messages.json
  src/pages/HistoryItemCancel/HistoryItemCancel.js
  src/pages/Send/Send.js
Due: ./node_modules/.bin/eslint

Fix currency symbol for fiat balance displaying
  src/pages/Home/components/AssetItem/AssetItem.js
Due: ./node_modules/.bin/eslint

Update flow types for password & wallets
  flow-typed/redux/password.js
  flow-typed/redux/wallets.js
Due: ./node_modules/.bin/eslint

Fix babel config & versions of packages
  .babelrc
  package.json
Due: none

Add migrations for wallets & password
  src/pages/SetPassword/SetPassword.js
  src/store/migrations/password.js
  src/store/migrations/tests/data.js
  src/store/migrations/tests/password.test.js
  src/store/migrations/tests/wallets.test.js
  src/store/migrations/wallets.js
  src/store/modules/password.js
  src/store/modules/wallets.js
  src/store/plugins/walletsPlugin.js
Due: ./node_modules/.bin/eslint

Update lockfile
  package-lock.json
Due: none

Add helpers for checking if migration is needed
  src/store/migrations/password.js
  src/store/migrations/tests/password.test.js
  src/store/migrations/tests/wallets.test.js
  src/store/migrations/wallets.js
Due: ./node_modules/.bin/eslint

Add optional description field for WalletPasswordForm component
  src/components/WalletPasswordForm/WalletPasswordForm.js
  src/components/WalletPasswordForm/walletPasswordForm.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Add WalletsMigration view
  src/AppRouter.js
  src/pages/WalletsMigration/WalletsMigration.js
  src/pages/WalletsMigration/walletsMigration.m.scss
  src/pages/index.js
  src/store/modules/password.js
  src/store/modules/wallets.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Bump
  package.json
Due: none

Revert "Bump"
  package.json
Due: none

Add message for toast about network to i18n files
  src/data/lingui/en/messages.json
  src/data/lingui/es/messages.json
  src/data/lingui/ja/messages.json
  src/data/lingui/ko/messages.json
  src/data/lingui/ru/messages.json
  src/data/lingui/zh-Hans/messages.json
  src/data/lingui/zh-Hant/messages.json
  src/pages/Send/StepOneForm.js
Due: ./node_modules/.bin/eslint

Fix field maxLength prop
  src/components/ContactsItemDetails/ContactsItemDetails.js
  src/pages/ContactsItemAdd/components/ContactAddForm/ContactAddForm.js
  src/pages/ContactsItemEdit/components/ContactEditForm/ContactEditForm.js
Due: ./node_modules/.bin/eslint

Path conditions:
  ./node_modules/.bin/eslint: any of: *.js
  ./node_modules/.bin/stylelint --syntax=scss: any of: *.scss
  node_modules/**: any of: ignore
  build/**: any of: ignore
  test/**: any of: ignore
  src/public/**: any of: ignore
