Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss, node_modules/**, build/**, test/**, src/public/**

.lintstagedrc:

{
  "*.js": "./node_modules/.bin/eslint",
  "*.scss": "./node_modules/.bin/stylelint --syntax=scss",
  "ignore": [
    "node_modules/**",
    "build/**",
    "test/**",
    "src/public/**"
  ]
}

JWWEB-549: Sort alphabetically, custom-first
  src/routes/DigitalAssets/routes/Manage/DigitalAssetsManageViewContainer.js
  src/utils/digitalAssets/compareDigitalAssetsByName.js
Due: ./node_modules/.bin/eslint

Bump version to v2.0.3
  package.json
  version.txt
Due: none

Disable flowtype/require-types-at-top eslint rule
  .eslintrc
Due: none

Update webpack.config.js
  .storybook/webpack.config.js
  webpack.config.js
Due: ./node_modules/.bin/eslint

Update JIcon
  src/components/base/JIcon/JIcon.js
  src/components/base/JIcon/jIcon.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Change JAssetSymbol for sprite
  src/components/base/JAssetSymbol/JAssetSymbol.js
  src/components/base/JAssetSymbol/jAssetSymbol.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Update JIcon in storybook
  stories/components/base/JIcon.stories.js
Due: ./node_modules/.bin/eslint

Fix of some components for new JIcon
  package-lock.json
  src/components/DigitalAssetsManage/digitalAssetsManage.scss
  src/components/base/JCheckbox/JCheckbox.js
  src/components/base/JCheckbox/jCheckbox.scss
  src/components/base/JInput/JInput.js
  src/components/base/JInput/JInputField.js
  src/components/base/JInput/jInput.scss
  src/components/base/JThumbnail/JThumbnail.js
  src/components/base/JThumbnail/jThumbnail.scss
  src/public/assets/icons/small/info-clear-gray.svg
  src/styles/icons.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Change publicPath for svg sprite
  .storybook/webpack.config.js
  webpack.config.js
Due: ./node_modules/.bin/eslint

Returned store styles, add demo for JIcon
  .storybook/webpack.config.js
  src/components/base/JIcon/jIcon.scss
  src/data/lang/en.po
  stories/components/base/JIcon.stories.js
  stories/index.js
  stories/styles.css
  stories/styles.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Update no-param-reassign eslint rule
  .eslintrc
Due: none

Fix eslint errors
  src/store/sagas/digitalAssets/core.js
Due: ./node_modules/.bin/eslint

Include icon size in icon, remove icon size in css
  src/components/base/JIcon/JIcon.js
  src/components/base/JIcon/jIcon.scss
  src/public/assets/icons/sprite-pack/medium/burn-event.svg
  stories/components/base/JIcon.stories.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix conflict: JToast removed
  src/components/base/JToast/JToast.js
  src/components/base/JToast/index.js
  src/components/base/JToast/jToast.scss
  src/components/base/index.js
  stories/__new__/JToast.stories.js
  stories/__new__/index.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix icon
  src/public/assets/icons/sprite-pack/medium/chevron-down.svg
Due: none

The ability to assign color through the fill
  src/components/WalletFace/Actions/WalletFaceActions.js
  src/components/base/JFlatButton/JFlatButton.js
  src/components/base/JIcon/JIcon.js
  src/components/base/JIcon/jIcon.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix eslint error
  src/utils/digitalAssets/compareDigitalAssetsByName.js
Due: ./node_modules/.bin/eslint

New errors added
  src/errors/ActiveNetworkNotFound.js
  src/errors/ActiveWalletNotFound.js
  src/errors/DigitalAssetNotFound.js
  src/errors/WalletInvalidData.js
  src/errors/WalletNotFound.js
  src/errors/index.js
Due: ./node_modules/.bin/eslint

selectors updated
  src/store/selectors/digitalAssets.js
  src/store/selectors/networks.js
  src/store/selectors/wallets.js
Due: ./node_modules/.bin/eslint

use new throw selectors
  src/routes/DigitalAssets/routes/Manage/DigitalAssetsManageViewContainer.js
  src/routes/Favorites/FavoritesIndexViewContainer.js
  src/routes/Transactions/routes/Asset/TransactionsAssetViewContainer.js
  src/routes/Upgrade/UpgradeViewContainer.js
  src/store/sagas/balances.js
  src/store/sagas/blocks.js
  src/store/sagas/digitalAssets/addAsset.js
  src/store/sagas/digitalAssets/send.js
  src/store/sagas/transactions.js
  src/store/sagas/wallets/addresses.js
  src/store/sagas/wallets/core.js
  src/utils/wallets/createWallet.js
  src/utils/wallets/getAddress.js
  src/utils/wallets/getAddresses.js
  src/utils/wallets/getMnemonic.js
  src/utils/wallets/getPrivateKey.js
  src/utils/wallets/getWallet.js
  src/utils/wallets/reEncryptWallet.js
  src/utils/wallets/upgradeWallet.js
  src/workers/wallets/worker.js
  src/workers/wallets/wrapper.js
Due: ./node_modules/.bin/eslint

Unit tests for errors
  src/errors/tests/ActiveNetworkNotFound.test.js
  src/errors/tests/ActiveWalletNotFound.test.js
  src/errors/tests/DifitalAssetNotFound.test.js
  src/errors/tests/WalletInvalidData.test.js
  src/errors/tests/WalletNotFound.test.js
Due: ./node_modules/.bin/eslint

Fix digitalAssets sagas names
  src/store/sagas/digitalAssets/add.js
  src/store/sagas/digitalAssets/core.js
  src/store/sagas/digitalAssets/edit.js
  src/store/sagas/digitalAssets/grid.js
  src/store/sagas/digitalAssets/index.js
  src/store/sagas/digitalAssets/send.js
  src/store/sagas/index.js
Due: ./node_modules/.bin/eslint

Fix store/configureStore.js
  src/store/configureStore.js
Due: ./node_modules/.bin/eslint

Fix delete wallet timeout for dev env
  src/config.js
Due: ./node_modules/.bin/eslint

Update JIcon and webpack.config.js
  .storybook/webpack.config.js
  src/components/DigitalAssetsGrid/AddDigitalAsset/AddDigitalAsset.js
  src/components/base/JIcon/JIcon.js
  stories/components/base/JIcon.stories.js
  webpack.config.js
Due: ./node_modules/.bin/eslint

Increase timeout slightly
  src/config.js
Due: ./node_modules/.bin/eslint

Improve exporting & running of sagas
  src/store/configureStore.js
  src/store/sagas/digitalAssets/index.js
  src/store/sagas/index.js
  src/store/sagas/wallets/index.js
Due: ./node_modules/.bin/eslint

Init promise wrapper for workers
  src/workers/PromiseWorker.js
Due: ./node_modules/.bin/eslint

Add errors for workers
  src/errors/WorkerError.js
  src/errors/WorkerQueueExceededError.js
  src/errors/WorkerTaskError.js
  src/errors/WorkerTaskReplacedError.js
  src/errors/index.js
Due: ./node_modules/.bin/eslint

Update create action for wallets worker
  src/workers/wallets/worker.js
  src/workers/wallets/wrapper.js
Due: ./node_modules/.bin/eslint

Add WorkerTaskTimeoutError
  src/errors/WorkerTaskTimeoutError.js
  src/errors/index.js
Due: ./node_modules/.bin/eslint

Update PromiseWorker
  src/workers/PromiseWorker.js
Due: ./node_modules/.bin/eslint

Update create wallet saga
  src/store/sagas/wallets/create.js
  src/workers/wallets/wrapper.js
Due: ./node_modules/.bin/eslint

Revert "Update create wallet saga"
  src/errors/index.js
  src/store/sagas/wallets/create.js
  src/workers/wallets/wrapper.js
Due: ./node_modules/.bin/eslint

Revert "Update create action for wallets worker"
  src/errors/index.js
  src/workers/wallets/worker.js
  src/workers/wallets/wrapper.js
Due: ./node_modules/.bin/eslint
