Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss, node_modules/**, build/**, test/**, src/public/**

.lintstagedrc:

{
  "*.js": "./node_modules/.bin/eslint",
  "*.scss": "./node_modules/.bin/stylelint --syntax=scss",
  "ignore": [
    "node_modules/**",
    "build/**",
    "test/**",
    "src/public/**"
  ]
}

Remove unused wallet styles
  src/styles/core.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Remove unused components
  src/components/HelpText/HelpText.js
  src/components/HelpText/helpText.scss
  src/components/HelpText/index.js
  src/components/ModalHeader/ModalHeader.js
  src/components/ModalHeader/index.js
  src/components/ModalHeader/modalHeader.scss
  src/components/NameStep/NameStep.js
  src/components/NameStep/index.js
  src/components/OverlayActions/OverlayActions.js
  src/components/OverlayActions/index.js
  src/components/OverlayActions/overlayActions.scss
  src/components/PasswordStep/PasswordStep.js
  src/components/PasswordStep/index.js
  src/components/PasswordStep/passwordStep.scss
  src/components/WalletDataStep/WalletDataStep.js
  src/components/WalletDataStep/index.js
  src/components/WalletNameStep/WalletNameStep.js
  src/components/WalletNameStep/index.js
  src/components/WalletPasswordStep/WalletPasswordStep.js
  src/components/WalletPasswordStep/index.js
  src/components/WalletStep/WalletStep.js
  src/components/WalletStep/index.js
  src/components/WalletStep/walletStep.scss
  src/components/WalletViewTitle/WalletViewTitle.js
  src/components/WalletViewTitle/index.js
  src/components/WalletViewTitle/walletViewTitle.scss
  src/components/index.js
  src/styles/core.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-737 Refactored nonce only for transaction with TransactionData
  flow-typed/redux/transactions.js
  src/services/blockExplorer.js
  src/services/web3.js
Due: ./node_modules/.bin/eslint

Apply wallets utils and walletsPlugin changes
  src/layouts/MenuLayout/components/MenuPanel/components/Wallet.js
  src/pages/Upgrade/UpgradeViewContainer.js
  src/pages/WalletsImport/WalletsImport.js
  src/pages/WalletsImport/WalletsImportView.js
  src/pages/WalletsItemBackup/WalletsItemBackupView.js
  src/store/sagas/wallets/core.js
  src/store/sagas/wallets/rename.js
  src/store/selectors/wallets.js
Due: ./node_modules/.bin/eslint

Update wallets utils
  src/utils/wallets/appendWallet.js
  src/utils/wallets/checkMnemonicType.js
  src/utils/wallets/checkMultiAddressType.js
  src/utils/wallets/checkReadOnlyType.js
  src/utils/wallets/checkWalletUniqueness.js
  src/utils/wallets/findWalletByProperty.js
  src/utils/wallets/getAddress.js
  src/utils/wallets/getAddresses.js
  src/utils/wallets/getBackupData.js
  src/utils/wallets/getMnemonic.js
  src/utils/wallets/getMnemonicAddressName.js
  src/utils/wallets/getWallet.js
  src/utils/wallets/getWalletById.js
  src/utils/wallets/index.js
  src/utils/wallets/prepareAddressWallet.js
  src/utils/wallets/prepareMnemonicWallet.js
  src/utils/wallets/preparePrivateKeyWallet.js
  src/utils/wallets/prepareWallet.js
  src/utils/wallets/prepareXPRVWallet.js
  src/utils/wallets/prepareXPUBWallet.js
  src/utils/wallets/reEncryptWallet.js
  src/utils/wallets/removeWallet.js
  src/utils/wallets/updateWallet.js
  src/utils/wallets/upgradeWallet.js
Due: ./node_modules/.bin/eslint

Update walletsPlugin
  flow-typed/redux/wallets.js
  src/store/plugins/walletsPlugin.js
Due: ./node_modules/.bin/eslint

Connections between fields
  src/pages/Send/Send.js
  src/pages/Send/components/RecipientPicker/RecipientPickerContainer.js
Due: ./node_modules/.bin/eslint

JWWEB-737 Temporary commit, split transactionIndex
  src/store/utils/HistoryItem/HistoryItem.js
  src/store/utils/HistoryItem/createTransferIn.js
  src/store/utils/HistoryItem/types.js
  src/store/utils/HistoryItem/utils/getTransactionFee.js
  src/store/utils/HistoryItem/utils/getTransactionNote.js
  src/store/utils/HistoryItem/utils/getTransactionStatus.js
  src/store/utils/HistoryItem/utils/getTransactionTimestamp.js
  src/store/utils/HistoryItem/utils/setHistoryItemType.js
Due: ./node_modules/.bin/eslint

Use selectActiveWalletAddressOrThrow
  src/pages/Upgrade/UpgradeViewContainer.js
Due: ./node_modules/.bin/eslint

Fix backup icon
  src/public/assets/icons/sprite-pack/ic_backup_48-use-fill.svg
Due: none

Added blockchain data of current address
  flow-typed/redux/appState.js
  src/store/modules/address.js
  src/store/persistReducers.js
  src/store/reducers.js
Due: ./node_modules/.bin/eslint

Add key icon
  src/public/assets/icons/sprite-pack/ic_key_48-use-fill.svg
Due: none

Add success icon
  src/public/assets/icons/sprite-pack/ic_success_48-use-fill.svg
Due: none

Update wallet upgrade low-level implementation
  src/store/modules/wallets.js
  src/store/plugins/walletsPlugin.js
  src/store/sagas/wallets/core.js
  src/utils/wallets/upgradeWallet.js
Due: ./node_modules/.bin/eslint

Add new WalletsItemUpgrade page
  src/pages/WalletsItemUpgrade/WalletsItemUpgrade.js
  src/pages/WalletsItemUpgrade/WalletsItemUpgradeView.js
  src/pages/WalletsItemUpgrade/walletsItemUpgrade.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Update routing of wallet upgrade
  src/pages/index.js
  src/store/router/routes.js
Due: ./node_modules/.bin/eslint

Add UserActionInfo component
  src/components/UserActionInfo/UserActionInfo.js
  src/components/UserActionInfo/userActionInfo.m.scss
  src/components/index.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Integrate UserActionInfo component
  src/components/WalletBackupForm/WalletBackupForm.js
  src/components/WalletBackupForm/walletBackupForm.m.scss
  src/pages/WalletsCreate/WalletsCreateView.js
  src/pages/WalletsCreate/walletsCreate.m.scss
  src/pages/WalletsItemBackup/WalletsItemBackupView.js
  src/pages/WalletsItemDelete/WalletsItemDeleteView.js
  src/pages/WalletsItemDelete/walletsItemDelete.m.scss
  src/pages/WalletsItemUpgrade/WalletsItemUpgradeView.js
  src/pages/WalletsItemUpgrade/walletsItemUpgrade.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Add MnemonicOptions component
  src/components/MnemonicOptions/MnemonicOptions.js
  src/components/index.js
Due: ./node_modules/.bin/eslint

Integrate MnemonicOptions component
  src/pages/WalletsImport/WalletsImportView.js
  src/pages/WalletsItemUpgrade/WalletsItemUpgradeView.js
Due: ./node_modules/.bin/eslint

Update WalletsImportView
  src/pages/WalletsImport/WalletsImportView.js
Due: ./node_modules/.bin/eslint

Remove unused code
  src/pages/Upgrade/UpgradeView.js
  src/pages/Upgrade/UpgradeViewContainer.js
  src/pages/Upgrade/index.js
  src/pages/Upgrade/upgradeView.scss
  src/store/modules/upgrade.js
  src/store/reducers.js
  src/store/sagas/index.js
  src/store/sagas/upgrade.js
  src/store/selectors/upgrade.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-737 Refactored splitting of history items
  src/components/HistoryItemDetails/HistoryItemDetails.js
  src/components/HistoryItemDetails/HistoryItemDetailsInternal.js
  src/components/HistoryItemDetails/templates/TransferCancel.js
  src/components/HistoryItemDetails/templates/TransferIn.js
  src/components/HistoryItemDetails/templates/TransferOut.js
  src/components/HistoryItemDetails/templates/index.js
  src/components/TransactionItemNew/TransactionItem.js
  src/components/TransactionsList/TransactionsList.js
  src/pages/HistoryItem/HistoryItem.js
  src/pages/Transactions/TransactionsIndexView.js
  src/pages/Transactions/TransactionsIndexViewContainer.js
  src/store/utils/HistoryItem/HistoryItem.js
  src/store/utils/HistoryItem/createTransferOut.js
  src/store/utils/HistoryItem/types.js
  src/store/utils/HistoryItem/utils/getTransactionStatus.js
  src/store/utils/HistoryItem/utils/setHistoryItemType.js
  src/utils/formatters/formatTransactionAmount.js
Due: ./node_modules/.bin/eslint

JWWEB-737 Added create transfer cancel entity function
  src/store/utils/HistoryItem/createTransferCancel.js
Due: ./node_modules/.bin/eslint

JWWEB-737 Added isCanceled flag to structure
  flow-typed/redux/transactions.js
  src/services/blockExplorer.js
Due: ./node_modules/.bin/eslint

JWWEB-737 Added isCanceled flag to prepare functions
  src/services/web3.js
Due: ./node_modules/.bin/eslint

Add CopyIconButton & move WalletCardActions
  src/components/CopyIconButton/CopyIconButton.js
  src/components/CopyIconButton/copyIconButton.m.scss
  src/components/CopyableField/CopyableField.js
  src/components/CopyableField/copyableField.m.scss
  src/components/WalletCardActions/WalletCardActions.js
  src/components/WalletCardActions/walletCardActions.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Update WalletActions
  src/components/WalletActions/WalletActions.js
  src/components/WalletActions/walletActions.m.scss
  src/components/WalletCard/WalletCard.js
  src/components/index.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Add deriveOneMoreAddress method for walletsPlugin
  src/store/plugins/walletsPlugin.js
Due: ./node_modules/.bin/eslint

Update wallets utils (derivationIndex param)
  flow-typed/redux/wallets.js
  src/utils/wallets/prepareAddressWallet.js
  src/utils/wallets/prepareMnemonicWallet.js
  src/utils/wallets/preparePrivateKeyWallet.js
  src/utils/wallets/prepareXPRVWallet.js
  src/utils/wallets/prepareXPUBWallet.js
  src/utils/wallets/updateWallet.js
Due: ./node_modules/.bin/eslint

Add add icon
  src/public/assets/icons/sprite-pack/ic_add_24-use-fill.svg
Due: none

Add WalletsItemAddresses page
  src/layouts/MenuLayout/components/MenuPanel/menuMeta.js
  src/pages/WalletsItemAddresses/Header/Header.js
  src/pages/WalletsItemAddresses/Header/header.m.scss
  src/pages/WalletsItemAddresses/WalletsItemAddresses.js
  src/pages/WalletsItemAddresses/WalletsItemAddressesView.js
  src/pages/WalletsItemAddresses/walletsItemAddresses.m.scss
  src/pages/index.js
  src/store/router/routes.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-737 Moved templates to Items directory
  src/components/HistoryItemDetails/HistoryItemDetails.js
  src/components/HistoryItemDetails/HistoryItemDetailsInternal.js
  src/components/HistoryItemDetails/components/Items/ContractCall.js
  src/components/HistoryItemDetails/components/Items/TransferCancel.js
  src/components/HistoryItemDetails/components/Items/TransferIn.js
  src/components/HistoryItemDetails/components/Items/TransferOut.js
  src/components/HistoryItemDetails/components/Items/index.js
  src/components/HistoryItemDetails/historyItemDetails.m.scss
  src/components/HistoryItemDetails/templates/index.js
  src/components/TransactionItemNew/TransactionItem.js
  src/store/utils/HistoryItem/HistoryItem.js
  src/store/utils/HistoryItem/createContractCall.js
  src/store/utils/HistoryItem/types.js
  src/store/utils/HistoryItem/utils/getTransactionStatus.js
  src/store/utils/HistoryItem/utils/setHistoryItemType.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-722 Send asset functionality
  flow-typed/redux/digitalAssets.js
  package.json
  src/pages/Send/PasswordStepForm.js
  src/pages/Send/Send.js
  src/pages/Send/StepOneForm.js
  src/pages/Send/components/AssetPicker/AssetPickerContainer.js
  src/pages/Send/components/SendAmountField/SendAmountField.js
  src/pages/Send/components/SendAmountField/SendAmountFieldContainer.js
Due: ./node_modules/.bin/eslint

Dockerfile for Node 10
  Dockerfile
Due: none

Added eth Syncer singleton
  package.json
  src/services/ethSyncer/db.js
  src/services/ethSyncer/handlers/handleBlock.js
  src/services/ethSyncer/handlers/handleTransaction.js
  src/services/ethSyncer/index.js
  src/services/ethSyncer/utils/initRemote.js
Due: ./node_modules/.bin/eslint

JWWEB-846: Move transactions syncer to sync with separate store instance
  flow-typed/jassets.js
  flow-typed/redux/digitalAssets.js
  src/data/networks.js
  src/main.js
  src/services/sync/transactions/configureStore.js
  src/services/sync/transactions/index.js
  src/services/sync/transactions/modules/blocks.js
  src/services/sync/transactions/modules/core.js
  src/services/sync/transactions/modules/network.js
  src/services/sync/transactions/modules/priorities.js
  src/services/sync/transactions/modules/transactions.js
  src/services/sync/transactions/reducers.js
  src/services/sync/transactions/sagas/blocks.js
  src/services/sync/transactions/sagas/core.js
  src/services/sync/transactions/sagas/index.js
  src/services/sync/transactions/sagas/transactions.js
  src/services/sync/transactions/selectors/blocks.js
  src/services/sync/transactions/selectors/network.js
  src/services/sync/transactions/selectors/priorities.js
  src/services/sync/transactions/selectors/transactions.js
  src/services/sync/transactions/types.js
  src/store/sagas/core.js
Due: ./node_modules/.bin/eslint

Added putting transfers and transactions to indexedDB
  src/main.js
  src/services/ethSyncer/db.js
  src/services/ethSyncer/index.js
Due: ./node_modules/.bin/eslint

Rename services
  src/main.js
  src/services/ethSyncer/index.js
  src/services/sync/legacy-transactions/configureStore.js
  src/services/sync/legacy-transactions/index.js
  src/services/sync/legacy-transactions/modules/blocks.js
  src/services/sync/legacy-transactions/modules/core.js
  src/services/sync/legacy-transactions/modules/network.js
  src/services/sync/legacy-transactions/modules/priorities.js
  src/services/sync/legacy-transactions/modules/transactions.js
  src/services/sync/legacy-transactions/reducers.js
  src/services/sync/legacy-transactions/sagas/blocks.js
  src/services/sync/legacy-transactions/sagas/core.js
  src/services/sync/legacy-transactions/sagas/index.js
  src/services/sync/legacy-transactions/sagas/transactions.js
  src/services/sync/legacy-transactions/selectors/blocks.js
  src/services/sync/legacy-transactions/selectors/network.js
  src/services/sync/legacy-transactions/selectors/priorities.js
  src/services/sync/legacy-transactions/selectors/transactions.js
  src/services/sync/legacy-transactions/types.js
  src/services/sync/transactions/db.js
  src/services/sync/transactions/handlers/handleBlock.js
  src/services/sync/transactions/handlers/handleTransaction.js
  src/services/sync/transactions/index.js
  src/services/sync/transactions/utils/initRemote.js
Due: ./node_modules/.bin/eslint

Added infinity sync to current block
  src/services/sync/transactions/db.js
  src/services/sync/transactions/index.js
Due: ./node_modules/.bin/eslint
