Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss, node_modules/**, build/**, test/**, src/public/**

.lintstagedrc:

{
  "*.js": "./node_modules/.bin/eslint",
  "*.scss": "./node_modules/.bin/stylelint --syntax=scss",
  "ignore": [
    "node_modules/**",
    "build/**",
    "test/**",
    "src/public/**"
  ]
}

Update MenuLayout
  src/components/MenuPanel/MenuPanel.js
  src/components/MenuPanel/menuPanel.m.scss
  src/components/MenuPanel/tests/MenuPanel.tests.js
  src/components/index.js
  src/layouts/MenuLayout/MenuLayout.js
  src/layouts/MenuLayout/MenuLayoutContainer.js
  src/layouts/MenuLayout/menuMeta.js
  src/public/assets/icons/sprite-pack/medium/arrow-back.svg
  src/styles/core.scss
  src/styles/zindex.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Split MenuPanel on small components
  src/components/MenuPanel/Actions.js
  src/components/MenuPanel/Back.js
  src/components/MenuPanel/MenuPanel.js
  src/components/MenuPanel/Separator.js
  src/components/MenuPanel/Settings.js
  src/components/MenuPanel/Top.js
Due: ./node_modules/.bin/eslint

Add tests for MenuPanel
  src/components/MenuPanel/Actions.js
  src/components/MenuPanel/MenuPanel.js
  src/components/MenuPanel/menuPanel.m.scss
  src/components/MenuPanel/tests/MenuPanel.test.js
  src/components/MenuPanel/tests/MenuPanel.tests.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix scss modules svg in storybook
  .storybook/webpack.config.js
Due: ./node_modules/.bin/eslint

SendAmountField with formatters
  src/public/assets/thumbnail/max-blue.svg
  src/routes/DigitalAssets/routes/Send/components/Form/SendAmountField/SendAmountField.js
  src/routes/DigitalAssets/routes/Send/components/Form/SendAmountField/sendAmountField.m.scss
  src/styles/images.scss
  src/utils/formatters/formatCurrencyWithSymbol.js
  src/utils/formatters/formatETHAmount.js
  src/utils/formatters/index.js
  src/utils/numbers/toBigNumber.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix PR request changes
  src/routes/DigitalAssets/routes/Send/components/Form/SendAmountField/SendAmountField.js
  src/routes/DigitalAssets/routes/Send/components/Form/SendAmountField/sendAmountField.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix clean button
  src/routes/DigitalAssets/routes/Send/components/Form/SendAmountField/SendAmountField.js
  src/routes/DigitalAssets/routes/Send/components/Form/SendAmountField/sendAmountField.m.scss
  src/utils/formatters/formatCurrencyWithSymbol.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Remove unused code
  src/styles/images.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Update MenuLayout & MenuPanel: Add classes for integration testing Move menuMeta config into MenuPanel dir Fix activeClassName behavior Update tests
  src/components/MenuPanel/Actions.js
  src/components/MenuPanel/Back.js
  src/components/MenuPanel/MenuPanel.js
  src/components/MenuPanel/Separator.js
  src/components/MenuPanel/Settings.js
  src/components/MenuPanel/Top.js
  src/components/MenuPanel/menuMeta.js
  src/components/MenuPanel/tests/MenuPanel.test.js
  src/layouts/MenuLayout/MenuLayout.js
  src/layouts/MenuLayout/MenuLayoutContainer.js
  src/layouts/MenuLayout/components/MainMenu.js
Due: ./node_modules/.bin/eslint

Fix format currency whan fiatCurrency invalid
  src/routes/DigitalAssets/routes/Send/components/Form/SendAmountField/SendAmountField.js
  src/utils/formatters/formatCurrencyWithSymbol.js
Due: ./node_modules/.bin/eslint

Add knobs
  src/routes/DigitalAssets/routes/Send/components/Form/SendAmountField/SendAmountField.stories.js
Due: ./node_modules/.bin/eslint

Fix eslint import errors
  src/utils/numbers/divDecimals.js
  src/utils/numbers/fromGweiToWei.js
  src/utils/numbers/fromWeiToGWei.js
  src/utils/numbers/index.js
  src/utils/numbers/isZero.js
Due: ./node_modules/.bin/eslint

Fix PR request changes
  src/routes/Upgrade/UpgradeViewContainer.js
  src/utils/wallets/getPrivateKey.js
Due: ./node_modules/.bin/eslint

Fix fallback currencyCode - amount order
  src/utils/formatters/formatCurrencyWithSymbol.js
Due: ./node_modules/.bin/eslint

Add fiat amount and blockhain fee loaders
  src/routes/DigitalAssets/routes/Send/components/Form/SendAmountField/SendAmountField.js
  src/routes/DigitalAssets/routes/Send/components/Form/SendAmountField/SendAmountField.stories.js
  src/routes/DigitalAssets/routes/Send/components/Form/SendAmountField/sendAmountField.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

add option for gzip_static,gzip_buffers,gunzip,gunzip_buffers
  nginx.conf
Due: none

Remove dead code
  src/routes/DigitalAssets/routes/Send/components/Form/SendAmountField/SendAmountField.stories.js
Due: ./node_modules/.bin/eslint

Fix require.context problem
  .jest/register-context.js
  jest.config.js
Due: ./node_modules/.bin/eslint

Fix outdated unit test for JInput
  src/components/base/JInputField/tests/JInputField.test.js
Due: ./node_modules/.bin/eslint

Add input activation on label click
  src/routes/DigitalAssets/routes/Send/components/Form/SendAmountField/SendAmountField.js
Due: ./node_modules/.bin/eslint

Send amount field basic unit tests
  src/routes/DigitalAssets/routes/Send/components/Form/SendAmountField/tests/SendAmountField.test.js
Due: ./node_modules/.bin/eslint

Add deafult props
  src/routes/DigitalAssets/routes/Send/components/Form/SendAmountField/SendAmountField.js
Due: ./node_modules/.bin/eslint

Add more unit tests
  src/routes/DigitalAssets/routes/Send/components/Form/SendAmountField/tests/SendAmountField.test.js
Due: ./node_modules/.bin/eslint

Remove todo
  src/routes/DigitalAssets/routes/Send/components/Form/SendAmountField/SendAmountField.js
Due: ./node_modules/.bin/eslint

delete option for gunzip,gunzip_buffers
  nginx.conf
Due: none

Add -use-fill ending for icons
  src/components/MenuPanel/Actions.js
  src/components/MenuPanel/Settings.js
  src/public/assets/icons/sprite-pack/medium/contact-use-fill.svg
  src/public/assets/icons/sprite-pack/medium/history-use-fill.svg
  src/public/assets/icons/sprite-pack/medium/home-use-fill.svg
  src/public/assets/icons/sprite-pack/medium/more-use-fill.svg
  src/public/assets/icons/sprite-pack/medium/settings-use-fill.svg
Due: ./node_modules/.bin/eslint

Fix MenuPanel class names
  src/components/MenuPanel/Actions.js
  src/components/MenuPanel/Back.js
  src/components/MenuPanel/Settings.js
  src/components/MenuPanel/Top.js
Due: ./node_modules/.bin/eslint

add option for gzip_static,gz_buffers
  nginx.conf
Due: none

Add changes: - Move MenuPanel inside MenuLayout - Remove fill-opacity from svg icons - Remove Separator component - Add Action component
  src/components/MenuPanel/Actions.js
  src/components/MenuPanel/Separator.js
  src/components/MenuPanel/Settings.js
  src/components/index.js
  src/layouts/MenuLayout/MenuLayout.js
  src/layouts/MenuLayout/components/MenuPanel/MenuPanel.js
  src/layouts/MenuLayout/components/MenuPanel/components/Action.js
  src/layouts/MenuLayout/components/MenuPanel/components/Actions.js
  src/layouts/MenuLayout/components/MenuPanel/components/Back.js
  src/layouts/MenuLayout/components/MenuPanel/components/Settings.js
  src/layouts/MenuLayout/components/MenuPanel/components/Top.js
  src/layouts/MenuLayout/components/MenuPanel/components/index.js
  src/layouts/MenuLayout/components/MenuPanel/menuMeta.js
  src/layouts/MenuLayout/components/MenuPanel/menuPanel.m.scss
  src/layouts/MenuLayout/components/MenuPanel/tests/MenuPanel.test.js
  src/layouts/MenuLayout/components/index.js
  src/public/assets/icons/sprite-pack/medium/contact-use-fill.svg
  src/public/assets/icons/sprite-pack/medium/history-use-fill.svg
  src/public/assets/icons/sprite-pack/medium/home-use-fill.svg
  src/public/assets/icons/sprite-pack/medium/more-use-fill.svg
  src/public/assets/icons/sprite-pack/medium/settings-use-fill.svg
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

fix extra size when comment [DEVOPS-251]
  nginx.conf
Due: none

Add feature/storybook-build
  Dockerfile
  README.md
  nginx.conf
  run.sh
Due: none

corrections storybook branch
  Dockerfile
  run.sh
  storybook-nginx.conf
Due: none

JWWEB-736 new TransactionItem was created
  src/components/TransactionItemNew/TransactionItem.js
  src/components/TransactionItemNew/index.js
  src/components/TransactionItemNew/transactionItem.m.scss
  src/components/TransactionItemNew/transactionsIndex.js
  src/components/base/JIcon/JIcon.js
  src/public/assets/icons/sprite-pack/medium/circle-alert-use-fill.svg
  src/public/assets/icons/sprite-pack/medium/circle-cross-use-fill.svg
  src/public/assets/icons/sprite-pack/medium/clock-use-fill.svg
  src/public/assets/icons/sprite-pack/medium/transaction-in-use-fill.svg
  src/public/assets/icons/sprite-pack/medium/transaction-out-use-fill.svg
  src/store/selectors/transactions.js
  src/styles/_base.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

cosmetic
  .nginx.conf.swp
  README.md
  run.sh
  storybook-nginx.conf
Due: none

cosmetic
  .nginx.conf.swp
Due: none

JWWEB-736 UI colors fix
  src/components/TransactionItemNew/TransactionItem.js
  src/components/TransactionItemNew/transactionItem.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix non-exact flow type
  src/routes/DigitalAssets/routes/Send/components/Form/SendAmountField/SendAmountField.js
Due: ./node_modules/.bin/eslint

JWWEB-736 Story was added
  .storybook/webpack.config.js
  src/components/TransactionItemNew/TransactionItem.js
  src/components/TransactionItemNew/TransactionsItem.stories.js
Due: ./node_modules/.bin/eslint

More transparent configuration patching on different environments
  Dockerfile
  docker/nginx/nginx.conf
  docker/nginx/templates/include-demo.conf
  docker/run.sh
  run.sh
Due: none

Fix run script permissions
  docker/run.sh
Due: none
