Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss, node_modules/**, build/**, test/**, src/public/**

.lintstagedrc:

{
  "*.js": "./node_modules/.bin/eslint",
  "*.scss": "./node_modules/.bin/stylelint --syntax=scss",
  "ignore": [
    "node_modules/**",
    "build/**",
    "test/**",
    "src/public/**"
  ]
}

Add tokens/tmp
  src/public/assets/tokens/tmp
Due: none

Remove tokens/tmp
  src/public/assets/tokens/tmp
Due: none

Add AppLogo base component
  src/components/base/AppLogo/AppLogo.js
  src/components/base/AppLogo/appLogo.m.scss
  src/components/base/index.js
  src/layouts/MenuLayout/components/MenuPanel/MenuPanel.js
  src/layouts/MenuLayout/components/MenuPanel/menuPanel.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Add /about page
  src/layouts/MenuLayout/components/MenuPanel/menuMeta.js
  src/pages/About/About.js
  src/pages/About/about.m.scss
  src/pages/More/More.js
  src/pages/index.js
  src/store/router/routes.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Update link styles
  src/components/base/JLink/JLink.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Bump version to 2.3.0
  package-lock.json
  package.json
  version.txt
Due: none

Update app version
  src/pages/About/About.js
Due: ./node_modules/.bin/eslint

Fix migration test
  src/store/migrations/tests/data.js
Due: ./node_modules/.bin/eslint

Add enzyme helpers for lingui
  .enzyme/lingui-helper.js
  package.json
Due: ./node_modules/.bin/eslint

Fix context errors in tests
  .jest/register-context.js
Due: ./node_modules/.bin/eslint

Fix tests
  src/components/SearchInput/tests/SearchFilter.test.js
  src/components/base/JInputField/tests/JInputField.test.js
  src/pages/Send/components/SendAmountField/tests/SendAmountField.test.js
Due: ./node_modules/.bin/eslint

Add module resolution path from project root
  .idea/webResources.xml
  jest.config.js
Due: ./node_modules/.bin/eslint

Use enzyme helper for lingui
  src/pages/WalletsStart/components/NewWalletButtons/tests/NewWalletButtons.test.js
Due: ./node_modules/.bin/eslint

Fix selectors to work properly with enzyme
  src/pages/WalletsStart/components/NewWalletButtons/tests/NewWalletButtons.test.js
Due: ./node_modules/.bin/eslint

Bump enzyme-adapter-react version
  package-lock.json
  package.json
Due: none

Update migration v1
  flow-typed/redux/comments.js
  flow-typed/redux/digitalAssets.js
  flow-typed/redux/favorites.js
  flow-typed/redux/ticker.js
  flow-typed/redux/user.js
  flow-typed/redux/wallets.js
  src/AppRouter.js
  src/store/migrations/getAgreementValue.js
  src/store/migrations/v1.js
Due: ./node_modules/.bin/eslint

Update migration v1 tests
  src/store/migrations/tests/data.js
  src/store/migrations/tests/v1/migrate.test.js
Due: ./node_modules/.bin/eslint

Fix DigitalAssetEditForm fields maxLength
  src/components/DigitalAssetEditForm/DigitalAssetEditForm.js
Due: ./node_modules/.bin/eslint

Fix notes store key
  src/store/migrations/v1.js
Due: ./node_modules/.bin/eslint

Update lockfile
  package-lock.json
Due: none

Update locales
  src/data/lingui/en/messages.json
  src/data/lingui/es/messages.json
  src/data/lingui/ja/messages.json
  src/data/lingui/ko/messages.json
  src/data/lingui/ru/messages.json
  src/data/lingui/zh-Hans/messages.json
  src/data/lingui/zh-Hant/messages.json
Due: none

Fix styles
  src/components/PasswordForm/PasswordForm.js
  src/components/PasswordForm/components/Forgot/forgot.m.scss
  src/components/PasswordForm/passwordForm.m.scss
  src/components/TitleHeader/titleHeader.m.scss
  src/components/WalletBackupForm/walletBackupForm.m.scss
  src/pages/Send/send.m.scss
  src/pages/SettingsPassword/settingsPassword.m.scss
  src/pages/WalletsCreate/walletsCreate.m.scss
  src/pages/WalletsImport/walletsImport.m.scss
  src/pages/WalletsItemBackup/walletsItemBackup.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix HistoryList Empty margins
  src/components/HistoryList/components/Empty/empty.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Fix send disclaimer styles
  src/pages/Send/send.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Fix 404 page button styles
  src/pages/NotFound/NotFound.js
  src/pages/NotFound/notFound.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix TitleHeader action button styles
  src/components/TitleHeader/titleHeader.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Fix asset link styles
  src/pages/AssetsItem/components/About/components/Links/links.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Add hasDefaultFields flag management for custom asset
  flow-typed/redux/digitalAssets.js
  src/pages/AssetsItemDetails/AssetsItemDetails.js
  src/store/modules/addAsset.js
  src/store/modules/digitalAssets.js
  src/store/sagas/digitalAssets/add.js
Due: ./node_modules/.bin/eslint

Fix styles for empty assets/contacts
  src/pages/Contacts/contacts.m.scss
  src/pages/Home/HomeView.js
  src/pages/Home/home.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix asset details link styles
  src/pages/AssetsItem/components/About/components/Links/links.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Fix history styles
  src/components/HistoryList/HistoryList.js
  src/components/HistoryList/historyList.m.scss
  src/layouts/MenuLayout/MenuLayout.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix asset link styles
  src/pages/AssetsItem/components/About/components/Links/Links.js
  src/pages/AssetsItem/components/About/components/Links/links.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix typo
  src/components/base/JPicker/Current/JPickerCurrent.js
  src/components/base/JPicker/Current/jPickerCurrent.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Hide AssetPicker if there is no any address
  src/components/AddressPicker/AddressPicker.js
Due: ./node_modules/.bin/eslint

Get rid of AddressPicker animation
  src/pages/WalletsItemModeDisable/WalletsItemModeDisableView.js
  src/pages/WalletsItemModeDisable/walletsItemModeDisable.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Add submodule:init npm target
  package.json
Due: none
