Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss, node_modules/**, build/**, test/**, src/public/**

Add checking of scroll position in constructor
  src/components/TitleHeader/TitleHeader.js
Due: ./node_modules/.bin/eslint

Update header on WalletsItemAddresses page
  src/pages/WalletsItemAddresses/Header/Header.js
  src/pages/WalletsItemAddresses/Header/header.m.scss
  src/pages/WalletsItemAddresses/WalletsItemAddressesView.js
  src/pages/WalletsItemAddresses/components/WalletAddressCard/WalletAddressCard.js
  src/pages/WalletsItemAddresses/walletsItemAddresses.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix additional-icon theme of Button
  src/components/base/Button/button.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Remove e.preventDefault
  src/components/TitleHeader/TitleHeader.js
Due: ./node_modules/.bin/eslint

Resolve conflicts
  src/pages/WalletsItemAddresses/walletsItemAddresses.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Fixed visual issues of additional-button
  src/components/base/Button/button.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Fix renderer and PR request changes
  src/components/AddressPicker/AddressPicker.js
Due: ./node_modules/.bin/eslint

Remove deleted Send component (added by merge)
  src/pages/DigitalAssets/routes/Send/components/Form/Form.js
Due: ./node_modules/.bin/eslint

JWWEB-870 Wallet address rename
  flow-typed/redux/wallets.js
  src/pages/WalletsItemAddresses/components/WalletAddressCard/WalletAddressCard.js
  src/pages/WalletsItemAddresses/components/WalletAddressCard/walletAddressCard.m.scss
  src/store/modules/walletsAddresses.js
  src/store/sagas/wallets/addresses.js
  src/store/sagas/wallets/index.js
  src/store/sagas/wallets/renameAddress.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix style issue
  src/components/WalletCard/WalletCard.js
  src/components/WalletCard/walletCard.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix invalid count of wallet address items
  src/pages/Send/components/RecipientPicker/WalletList/WalletList.js
  src/pages/Send/components/RecipientPicker/WalletList/walletList.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Add support for derivationIndex
  src/pages/Send/components/RecipientPicker/RecipientPicker.stories.js
  src/pages/Send/components/RecipientPicker/RecipientPickerContainer.js
  src/pages/Send/components/RecipientPicker/prepareWallets.js
Due: ./node_modules/.bin/eslint

Fix problems with search
  src/pages/Send/components/RecipientPicker/RecipientPicker.js
Due: ./node_modules/.bin/eslint

-console.log
  src/pages/Send/components/RecipientPicker/WalletList/WalletList.js
Due: ./node_modules/.bin/eslint

Fix - Click on the title doesn't work
  src/components/base/JPicker/Current/JPickerCurrent.js
Due: ./node_modules/.bin/eslint

Fix label position according to design
  src/components/base/JPicker/Current/jPickerCurrent.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

JWWEB-855 Fixed name splitting, added emoji support
  src/components/ContactItem/ContactItem.js
  src/components/ContactItem/contactItem.m.scss
  src/pages/Contacts/CONTACT_LIST.json
  src/pages/Contacts/ContactsView.js
  src/pages/Contacts/contacts.m.scss
  src/public/assets/icons/sprite-pack/ic_account_24-use-fill.svg
  src/utils/formatters/formatInitials.js
  src/utils/formatters/index.js
  src/utils/formatters/splitContactName.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix - Text is highlighted by a quick click on the arrow
  src/components/base/JPicker/Current/jPickerCurrent.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Show warning on rename the same address
  src/components/WalletCard/WalletCard.js
  src/components/WalletCard/walletCard.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Prevent checking of uniqueness if name was not changed
  src/components/WalletCard/WalletCard.js
Due: ./node_modules/.bin/eslint

JWWEB-857 Added markup of contacts screen without contacts
  src/pages/ContactsEmpty/ContactsEmpty.js
  src/pages/ContactsEmpty/ContactsEmptyView.js
  src/pages/ContactsEmpty/contacts.m.scss
  src/pages/index.js
  src/public/assets/pic_contacts_112.svg
  src/store/router/routes.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Add methods for requesting of ETH balance
  src/store/plugins/walletsPlugin.js
Due: ./node_modules/.bin/eslint

Update fetching of ETH balances for wallet
  src/components/WalletCard/WalletCard.js
  src/pages/WalletsItemAddresses/WalletsItemAddressesView.js
  src/pages/WalletsItemAddresses/components/WalletAddressCard/WalletAddressCard.js
  src/pages/WalletsItemAddresses/walletsItemAddresses.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-857 Fixed margin of image from text
  flow-typed/style.js
  src/pages/ContactsEmpty/ContactsEmptyView.js
  src/styles/offsets.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix wallet card styles and prevent select on link click
  src/components/WalletActions/WalletActions.js
  src/components/WalletActions/walletActions.m.scss
  src/components/WalletCard/walletCard.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-855 Fixed import of contacts list
  src/pages/Contacts/CONTACT_LIST.js
  src/pages/Contacts/CONTACT_LIST.json
Due: ./node_modules/.bin/eslint

Fix getAddressName for ttag
  src/utils/address/getAddressName.js
Due: ./node_modules/.bin/eslint

Use getAddressName
  src/components/WalletCard/WalletCard.js
  src/pages/WalletsItemAddresses/components/WalletAddressCard/WalletAddressCard.js
Due: ./node_modules/.bin/eslint

componentWillReceiveProps -> componentDidUpdate
  src/pages/WalletsItemAddresses/WalletsItemAddressesView.js
Due: ./node_modules/.bin/eslint

Add utils/wallets/sanitizeName
  src/utils/wallets/index.js
  src/utils/wallets/sanitizeName.js
Due: ./node_modules/.bin/eslint

Use sanitizeName
  src/components/WalletCard/WalletCard.js
  src/pages/WalletsItemAddresses/components/WalletAddressCard/WalletAddressCard.js
Due: ./node_modules/.bin/eslint

Update ref typings
  src/pages/WalletsItemAddresses/components/WalletAddressCard/WalletAddressCard.js
Due: ./node_modules/.bin/eslint

Add one more .trim() in sanitizeName
  src/utils/wallets/sanitizeName.js
Due: ./node_modules/.bin/eslint

Fix showing of total addresses count
  src/components/WalletCard/WalletCard.js
Due: ./node_modules/.bin/eslint

Minor fix of styles
  src/pages/WalletsItemAddresses/components/WalletAddressCard/walletAddressCard.m.scss
  src/pages/WalletsItemAddresses/walletsItemAddresses.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Fix settings layout styles
  src/pages/Settings/SettingsView.js
  src/pages/Settings/components/Card/card.m.scss
  src/pages/Settings/settings.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Add comment with description about empty elements
  src/pages/Settings/SettingsView.js
Due: ./node_modules/.bin/eslint

Fix upgrade wallet page
  src/pages/WalletsItemUpgrade/WalletsItemUpgradeView.js
Due: ./node_modules/.bin/eslint

Add default wallet name for create/import
  src/pages/WalletsCreate/WalletsCreateView.js
  src/pages/WalletsImport/WalletsImportView.js
  src/store/plugins/walletsPlugin.js
Due: ./node_modules/.bin/eslint

Path conditions:
  ./node_modules/.bin/eslint: any of: *.js
  ./node_modules/.bin/stylelint --syntax=scss: any of: *.scss
  node_modules/**: any of: ignore
  build/**: any of: ignore
  test/**: any of: ignore
  src/public/**: any of: ignore
