Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss, node_modules/**, build/**, test/**, src/public/**

.lintstagedrc:

{
  "*.js": "./node_modules/.bin/eslint",
  "*.scss": "./node_modules/.bin/stylelint --syntax=scss",
  "ignore": [
    "node_modules/**",
    "build/**",
    "test/**",
    "src/public/**"
  ]
}

Make better connects (no-lint, no-verify)
  .babelrc
  .eslintrc
  flow-typed/npm/react-redux.js
  flow-typed/npm/react-redux_v7.x.x.js
  package.json
  src/AppRouter.js
  src/components/FieldPreview/FieldPreview.js
  src/components/TransactionItemNew/TransactionItem.js
  src/components/base/JLinkBack/JLinkBack.js
  src/layouts/MenuLayout/MenuLayout.js
  src/layouts/MenuLayout/MenuLayoutContainer.js
  src/layouts/MenuLayout/components/MenuPanel/components/Network.js
  src/layouts/MenuLayout/components/MenuPanel/components/Wallet.js
  src/layouts/WalletsLayout/WalletsLayout.js
  src/layouts/WalletsLayout/WalletsLayoutContainer.js
  src/pages/DigitalAssets/routes/AddAsset/AddAssetContainer.js
  src/pages/DigitalAssets/routes/AddAsset/AddAssetView.js
  src/pages/DigitalAssets/routes/EditAsset/EditAssetContainer.js
  src/pages/DigitalAssets/routes/EditAsset/EditAssetView.js
  src/pages/DigitalAssets/routes/Manage/DigitalAssetsManageViewContainer.js
  src/pages/DigitalAssets/routes/Receive/DigitalAssetsReceiveView.js
  src/pages/DigitalAssets/routes/Receive/DigitalAssetsReceiveViewContainer.js
  src/pages/Favorites/FavoritesIndexView.js
  src/pages/Favorites/FavoritesIndexViewContainer.js
  src/pages/Home/Home.js
  src/pages/Home/HomeView.js
  src/pages/Home/components/AssetItem/AssetItem.js
  src/pages/SetPassword/SetPassword.js
  src/pages/SetPassword/SetPasswordView.js
  src/pages/WalletsCreate/WalletsCreate.js
  src/pages/WalletsCreate/WalletsCreateView.js
  src/pages/WalletsImport/WalletsImport.js
Due: ./node_modules/.bin/eslint

JWWEB-782 Wallet Item: start work
  src/components/WalletCard/WalletCard.js
  src/components/WalletFace/Actions/WalletFaceActions.js
  src/components/WalletFace/Actions/walletFaceActions.m.scss
  src/components/WalletFace/Actions/walletFaceActions.scss
  src/components/WalletFace/WalletFace.js
  src/components/WalletFace/left-part-wallet-card.svg
  src/components/WalletFace/walletFace.m.scss
  src/components/WalletFace/walletFace.scss
  src/pages/Wallets/walletsView.scss
  src/public/assets/icons/sprite-pack/medium/kebab-menu-use-fill.svg
  src/styles/colors.scss
  src/styles/core.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Export props
  src/pages/WalletsImport/WalletsImportView.js
Due: ./node_modules/.bin/eslint

Remove forceAddressIcon prop from Contactcon
  src/pages/Send/components/RecipientPicker/ContactIcon/ContactIcon.js
  src/pages/Send/components/RecipientPicker/ContactIcon/ContactIcon.stories.js
Due: ./node_modules/.bin/eslint

JWWEB-737 Replaced JInputFiled to JInput
  src/components/TransactionDetails/TransactionDetails.js
  src/components/TransactionDetails/transactionDetails.m.scss
  src/components/TransactionItemNew/transactionsIndex.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-793 Update API of component for snackbar view
  src/components/FieldPreview/FieldPreview.js
  src/components/FieldPreview/FieldPreview.stories.js
  src/components/FieldPreview/tests/FieldPreview.test.js
Due: ./node_modules/.bin/eslint

MOve getAddressName to the separate util
  src/pages/Send/components/RecipientPicker/RecipientPicker.js
  src/utils/address/getAddressName.js
  src/utils/address/index.js
  src/utils/address/tests/getAddressName.test.js
Due: ./node_modules/.bin/eslint

Splitted to components with shared stylesheet
  src/pages/Send/components/RecipientPicker/Tabs/Empty.js
Due: ./node_modules/.bin/eslint

checkAddressPartValid function fixes
  src/utils/address/checkAddressPartValid.js
  src/utils/address/tests/checkAddressPartValid.test.js
Due: ./node_modules/.bin/eslint

Use reduceResult
  src/pages/Send/components/RecipientPicker/ContactIcon/ContactIcon.js
Due: ./node_modules/.bin/eslint

Remove not reusable var
  src/pages/Send/components/RecipientPicker/ContactIcon/ContactIcon.js
Due: ./node_modules/.bin/eslint

Remove unused mixins include
  src/pages/Send/components/AssetPicker/AssetBalance/assetBalance.m.scss
  src/pages/Send/components/AssetPicker/Item/assetItem.m.scss
  src/pages/Send/components/RecipientPicker/ContactIcon/contactIcon.m.scss
  src/pages/Send/components/RecipientPicker/ContactItem/contactItem.m.scss
  src/pages/Send/components/RecipientPicker/MultiAddressWalletItem/multiAddressWalletItem.m.scss
  src/pages/Send/components/RecipientPicker/QuickSendItem/quickSendItem.m.scss
  src/pages/Send/components/RecipientPicker/SingleWalletItem/singleWalletItem.m.scss
  src/pages/Send/components/RecipientPicker/Tabs/empty.m.scss
  src/pages/Send/components/RecipientPicker/Tabs/tabs.m.scss
  src/pages/Send/components/RecipientPicker/WalletBalance/walletBalance.m.scss
  src/pages/Send/components/RecipientPicker/WalletList/walletList.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Change import * to just inport
  src/pages/Send/components/RecipientPicker/ContactIcon/ContactIcon.js
  src/pages/Send/components/RecipientPicker/ContactItem/ContactItem.js
  src/pages/Send/components/RecipientPicker/MultiAddressWalletItem/MultiAddressWalletItem.js
  src/pages/Send/components/RecipientPicker/SingleWalletItem/SingleWalletItem.js
  src/pages/Send/components/RecipientPicker/Tabs/Tabs.js
  src/pages/Send/components/RecipientPicker/WalletBalance/WalletBalance.js
  src/pages/Send/components/SendAmountField/SendAmountField.js
Due: ./node_modules/.bin/eslint

Small fix
  src/pages/Send/components/RecipientPicker/MultiAddressWalletItem/MultiAddressWalletItem.js
Due: ./node_modules/.bin/eslint

Decrase nesting
  src/pages/Send/components/RecipientPicker/WalletBalance/WalletBalance.js
Due: ./node_modules/.bin/eslint

Add useFocus to QuickSendItem
  src/components/base/JPicker/List/JPickerListItem.js
  src/pages/Send/components/RecipientPicker/QuickSendItem/QuickSendItem.js
Due: ./node_modules/.bin/eslint

Follow convention of naming styles (by full name of component)
  src/pages/Send/components/RecipientPicker/MultiAddressWalletItem/MultiAddressWalletItem.js
Due: ./node_modules/.bin/eslint

Add 0x icon
  src/pages/Send/components/RecipientPicker/RecipientPicker.js
  src/pages/Send/components/RecipientPicker/WalletAddressItem/WalletAddressItem.js
  src/pages/Send/components/RecipientPicker/WalletAddressItem/walletAddressItem.m.scss
  src/pages/Send/components/RecipientPicker/WalletList/WalletList.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Prevent close JPicker on click between tabs
  src/pages/Send/components/RecipientPicker/Tabs/Tabs.js
Due: ./node_modules/.bin/eslint

JWWEB-718 - Small fix
  src/pages/Send/components/RecipientPicker/Tabs/Tabs.js
Due: ./node_modules/.bin/eslint

Moved styles for `a` tag to JLink component styles
  src/components/base/JLink/JLink.js
  src/components/base/JLink/JLink.m.scss
  src/styles/core.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Added buttons themes for links
  src/components/base/Button/button.m.scss
  src/components/base/JLink/JLink.js
  src/components/base/JLink/JLink.m.scss
  src/pages/WalletsStart/components/NewWalletButtons/NewWalletButtons.js
  webpack.config.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Connection to redux, remove Link
  flow-typed/redux/appState.js
  flow-typed/redux/user.js
  src/AppRouter.js
  src/data/lang/en.po
  src/pages/Introduction/Introduction.js
  src/pages/Introduction/introduction.m.scss
  src/store/modules/user.js
  src/store/persistReducers.js
  src/store/reducers.js
  src/store/selectors/user.js
  src/utils/introduction/getIntroductionValue.js
  src/utils/introduction/index.js
  src/utils/introduction/setIntroductionValue.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-737 Added actions links and note input
  src/components/TransactionDetails/TransactionDetails.js
  src/components/base/JInput/jInput.scss
  src/pages/HistoryItem/HistoryItemView.js
  src/store/router/routes.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Updated eslint config
  .eslintrc
Due: none

Updated eslint packages, use eslint from jibrelnetwork org scope
  package.json
Due: none

Remove unused plugin
  .babelrc
  package.json
Due: none

Fix storybook
  package.json
  src/components/base/SearchInput/SearchFilter/SearchFilter.js
Due: ./node_modules/.bin/eslint

JWWEB-793 Fixed style issues
  src/components/FieldPreview/FieldPreview.js
  src/components/FieldPreview/fieldPreview.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix flow types connects
  src/AppRouter.js
  src/layouts/MenuLayout/components/MenuPanel/components/Network.js
  src/layouts/MenuLayout/components/MenuPanel/components/Wallet.js
  src/layouts/WalletsLayout/WalletsLayoutContainer.js
  src/pages/DigitalAssets/routes/AddAsset/AddAssetContainer.js
  src/pages/DigitalAssets/routes/Send/DigitalAssetsSendView.js
  src/pages/DigitalAssets/routes/Send/DigitalAssetsSendViewContainer.js
  src/pages/Favorites/routes/Address/FavoritesAddressView.js
  src/pages/Favorites/routes/Address/FavoritesAddressViewContainer.js
  src/pages/SetPassword/SetPassword.js
  src/pages/Settings/components/SubsettingsView/SubsettingsView.js
  src/pages/Settings/components/SubsettingsView/SubsettingsViewContainer.js
  src/pages/Upgrade/UpgradeView.js
  src/pages/Upgrade/UpgradeViewContainer.js
  src/pages/Wallets/WalletsIndexView.js
  src/pages/Wallets/WalletsIndexViewContainer.js
  src/pages/Wallets/routes/Addresses/WalletsAddressesView.js
  src/pages/Wallets/routes/Addresses/WalletsAddressesViewContainer.js
  src/pages/Wallets/routes/Backup/WalletsBackupView.js
  src/pages/Wallets/routes/Backup/WalletsBackupViewContainer.js
  src/pages/Wallets/routes/Delete/WalletsDeleteView.js
  src/pages/Wallets/routes/Delete/WalletsDeleteViewContainer.js
  src/pages/Wallets/routes/Rename/WalletsRenameView.js
  src/pages/Wallets/routes/Rename/WalletsRenameViewContainer.js
  src/pages/Wallets/routes/RenameAddress/WalletsRenameAddressView.js
  src/pages/Wallets/routes/RenameAddress/WalletsRenameAddressViewContainer.js
Due: ./node_modules/.bin/eslint

Up button & en.po
  src/data/lang/en.po
  src/pages/Introduction/Introduction.js
Due: ./node_modules/.bin/eslint

JWWEB-737 Split component Added description for statuses
  src/components/TransactionDetails/TransactionDetails.js
  src/components/TransactionDetails/TransactionDetailsInternal.js
  src/components/TransactionDetails/getTransactionDetailsConfig.js
  src/components/TransactionDetails/transactionDetails.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix JInput component styles
  src/components/base/JInputField/JInputField.js
  src/components/base/JInputField/JInputField.stories.js
  src/components/base/JInputField/jInputField.m.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix JPicker - add cursor: pointer for chevron
  src/components/base/JPicker/Body/jPickerBody.m.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

JWWEB-737 Updated routes path
  src/store/router/routes.js
Due: ./node_modules/.bin/eslint

Update WalletCard component
  src/components/MnemonicAddresses/MnemonicAddresses.js
  src/components/WalletCard/WalletCard.js
  src/components/WalletCard/WalletCard.stories.js
  src/components/WalletCard/WalletCardActions/WalletCardActions.js
  src/components/WalletCard/WalletCardActions/walletCardActions.m.scss
  src/components/WalletCard/index.js
  src/components/WalletCard/left-part-wallet-card.svg
  src/components/WalletCard/walletCard.m.scss
  src/components/WalletFace/Actions/WalletFaceActions.js
  src/components/WalletFace/Actions/index.js
  src/components/WalletFace/WalletFace.js
  src/components/WalletFace/index.js
  src/components/WalletFace/walletFace.m.scss
  src/components/index.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Update walletsPlugin
  flow-typed/redux/wallets.js
  src/store/plugins/walletsPlugin.js
  src/utils/wallets/index.js
  src/utils/wallets/removeWallet.js
Due: ./node_modules/.bin/eslint

Add new wallets routes
  src/store/router/routes.js
Due: ./node_modules/.bin/eslint

Update Wallets page
  src/pages/Wallets/Wallets.js
  src/pages/Wallets/WalletsIndexView.js
  src/pages/Wallets/WalletsIndexViewContainer.js
  src/pages/Wallets/WalletsView.js
  src/pages/Wallets/wallets.m.scss
  src/pages/index.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-737 Updated status icons
  src/components/TransactionDetails/TransactionDetailsInternal.js
  src/components/TransactionDetails/getTransactionDetailsConfig.js
  src/public/assets/icons/sprite-pack/trx-error-declined-use-fill.svg
  src/public/assets/icons/sprite-pack/trx-error-stuck-use-fill.svg
  src/public/assets/icons/sprite-pack/trx-in-use-fill.svg
  src/public/assets/icons/sprite-pack/trx-out-use-fill.svg
  src/public/assets/icons/sprite-pack/trx-pending-use-fill.svg
  src/public/assets/icons/sprite-pack/trx-success-use-fill.svg
Due: ./node_modules/.bin/eslint
