Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss, node_modules/**, build/**, test/**, src/public/**

.lintstagedrc:

{
  "*.js": "./node_modules/.bin/eslint",
  "*.scss": "./node_modules/.bin/stylelint --syntax=scss",
  "ignore": [
    "node_modules/**",
    "build/**",
    "test/**",
    "src/public/**"
  ]
}

rollback bignumber.js
  package-lock.json
  package.json
  src/routes/DigitalAssets/routes/Send/sagas/digitalAssetsSend.js
Due: ./node_modules/.bin/eslint

Up addressPickerCurrent
  src/components/AddressPicker/Current/addressPickerCurrent.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

fix gas and clean code
  src/routes/DigitalAssets/routes/Send/sagas/digitalAssetsSend.js
  src/services/web3.js
Due: ./node_modules/.bin/eslint

Fix layer for jPicker, add icon for AddressPicker
  src/components/AddressPicker/AddressPicker.js
  src/components/base/JPicker/jPicker.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

small fixes
  flow-typed/redux/balances.js
  src/components/AddressPicker/AddressPicker.js
  src/components/PasswordStep/PasswordStep.js
Due: ./node_modules/.bin/eslint

Base update
  src/components/DoubleInput/DoubleInput.js
  src/components/DoubleInput/doubleInput.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Add loader and corrected close
  src/components/DoubleInput/DoubleInput.js
  src/components/DoubleInput/doubleInput.scss
  stories/components/base/JIcon.stories.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-141
  stories/components/base/JIcon.stories.js
Due: ./node_modules/.bin/eslint

Remove comment
  src/components/DoubleInput/DoubleInput.js
Due: ./node_modules/.bin/eslint

Cover favorites edge cases
  src/components/base/JIcon/jIcon.scss
  src/components/base/JThumbnail/JThumbnail.js
  src/public/assets/icons/new-pack/large/screen-no-favorites.svg
  src/public/assets/icons/new-pack/medium/favorite-address-add-gray.svg
  src/routes/Favorites/FavoritesIndexView.js
  src/routes/Favorites/favoritesView.scss
  src/styles/icons.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Fix mistakes
  src/components/DoubleInput/DoubleInput.js
  src/components/DoubleInput/doubleInput.scss
  src/components/base/JText/JText.js
  src/components/base/JText/jText.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Remove unnecessary css
  src/routes/Favorites/FavoritesIndexView.js
  src/routes/Favorites/favoritesView.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

fetching of balances refactoring
  flow-typed/config.js
  flow-typed/redux/balances.js
  flow-typed/redux/blocks.js
  src/config.js
  src/routes/modules/balances.js
  src/routes/sagas/balances.js
  src/routes/sagas/blocks.js
  src/routes/sagas/transactions.js
  src/services/web3.js
  src/store/selectors/balances.js
Due: ./node_modules/.bin/eslint

update digitalAssets & scheduler flow types
  flow-typed/redux/digitalAssets.js
  flow-typed/scheduler.js
  src/store/selectors/digitalAssets.js
Due: ./node_modules/.bin/eslint

update digital assets containers & views
  src/components/AssetBalance/AssetBalance.js
  src/components/AssetItem/AssetItem.js
  src/components/DigitalAssetEditForm/DigitalAssetEditForm.js
  src/components/DigitalAssetsGrid/Asset/Asset.js
  src/components/DigitalAssetsGrid/Asset/AssetCardBody/AssetCardBody.js
  src/components/DigitalAssetsGrid/DigitalAssetsGrid.js
  src/components/DigitalAssetsManage/DigitalAssetsManage.js
  src/routes/DigitalAssets/routes/AddAsset/AddAssetContainer.js
  src/routes/DigitalAssets/routes/AddAsset/AddAssetView.js
  src/routes/DigitalAssets/routes/EditAsset/EditAssetContainer.js
  src/routes/DigitalAssets/routes/EditAsset/EditAssetView.js
  src/routes/DigitalAssets/routes/Grid/DigitalAssetsGridView.js
  src/routes/DigitalAssets/routes/Grid/DigitalAssetsGridViewContainer.js
  src/routes/DigitalAssets/routes/Grid/sagas/digitalAssetsGrid.js
  src/routes/DigitalAssets/routes/Manage/DigitalAssetsManageView.js
  src/routes/DigitalAssets/routes/Manage/DigitalAssetsManageViewContainer.js
  src/utils/digitalAssets/checkAssetFound.js
  src/utils/digitalAssets/checkBalanceLoading.js
  src/utils/digitalAssets/filterAssetsBalances.js
  src/utils/digitalAssets/index.js
  src/utils/digitalAssets/parseBalance.js
  src/utils/digitalAssets/searchDigitalAssets.js
Due: ./node_modules/.bin/eslint

fix CloseableScreen props
  src/components/CloseableScreen/CloseableScreen.js
  src/routes/Favorites/routes/Address/FavoritesAddressView.js
  src/routes/Favorites/routes/Address/FavoritesAddressViewContainer.js
  src/routes/Settings/components/SubsettingsView/SubsettingsView.js
  src/routes/Settings/components/SubsettingsView/SubsettingsViewContainer.js
  src/routes/Settings/components/SubsettingsView/subsettingsView.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

move isConnectionError case from transactions to blocks
  src/routes/modules/blocks.js
  src/routes/modules/transactions.js
Due: ./node_modules/.bin/eslint

balances updates integration for transactions
  src/routes/Transactions/TransactionsIndexViewContainer.js
  src/routes/Transactions/routes/Asset/TransactionsAssetView.js
  src/routes/Transactions/routes/Asset/TransactionsAssetViewContainer.js
  src/store/selectors/transactions.js
Due: ./node_modules/.bin/eslint

JWWEB-331 Receive digital assets page was implemented
  package-lock.json
  src/routes/DigitalAssets/digitalAssets.scss
  src/routes/DigitalAssets/index.js
  src/routes/DigitalAssets/routes/Receive/DigitalAssetsReceiveView.js
  src/routes/DigitalAssets/routes/Receive/DigitalAssetsReceiveViewContainer.js
  src/routes/DigitalAssets/routes/Receive/digitalAssetsReceiveView.scss
  src/routes/DigitalAssets/routes/Receive/index.js
  src/routes/DigitalAssets/routes/Receive/modules/digitalAssetsReceive.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

fix searching for address picker
  src/components/AddressPicker/AddressPicker.js
Due: ./node_modules/.bin/eslint

fix AddressPicker searching
  src/components/AddressPicker/AddressPicker.js
Due: ./node_modules/.bin/eslint

update searching by regexp
  src/components/AddressPicker/AddressPicker.js
  src/utils/digitalAssets/searchDigitalAssets.js
Due: ./node_modules/.bin/eslint

JWWEB-248 Implement InputButtonComponent
  src/components/DigitalAssetSendForm/DigitalAssetSendForm.js
  src/components/DigitalAssetSendForm/digitalAssetSendForm.scss
  src/components/InputButton/InputButton.js
  src/components/InputButton/index.js
  src/components/InputButton/inputButton.scss
  src/components/base/JIcon/jIcon.scss
  src/components/base/JInput/jInput.scss
  src/components/index.js
  src/public/assets/icons/new-pack/medium/padding-cross-blue.svg
  src/styles/core.scss
  src/styles/icons.scss
  stories/components/base/JIcon.stories.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Correct position close button, correct send props in DoubleInput
  src/components/DoubleInput/doubleInput.scss
  src/components/PriorityPicker/PriorityPicker.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-331 Reducers were refactored, config of qrCode was updated, view was refactored to `CloseableScreen`, AdressPicker props were updated
  src/config.js
  src/routes/DigitalAssets/routes/Receive/DigitalAssetsReceiveView.js
  src/routes/DigitalAssets/routes/Receive/DigitalAssetsReceiveViewContainer.js
  src/routes/DigitalAssets/routes/Receive/modules/digitalAssetsReceive.js
  src/store/stateSelectors.js
Due: ./node_modules/.bin/eslint

Transaction loader to the center
  src/components/TransactionsList/transactionsList.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Remove fiat balance, small fix
  src/components/DigitalAssetsGrid/Asset/AssetCardBody/AssetCardBody.js
  src/components/DigitalAssetsGrid/Asset/AssetCardBody/assetCardBody.scss
  src/components/MenuPanel/BalanceTicker/BalanceTicker.js
  src/components/TransactionItem/Main/Main.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

Add logic
  flow-typed/redux/blocks.js
  src/layouts/MenuLayout/MenuLayout.js
  src/layouts/MenuLayout/MenuLayoutContainer.js
  src/layouts/MenuLayout/menuLayout.scss
  src/routes/modules/blocks.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

fix displaying of assets balances
  src/components/DigitalAssetsGrid/DigitalAssetsGrid.js
  src/components/DigitalAssetsManage/DigitalAssetsManage.js
Due: ./node_modules/.bin/eslint

fix send assets styles
  src/components/base/JIcon/jIcon.scss
  src/routes/DigitalAssets/routes/Send/DigitalAssetsSendView.js
  src/routes/DigitalAssets/routes/Send/components/Confirm/Card/card.scss
  src/routes/DigitalAssets/routes/Send/components/Confirm/Card/index.js
  src/routes/DigitalAssets/routes/Send/sagas/digitalAssetsSend.js
  src/styles/icons.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

add arrow-left-gray icon
  src/public/assets/icons/new-pack/medium/arrow-left-gray.svg
Due: none

update package-lock
  package-lock.json
Due: none

fix sending of tx
  flow-typed/redux/digitalAssets.js
  src/routes/DigitalAssets/routes/Send/sagas/digitalAssetsSend.js
Due: ./node_modules/.bin/eslint

update displaying of balance on transaction pages
  src/components/TransactionItem/Main/Main.js
  src/routes/Transactions/routes/Asset/TransactionsAssetView.js
  src/utils/transactions/getTxFee.js
Due: ./node_modules/.bin/eslint

JWWEB-331 Wallet type `address` was handled, QRCode component was restyled
  src/components/OverlayActions/OverlayActions.js
  src/components/OverlayActions/overlayActions.scss
  src/components/QRCode/QRCode.js
  src/components/QRCode/index.js
  src/components/QRCode/qrCode.scss
  src/components/QRCode/utils.js
  src/routes/DigitalAssets/routes/Receive/DigitalAssetsReceiveView.js
  src/routes/DigitalAssets/routes/Receive/DigitalAssetsReceiveViewContainer.js
  src/routes/DigitalAssets/routes/Receive/digitalAssetsReceiveView.scss
  src/utils/type/isVoid.js
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint --syntax=scss

JWWEB-331 Unnecessary module file with unused actions and reducer was removed
  src/routes/DigitalAssets/routes/Receive/DigitalAssetsReceiveView.js
  src/routes/DigitalAssets/routes/Receive/DigitalAssetsReceiveViewContainer.js
  src/routes/DigitalAssets/routes/Receive/modules/digitalAssetsReceive.js
Due: ./node_modules/.bin/eslint

Fix jenkins error
  src/components/WalletLoading/WalletLoading.scss
  src/styles/core.scss
Due: ./node_modules/.bin/stylelint --syntax=scss

Add walletLoading style
  src/components/WalletLoading/walletLoading.scss
Due: ./node_modules/.bin/stylelint --syntax=scss
